<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <span class="txt-color-white">Tilsoft ClientPortal 1.0 <span class="hidden-xs"> - Web Application Framework</span> © 2019-@DateTime.Now.Year.ToString()</span>
        </div>
        <div class="col-xs-12 col-sm-4" style="text-align: right;">
            <a href="javascript:window.scrollTo(0, 0)" class="btn btn-default btn-xs"><i class="fa fa-angle-double-up"></i> Go top</a>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->

<div id="loading-mask" style="display:none">
    <p class="loader" id="loading_mask_loader">
        <img src="~/img/loading.gif" alt="Loading..." />
        <br />Please wait...
    </p>
    &nbsp;
</div>