@{
    string ControllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = ViewContext.RouteData.Values["action"].ToString();
    
    // ng-controller is defined within avs-bootstrap.js file
}

<!-- #NAVIGATION -->
<aside id="left-panel" ng-controller="cplnController">
    <!-- User info -->
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img ng-src="{{cplnData.personalPhoto_DisplayUrl}}" alt="me" class="online" />
                <span>
                    {{cplnData.fullName}}
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <!-- end user info -->
    <!-- navigation content -->
    <nav>
        <ul>
            <li class="@if (ControllerName == "Dashboard" && ActionName == "Index") {<text>active</text>}">
                <a href="@Url.Action("Index", "Dashboard")" title="Dashboard"><i class="fa fa-lg fa-fw fa-dashboard"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li class="@if (ControllerName == "LoadingPlan" && ActionName == "Index") {<text>active</text>}">
                <a href="@Url.Action("Index", "LoadingPlan")" title="Dashboard"><i class="fa fa-lg fa-fw fa-truck"></i> <span class="menu-item-parent">Loading Report</span></a>
            </li>
            <li class="@if (ControllerName == "Inspection" && ActionName == "Index") {<text>active</text>}">
                <a href="@Url.Action("Index", "Inspection")" title="Dashboard"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Inspection</span></a>
            </li>
            <li style="display: none;">
                <a href="#" title="Other"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Other</span></a>
                <ul>
                    <li>
                        <a href="dashboard-marketing.html" title="Dashboard"><span class="menu-item-parent">Marketing Dashboard</span></a>
                    </li>
                    <li>
                        <a href="dashboard-social.html" title="Dashboard"><span class="menu-item-parent">Social Wall</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->

<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you ifke
-->
<div id="shortcut">
    <ul>
        <li>
            <a href="@Url.Action("UserProfile", "Account")" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
    </ul>
</div>