<!-- RIBBON -->
<div id="ribbon">
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        @if (ViewBag.Ribbon != null)
        {
            foreach (string ribbonNode in ViewBag.Ribbon)
            {
                <li>@ribbonNode</li>
            }
        }
    </ol>
</div>