<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tool</title>
</head>
<body>
    @RenderBody()
    <script src="~/TemplateResource/js/plugin/video.min.js"></script>
</body>
</html>
