<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/TemplateResource/css/print.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
</body>
</html>
