@{
    ViewBag.Title = "Management Info: Sales Management";
    ViewBag.Module = "Management Info: Sales Management";

    string currentSeason = Library.Helper.GetCurrentSeason();
    string nextSeason = Library.Helper.GetNextSeason(currentSeason);
    string prevSeason = Library.Helper.GetPreviousSeason(currentSeason);

    if (DateTime.Now.Month == 8)
    {
        currentSeason = nextSeason;
        nextSeason = Library.Helper.GetNextSeason(currentSeason);
        prevSeason = Library.Helper.GetPreviousSeason(currentSeason);
    }
}
<style>
    .tilsoft-table .tilsoft-table-body {
        height: auto !important;
        max-height: none !important;
    }
</style>

<div class="row" style="margin-top: 15px;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div>
                @Html.Partial("~/Views/MIMarginOverviewRpt/Index/SaleByAccManager.cshtml", new ViewDataDictionary() { { "season", currentSeason } })
            </div>
            <div>
                @Html.Partial("~/Views/MIMarginOverviewRpt/Index/SaleByAccManagerPreSeason.cshtml", new ViewDataDictionary() { { "season", prevSeason } })
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/miSaleManagementRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/MIMarginOverviewRpt/Index/SaleByAccManager.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/MIMarginOverviewRpt/Index/SaleByAccManagerPreSeason.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}