<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DAL.SaleOrderMng.Properties.Settings.OMSOnlineConnectionString" connectionString="Data Source=.;Initial Catalog=OMSOnline;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="SaleOrderMngEntities" connectionString="metadata=res://*/SaleOrderMngModel.csdl|res://*/SaleOrderMngModel.ssdl|res://*/SaleOrderMngModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tilsoft;user id=SA;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SaleOrderReturnEntities" connectionString="metadata=res://*/SaleOrderReturnModel.csdl|res://*/SaleOrderReturnModel.ssdl|res://*/SaleOrderReturnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OMSOnline;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReturnGoodsEntities" connectionString="metadata=res://*/ReturnGoodsModel.csdl|res://*/ReturnGoodsModel.ssdl|res://*/ReturnGoodsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OMSOnline;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReturnGoodsFromSaleOrderEntities" connectionString="metadata=res://*/ReturnGoodsFromSaleOrder.csdl|res://*/ReturnGoodsFromSaleOrder.ssdl|res://*/ReturnGoodsFromSaleOrder.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tilsoft;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MagentoSaleOrderEntities" connectionString="metadata=res://*/MagentoSaleOrderModel.csdl|res://*/MagentoSaleOrderModel.ssdl|res://*/MagentoSaleOrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TILSOFT;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>