<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget">
            <header>
                <h2>Latest <a href="@Url.Action("Index", "LoadingPlan")">loading report</a></h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 40px; font-weight: bold;">&nbsp;</th>
                                <th style="width: 200px;" class="sorting" data-colname="ContainerNo">Ref#</th>
                                <th style="width: 200px;" class="sorting" data-colname="ContainerNo">Container</th>
                                <th style="width: 200px;" class="sorting" data-colname="ContainerNo">B/L</th>
                                <th style="width: 200px;" class="sorting" data-colname="ContainerNo">Order Info</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>  
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
</div>