<div id="frmProfile" class="row" style="display: none;" ng-controller="profileController">
    <form name="frmProfile">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" id="wid-account-form" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
                <header role="heading">
                    <h2>Edit Profile</h2>
                </header>
                <div role="content">
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-2" style="text-align: center;">
                                        <div class="img-container">
                                            <div style="padding: 10px;">
                                                <a href="{{profile.data.fileLocation}}" data-featherlight="image">
                                                    <img style="width: 95%;" ng-src="{{profile.data.thumbnailLocation}}" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="img-container" style="border: none; margin-top: 15px;">
                                            <a href="javascript:void(0)" class="btn btn-default btn-sm" style="width: 100%;" ng-click="profile.event.uploadPhoto()"><i class="fa fa-camera"></i> Change</a>
                                        </div>
                                    </section>
                                    <section class="col col-10">
                                        <section>
                                            <h2>Person Information</h2>
                                            <hr />
                                        </section>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">
                                                    Full Name
                                                    <em ng-show="frmProfile.fullname.$error.required" class="note note-error">(Required)</em>
                                                </label>
                                                <label class="input" ng-class="{'state-error': frmProfile.fullname.$error.required}">
                                                    <input name="fullname" type="text" ng-model="profile.data.employeeNM" required />
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">Calling Name</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.employeeFirstNM" />
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">DOB</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="profile.data.dateOfBirth" />
                                                </label>
                                            </section>
                                        </div>
                                        <section>
                                            <label class="label">
                                                Resume File
                                            </label>
                                            <label class="input">
                                                <span class="form-control">
                                                    {{profile.data.cvFileName}}
                                                    <div style="position: absolute; right: 5px; top: 5px;">
                                                        <a ng-disabled="!profileService.data.cvFileLocation" href="{{profile.data.cvFileLocation}}" target="_blank" class="btn btn-primary btn-xs" style="font-size: 11px;">Download</a>
                                                        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="profile.event.changeCVFile()">Change</a>
                                                        <a ng-disabled="!profileService.data.cvFileLocation" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="profile.event.removeCVFile()">Remove</a>
                                                    </div>
                                                </span>
                                            </label>
                                        </section>

                                        <section>
                                            <h2>Contact Information</h2>
                                            <hr />
                                        </section>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">Telephone 1</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.telephone1" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Telephone 2</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.telephone2" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Email 1</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.email1" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Email 2</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.email2" />
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">Skype ID</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.skypeID" />
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">Other Contact Method</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.otherContactInfo" />
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Location</label>
                                                <label class="select">
                                                    <select ng-model="profile.data.locationID" ng-options="location.locationID as location.locationNM for location in locations">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </div>

                                        <section>
                                            <h2>Job Information</h2>
                                            <hr />
                                        </section>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Company</label>
                                                <label class="select">
                                                    <select ng-model="profile.data.companyID" ng-options="company.internalCompanyID as company.internalCompanyNM for company in internalCompanies">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Department</label>
                                                <label class="select">
                                                    <select ng-model="profile.data.departmentID" ng-options="department.internalDepartmentID as department.internalDepartmentNM for department in internalDepartments">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">Joined Date</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="profile.data.dateStart" />
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Job Title</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.jobTitle" />
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">Job Level</label>
                                                <label class="select">
                                                    <select ng-model="profile.data.jobLevelID" ng-options="job.jobLevelID as job.jobLevelNM for job in jobLevels">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Report To</label>
                                                <label class="select">
                                                    <select ng-model="profile.data.reportToID" ng-options="manager.employeeID as manager.employeeNM for manager in managers">
                                                        <option value=""></option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">English</label>
                                                <label class="input">
                                                    <input type="text" ng-model="profile.data.english" />
                                                </label>
                                            </section>
                                        </div>
                                        <section>
                                            <label class="label">Factory responsible</label>
                                            <label class="select">
                                                <select ui-select2 ng-model="selectedFactories" multiple>
                                                    <option ng-repeat="item in factories" value="{{item.factoryID}}">{{item.factoryUD}}</option>
                                                </select>
                                            </label>
                                        </section>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Job Description</label>
                                                <label class="textarea">
                                                    <textarea rows="10" ng-model="profile.data.jobDescription"></textarea>
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">Daily Task</label>
                                                <label class="textarea">
                                                    <textarea rows="10" ng-model="profile.data.dailyTask"></textarea>
                                                </label>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                        </div>
                        <div class="widget-footer">
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="profile.event.update()"><i class="fa fa-check"></i> Save</a>
                            <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="profile.event.closeForm()"><i class="fa fa-times"></i> Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </form>
</div>