@{
    ViewBag.Title = "Standard Cost Price";
    ViewBag.Module = "Standard Cost Price";
    ViewBag.Icon = "fa-search";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result - Found: {{totalRows}} record(s)</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1000px;">
                                <div style="width: 180px;" class="sorting_asc" data-colname="ArticleCode">Art.Code</div>
                                <div style="width: 650px;" class="sorting" data-colname="Description">Description</div>
                                <div style="width: 100px;" class="sorting" data-colname="FactoryUD">Factory</div>
                                <div class="sorting" data-colname="PurchasingPrice">Purchasing Price</div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 1000px;">
                                <div style="width: 180px;"><input type="text" ng-model="filters.ArticleCode" class="search-filter" /></div>
                                <div style="width: 650px;"><input type="text" ng-model="filters.Description" class="search-filter" /></div>
                                <div style="width: 100px;"><input type="text" ng-model="filters.FactoryUD" class="search-filter" /></div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1000px;">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="width: 179px;">{{item.articleCode}}</td>
                                        <td style="width: 650px;">{{item.description}}</td>
                                        <td style="width: 100px; text-align: center;">{{item.factoryUD}}</td>
                                        <td style="text-align: left;">{{item.purchasingPrice | currency:'$':2}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Export to Excel" ng-click="event.exportExcel()"><i class="fa fa-file-excel-o"></i></a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/standardpurchasingpricemng/',
            token : '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            pageSize : 50,
            cookieId: '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/standardPurchasingPriceMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/standardPurchasingPriceMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
