<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CreditNoteMngEntities" connectionString="metadata=res://*/CreditNoteMngModel.csdl|res://*/CreditNoteMngModel.ssdl|res://*/CreditNoteMngModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OMSOnline;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAL.CreditNoteMng.Properties.Settings.OMSOnlineConnectionString"
      connectionString="Data Source=.;Initial Catalog=OMSOnline;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>