<!-- NEW WIDGET START -->
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget">
        <header>
            <span class="widget-icon"> <i class="fa fa-calendar-o"></i> </span>
            <h2>Event: </h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <form class="smart-form" name="editForm">
                    <fieldset>
                        <!--<section class="col col-3" style="margin-left:-15px;">
                            <label class="label">
                                Subject
                                <em ng-show="editForm.subject.$error.required" class="note note-error">(Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.subject.$error.required}">
                                <input name="subject" type="text" ng-model="data.subject" required style="font-family: Arial" />
                            </label>
                        </section>-->
                        <div class="row">
                            <section class="col col-3">
                                <label class="label">
                                    Subject
                                    <em ng-show="editForm.subject.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.subject.$error.required}">
                                    <input name="subject" type="text" ng-model="data.subject" required style="font-family: Arial" />
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="label">
                                    Client
                                    <a ng-if="method.getClientViewUrl() && data.clientID" href="{{method.getClientViewUrl() + '/' + data.clientID}}" target="_blank">
                                        [Overview]
                                    </a>
                                    <!--<em ng-show="editForm.clientAutoComplete.$error.required" class="note note-error">(Required)</em>-->
                                </label>
                                <!--ng-class="{'state-error': editForm.clientAutoComplete.$error.required}"-->
                                <label class="input">
                                    <input type="text" name="clientAutoComplete" id="clientAutoComplete" ng-model="data.clientNM" style="font-family: Arial" />
                                </label>
                                <div class="note">
                                    Type in at least <strong>3 chars</strong> to activate search
                                </div>
                            </section>
                            <section class="col col-2">
                                <label class="label">
                                    Start Date
                                    <em ng-show="editForm.startDate.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.startDate.$error.required}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input name="startDate" type="text" ng-model="data.startDate" class="datepicker" data-dateformat="dd/mm/yy" required style="font-family: Arial;" />
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">
                                    Start Time
                                    <!--<em ng-show="editForm.startTime.$error.required" class="note note-error">(Required)</em>-->
                                </label>
                                <label class="select" ng-class="{'state-error': editForm.startTime.$error.required}">
                                    <select name="startTime" class="form-control" ng-model="data.startTime" ng-options="time as time for time in viewmodel.supportData.timeRange" required style="font-family: Arial">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label class="label">
                                    End Date
                                    <em ng-show="editForm.endDate.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.endDate.$error.required}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input name="endDate" type="text" ng-model="data.endDate" class="datepicker" data-dateformat="dd/mm/yy" required style="font-family: Arial;" />
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">
                                    End Time
                                    <!--<em ng-show="editForm.endTime.$error.required" class="note note-error">(Required)</em>-->
                                </label>
                                <label class="select" ng-class="{'state-error': editForm.endTime.$error.required}">
                                    <select name="endTime" class="form-control" ng-model="data.endTime" ng-options="time as time for time in viewmodel.supportData.timeRange" required style="font-family: Arial">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <!--<section class="col col-2">
                                <label class="label">
                                    Start Date
                                    <em ng-show="editForm.startDate.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.startDate.$error.required}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input name="startDate" type="text" ng-model="data.startDate" class="datepicker" data-dateformat="dd/mm/yy" required style="font-family: Arial" />
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">
                                    Start Time
                                    <em ng-show="editForm.startTime.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="select" ng-class="{'state-error': editForm.startTime.$error.required}">
                                    <select name="startTime" class="form-control" ng-model="data.startTime" ng-options="time as time for time in viewmodel.supportData.timeRange" required style="font-family: Arial">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">
                                    End Date
                                    <em ng-show="editForm.endDate.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="input" ng-class="{'state-error': editForm.endDate.$error.required}">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input name="endDate" type="text" ng-model="data.endDate" class="datepicker" data-dateformat="dd/mm/yy" required style="font-family: Arial" />
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">
                                    End Time
                                    <em ng-show="editForm.endTime.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="select" ng-class="{'state-error': editForm.endTime.$error.required}">
                                    <select name="endTime" class="form-control" ng-model="data.endTime" ng-options="time as time for time in viewmodel.supportData.timeRange" required style="font-family: Arial">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>-->
                            <section class="col col-2">
                                <label class="label">Owner</label>
                                <label class="input">
                                    <span class="form-control">
                                        <a href="{{method.getProfileViewUrl() + data.userID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                            {{data.ownerNM}}
                                        </a>
                                    </span>
                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">
                                    Remind Date
                                </label>
                                <label class="input">

                                    <input type="text" ng-model="data.remindDate" class="datepicker" data-dateformat="dd/mm/yy" style="font-family: Arial;" />

                                </label>
                            </section>
                            <section class="col col-1">
                                <label class="label">
                                    Remind Time
                                </label>
                                <label class="select">
                                    <select class="form-control" ng-model="data.remindTime" ng-options="time as time for time in viewmodel.supportData.timeRange" style="font-family: Arial">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">
                                    Location
                                    <em ng-show="editForm.meetingLocationID.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="select" ng-class="{'state-error': editForm.meetingLocationID.$error.required}">
                                    <select name="meetingLocationID" class="form-control" ng-model="data.meetingLocationID" ng-options="location.meetingLocationID as location.meetingLocationNM for location in viewmodel.supportData.meetingLocations" required>
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="label">Factory</label>
                                <label class="select">
                                    <select ng-disabled="data.meetingLocationID != 4" class="form-control" ng-model="data.factoryID" ng-options="factory.factoryID as factory.factoryUD for factory in viewmodel.supportData.factories" style="font-family: Arial">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.addManager()"><i class="fa fa-plus"></i> Add User </a>
                                <label class="label" style="margin-left: 90px;  margin-top: -22px; width: 170px;">Persons joining meeting </label>
                                <div class="bootstrap-tagsinput">
                                    <span class="tag label label-info" ng-repeat="item in data.scmAppointmentUserDTOs">
                                        <a href="{{method.getProfileViewUrl() + item.employeeID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600"><i class="fa fa-user"></i><span style="color:white;">{{item.employeeNM}}</span></a>
                                        <span data-role="remove" ng-click="event.removeManager(item)"></span>
                                    </span>
                                </div>
                            </section>

                        </div>
                        <!--<div class="row">
                            <!--<section class="col col-3">
                                <label class="label">
                                    Location
                                    <em ng-show="editForm.meetingLocationID.$error.required" class="note note-error">(Required)</em>
                                </label>
                                <label class="select" ng-class="{'state-error': editForm.meetingLocationID.$error.required}">
                                    <select name="meetingLocationID" class="form-control" ng-model="data.meetingLocationID" ng-options="location.meetingLocationID as location.meetingLocationNM for location in viewmodel.supportData.meetingLocations" required>
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>-->
                        <!--<section class="col col-3">
                            <label class="label">Factory</label>
                            <label class="select">
                                <select ng-disabled="data.meetingLocationID != 4" class="form-control" ng-model="data.factoryID" ng-options="factory.factoryID as factory.factoryUD for factory in viewmodel.supportData.factories" style="font-family: Arial">
                                    <option value=""></option>
                                </select>
                                <i></i>
                            </label>
                        </section>-->
                        <!--<section class="col col-3">
                                <label class="label">PIC</label>
                                <select ng-data-source="data.personInChargeID" avs-select style="font-family: Arial">
                                    <option value="0">NO ACCOUNT</option>
                                    <option ng-repeat="item in viewmodel.supportData.users" value="{{item.userID}}">{{item.employeeNM + ' (' + item.internalCompanyNM + ')'}}</option>
                                </select>
                            </section>
                            <section class="col col-3">
                                <label class="label">Other PIC</label>
                                <label class="input">
                                    <input type="text" ng-readonly="data.personInChargeID != 0" ng-model="data.personInChargeNM" style="font-family: Arial" />
                                </label>
                            </section>
                        </div>-->
                        <!--<div class="row">
                            <section class="col col-3">
                                <label class="label">PIC</label>
                                <select ng-data-source="data.personInChargeID" avs-select style="font-family: Arial">
                                    <option value="0">NO ACCOUNT</option>
                                    <option ng-repeat="item in viewmodel.supportData.users" value="{{item.userID}}">{{item.employeeNM + ' (' + item.internalCompanyNM + ')'}}</option>
                                </select>
                            </section>
                            <section class="col col-3">
                                <label class="label">Other PIC</label>
                                <label class="input">
                                    <input type="text" ng-readonly="data.personInChargeID != 0" ng-model="data.personInChargeNM" style="font-family: Arial" />
                                </label>
                            </section>
                        </div>-->
                        <div class="row">
                            <section class="col col-lg-12">
                                <label class="label">Description</label>
                                <label class="textarea">
                                    <textarea ng-model="data.description" rows="5" style="font-family: Arial"></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-12">
                                <label class="label">Meeting Minute</label>
                                <label class="textarea">
                                    <textarea ng-model="data.meetingMinute" rows="5" style="font-family: Arial"></textarea>
                                </label>
                            </section>
                        </div>
                        <section>
                            <label class="label">Attachment</label>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 100px;">
                                            <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.addFile()"><i class="fa fa-plus"></i> Add</a>
                                        </th>
                                        <th>FILE NAME</th>
                                        <th>TYPE</th>
                                        <th>REMARK</th>
                                        <th>MORE INFO</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="data.scmAppointmentAttachedFileDTOs.length <= 0">
                                    <tr>
                                        <td colspan="5" style="text-align: center;">(Empty)</td>
                                    </tr>
                                </tbody>
                                <tbody ng-if="data.scmAppointmentAttachedFileDTOs.length > 0">
                                    <tr ng-repeat="item in data.scmAppointmentAttachedFileDTOs">
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeFile(item)"><i class="fa fa-times"></i> Remove</a>
                                        </td>
                                        <td><a href="{{item.fileLocation}}" target="_blank">{{item.friendlyName}}</a></td>
                                        <td class="has-input">
                                            <select ng-model="item.scmAppointmentAttachedFileTypeID" ng-options="fileType.appointmentAttachedFileTypeID as fileType.appointmentAttachedFileTypeNM for fileType in viewmodel.supportData.scmAppointmentAttachedFileTypes">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td class="has-input">
                                            <input type="text" ng-model="item.description" />
                                        </td>
                                        <td>
                                            <section ng-show="item.scmAppointmentAttachedFileID > 0">
                                                Updated By:
                                                <a href="{{method.getProfileViewUrl() + item.updatedBy}}" ng-show="item.hasLink" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600"><i class="fa fa-user"></i> {{item.updatorName}}</a>
                                                <span ng-show="!item.hasLink"><i class="fa fa-user"></i> {{item.updatorName}}</span>
                                                on {{item.updatedDate}}
                                            </section>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>


                        <section>
                            <div>
                                <div class="jarviswidget-editbox"></div>
                                <div class="widget-body">
                                    <div class="tab-content" id="tab-content-detail">
                                        <a class="btn btn-primary btn-xs m-bottom-15" ng-click="frmQCReport.editQC()"><i class="fa fa-plus"></i> Add Inspection Report</a>
                                        <div class="tab-pane active">
                                            <div class="smart-form">
                                                <div class="row">
                                                    <section class="col col-lg-12">
                                                        <div avs-scrollable-table class="tilsoft-table-wrapper">
                                                            <div class="tilsoft-table">
                                                                <div class="tilsoft-table-header" style="width: 1460px">
                                                                    <div style="width: 116px"></div>
                                                                    <div style="width: 90px">CODE</div>
                                                                    <div style="width: 100px">Factory</div>
                                                                    <div style="width: 80px">P/I</div>
                                                                    <div style="width: 190px">Article Code</div>
                                                                    <div style="width: 300px">Article Description</div>
                                                                    <div style="width: 90px">Customer</div>
                                                                    <div style="width: 100px">Inspected Date</div>
                                                                    <div>QCName</div>
                                                                </div>
                                                                <div class="tilsoft-table-body" style="width:1460px;">
                                                                    <table>
                                                                        <tbody ng-repeat="item in data.scmInspectionDTOs">
                                                                            <tr>
                                                                                <td style="width:115px">
                                                                                    <a class="btn btn-danger btn-xs" ng-click="frmQCReport.deleteFromQC(item)"><i class="fa fa-times"></i> Del</a>
                                                                                    <a class="btn btn-primary btn-xs font-11" ng-click="frmQCReport.printQCReport(item)" ng-if="item.reportFile == null || item.reportFile == ''"><i class="fa fa-print"></i> Report</a>
                                                                                    <a class="btn btn-primary btn-xs font-11" href="{{item.reportFileLocation}}" target="_blank" ng-if="item.reportFile !== null && item.reportFile !== ''"><i class="fa fa-print"></i> Report</a>
                                                                                </td>
                                                                                <td style="width: 90px">{{item.qcReportUD}}</td>
                                                                                <td style="width: 100px">{{item.factoryUD}}</td>
                                                                                <td style="width: 80px">{{item.proformaInvoiceNo}}</td>
                                                                                <td style="width: 190px">{{item.articleCode}}</td>
                                                                                <td style="width: 300px">{{item.description}}</td>
                                                                                <td style="width: 90px">{{item.clientUD}}</td>
                                                                                <td style="width: 100px">{{item.inspectedDate}}</td>
                                                                                <td>{{item.qcName}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>



                        <section ng-show="data.scmAppointmentID != 0 && data.updatedBy != null">
                            Updated By:
                            <a href="{{method.getProfileViewUrl() + data.updatedBy}}" ng-show="data.hasLink" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600"><i class="fa fa-user"></i> {{data.updatorName}}</a>
                            <span ng-show="!data.hasLink"><i class="fa fa-user"></i> {{data.updatorName}}</span>
                            on {{data.updatedDate}}
                        </section>
                    </fieldset>
                    <footer>
                        <a href="javascript:void(0)" class="btn btn-danger" ng-show="data.scmAppointmentID" ng-click="event.delete()" style="float: left;"><i class="fa fa-times"></i> Delete</a>

                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.update()">Save</a>
                        <a href="#/" class="btn btn-default"><i class="fa fa-angle-left"></i> Back to Calendar</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</article>
<div id="showemployee" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Select User for Moderator List</h4>
                <div class="allbuttom" style="width:180px;margin-left:295px;margin-top:-28px;">
                    <button type="button" class="btn btn-primary" ng-click="event.updateManger()" style="margin-right: 68px;">
                        Add
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <ul class="ulcols-4">
                                <li ng-repeat="item in viewmodel.supportData.employeeDepartmentDTOs">
                                    <div class="content">
                                        <label><input type="checkbox" ng-model="item.isSelected" /> <strong>{{item.employeeNM}}</strong></label>
                                        <br />
                                    </div>

                                </li>
                            </ul>
                            <div class="clear"></div>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateManger()">
                    Add
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmQCReport" class="modal fade" style="display: none;" data-backdrop="static">
    <div class="modal-dialog" style="width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    ×
                </button>
                <h4 id="myModalLabel" class="modal-title">View Inspection Report</h4>
            </div>
            <div class="modal-body smart-form">
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-header" style="width: 1200px">
                                    <div style="width: 65px">
                                        <label class="checkbox">
                                            <input type="checkbox"
                                                   ng-model="frmQCReport.isAllSelected"
                                                   ng-click="frmQCReport.selectAll()">
                                            <i style="top:8px; left:17px"></i>
                                        </label>
                                    </div>
                                    <div style="width: 100px">CODE</div>
                                    <div style="width: 110px">Factory</div>
                                    <div style="width: 100px">P/I</div>
                                    <div style="width: 190px">Article Code</div>
                                    <div style="width: 250px">Article Description</div>
                                    <div style="width: 100px">Customer</div>
                                    <div style="width: 100px">Inspected Date</div>
                                    <div>QCName</div>
                                </div>
                                <div class="tilsoft-table-filter" style="width: 1200px;margin-top: 0px!important;top:50px">
                                    <div style="width: 65px">
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" title="Apply Filter" ng-click="frmQCReport.reload()">
                                            <i class="fa fa-filter"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" title="Clear Filter" ng-click="frmQCReport.clearFilter()">
                                            <i class="fa fa-ban"></i>
                                        </a>
                                    </div>
                                    <div style="width: 100px"><input type="text" class="search-filter" style="width:100%" ng-model="frmQCReport.filters.qcReportUD" /></div>
                                    <div style="width: 110px">
                                        <select class="search-filter" ng-model="frmQCReport.filters.factoryID" ng-options="factory.factoryID as factory.factoryUD for factory in frmQCReport.factories">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div style="width: 100px"><input type="text" class="search-filter" style="width:100%" ng-model="frmQCReport.filters.proformaInvoiceNo" /></div>
                                    <div style="width: 190px"><input type="text" class="search-filter" style="width:100%" ng-model="frmQCReport.filters.articleCode" /></div>
                                    <div style="width: 250px"></div>
                                    <div style="width: 100px"><input type="text" class="search-filter" style="width:100%" ng-model="frmQCReport.filters.clientUD" /></div>
                                    <div style="width: 100px"></div>
                                    <div></div>
                                </div>
                                <div class="tilsoft-table-body" style="width: 1200px;margin-top: 95px">
                                    <table>
                                        <tbody>
                                            <tr ng-repeat="item in frmQCReport.dataQCReport">
                                                <td style="width:64px; text-align:center;">
                                                    <label class="checkbox">
                                                        <input type="checkbox" ng-model="item.isSelected">
                                                        <i style="top:0px; left:20px"></i>
                                                    </label>
                                                </td>
                                                <td style="width: 100px">{{item.qcReportUD}}</td>
                                                <td style="width: 110px">{{item.factoryUD}}</td>
                                                <td style="width: 100px">{{item.proformaInvoiceNo}}</td>
                                                <td style="width: 190px">{{item.articleCode}}</td>
                                                <td style="width: 250px">{{item.description}}</td>
                                                <td style="width: 100px">{{item.clientUD}}</td>
                                                <td style="width: 100px">{{item.inspectedDate}}</td>
                                                <td>{{item.qcName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="frmQCReport.addQCReport()">
                    Add
                </button>
                <button data-dismiss="modal" class="btn btn-default" type="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- WIDGET END -->
