@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
    string returnUrl = Url.Action("Index", "Dashboard");
    if (Request.Params.AllKeys.Contains("returnUrl"))
    {
        returnUrl = Request.Params["returnUrl"].ToString();
    }
    string ControllerName = ViewContext.RouteData.Values["controller"].ToString();
    string ActionName = ViewContext.RouteData.Values["action"].ToString();
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">TILSOFT - C</h1>
        <div class="hero">

            <div class="pull-left login-desc-box-l">
                <h4 class="paragraph-header">Experience the simplicity everywhere you go!</h4>
            </div>
            <img src="~/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
            <form class="smart-form client-form" name="frmLogin">
                <header>
                    Sign In
                </header>

                <fieldset>

                    <section>
                        <label class="label">Username</label>
                        <label class="input {{data.isInvalid ? 'state-error' : ''}}">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="username" ng-model="data.username">
                        </label>
                    </section>

                    <section>
                        <label class="label">Password</label>
                        <label class="input {{data.isInvalid ? 'state-error' : ''}}">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" ng-model="data.password">
                        </label>
                        <div class="note">
                            <a href="forgotpassword.html">Forgot password?</a>
                        </div>
                    </section>

                    <section>
                        <label class="checkbox">
                            <input type="checkbox" name="remember" ng-model="data.isSaveCookie" />
                            <i></i>Stay signed in (for 1 day)
                        </label>
                    </section>

                    <section ng-if="data.isInvalid">
                        <div class="note note-error">Incorrect username/password!</div>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary" ng-click="event.login()">
                        Sign in
                    </button>
                </footer>
            </form>

        </div>
    </div>
</div>

@section PageJs {
    <script type="text/javascript">
        context.returnUrl = '@returnUrl';
    </script>
    <script src="~/Views/@ControllerName/@(ActionName.ToLower()).js"></script>
    <script src="~/Views/@ControllerName/service.js"></script>
}