@model Frontend.Models.FileUploadViewModel

<a ng-href="{{@Model.URLBinding}}" target="_blank">{{@Model.FileName}}</a>
@*<button title="Change" ng-click="@(Model.JSOnChangeHandler)($event,@(Model.ControlID))"><i class="fa fa-folder-open-o">Upload</i></button>
<button title="Remove" class="remove" ng-click="@(Model.JSONRemoveHandler)($event,@(Model.ControlID))"><i class="fa fa-times">Remove</i></button>*@

<a title="Upload file" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 9px;" ng-click="@(Model.JSOnChangeHandler)($event,@(Model.ControlID))"><i class="fa fa-folder-open-o">Upload</i></a>
<a title="Remove file uploaded" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 9px;" ng-click="@(Model.JSONRemoveHandler)($event,@(Model.ControlID))"><i class="fa fa-times">Remove</i></a>

