@model Frontend.Models.ImageBoxViewModel

<div class="img m-bottom-15" style="background: url('{{@Model.URLBinding}}') center center no-repeat;background-size: contain; @Model.ImageBoxStyle"></div>

<a title="Change" ng-click="@(Model.JSOnChangeHandler)($event)" class="btn btn-default btn-sm"><i class="fa fa-folder-open-o"></i> Change</a>
<a title="Remove" ng-click="@(Model.JSONRemoveHandler)($event)" class="btn btn-default btn-sm"><i class="fa fa-times danger"></i> <span class="text-danger">Remove</span></a>
@if (!string.IsNullOrEmpty(Model.OrginalImageURLBinding))
{
    <a ng-if="@Model.OrginalImageURLBinding" class="btn btn-default btn-sm" target="_blank" href="{{@Model.OrginalImageURLBinding}}"><i class="fa fa-search"></i> View</a>
}