<div id="productWizard" class="row" style="display: none; margin-top: 10px;">
    <div class="absolute-left">
        <ul>
            <li title="{{productWizard.modelNM}}">
                <span class="header" style="height: auto;">MODEL</span>
                <img ng-src="{{productWizard.modelImage}}" />
                <span class="text">{{productWizard.modelNM}}</span>
                <a class="zoom" href="{{productWizard.modelImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasFrame" title="{{productWizard.frameMaterialText}}">
                <span class="header" style="height: auto;">FRAME</span>
                <img ng-show="productWizard.frameImage != ''" ng-src="{{productWizard.frameImage}}" />
                <span class="text">{{productWizard.frameMaterialText}}</span>
                <a ng-show="productWizard.frameImage != ''" class="zoom" href="{{productWizard.frameImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li title="{{productWizard.materialText}}">
                <span class="header" style="height: auto;">MATERIAL</span>
                <img ng-show="productWizard.materialImage != ''" ng-src="{{productWizard.materialImage}}" />
                <span class="text">{{productWizard.materialText}}</span>
                <a ng-show="productWizard.materialImage != ''" class="zoom" href="{{productWizard.materialImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasSubMaterial" title="{{productWizard.subMaterialText}}">
                <span class="header" style="height: auto;">SUB MATERIAL</span>
                <img ng-show="productWizard.subMaterialImage != ''" ng-src="{{productWizard.subMaterialImage}}" />
                <span class="text">{{productWizard.subMaterialText}}</span>
                <a ng-show="productWizard.subMaterialImage != ''" class="zoom" href="{{productWizard.subMaterialImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasCushion" title="{{productWizard.backCushionText}}">
                <span class="header" style="height: auto;">BACK CUSHION</span>
                <img ng-show="productWizard.backCushionImage != ''" ng-src="{{productWizard.backCushionImage}}" />
                <span class="text">{{productWizard.backCushionText}}</span>
                <a ng-show="productWizard.backCushionImage != ''" class="zoom" href="{{productWizard.backCushionImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasCushion" title="{{productWizard.seatCushionText}}">
                <span class="header" style="height: auto;">SEAT CUSHION</span>
                <img ng-show="productWizard.seatCushionImage != ''" ng-src="{{productWizard.seatCushionImage}}" />
                <span class="text">{{productWizard.seatCushionText}}</span>
                <a ng-show="productWizard.seatCushionImage != ''" class="zoom" href="{{productWizard.seatCushionImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasCushion" title="{{productWizard.cushionColorText}}">
                <span class="header" style="height: auto;">FABRIC COLOR</span>
                <img ng-show="productWizard.cushionColorImage != ''" ng-src="{{productWizard.cushionColorImage}}" />
                <span class="text">{{productWizard.cushionColorText}}</span>
                <a ng-show="productWizard.cushionColorImage != ''" class="zoom" href="{{productWizard.cushionColorImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
        </ul>
    </div>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Product attribute wizard</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row" style="margin: 0px;">
                                <div>
                                    <div class="furnindo-filter">
                                        <div class="filter-row">
                                            <div class="filter-panel">
                                                <h4>Material</h4>
                                                <div class="filter-list-container" style="min-height: 0px;">
                                                    <ul ng-repeat="materialOption in productWizard.materialOptions">
                                                        <li><input id="material-{{materialOption.materialID}}" type="radio" name="materials" ng-change="productWizard.materialSelect()" ng-model="$parent.productWizard.selectedMaterialID" value="{{materialOption.materialID}}" /> <label for="material-{{materialOption.materialID}}">{{materialOption.materialNM}}</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <div class="sub-filter-panel" style="border-bottom: none;">
                                                    <span class="form-control" id="sticky-content">{{productWizard.generateDescription()}}</span>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="row" style="padding: 15px;">
                                                    <section class="col col-4">
                                                        <label class="label">FSC</label>
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-model="productWizard.fscVisible" ng-change="productWizard.onFSCChange()" />
                                                            <i></i>Use FSC Wood
                                                        </label>
                                                        <label class="checkbox" ng-show="productWizard.fscVisible && productWizard.fscLabelVisible">
                                                            <input type="checkbox" ng-model="productWizard.data.useFSCLabel" />
                                                            <i></i>Use FSC Label on product
                                                        </label>
                                                    </section>
                                                    <section class="col col-3" ng-show="productWizard.fscVisible">
                                                        <label class="label">FSC Claim</label>
                                                        <label class="select">
                                                            <select ng-model="productWizard.data.fSCTypeID" ng-change="productWizard.onFSCTypeChange()" ng-options="fscType.fscTypeID as fscType.fscTypeNM for fscType in productWizard.fscTypes | orderBy:'+fscTypeUD'"></select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3" ng-show="productWizard.fscPercentVisible">
                                                        <label class="label">FSC %</label>
                                                        <label class="select">
                                                            <select ng-model="productWizard.data.fSCPercentID" ng-change="productWizard.onFSCPercentChange()" ng-options="fscPercent.fscPercentID as fscPercent.fscPercentNM for fscPercent in productWizard.fscPercents | orderBy:'+fscPercentUD' | filter:productWizard.fscFilter"></select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="filter-row">
                                            <div class="filter-panel">
                                                <h4>Material Type</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="materialTypeOption in productWizard.materialTypeOptions | materialTypeFilter:productWizard.selectedMaterialID:productWizard.materialStandard | unique:'materialTypeID'"><input id="materialType-{{materialTypeOption.materialTypeID}}" type="radio" name="material-types" ng-change="productWizard.materialTypeSelect()" ng-model="$parent.productWizard.selectedMaterialTypeID" value="{{materialTypeOption.materialTypeID}}" /> <label for="materialType-{{materialTypeOption.materialTypeID}}">{{materialTypeOption.materialTypeNM}}</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.materialText}}</span>
                                                <div class="sub-filter-panel" style="height: 54px;">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="material-type-season" id="material-type-current-season" ng-change="productWizard.materialStandardSelect()" ng-model="productWizard.materialStandard" ng-value="true" /> <label for="material-type-current-season">Current season ({{productWizard.data.season}}) </label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="material-type-season" id="material-type-other-season" ng-change="productWizard.materialStandardSelect()" ng-model="productWizard.materialStandard" ng-value="false" /> <label for="material-type-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="materialColorOption in productWizard.materialColorOptions | materialColorFilter:productWizard.selectedMaterialID:productWizard.selectedMaterialTypeID:productWizard.materialStandard" ng-class="{'active': materialColorOption.isSelected, 'request-item' : materialColorOption.isStandard == false}">
                                                        <img ng-src="{{materialColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.materialColorSelect(materialColorOption.materialOptionID)" />
                                                        <span class="text" ng-click="productWizard.materialColorSelect(materialColorOption.materialOptionID)">{{materialColorOption.materialColorNM}}</span>
                                                        <a class="zoom" href="{{materialColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="filter-row" ng-show="productWizard.hasFrame">
                                            <div class="filter-panel">
                                                <h4>Frame</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="frameMaterialOption in productWizard.frameMaterialOptions | frameMaterialFilter:productWizard.selectedMaterialOptionID:productWizard.frameStandard | unique:'frameMaterialID'"><input id="frameMaterial-{{frameMaterialOption.frameMaterialID}}" type="radio" name="frame-materials" ng-change="productWizard.frameMaterialSelect()" ng-model="$parent.productWizard.selectedFrameMaterialID" value="{{frameMaterialOption.frameMaterialID}}" /> <label for="frameMaterial-{{frameMaterialOption.frameMaterialID}}">{{frameMaterialOption.frameMaterialNM}}</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.frameMaterialText}}</span>
                                                <div class="sub-filter-panel">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="frame-material-season" id="frame-material-current-season" ng-change="productWizard.frameMaterialStandardSelect()" ng-model="productWizard.frameStandard" ng-value="true" /> <label for="frame-material-current-season">Current season ({{productWizard.data.season}})</label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="frame-material-season" id="frame-material-other-season" ng-change="productWizard.frameMaterialStandardSelect()" ng-model="productWizard.frameStandard" ng-value="false" /> <label for="frame-material-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="frameMaterialColorOption in productWizard.frameMaterialColorOptions | frameMaterialColorFilter:productWizard.selectedMaterialOptionID:productWizard.selectedFrameMaterialID:productWizard.frameStandard" ng-class="{'active': frameMaterialColorOption.isSelected, 'request-item' : frameMaterialColorOption.isStandard == false}">
                                                        <img ng-src="{{frameMaterialColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.frameMaterialColorSelect(frameMaterialColorOption.frameMaterialOptionID)" />
                                                        <span class="text" ng-click="productWizard.frameMaterialColorSelect(frameMaterialColorOption.frameMaterialOptionID)">{{frameMaterialColorOption.frameMaterialColorNM}}</span>
                                                        <a class="zoom" href="{{frameMaterialColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-row" ng-show="productWizard.hasSubMaterial">
                                            <div class="filter-panel">
                                                <h4>Sub Material</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="subMaterialOption in productWizard.subMaterialOptions | subMaterialFilter:productWizard.subMaterialStandard | unique:'subMaterialID'"><input id="subMaterial-{{subMaterialOption.subMaterialID}}" type="radio" name="sub-materials" ng-change="productWizard.subMaterialSelect()" ng-model="$parent.productWizard.selectedSubMaterialID" value="{{subMaterialOption.subMaterialID}}" /> <label for="subMaterial-{{subMaterialOption.subMaterialID}}">{{subMaterialOption.subMaterialNM}}</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.subMaterialText}}</span>
                                                <div class="sub-filter-panel">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="sub-material-season" id="sub-material-current-season" ng-change="productWizard.subMaterialStandardSelect()" ng-model="productWizard.subMaterialStandard" ng-value="true" /> <label for="sub-material-current-season">Current season ({{productWizard.data.season}})</label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="sub-material-season" id="sub-material-other-season" ng-change="productWizard.subMaterialStandardSelect()" ng-model="productWizard.subMaterialStandard" ng-value="false" /> <label for="sub-material-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="subMaterialColorOption in productWizard.subMaterialColorOptions | subMaterialColorFilter:productWizard.selectedSubMaterialID:productWizard.subMaterialStandard" ng-class="{'active': subMaterialColorOption.isSelected, 'request-item' : subMaterialColorOption.isStandard == false}">
                                                        <img ng-src="{{subMaterialColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.subMaterialColorSelect(subMaterialColorOption.subMaterialOptionID)" />
                                                        <span class="text" ng-click="productWizard.subMaterialColorSelect(subMaterialColorOption.subMaterialOptionID)">{{subMaterialColorOption.subMaterialColorNM}}</span>
                                                        <a class="zoom" href="{{subMaterialColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-row" ng-show="productWizard.hasCushion">
                                            <div class="filter-panel">
                                                <h4>Fabric Color</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="cushionType in productWizard.cushionTypeOptions | cushionTypeFilter:productWizard.cushionColorStandard | unique:'cushionTypeID'"><input id="cushionType-{{cushionType.cushionTypeID}}" type="radio" name="cushion-type" ng-model="$parent.productWizard.selectedCushionTypeID" ng-change="productWizard.cushionTypeSelect()" value="{{cushionType.cushionTypeID}}" /> <label for="cushionType-{{cushionType.cushionTypeID}}">{{cushionType.cushionTypeNM}}</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.cushionColorText}}</span>
                                                <div class="sub-filter-panel">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="cushion-color-season" ng-change="productWizard.cushionColorStandardSelect()" id="cushion-color-current-season" ng-model="productWizard.cushionColorStandard" ng-value="true" /> <label for="cushion-color-current-season">Current season ({{productWizard.data.season}})</label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="cushion-color-season" ng-change="productWizard.cushionColorStandardSelect()" id="cushion-color-other-season" ng-model="productWizard.cushionColorStandard" ng-value="false" /> <label for="cushion-color-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="cushionColorOption in productWizard.cushionColorOptions | cushionColorFilter:productWizard.selectedCushionTypeID:productWizard.cushionColorStandard" ng-class="{'active': cushionColorOption.isSelected, 'request-item' : cushionColorOption.isStandard == false}">
                                                        <img ng-src="{{cushionColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.cushionColorSelect(cushionColorOption.cushionColorID)" />
                                                        <span class="text" ng-click="productWizard.cushionColorSelect(cushionColorOption.cushionColorID)">{{cushionColorOption.cushionColorNM}}</span>
                                                        <a class="zoom" href="{{cushionColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="filter-row" ng-show="productWizard.hasCushion">
                                            <div class="filter-panel">
                                                <h4>Cushion specification</h4>
                                                <div class="filter-list-container"></div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.seatCushionText != '' ? productWizard.seatCushionText + ' (Seat)' : ''}}{{productWizard.seatCushionText != '' && productWizard.backCushionText != '' ? ' + ' : ''}}{{productWizard.backCushionText != '' ? productWizard.backCushionText + ' (Back)' : ''}}</span>
                                                <div class="sub-filter-panel">
                                                    <h4>Seat Cushion</h4>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="seatCushionOption in productWizard.seatCushionOptions" ng-class="{'active': seatCushionOption.isSelected}">
                                                        <img ng-src="{{seatCushionOption.imageFile_DisplayUrl}}" ng-click="productWizard.seatCushionSelect(seatCushionOption.seatCushionID)" />
                                                        <span class="text" ng-click="productWizard.seatCushionSelect(seatCushionOption.seatCushionID)">{{seatCushionOption.seatCushionNM}}</span>
                                                        <a class="zoom" href="{{seatCushionOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                                <div class="sub-filter-panel" style="border-top: solid 1px #e7e7e7; margin-top: 10px;">
                                                    <h4>Back Cushion</h4>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="backCushionOption in productWizard.backCushionOptions" ng-class="{'active': backCushionOption.isSelected}">
                                                        <img ng-src="{{backCushionOption.imageFile_DisplayUrl}}" ng-click="productWizard.backCushionSelect(backCushionOption.backCushionID)" />
                                                        <span class="text" ng-click="productWizard.backCushionSelect(backCushionOption.backCushionID)">{{backCushionOption.backCushionNM}}</span>
                                                        <a class="zoom" href="{{backCushionOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                                <label class="input" style="padding: 5px;" ng-show="productWizard.data.displayCushionDescription">
                                                    <input placeholder="Fill in your cushion description here" type="text" ng-model="productWizard.data.cushionDescription" />
                                                </label>
                                            </div>
                                        </div>

                                        <div class="filter-row" ng-show="productWizard.data.displayPackagingMethod">
                                            <div class="filter-panel">
                                                <h4>Packaging Method</h4>
                                                <div class="filter-list-container"></div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection">You select: {{productWizard.packagingMethodText}}</span>
                                                <ul>
                                                    <li ng-repeat="packagingMethod in productWizard.packagingMethodOptions" ng-class="{'active': packagingMethod.isSelected}">
                                                        <span class="text" ng-click="productWizard.packagingMethodSelect(packagingMethod.packagingMethodID)">{{packagingMethod.packagingMethodNM}}</span>
                                                    </li>
                                                </ul>
                                                <select style="width:auto;padding:5px;margin-top:5px" ng-if="selectedPackagingMethodID==11"
                                                        ng-model="productWizard.data.clientSpecialPackagingMethodID"
                                                        ng-options="item.clientSpecialPackagingMethodID as item.clientSpecialPackagingMethodNM for item in productWizard.clientSpecialPackagingMethods">
                                                    <option value=""></option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="filter-row">
                                            <div class="filter-panel">
                                                <h4>Special Requirement</h4>
                                                <div class="filter-list-container"></div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection">&nbsp;</span>
                                                <label class="input" style="padding: 5px;">
                                                    <input placeholder="Fill in your requirement here" type="text" ng-model="productWizard.data.specialRequirement" />
                                                </label>
                                            </div>
                                        </div>


                                        <div class="filter-caption" ng-show="productWizard.data.showPricingOption">
                                            <h4>PRICING</h4>
                                            <div class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table">
                                                    <div class="tilsoft-table-body" style="width: 100%; height:auto;margin-top:0px; max-height:unset">
                                                        <span class="form-control" style="text-align:center">{{productWizard.getStandardDescription()}}</span>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th colspan="2">BREAKDOWN PRICE</th>
                                                            </tr>
                                                            <tr>
                                                                <th></th>
                                                                <th>CONFIGURED SALES PRICE</th>
                                                                <th>CONFIGURED PURCHASE PRICE</th>
                                                                <th>AVF</th>
                                                                <th>AVT</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="text-align:right"></th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getStandardPrice() | number : 2}}
                                                                        </span>
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getPurchasingFixPrice() | number : 2}}
                                                                        </span>
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getTotalCostPriceUSD().avfPrice| number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getTotalCostPriceUSD().avtPrice| number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th colspan="2">SPECIFICATIONS</th>
                                                                <th colspan="4">INCREASE</th>
                                                                <th></th>
                                                                <th colspan="2">COST PRICE (USD)</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 120px;"></th>
                                                                <th></th>
                                                                <th style="width: 70px;">%</th>
                                                                <th style="width: 90px;">FOB (USD)</th>
                                                                <th style="width: 90px;">DDP (EUR)</th>
                                                                <th style="width: 110px;">Total {{productWizard.data.currency}}</th>
                                                                <th style="width: 110px;">PURCHASING PRICE</th>
                                                                <th style="width: 110px;">AVF Price</th>
                                                                <th style="width: 110px;">AVT Price</th>
                                                            </tr>
                                                            <tr ng-repeat="item in productWizard.data.pricingOption">
                                                                <td colspan="2" style="vertical-align:middle">
                                                                    <strong>{{item.productElementNM}}:</strong>
                                                                    {{productWizard.getBreakdownCategoryOptionText(productWizard.getBreakdownCategoryByProductElement(item.productElementID))}}
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    {{x = productWizard.getPercentValue(item.productElementID) | number : 1}}<span ng-if="x>0">%</span>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.getUSDAmount(item.productElementID)!=0">
                                                                        {{productWizard.getUSDAmount(item.productElementID) | currency :'$':2}}
                                                                    </div>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.getEURAmount(item.productElementID)!=0">
                                                                        {{productWizard.getEURAmount(item.productElementID) | currency :'€': 2}}
                                                                    </div>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.getIncreasePriceByItem(item)!=0">
                                                                        {{productWizard.data.currency=='USD'?'$ ':''}}{{productWizard.data.currency=='EUR'?'€':''}}{{productWizard.getIncreasePriceByItem(item) | currency : '' : 2}}
                                                                    </div>
                                                                </td>

                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.getPurchasingConfigPrice(item.productElementID)!=0">
                                                                        {{productWizard.getPurchasingConfigPrice(item.productElementID) | currency :'$': 2}}
                                                                    </div>
                                                                </td>

                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <span ng-if="productWizard.getCostPriceUSD(productWizard.getBreakdownCategoryByProductElement(item.productElementID)).avfPrice !=0">
                                                                        {{productWizard.getCostPriceUSD(productWizard.getBreakdownCategoryByProductElement(item.productElementID)).avfPrice | currency :'$': 2}}
                                                                    </span>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <span ng-if="productWizard.getCostPriceUSD(productWizard.getBreakdownCategoryByProductElement(item.productElementID)).avtPrice!=0">
                                                                        {{productWizard.getCostPriceUSD(productWizard.getBreakdownCategoryByProductElement(item.productElementID)).avtPrice| currency :'$': 2}}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-repeat="item in productWizard.breakdownCategories" style="height:40px">
                                                                <td style="vertical-align:middle" colspan="7">
                                                                    <strong>{{item.breakdownCategoryNM}}</strong>:{{productWizard.getBreakdownCategoryOptionText(item.breakdownCategoryID)}}
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="item.breakdownCategoryID!=10 && productWizard.getCostPriceUSD(item.breakdownCategoryID).avfPrice!=0">
                                                                        {{productWizard.getCostPriceUSD(item.breakdownCategoryID).avfPrice | currency :'$': 2}}
                                                                    </div>
                                                                    <div ng-if="item.breakdownCategoryID==10&&productWizard.getTotalCostPriceUSD().avfManagementFee!=0">
                                                                        {{productWizard.getTotalCostPriceUSD().avfManagementFee | currency :'$': 2}}
                                                                    </div>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="item.breakdownCategoryID!=10&&productWizard.getCostPriceUSD(item.breakdownCategoryID).avtPrice!=0">
                                                                        {{productWizard.getCostPriceUSD(item.breakdownCategoryID).avtPrice | currency :'$': 2}}
                                                                    </div>
                                                                    <div ng-if="item.breakdownCategoryID==10&&productWizard.getTotalCostPriceUSD().avtManagementFee!=0">
                                                                        {{productWizard.getTotalCostPriceUSD().avtManagementFee| currency :'$': 2}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:right">UNIT PRICE INCLUDING SPECIFICATIONS</th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getPriceIncludeSpecification() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getTotalPurchasingConfigPrice() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:right">DISCOUNT</th>
                                                                <th style="width: 90px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">%</span>
                                                                        <input type="text" class="form-control" ng-model="productWizard.data.discountPercent"  style="text-align:right" furnindo-currency/>
                                                                    </div>                                                                    
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <input type="text" class="form-control" ng-model="productWizard.data.discountAmount" style="text-align:right" furnindo-currency />
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getDiscountAmount() | number : 2}}
                                                                        </span>
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:right">SALE PRICES</th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getSalePrices() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.getTotalPurchasingConfigPrice() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="productWizard.close(true)">
                                Finish
                            </button>
                            <button class="btn btn-default" type="button" ng-click="productWizard.close(false)">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>
    var scope;
    var productWizardContext = {
        supportServiceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]'
    }
</script>
<script src="~/Angular/app/shared/productAttributeWizard.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>