<form name="frmComment" id="frmComment" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Comment</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Remark</label>
                            <label class="textarea">
                                <textarea rows="8" ng-model="commentService.data.comment"></textarea>
                            </label>
                        </section>
                        <section>
                            <label>Attached File(s)</label>
                            <table class="table table-bordered table-striped" style="margin-top: 5px;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;"><a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="commentService.addCommentFile()"><i class="fa fa-plus"></i> Add</a></th>
                                        <th style="width: 100%;">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in commentService.data.devRequestCommentAttachedFiles">
                                        <td style="text-align:center;"><a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="commentService.removeCommentFile(item)">Remove</a></td>
                                        <td><a href="{{item.fileLocation}}" target="_blank">{{item.friendlyName}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="commentService.updateComment()">
                    <i class="fa fa-save"></i> Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>