<form name="frmEstHourSpend" id="frmEstHourSpend" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Est Hour Spend</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <table class="table table-bordered table-striped" style="margin-top: 5px;">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-user"></i> Assigned Person(s)</th>
                                        <th>Est Hour Spend</th>
                                        <th>Act Hour Spend</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in esthourspendService.data">
                                        <td style="{{item.isPersonInCharge?'font-weight: bold;':''}}">
                                            <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.assignedTo}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                {{item.assignedPersonName}}
                                            </a>
                                        </td>
                                        <td><input type="number" style="padding: 3px; width: 100%;" ng-model="item.estWorkingHour" /></td>
                                        <td><input type="number" style="padding: 3px; width: 100%;" ng-model="item.actualWorkingHour" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="esthourspendService.update()">
                    <i class="fa fa-save"></i> Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>