<form name="frmStatus" id="frmStatus" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Status</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Status</label>
                            <label class="select">
                                <select ng-model="statusService.data.devRequestStatusID" ng-options="status.devRequestStatusID as status.devRequestStatusNM for status in devRequestStatuses">
                                    <option value=""></option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section>
                            <label class="label">Remark</label>
                            <label class="textarea">
                                <textarea rows="8" ng-model="statusService.data.comment"></textarea>
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="statusService.update()">
                    <i class="fa fa-save"></i> Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>