@{
    ViewBag.Title = "Create new DDC";
    ViewBag.Module = "DDC";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select season to create DDC</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">
                            <section class="col col-6" style="position: relative;padding: 0px;">
                                <label class="label">Season</label>
                                <label class="select">
                                    <select class="form-control search-filter" ng-model="selection.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
                <div class="widget-body no-padding" style="min-height: 0px;">
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">&nbsp;</fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="event.goNext($event)">
                                OK
                            </button>
                            <button class="btn btn-default" type="button" ng-click="event.goBack($event)">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/ddc/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            backURL: '@Url.Action("Index", "DDC")',
            nextURL: '@Url.Action("Edit", "DDC")/0?'
        }
    </script>
    <script src="~/Angular/app/ddc/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/ddc/init.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

