@{  
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];

    ViewBag.Title = "Create new Offer ";
    ViewBag.Module = "OfferToClient";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select item to create Offer</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">
                            <section class="col col-4">
                                <label class="label">Client</label>                            
                                <label class="select">
                                    <select class="select2" ng-model="data.clientID" ng-options="client.clientID as client.clientNM for client in clients">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                                <span class="help-block" ng-show="editForm.data.clientID.$error.required"><i class="fa fa-warning"></i>Client is required.</span>
                            </section>
                            <section class="col col-2">
                                <label class="label">Season</label>
                                <label class="select">
                                    <select class="form-control search-filter" ng-model="data.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>

                                <span class="help-block" ng-show="editForm.data.season.$error.required"><i class="fa fa-warning"></i>Season is required.</span>
                            </section>
                        </fieldset>
                    </div>
                </div>
                <div class="widget-body no-padding" style="min-height: 0px;">
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">&nbsp;</fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="event.goNext($event)">
                                OK
                            </button>
                            <button class="btn btn-default" type="button" ng-click="event.goBack($event)">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section pagejs {
    <script type="text/javascript" src="~/Views/OfferToClientMng/init.js?v=@guid"></script>
    <script type="text/javascript">     
        var context = {
            backURL: '@Url.Action("Index", "OfferToClientMng")',
            nextURL: '@Url.Action("Edit", "OfferToClientMng")/0?',
            serviceUrl: '@(serviceRoot)/api/offerToClientMng/',
            token: '@token'
        }
    </script>
    <script type="text/javascript" src="~/Views/OfferToClientMng/service.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
}

