<div id="frmResult" class="row avs-form" ng-controller="searchResult">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget">
            <header>
                <h2>Search result</h2>
                <div class="widget-toolbar" role="menu">
                    <a href="javascript:void(0)" class="btn btn-default" ng-click="event.goToFilter()"><i class="fa fa-filter"></i> Advance filter</a>
                </div>                
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div style="overflow-x: auto;">
                        <table class="table table-bordered table-hover" avs-simple-table handler="gridHandler" style="width: 2000px;">
                            <thead>
                                <tr>
                                    <th style="width: 130px; font-weight: bold;">{{gridHandler.totalRows}} item(s)</th>
                                    <th style="width: 150px;" class="sorting" data-colname="LoadingPlanUD">Ref#</th>
                                    <th style="width: 160px;" class="sorting" data-colname="ContainerNo">Container</th>
                                    <th style="width: 200px;" class="sorting" data-colname="BLNo">B/L</th>
                                    <th style="width: 400px;" class="sorting">Order Info <span class="label bg-color-blue">Your P/O</span> <span class="label bg-color-green">Eurofar P/I</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $parent.data.data.loadingPlans">
                                    <td>
                                        <a href="javascript:void(0)" class="btn btn-default btn-sm">Detail</a>
                                        <a href="javascript:void(0)" class="btn btn-default btn-sm">Print</a>
                                    </td>
                                    <td>{{item.loadingPlanUD}}</td>
                                    <td>
                                        {{item.containerNo}} ({{item.containerTypeNM}})
                                        <br/>
                                        Seal: {{item.sealNo}}
                                    </td>
                                    <td>
                                        {{item.blNo}}
                                        <br />
                                        <span style="margin-right: 10px;"><i class="fa fa-calendar"></i> {{item.etd}}</span>
                                        <span><i class="fa fa-calendar"></i> {{item.eta}}</span>
                                    </td>
                                    <td>
                                        <span class="label bg-color-blue" ng-repeat="oItem in $parent.$parent.data.data.orders | filter: {loadingPlanID: item.loadingPlanID}">{{oItem.proformaInvoiceNo}}</span>
                                        <span class="label bg-color-green" ng-repeat="oItem in $parent.$parent.data.data.orders | filter: {loadingPlanID: item.loadingPlanID}">{{oItem.clientOrderNumber}}</span>
                                    </td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </article>
</div>