<div id="frmFilter" class="row avs-form" ng-controller="searchFilter">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget">
            <header>
                <h2>Search filter</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Ref#</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.LoadingPlanUD" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">P/O No</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.ClientOrderNumber" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">P/I No</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.ProformaInvoiceNo" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">B/L</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.BLNo" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Cont No</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.ContainerNo" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Seal No</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.SealNo" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="label">Cont Type</label>
                                    <label class="select">
                                        <select ng-model="data.ContainerTypeID" ng-options="item.containerTypeID as item.containerTypeNM for item in $parent.data.support.containerTypes">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>

                                <section class="col col-5">
                                    <label class="label">ETD (select date range - dd/MM/yyyy)</label>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" placeholder="From" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.ETDFrom" />
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" placeholder="To" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.ETDTo" />
                                            </label>
                                        </section>
                                    </div>
                                </section>

                                <section class="col col-5">
                                    <label class="label">ETA (select date range - dd/MM/yyyy)</label>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" placeholder="From" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.ETAFrom" />
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" placeholder="To" class="datepicker" data-dateformat="dd/mm/yy" ng-model="data.ETATo" />
                                            </label>
                                        </section>
                                    </div>
                                </section>
                            </div>
                        </fieldset>
                    </div>

                    <div class="widget-footer">
                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.applyFilter()"><i class="fa fa-filter"></i> Apply</a>
                        <a href="javascript:void(0)" class="btn btn-default" ng-click="event.goToResult()">Cancel</a>                        
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>