<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>    
    <add name="SQLConnection" connectionString="Data Source=.;Initial Catalog=Tilsoft;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />    
  <add name="TilsoftEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tilsoft;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="FileUrl" value="D:\DOWNLOAD\TEST_TILSOFT\Media\File\" />
    <add key="ThumbnailUrl" value="D:\DOWNLOAD\TEST_TILSOFT\Media\Thumbnail\" />
    <add key="ReportTempUrl" value="D:\DOWNLOAD\TEST_TILSOFT\Tmp\" />
    <add key="BaseFolder" value="D:\DOWNLOAD\TEST_TILSOFT\" />
  </appSettings>
</configuration>