@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    ViewBag.Icon = "fa-bar-chart-o";
    ViewBag.Title = "Production Summary Report";
    ViewBag.Module = "Production Summary";
}
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-sm-3">
                                <label class="label">Factory</label>
                                <select class="form-control search-filter" id="factory" ng-model="filter.factoryID" ng-options="factory.factoryID as factory.factoryName for factory in factories">
                                    <option value=""></option>
                                </select>
                            </section>
                            <section class="col col-sm-3">
                                <label class="label">Season</label>
                                <select class="form-control search-filter" id="season" ng-model="filter.season" ng-options="season.seasonValue as season.seasonText for season in seasons"></select>
                            </section>
                            <section class="col col-sm-3">
                                <label class="label">Client</label>
                                <label class="input">
                                    <input type="text" class="form-control search-filter" ng-model="filter.clientUD" />
                                </label>
                            </section>
                            <section class="col col-sm-3">
                                <label class="label">PI</label>
                                <label class="input">
                                    <input type="text" class="form-control search-filter" ng-model="filter.pi" />
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" style="float: none;" ng-click="event.search()"><i class="fa fa-code"></i> HTML Version</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Results</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body no-padding">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div style="width:2380px; background-color: #9999FF" class="tilsoft-table-header">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 80px; font-weight:bold;"><div style="width: 80px; height: 59px; border-right:solid 1px #ccc">Factory</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 80px; font-weight:bold;"><div style="width: 80px; height: 59px; border-right:solid 1px #ccc">Client Code</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 80px; font-weight:bold;"><div style="width: 80px; height: 59px; border-right:solid 1px #ccc">PI</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 80px; font-weight:bold;"><div style="width: 80px; height: 59px; border-right:solid 1px #ccc">Pre Order</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 80px; font-weight:bold;"><div style="width: 80px; height: 59px; border-right:solid 1px #ccc">Work Order</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 150px; font-weight:bold;"><div style="width: 150px; height: 59px; border-right:solid 1px #ccc">Art Code</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 300px; font-weight:bold;"><div style="width: 300px; height: 59px; border-right:solid 1px #ccc">Art Name</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 70px; font-weight:bold;"><div style="width: 70px; height: 59px; border-right:solid 1px #ccc">QTT/40HC</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 70px; font-weight:bold;"><div style="width: 70px; height: 59px; border-right:solid 1px #ccc">Order QTT</div></th>
                                                    <th rowspan="2" style="background-color: #9999FF; width: 70px; font-weight:bold;"><div style="width: 70px; height: 59px; border-right:solid 1px #ccc">Pro QTT</div></th>
                                                    <th colspan="4" style="background-color: #9999FF; width: 320px; font-weight:bold;"><div style="width: 320px; height: 30px; border-right:solid 1px #ccc">Frame</div></th>
                                                    <th colspan="4" style="background-color: #9999FF; width: 320px; font-weight:bold;"><div style="width: 320px; height: 30px; border-right:solid 1px #ccc">Painted</div></th>
                                                    <th colspan="4" style="background-color: #9999FF; width: 320px; font-weight:bold;"><div style="width: 320px; height: 30px; border-right:solid 1px #ccc">Weaving</div></th>
                                                    <th colspan="4" style="background-color: #9999FF; width: 320px; font-weight:bold;"><div style="width: 320px; height: 30px; border-right:solid 1px #ccc">Packing</div></th>
                                                    <th rowspan="2"></th>
                                                </tr>
                                                <tr>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Import</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Finish</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Export</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Remain</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Import</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Finish</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Export</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Remain</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Import</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Finish</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Export</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Remain</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Import</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Finish</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Export</div></th>
                                                    <th style="width: 80px; background-color: #9999FF; text-align:center; font-weight:bold"><div style="width: 80px; height: 30px; border-right:solid 1px #ccc">Remain</div></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div style="width: 2380px; background-color: #E8F4F6" class="tilsoft-table-totalrow">
                                        <table>
                                            <tr>

                                                @*<th style="width: 80px; font-weight:bold;"><div style="width: 80px; border-right:solid 1px #ccc">Factory</div></th>
        <th style="width: 80px; font-weight:bold;"><div style="width: 80px; border-right:solid 1px #ccc">Client Code</div></th>
        <th style="width: 80px; font-weight:bold;"><div style="width: 80px; border-right:solid 1px #ccc">PI</div></th>
        <th style="width: 80px; font-weight:bold;"><div style="width: 80px; border-right:solid 1px #ccc">Work Order</div></th>
        <th style="width: 150px; font-weight:bold;"><div style="width: 150px; border-right:solid 1px #ccc">Art Code</div></th>
        <th style="width: 300px; font-weight:bold;"><div style="width: 300px; border-right:solid 1px #ccc">Art Name</div></th>*@
                                                <th style="width: 80px; font-weight:bold;"><div style="width: 80px; border-right:solid 1px #ccc"></div></th>
                                                <th colspan="7" style="width: 840px; font-weight:bold"><div style="width: 840px; border-right: solid 1px #ccc">Total in Con/40HC</div></th>
                                                <th style="width: 70px; font-weight:bold;"><div style="width: 70px; border-right:solid 1px #ccc">{{event.totalOrder40HC() | number : 2}}</div></th>
                                                <th style="width: 70px; font-weight:bold;"><div style="width: 70px; border-right:solid 1px #ccc">{{event.totalPro40HC() | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalImport40HC(7) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalFinish40HC(7) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalExport40HC(7) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalRemain40HC(7) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalImport40HC(8) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalFinish40HC(8) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalExport40HC(8) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalRemain40HC(8) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalImport40HC(9) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalFinish40HC(9) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalExport40HC(9) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalRemain40HC(9) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalImport40HC(11) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalFinish40HC(11) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalExport40HC(11) | number : 2}}</div></th>
                                                <th style="width: 80px; text-align:center; font-weight:bold"><div style="width: 80px; border-right:solid 1px #ccc">{{event.totalRemain40HC(11) | number : 2}}</div></th>
                                                <th></th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="width:2380px; margin-top: 89px" class="tilsoft-table-body">
                                        <table>
                                            <tbody ng-repeat="item in method.getProductionSummaries()">
                                                <tr ng-style="{'background-color': (item.workOrderStatusID == 3) ? '#99FF99' : ((item.productID == null) ? 'yellow' : 'white')}">
                                                    <td style="width: 80px!important;">{{item.factoryUD}}</td>
                                                    <td style="width: 80px;">{{item.clientUD}}</td>
                                                    <td style="width: 80px;">{{item.proformaInvoiceNo}}</td>
                                                    <td style="width: 80px;" ng-if="item.productID != null">{{item.preOrderWorkOrderUD}}</td>
                                                    <td style="width: 80px;" ng-if="item.productID == null">{{item.workOrderUD}}</td>
                                                    <td style="width: 80px;" ng-if="item.productID != null">{{item.workOrderUD}}</td>
                                                    <td style="width: 80px;" ng-if="item.productID == null"></td>
                                                    <td style="width: 150px;">{{item.articleCode}}</td>
                                                    <td style="width: 300px;">{{item.description}}</td>
                                                    <td style="width: 70px; text-align:right" ng-if="item.productID != null">{{item.qnt40HC}}</td>
                                                    <td style="width: 70px; text-align:right" ng-if="item.productID == null"></td>
                                                    <td style="width: 70px; text-align:right" ng-if="item.productID != null">{{item.orderQnt}}</td>
                                                    <td style="width: 70px; text-align:right" ng-if="item.productID == null"></td>
                                                    <td style="width: 70px; text-align:right" ng-if="item.productID != null">{{item.workOrderQnt}}</td>
                                                    <td style="width: 70px; text-align:right" ng-if="item.productID == null"></td>
                                                    <td style="width: 80px;" ng-repeat="dItem in detailRow">
                                                        <div style="text-align: right" ng-if="dItem.colName == 'import'">
                                                            {{(method.getImport(item.productID, dItem.workCenterID) == null || method.getImport(item.productID, dItem.workCenterID) == 0) ? '-' : method.getImport(item.productID, dItem.workCenterID) | number : 0}}
                                                        </div>
                                                        <div style="text-align: right" ng-if="dItem.colName == 'finish'">
                                                            {{(method.getFinish(item.productID, dItem.workCenterID) == null || method.getFinish(item.productID, dItem.workCenterID) == 0) ? '-' : method.getFinish(item.productID, dItem.workCenterID) | number : 0}}
                                                        </div>
                                                        <div style="text-align: right" ng-if="dItem.colName == 'export'">
                                                            {{(method.getExport(item.productID, dItem.workCenterID) == null || method.getExport(item.productID, dItem.workCenterID) == 0) ? '-' : method.getExport(item.productID, dItem.workCenterID) | number : 0}}
                                                        </div>
                                                        <div style="text-align: right" ng-if="dItem.colName == 'remain'">
                                                            {{(method.getRemain(item.productID, dItem.workCenterID) == null || method.getRemain(item.productID, dItem.workCenterID) == 0) ? '-' : method.getRemain(item.productID, dItem.workCenterID) | number : 0}}
                                                        </div>
                                                    </td>
                                                    <td></td>
                                                </tr>   
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>               
            </div>
        </div>
    </article>

@section pagejs {
    <script type="text/javascript">
        var context = {
            token: '@token',
            serviceUrl: '@(serviceRoot)/api/production-summary/',
            supportServiceUrl: '@(supportServiceRoot)/api/support/',
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/ProductionSummaryRpt/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ProductionSummaryRpt/service.js?v=@guid"></script>
}
