@{
    ViewBag.Title = "Gross Margin Overview";
    ViewBag.Module = "Gross Margin Overview";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-4">
                                <label class="label">From Date</label>
                                <label class="input">
                                    <input type="text" class="datepicker" ng-model="selection.fromDate" data-dateformat="dd/mm/yy" />
                                    <i class="icon-append fa fa-calendar"></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">To Date</label>
                                <label class="input">
                                    <input type="text" class="datepicker" ng-model="selection.toDate" data-dateformat="dd/mm/yy" />
                                    <i class="icon-append fa fa-calendar"></i>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Season</label>
                                <label class="select">
                                    <select ng-model="selection.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                    <i></i>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateHtml($event)" style="float: none;"><i class="fa fa-bar-chart-o"></i> Html Version</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel($event)" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Version</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcelForecast($event)" style="float: none;"><i class="fa fa-file-excel-o"></i> Export GrossMargin Forecast</a>
                        </footer>
                        <fieldset ng-if="data" style="padding-top: 0px;">
                            <div class="row">
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow: scroll; height: auto; max-height: none; margin-top: 0px;" class="tilsoft-table-body">
                                        <table style="width: 100%">
                                            <tbody>
                                                <tr style="height: 100px">
                                                    <th style="font-weight: bold;width: 60px">CLIENT CODE</th>
                                                    <th style="font-weight: bold;width: 125px">CLIENT NAME</th>
                                                    <th style="font-weight: bold;width: 50px">SALE</th>
                                                    <th style="font-weight: bold; width: 90px;">NET AMOUNT</th>
                                                    <th style="font-weight: bold;width: 80px;">COST AMOUNT</th>
                                                    <th style="font-weight: bold;width: 80px;">COMMISSION</th>
                                                    <th style="font-weight: bold;width: 80px;">CREDIT NOTE</th>
                                                    <th style="font-weight: bold;width: 80px;">GROSS MARGIN</th>
                                                    <th style="font-weight: bold;width: 80px;">% GROSS MARGIN</th>
                                                    <th style="font-weight: bold;width: 80px;">GROSS MARGIN (COMM INCLUDED)</th>
                                                    <th style="font-weight: bold;width: 80px;">% GROSS MARGIN (COMM INCLUDED)</th>
                                                    <th style="font-weight: bold;width: 80px;">GROSS MARGIN (COMMISSION + CREDIT NOTE INCLUDED)</th>
                                                    <th style="font-weight: bold;width: 80px;">% GROSS MARGIN (COMMISSION + CREDIT NOTE INCLUDED)</th>
                                                </tr>
                                                <tr style="font-weight: bold">
                                                    <td></td>
                                                    <td></td>
                                                    <td style="font-weight:bold">TOTAL</td>
                                                    <td style="text-align:right;">&euro;{{totalAmount.totalNet | currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{totalAmount.totalCost | currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{totalAmount.totalCom | currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{totalAmount.totalCreditNote | currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{totalAmount.totalGrossMargin | currency:'':0}}</td>
                                                    <td style="text-align:right;">{{totalAmount.percentGrossMargin | currency:'':1}}%</td>
                                                    <td style="text-align:right;">&euro;{{totalAmount.totalGrossMaroginCom | currency:'':0}}</td>
                                                    <td style="text-align:right;">{{totalAmount.percentGrossMaroginCom | currency:'':1}}%</td>
                                                    <td style="text-align:right;">&euro;{{totalAmount.totalGrossMarginComCredit | currency:'':0}}</td>
                                                    <td style="text-align:right;">{{totalAmount.percentGrossMarginComCredit | currency:'':1}}%</td>
                                                </tr>
                                                <tr ng-repeat="item in data.htmlGrossMarginSummaries">
                                                    <td style="text-align:center;">{{item.clientUD}}</td>
                                                    <td style="text-align:left;">{{item.clientNM}}</td>
                                                    <td style="text-align:center;">{{item.saleUD}}</td>
                                                    <td style="text-align:right;">&euro;{{item.netAmountEUR | currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{item.costAmountEUR | currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{item.commAmountEUR | currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{item.creditNoteAmountEUR| currency:'':0}}</td>
                                                    <td style="text-align:right;">&euro;{{item.grossMarginBeforeEUR | currency:'':0}}</td>
                                                    <td style="text-align:right;">{{item.grossMarginBeforePercent | currency:'':1}}%</td>
                                                    <td style="text-align:right;">&euro;{{item.grossMarginAfterCommEUR | currency:'':0}}</td>
                                                    <td style="text-align:right;">{{item.grossMarginAfterCommPercent | currency:'':1}}%</td>
                                                    <td style="text-align:right;">&euro;{{item.grossMarginAfterCommAndCreditNoteEUR| currency:'':0}}</td>
                                                    <td style="text-align:right;">{{item.grossMarginAfterCommAndCreditNotePercent | currency:'':1}}%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/grossmarginsummary/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/grossMarginSummaryRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/grossMarginSummaryRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
