@{
    ViewBag.Title = "Stock List Report";
    ViewBag.Module = "Stock List Report";
}
<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @*<div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Filters</h2>
            </header>

            <div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>ArticleCode</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.articleCode">
                        </div>
                        <div class="col-sm-4">
                            <label>Description</label>
                            <input class="form-control search-filter" type="text" ng-model="filters.description">
                        </div>
                        <div class="col-sm-3">
                            <label>Product Status</label>
                            <furnindo-multi-select id="productStatusSelect2" source="productStatuses" itemid="productStatusID" itemtext="productStatusNM" item-selected="filters.selectedProductStatuses"></furnindo-multi-select>
                        </div>
                        <div class="col-sm-3">
                            <label>Location</label>
                            <furnindo-multi-select id="locationSelect2" source="warehouseAreas" itemid="wareHouseAreaID" itemtext="areaCode" item-selected="filters.selectedWarehouseAreas"></furnindo-multi-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>


            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            
                            <div class="tilsoft-table-header" style="width: 1650px;">
                                <div style="width: 70px;"></div>
                                <div style="width: 40px;">No.</div>
                                <div style="width: 90px;" class="sorting" data-colname="ProductStatusNM">Pro Status</div>
                                <div style="width: 70px;" class="sorting" data-colname=""></div>
                                <div style="width: 100px;" class="sorting" data-colname="SelectedThumbnailImage"></div>
                                <div style="width: 70px;" class="sorting" data-colname="ArticleCode">Article Code</div>
                                <div style="width: 300px;" class="sorting" data-colname="Description">Description</div>
                                <div style="width: 50px;" class="sorting" data-colname="Qnt40HC">40HC</div>
                                <div style="width: 70px;" class="sorting" data-colname="PhysicalQnt">Physical Qnt</div>
                                <div style="width: 70px;" class="sorting" data-colname="PhysicalQntIn40HC">Physical In40HC</div>
                                <div style="width: 88px;" class="sorting" data-colname="WarehouseAreaUD">Location</div>
                                <div style="width: 80px; " class="sorting" data-colname="QntPerWarehouseArea">Qnt/ Location</div>
                                <div style="width: 70px;" class="sorting" data-colname="OnSeaQnt">OnSea Qnt</div>
                                <div style="width: 60px;" class="sorting" data-colname="TobeShippedQnt">Tobe ship</div>
                                <div style="width: 70px;" class="sorting" data-colname="ReservationQnt">Reserva tion</div>
                                <div style="width: 60px;" class="sorting" data-colname="FTSQnt">FTS Qnt</div>
                                <div style="width: 70px;" class="sorting" data-colname="IsActiveFreeToSale">Enable FTS</div>
                                <div style="width: 120px;">
                                    EAN Code
                                </div>
                                <div class="sorting" data-colname="FreeToSaleCategoryNM">Category</div>  
                            </div>

                            <div class="tilsoft-table-filter" style="width: 1650px;">
                                <div style="text-align: center; width: 70px; vertical-align:middle">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 40px; text-align:center;vertical-align:middle">

                                </div>
                                <div style="width: 90px; text-align: center; vertical-align: middle">
                                    <select class=" search-filter" ng-model="filters.productStatusID" ng-options="item.productStatusID as item.productStatusNM for item in productStatuses">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle; ">
                                    <select class="search-filter" ng-model="filters.isMatchedImage">
                                        <option value="any"></option>
                                        <option value="true">Real</option>
                                        <option value="false">Ref</option>
                                    </select>
                                </div>
                                <div style="width: 100px; text-align: center; vertical-align: middle;">
                                    <select class="search-filter" ng-model="filters.isHaveImage">
                                        <option value="any"></option>
                                        <option value="true">YES</option>
                                        <option value="false">NO</option>
                                    </select>
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle">
                                    <input type="text" ng-model="filters.articleCode" class="search-filter" />
                                </div>
                                <div style="width: 300px; text-align: center; vertical-align: middle">
                                    <input type="text" ng-model="filters.description" class="search-filter" />
                                </div>
                                <div style="width: 50px; text-align:center;vertical-align:middle">
                                    <input type="text" ng-model="filters.qnt40HC" class="search-filter" />
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle; ">
                                    <input type="text" ng-model="filters.physicalQnt" class="search-filter" />
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle; ">
                                    <input type="text" ng-model="filters.physicalQntIn40HC" class="search-filter" />
                                </div>
                                <div style="width: 88px; text-align: center; vertical-align: middle; ">
                                    <select ng-model="filters.wareHouseAreaID" ng-options="item.wareHouseAreaID as item.areaCode for item in warehouseAreas">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width: 80px; text-align: center; vertical-align: middle; ">
                                    <input type="text" ng-model="filters.qntPerWarehouseArea" class="search-filter" />
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle; ">
                                    <input type="text" ng-model="filters.onSeaQnt" class="search-filter" />
                                </div>
                                <div style="width: 60px; text-align: center; vertical-align: middle; ">
                                    <input type="text" ng-model="filters.tobeShippedQnt" class="search-filter" />
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle; ">
                                    <input type="text" ng-model="filters.reservationQnt" class="search-filter" />
                                </div>
                                <div style="width: 60px; text-align: center; vertical-align: middle; ">
                                    <input type="text" ng-model="filters.ftsQnt" class="search-filter" />
                                </div>
                                <div style="width: 70px; text-align: center; vertical-align: middle; ">
                                    <select class="search-filter" ng-model="filters.isActiveFreeToSale">
                                        <option value="any"></option>
                                        <option value="true">YES</option>
                                        <option value="false">NO</option>
                                    </select>
                                </div>
                                <div style="width:120px"><input type="text" ng-model="filters.eanCode" class="search-filter" /></div>
                                <div style="text-align: center; vertical-align: middle; ">
                                    <select ng-model="filters.freeToSaleCategoryID" ng-options="item.freeToSaleCategoryID as item.freeToSaleCategoryNM for item in freeToSaleCategories" style="width:80px" >
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="tilsoft-table-totalrow" style="width: 1650px;">
                                <div style="width: 70px;"></div>
                                <div style="width: 40px;"></div>
                                <div style="width: 90px;" class="sorting" data-colname="ProductStatusNM"></div>
                                <div style="width: 70px;" class="sorting" data-colname=""></div>
                                <div style="width: 100px;" class="sorting" data-colname="SelectedThumbnailImage"></div>
                                <div style="width: 70px;" class="sorting" data-colname="ArticleCode"></div>
                                <div style="width: 300px;" class="sorting" data-colname="Description">Total</div>
                                <div style="width: 50px;" class="sorting" data-colname="Qnt40HC"></div>
                                <div style="width: 70px;" class="sorting" data-colname="PhysicalQnt">{{totalPhysicalQnt | number}}</div>
                                <div style="width: 70px;" class="sorting" data-colname="PhysicalQntIn40HC">{{totalPhysicalQntIn40HC | number : 2}}</div>
                                <div style="width: 88px;" class="sorting" data-colname="WarehouseAreaUD"></div>
                                <div style="width: 80px; " class="sorting" data-colname="QntPerWarehouseArea"></div>
                                <div style="width: 70px;" class="sorting" data-colname="OnSeaQnt">{{totalOnSeaQnt | number}}</div>
                                <div style="width: 60px;" class="sorting" data-colname="TobeShippedQnt">{{totalTobeShippedQnt | number}}</div>
                                <div style="width: 70px;" class="sorting" data-colname="ReservationQnt">{{totalReservationQnt | number}}</div>
                                <div style="width: 60px;" class="sorting" data-colname="FTSQnt">{{totalFTSQnt | number}}</div>
                                <div style="width: 70px;" class="sorting" data-colname="IsActiveFreeToSale"></div>
                                <div style="width: 120px"></div>
                                <div style="width: 100px" class="sorting" data-colname="FreeToSaleCategoryNM"></div>
                            </div>

                            <div class="tilsoft-table-subtotalrow" style="width: 1650px;">
                                <div style="width: 70px;"></div>
                                <div style="width: 40px;"></div>
                                <div style="width: 90px;" class="sorting" data-colname="ProductStatusNM"></div>
                                <div style="width: 70px;" class="sorting" data-colname=""></div>
                                <div style="width: 100px;" class="sorting" data-colname="SelectedThumbnailImage"></div>
                                <div style="width: 70px;" class="sorting" data-colname="ArticleCode"></div>
                                <div style="width: 300px;" class="sorting" data-colname="Description">Sub Total</div>
                                <div style="width: 50px;" class="sorting" data-colname="Qnt40HC"></div>
                                <div style="width: 70px;text-align:right" class="sorting" data-colname="PhysicalQnt">{{subTotalPhysicalQnt | number}}</div>
                                <div style="width: 70px;text-align:right" class="sorting" data-colname="PhysicalQntIn40HC">{{subTotalPhysicalQntIn40HC | number : 2}}</div>
                                <div style="width: 88px;" class="sorting" data-colname="WarehouseAreaUD"></div>
                                <div style="width: 80px; " class="sorting" data-colname="QntPerWarehouseArea"></div>
                                <div style="width: 70px;text-align:right" class="sorting" data-colname="OnSeaQnt">{{subTotalOnSeaQnt | number}}</div>
                                <div style="width: 60px;text-align:right" class="sorting" data-colname="TobeShippedQnt">{{subTotalTobeShippedQnt | number}}</div>
                                <div style="width: 70px;text-align:right" class="sorting" data-colname="ReservationQnt">{{subTotalReservationQnt | number}}</div>
                                <div style="width: 60px;text-align:right" class="sorting" data-colname="FTSQnt">{{subTotalFTSQnt | number}}</div>
                                <div style="width: 70px;" class="sorting" data-colname="IsActiveFreeToSale"></div>
                                <div style="width: 120px"> </div>
                                <div style="width: 100px" class="sorting" data-colname="FreeToSaleCategoryNM"></div>
                            </div>

                            <div class="tilsoft-table-body" style="width: 1650px; margin-top: 95px;height:600px">
                                <table>
                                    <tr ng-repeat="model in data">
                                        <td style="text-align: center; width: 70px; vertical-align:middle">
                                            <a class="btn btn-primary btn-xs font-11" href="#" title="Edit" ng-click="infoDetailForm.event.load($event,model)"><i></i>Edit</a>
                                        </td>
                                        <td style="width: 40px; text-align:center;vertical-align:middle">{{$index+1}}</td>
                                        <td style="width: 90px; text-align: center; vertical-align: middle">{{model.productStatusNM}}</td>
                                        <td style="width: 70px; text-align: left; vertical-align: middle; ">
                                            <p>
                                                <label><input type="radio" name="real-ref-image-{{model.keyID}}" ng-model="model.isMatchedImage" value="1" ng-click="event.real_ref_Selected(model)" />Real&nbsp;&nbsp;</label>
                                            </p>
                                            <p>
                                                <label><input type="radio" name="real-ref-image-{{model.keyID}}" ng-model="model.isMatchedImage" value="0" ng-click="event.real_ref_Selected(model)" />Ref&nbsp;&nbsp;</label>
                                            </p>                                            
                                        </td>
                                        <td style="width: 100px; text-align: center; vertical-align: middle;">
                                            <a href="{{model.selectedFullImage}}" data-featherlight="image">
                                                <img style="width: 95%;" ng-src="{{model.selectedThumbnailImage}}" id="{{model.keyID}}" />
                                            </a>
                                        </td>
                                        <td style="width: 70px; text-align: center; vertical-align: middle">{{model.articleCode}}</td>
                                        <td style="width: 300px; text-align: center; vertical-align: middle">{{model.description}}</td>
                                        <td style="width: 50px; text-align:center;vertical-align:middle">{{model.qnt40HC  | number}}</td>
                                        <td style="width: 70px; text-align: center; vertical-align: middle; "><a href="javascript:void(0);" style="text-decoration:underline" ng-click="stockListDetailForm.event.load($event,model,'P')">{{model.physicalQnt  | number}}</a></td>
                                        <td style="width: 70px; text-align: center; vertical-align: middle; ">{{model.physicalQntIn40HC  | number : 2}}</td>
                                        <td style="width: 88px; text-align: center; vertical-align: middle; ">{{model.warehouseAreaUD}}</td>
                                        <td style="width: 80px; text-align: center; vertical-align: middle; ">{{model.qntPerWarehouseArea}}</td>
                                        <td style="width: 70px; text-align: center; vertical-align: middle; "><a href="javascript:void(0);" style="text-decoration:underline" ng-click="stockListDetailForm.event.load($event,model,'O')">{{model.onSeaQnt  | number}}</a></td>
                                        <td style="width: 60px; text-align: center; vertical-align: middle; "><a href="javascript:void(0);" style="text-decoration:underline" ng-click="stockListDetailForm.event.load($event,model,'T')">{{model.tobeShippedQnt  | number}}</a></td>
                                        <td style="width: 70px; text-align: center; vertical-align: middle; "><a href="javascript:void(0);" style="text-decoration:underline" ng-click="stockListDetailForm.event.load($event,model,'R')">{{model.reservationQnt  | number}}</a></td>
                                        <td style="width: 60px; text-align: center; vertical-align: middle; "><a href="javascript:void(0);" style="text-decoration:underline" ng-click="stockListDetailForm.event.load($event,model,'F')">{{model.ftsQnt  | number}}</a></td>
                                        <td style="width: 70px; text-align: center; vertical-align: middle; "><input type="checkbox" ng-model="model.isActiveFreeToSale" disabled /></td>
                                        <td style="width: 120px; text-align: center; vertical-align: middle; ">
                                            <ul style="padding-left:5px;list-style:none">
                                                <li ng-repeat="cItem in productSetEANCodes | filter : {productID: model.goodsID} : true | orderBy :'eanCode'">{{cItem.eanCode}}</li>
                                            </ul>
                                        </td>
                                        <td style="text-align: left; vertical-align: middle; ">{{model.freeToSaleCategoryNM}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    </article>


    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmExportExcel" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Export stock list to excel</h4>
                </div>
                <div class="modal-body smart-form">
                    <fieldset>
                        <div class="row m-bottom-15">
                            
                            <section class="col col-12">
                                <input type="checkbox" ng-model="filters.isIncludeImage" />
                                <label>Include image for stock overview sheet</label>
                            </section>
                        </div>

                        @*<div class="row">
                            <section class="col col-lg-4">
                                <label>ArticleCode</label>
                                <input class="form-control search-filter" type="text" ng-model="filters.articleCode">
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <label>Description</label>
                                <input class="form-control search-filter" type="text" ng-model="filters.description">
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <label>Product Status</label>
                                <furnindo-multi-select id="productStatusSelect2_" source="productStatuses" itemid="productStatusID" itemtext="productStatusNM" item-selected="filters.selectedProductStatuses"></furnindo-multi-select>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-lg-12">
                                <label>Location</label>
                                <furnindo-multi-select id="locationSelect2_" source="warehouseAreas" itemid="wareHouseAreaID" itemtext="areaCode" item-selected="filters.selectedWarehouseAreas"></furnindo-multi-select>
                            </section>
                        </div>*@

                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" ng-click="exportExcelForm.event.cancel($event)">
                        Cancel
                    </button>
                    <button class="btn btn-primary" type="button" ng-click="exportExcelForm.event.exportExcel($event)">
                        Export
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmInfoDetail" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Product info detail</h4>
                </div>
                <div class="modal-body smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-3">
                                <label class="label">Category</label>
                                <select class="form-control" name="freeToSaleCategoryID" ng-model="infoDetailForm.product.freeToSaleCategoryID" ng-options="item.freeToSaleCategoryID as item.freeToSaleCategoryNM for item in freeToSaleCategories" ng-change="infoDetailForm.event.selectedCategory()">
                                    <option value=""></option>
                                </select>
                            </section>
                            <section class="col col-3">
                                <label class="label">&nbsp;</label>
                                <label class="label"><input type="checkbox" ng-model="infoDetailForm.product.isActiveFreeToSale" ng-change="infoDetailForm.event.activeFTS()" /> Enable FTS</label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-3">
                                <label class="label">Free Scan Image</label>
                                <a href="{{infoDetailForm.product.selectedFullImage}}" data-featherlight="image">
                                    <img ng-src="{{infoDetailForm.product.selectedThumbnailImage}}" height="150" width="150" />
                                </a>
                            </section>
                            <section class="col col-3">
                                <label class="label">Garden Image</label>
                                <a href="{{infoDetailForm.product.productGardenFullImage}}" data-featherlight="image">
                                    <img ng-src="{{infoDetailForm.product.productGardenThumbnailImage}}" height="150" width="150"/>
                                </a>
                            </section>
                            <section class="col col-3">
                                <label class="label">Cushion Image</label>                                
                                <a href="{{infoDetailForm.product.cushionImage}}" data-featherlight="image">
                                    <img ng-src="{{infoDetailForm.product.cushionImage}}" height="150" width="150" />
                                </a>
                            </section>
                            <section class="col col-3">
                                <label class="label">Material Image</label>                                
                                <a href="{{infoDetailForm.product.materialImage}}" data-featherlight="image">
                                    <img ng-src="{{infoDetailForm.product.materialImage}}" height="150" width="150" />
                                </a>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-2">
                                <label class="label">Material</label>
                                <span class="form-control">{{infoDetailForm.product.materialNM}}</span>
                            </section>
                            <section class="col col-5">
                                <label class="label">Material Type</label>
                                <span class="form-control">{{infoDetailForm.product.materialTypeNM}}</span>
                            </section>
                            <section class="col col-5">
                                <label class="label">Material Color</label>
                                <span class="form-control">{{infoDetailForm.product.materialColorNM}}</span>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-2">
                                <label class="label">Frame Material</label>
                                <span class="form-control">{{infoDetailForm.product.frameMaterialNM}}</span>
                            </section>
                            <section class="col col-2">
                                <label class="label">Frame Color</label>
                                <span class="form-control">{{infoDetailForm.product.frameMaterialColorNM}}</span>
                            </section>
                            <section class="col col-4">
                                <label class="label">Sub Material</label>
                                <span class="form-control">{{infoDetailForm.product.subMaterialNM}}</span>
                            </section>
                            <section class="col col-4">
                                <label class="label">Sub Material Color</label>
                                <span class="form-control">{{infoDetailForm.product.subMaterialColorNM}}</span>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Seat Cushion</label>
                                <span class="form-control">{{infoDetailForm.product.seatCushionNM}}</span>
                            </section>
                            <section class="col col-4">
                                <label class="label">Back Cushion</label>
                                <span class="form-control">{{infoDetailForm.product.backCushionNM}}</span>
                            </section>
                            <section class="col col-4">
                                <label class="label">Cushion Color</label>
                                <span class="form-control">{{infoDetailForm.product.cushionColorNM}}</span>
                            </section>
                        </div>
                       
                        <div class="row">
                            <table class="table table-bordered table-hover custom-table dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 50px; text-align:center;vertical-align:middle">Client Code</th>
                                        <th style="text-align:center;vertical-align:middle">Client Name</th>
                                        <th style="width: 60px; text-align: center; vertical-align: middle">Reservation Qnt</th>
                                        <th style="width: 60px; text-align: center; vertical-align: middle">Reservation In 40HC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in infoDetailForm.stockReservationData">
                                        <td>{{item.clientUD}}</td>
                                        <td>{{item.clientNM}}</td>
                                        <td style="text-align:center;vertical-align:middle">{{item.reservationQnt}}</td>
                                        <td style="text-align:center;vertical-align:middle">{{item.reservationQntIn40HC}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </fieldset>
                </div>
                @*<div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">
                        CANCEL
                    </button>
                    <button class="btn btn-primary" type="button" ng-click="printReport($event)">
                        OK
                    </button>
                </div>*@
            </div>
        </div>
    </div>


    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="frmStockListDetail" class="modal fade" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        ×
                    </button>
                    <h3 ng-if="stockListDetailForm.infoType=='P'" id="myModalLabel" class="modal-title">Physical Quantity = Total Imported - Total Picked = {{stockListDetailForm.method.calTotalImport() | number}} - {{stockListDetailForm.method.calTotalPicked() |number}} = {{(stockListDetailForm.method.calTotalImport() - stockListDetailForm.method.calTotalPicked()) | number}}</h3>
                    <h3 ng-if="stockListDetailForm.infoType=='O'" id="myModalLabel" class="modal-title">On Sea Quantity = Total Shipped - Total Imported = {{stockListDetailForm.method.calTotal_FobWarehouse_Shipped() | number}} - {{stockListDetailForm.method.calTotal_FobWarehouse_Imported() |number}} = {{(stockListDetailForm.method.calTotal_FobWarehouse_Shipped() - stockListDetailForm.method.calTotal_FobWarehouse_Imported()) | number}}</h3>
                    <h3 ng-if="stockListDetailForm.infoType=='T'" id="myModalLabel" class="modal-title">Tobe Shipped = Total Fob Reservation - Total Shipped = {{stockListDetailForm.method.calTotal_FobWarehouse_Reservation() | number}} - {{stockListDetailForm.method.calTotal_FobWarehouse_Shipped() |number}} = {{(stockListDetailForm.method.calTotal_FobWarehouse_Reservation() - stockListDetailForm.method.calTotal_FobWarehouse_Shipped()) | number}}</h3>
                    <h3 ng-if="stockListDetailForm.infoType=='R'" id="myModalLabel" class="modal-title">Reservation = Total Reservation - Total Picked = {{stockListDetailForm.method.calTotal_Reservation() | number}} - {{stockListDetailForm.method.calTotalPicked() |number}} = {{(stockListDetailForm.method.calTotal_Reservation() - stockListDetailForm.method.calTotalPicked()) | number}}</h3>
                    <h3 ng-if="stockListDetailForm.infoType=='F'" id="myModalLabel" class="modal-title">Free To Sale = Total Imported - Total Reservation = {{stockListDetailForm.method.calTotalImport() | number}} - {{stockListDetailForm.method.calTotal_Reservation() |number}} = {{(stockListDetailForm.method.calTotalImport() - stockListDetailForm.method.calTotal_Reservation()) | number}}</h3>
                </div>
                <div class="modal-body smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-lg-12">
                                <span class="form-control">{{stockListDetailForm.product.articleCode}} - {{stockListDetailForm.product.description}}</span>
                            </section>
                        </div>

                        <div class="row" ng-if="stockListDetailForm.infoType=='P'">
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px; text-align:center;vertical-align:middle">Receipt No</th>
                                            <th style="text-align:center;vertical-align:middle">Import Type</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Import Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2" style="text-align:right">Total Imported</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotalImport() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.warehouseImportDetails">
                                            <td>{{item.receiptNo}}</td>
                                            <td>{{item.importTypeNM}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.importQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px; text-align:center;vertical-align:middle">Picked No</th>
                                            <th style="text-align:center;vertical-align:middle">Client</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">PI No</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Picked Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:right">Total Picked</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotalPicked() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.warehousePickingListDetails">
                                            <td>{{item.receiptNo}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.proformaInvoiceNo}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.pickedQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        
                        <div class="row" ng-if="stockListDetailForm.infoType=='O'">
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;vertical-align:middle">Container No</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Client</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">PI No</th>
                                            <th style="width: 50px; text-align: center; vertical-align: middle">Shipped Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:right">Total shipped</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotal_FobWarehouse_Shipped() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.loadingPlanDetails">
                                            <td>{{item.containerNo}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td>{{item.proformaInvoiceNo}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.fobWarehouse_ShippedQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>

                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px; text-align:center;vertical-align:middle">Receipt No</th>
                                            <th style="text-align:center;vertical-align:middle">Import Type</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Import Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2" style="text-align:right">Total Imported</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotal_FobWarehouse_Imported() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.warehouseImportDetails | filter : {importTypeNM : 'RESERVATION'}">
                                            <td>{{item.receiptNo}}</td>
                                            <td>{{item.importTypeNM}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.fobWarehouse_ImportedQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    
                        <div class="row" ng-if="stockListDetailForm.infoType=='T'">
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px; text-align:center;vertical-align:middle">PI No</th>
                                            <th style="text-align:center;vertical-align:middle">Order Type</th>
                                            <th style="text-align:center;vertical-align:middle">Client</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Fob Reserved Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:right">Total Fob Reservation</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotal_FobWarehouse_Reservation() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.saleOrderDetails | filter : {orderType : 'FOB_WAREHOUSE'}">
                                            <td>{{item.proformaInvoiceNo}}</td>
                                            <td>{{item.orderType}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.fobWarehouse_ReservationQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                            
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;vertical-align:middle">Container No</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Client</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">PI No</th>
                                            <th style="width: 50px; text-align: center; vertical-align: middle">Shipped Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:right">Total shipped</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotal_FobWarehouse_Shipped() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.loadingPlanDetails">
                                            <td>{{item.containerNo}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td>{{item.proformaInvoiceNo}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.fobWarehouse_ShippedQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    
                        <div class="row" ng-if="stockListDetailForm.infoType=='R'">
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px; text-align:center;vertical-align:middle">PI No</th>
                                            <th style="width:90px; text-align:center;vertical-align:middle">Order Type</th>
                                            <th style="width: 60px; text-align:center;vertical-align:middle">Client</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Reservation Qnt</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Remain Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:right">Total Reservation</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotal_Reservation() | number}}</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotal_ReservationRemain() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.saleOrderDetails">
                                            <td>{{item.proformaInvoiceNo}}</td>
                                            <td>{{item.orderType}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.reservationQnt}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.remainReservationQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>

                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px; text-align:center;vertical-align:middle">Picked No</th>
                                            <th style="text-align:center;vertical-align:middle">Client</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">PI No</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Picked Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:right">Total Picked</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotalPicked() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.warehousePickingListDetails">
                                            <td>{{item.receiptNo}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.proformaInvoiceNo}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.pickedQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>

                        <div class="row" ng-if="stockListDetailForm.infoType=='F'">
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px; text-align:center;vertical-align:middle">Receipt No</th>
                                            <th style="text-align:center;vertical-align:middle">Import Type</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Import Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2" style="text-align:right">Total Import</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotalImport() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.warehouseImportDetails">
                                            <td>{{item.receiptNo}}</td>
                                            <td>{{item.importTypeNM}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.importQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                            <section class="col col-6">
                                <table class="table table-bordered table-hover custom-table dataTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px; text-align:center;vertical-align:middle">PI No</th>
                                            <th style="text-align:center;vertical-align:middle">Order Type</th>
                                            <th style="text-align:center;vertical-align:middle">Client</th>
                                            <th style="width: 60px; text-align: center; vertical-align: middle">Reservation Qnt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="text-align:right">Total Reservation</td>
                                            <td style="text-align:center">{{stockListDetailForm.method.calTotal_Reservation() | number}}</td>
                                        </tr>
                                        <tr ng-repeat="item in stockListDetailForm.stockListDetailData.saleOrderDetails">
                                            <td>{{item.proformaInvoiceNo}}</td>
                                            <td>{{item.orderType}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td style="text-align:center;vertical-align:middle">{{item.reservationQnt}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>


                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>

@section FormAction {
<ul id="sparks">
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Refresh" ng-click="event.reload()"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="sparks-info">
        <a href="javascript:void(0);" class="btn btn-default" title="Show selected print" ng-click="exportExcelForm.event.load($event)" style="color: #31B404"><i class="fa fa-file-excel-o"></i></a>
    </li>
</ul>
}
@section pagepopup2{
<div id="selectedItemPrintForm" class="row" style="display:none">
    <br />
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>List product need print</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="table-responsive">
                                <div id="grdSelectedPrinted" class="tilsoft-table-wrapper">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 1800px;">
                                            <div style="width: 60px;"></div>
                                            <div style="width: 210px;" class="sorting" data-colname="ArticleCode">ArticleCode</div>
                                            <div style="width: 90px;" class="sorting" data-colname="ProductStatusNM">Pro Status</div>
                                            <div style="width: 100px;" class="sorting" data-colname=""></div>
                                            <div style="width: 100px;" class="sorting" data-colname="">Cushion</div>
                                            <div style="width: 100px;" class="sorting" data-colname="">Material</div>
                                            <div style="width: 100px;" class="sorting" data-colname="materialNM">material</div>
                                            <div style="width: 100px;" class="sorting" data-colname="materialTypeNM">material Type</div>
                                            <div style="width: 100px;" class="sorting" data-colname="materialColorNM">material Color</div>
                                            <div style="width: 100px;" class="sorting" data-colname="CushionColorNM">cushion Color</div>
                                            <div style="width: 50px;" class="sorting" data-colname="OverallDimL">L</div>
                                            <div style="width: 50px;" class="sorting" data-colname="OverallDimW">W</div>
                                            <div style="width: 50px;" class="sorting" data-colname="OverallDimH">H</div>
                                            <div style="width: 70px;" class="sorting" data-colname="FTSQnt">FTS Qnt</div>
                                            <div style="width: 90px;" class="sorting" data-colname="SalePrice">Sale Price</div>
                                            <div style="width: 50px;" class="sorting" data-colname="Qnt20DC">20DC</div>
                                            <div style="width: 50px;" class="sorting" data-colname="Qnt40DC">40DC</div>
                                            <div style="width: 50px;" class="sorting" data-colname="Qnt40HC">40HC</div>
                                            <div class="sorting" data-colname="Description">Description</div>
                                        </div>
                                        <div class="tilsoft-table-body" style="width: 1800px;">
                                            <table>
                                                <tr ng-repeat="model in selectedItemPrintForm.selectedItem">
                                                    <td style="text-align: center; width: 60px;">
                                                        <a class="btn btn-primary btn-xs font-11" href="#" title="Remove" ng-click="selectedItemPrintForm.event.remove($event,$index)"><i></i>Del</a>
                                                    </td>
                                                    <td style="width: 210px;">{{model.articleCode}}</td>
                                                    <td style="width: 90px;">{{model.productStatusNM}}</td>
                                                    <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                        <a href="{{item.imageFile}}" data-featherlight="image">
                                                            <img style="width: 95%;" ng-src="{{model.imageFile}}" />
                                                        </a>
                                                    </td>
                                                    <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                        <a href="{{item.cushionImage}}" data-featherlight="image">
                                                            <img style="width: 95%;" ng-src="{{model.cushionImage}}" />
                                                        </a>
                                                    </td>
                                                    <td style="width: 100px; text-align: center; vertical-align: middle;">
                                                        <a href="{{item.materialImage}}" data-featherlight="image">
                                                            <img style="width: 95%;" ng-src="{{model.materialImage}}" />
                                                        </a>
                                                    </td>
                                                    <td style="width: 100px;">{{model.materialNM}}</td>
                                                    <td style="width: 100px;">{{model.materialTypeNM}}</td>
                                                    <td style="width: 100px;">{{model.materialColorNM}}</td>
                                                    <td style="width: 100px;">{{model.cushionColor}}</td>
                                                    <td style="width: 50px;">{{model.overallDimL}}</td>
                                                    <td style="width: 50px;">{{model.overallDimW}}</td>
                                                    <td style="width: 50px;">{{model.overallDimH}}</td>
                                                    <td style="width: 70px;">{{model.ftsQnt}}</td>
                                                    <td style="width: 90px; text-align:right">{{model.salePrice}}</td>
                                                    <td style="width: 50px;">{{model.qnt20DC}}</td>
                                                    <td style="width: 50px;">{{model.qnt40DC}}</td>
                                                    <td style="width: 50px;">{{model.qnt40HC}}</td>
                                                    <td>{{model.description}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="selectedItemPrintForm.event.print($event)">
                                Print
                            </button>
                            <button class="btn btn-default" type="button" ng-click="selectedItemPrintForm.event.cancel($event)">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
}

@section pagejs {
<script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
<script type="text/javascript">
    jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/reportstocklist/';
    jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
    jsonService.searchFilter.pageSize = 100; // set this value to make sure search all stock list
    var context = {
        reportUrl : '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
    }
</script>
<script src="~/Angular/app/reportStockList/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="~/Angular/app/reportStockList/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
