@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var errorNoItems = "No Items have updated, please input data";

    ViewBag.Title = "Norm Of Production";
    ViewBag.Module = "Norm Of Production";
    ViewBag.Icon = "fa-database";
}

<form name="mainForm">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                <header>
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>Norm Of Production</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    @*<section class="col col-sm-2">
                                        <label>
                                            <label>Work Center</label>
                                            <em class="note note-error" ng-show="mainForm.workOrderUD.$error.required"> (Required)</em>
                                        </label>
                                        <label class="input">
                                            <select style="height: 30px;" avs-select ng-data-source="filters.workCenterID" name="workOrderUD" required>
                                                <option value=""></option>
                                                <option value="{{item.workCenterID}}" ng-repeat="item in support.supportWorkCenterDTOs" >{{item.workCenterNM}}</option>
                                            </select>
                                        </label>

                                    </section>*@
                                    <section class="col col-sm-2">
                                        <label>
                                            Work Center
                                            <em class="note note-error" ng-show="mainForm.workOrderUD.$error.required"> (Required)</em>
                                        </label>
                                        <label class="input" >
                                            <select class="form-control" style="font-size: 12px; height: 30px" ng-model="filters.workCenterID" ng-options="supportWorkCenterDTO.workCenterID as supportWorkCenterDTO.workCenterNM for supportWorkCenterDTO in support.supportWorkCenterDTOs" name="workOrderUD" required>
                                                <option value=""></option>
                                            </select>
                                        </label>                                       
                                    </section>
                                    <section class="col col-sm-2">
                                        <label>WO Status</label>
                                        <label class="input">
                                            <select style="height: 30px;" avs-select ng-data-source="filters.workOrderStatusID">
                                                <option value=""></option>
                                                <option value="{{item.workOrderStatusID}}" ng-repeat="item in support.supportWorkOrderStatusDTOs">{{item.workOrderStatusNM}}</option>
                                            </select>
                                        </label>
                                    </section>
                                    <section class="col col-sm-2">
                                        <label>WO Number</label>
                                        <label class="input">
                                            <input type="text" class="form-control" ng-model="filters.woNumber" />
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-2">
                                        <label>WO Start From</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="filters.woStartFrom">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </section>
                                    <section class="col col-2">
                                        <label>WO Start To</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="filters.woStartTo">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </section>
                                    <section class="col col-2">
                                        <label>Client Code</label>
                                        <label class="input">
                                            <input type="text" class="form-control" ng-model="filters.clientCode" />
                                        </label>
                                    </section>
                                    @*<section class="col col-1">
                                            <label class="label">&nbsp;</label>
                                            <label class="input">
                                                <a href="javascript:void(0)" class="btn btn-default" ng-click="event.search()" style="padding: 4px;"><i class="fa fa-search"></i> Search</a>
                                            </label>
                                        </section>*@
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br />
                    <div class="avs-table-wrapper" avs-table grid-handler="nullHandler">
                        <div class="avs-table-header">
                            <div class="avs-table-header-container">
                                <table>
                                    <tr class="header-row" style="height: 75px;">
                                        <td style="width: 65px;">TOTAL<br /><b style="color: #0026ff">{{totalRows | number : 0}}</b></td>
                                        <td style="width: 80px;">WORK<br />ORDER</td>
                                        <td style="width: 100px;">STATUS</td>
                                        <td style="width: 100px;">CLIENT</td>
                                        <td style="width: 250px;">PRODUCT</td>
                                        <td style="width: 70px;">QUANTITY</td>
                                        <td style="width: 120px;">Component Code</td>
                                        <td style="width: 70px;">Plan</td>
                                        <td style="width: 70px;">Finished</td>
                                        <td style="width: 120px;">Material Code</td>
                                        <td style="width: 250px;">Material Name</td>
                                        <td style="width: 70px;">NORM</td>
                                        <td style="width: 70px;">% Wastage</td>
                                        <td style="width: 70px;">Total NORM</td>
                                        <td style="width: 70px;">Delivery QNT</td>
                                        <td style="width: 70px;">% Delta</td>
                                        <td style="width: 70px;">Unit</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="avs-table-body">
                            @*<table>
                                <tbody ng-repeat="item in data.data">
                                    <tr style="background: #fbd8d5">
                                        <td style="text-align: center;">{{$index + 1}}</td>
                                        <td style="text-align: center;">{{item.workOrderUD}}</td>
                                        <td style="text-align: center;">{{item.workOrderStatusNM}}</td>
                                        <td style="text-align: center;">{{item.clientUD}}</td>
                                        <td style="text-align: center;">{{item.articleCode}}</td>
                                        <td style="text-align: center;">{{item.quantity}}</td>
                                    </tr>
                                    <tr ng-repeat="itemBOM in item.bomdtOs">
                                        <td colspan="6"></td>
                                        <td style="width: 120px;">{{itemBOM.productionItemUD}}</td>
                                        <td style="width: 70px;">{{itemBOM.totalQnt}}</td>
                                        <td style="width: 70px;">{{itemBOM.totalReceivedQnt}}</td>
                                    </tr>
                                </tbody>
                            </table>*@
                            <table>
                                <tr ng-repeat="item in data">
                                    <td style="text-align: center;background: #fbd8d5">{{$index + 1}}</td>
                                    <td style="text-align: center;background: #fbd8d5">{{item.workOrderUD}}</td>
                                    <td style="text-align: center;background: #fbd8d5">{{item.workOrderStatusNM}}</td>
                                    <td style="text-align: center;background: #fbd8d5">{{item.clientUD}}</td>
                                    <td style="text-align: center;background: #fbd8d5">{{item.articleCode}}</td>
                                    <td style="text-align: right;background: #fbd8d5">{{item.quantity}}</td>    
                                    <td colspan="11" style="padding: 0px">
                                        <table border="0">
                                            <tr ng-repeat="itemBOM in item.bomdtOs">
                                                <td style="width: 120px;background: #ecffff">{{itemBOM.productionItemUD}}</td>
                                                <td style="text-align: right;width: 70px;background: #ecffff">{{itemBOM.planning}}</td>
                                                <td style="text-align: right;width: 70px;background: #ecffff">{{itemBOM.finished}}</td>
                                                <td colspan="8" style="padding: 0px">
                                                    <table border="0">
                                                        <tr ng-repeat="itemBOMDetail in itemBOM.bomDetailDTOs">
                                                            <td style="width: 120px;">{{itemBOMDetail.productionItemUD}}</td>
                                                            <td style="width: 250px;">{{itemBOMDetail.productionItemNM}}</td>
                                                            <td style="text-align: right;width: 70px;">{{itemBOMDetail.norm}}</td>
                                                            <td style="text-align: right;width: 70px;">{{itemBOMDetail.wastagePercent}}</td>
                                                            <td style="text-align: right;width: 70px;">{{itemBOMDetail.totalNorm}}</td>
                                                            <td style="text-align: right;width: 70px;">{{itemBOMDetail.quantity}}</td>
                                                            <td style="text-align: right;width: 70px;">{{itemBOMDetail.delta}}</td>
                                                            <td style="width: 70px;">{{itemBOMDetail.unitNM}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</form>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.search()">
                <i class="fa fa-search"></i>
            </a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/normofproduction/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID',
            message: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
            messageNoItems: '@errorNoItems'
        }
    </script>
    <script type="text/javascript" src="~/Views/NormOfProduction/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/NormOfProduction/service.js?v=@guid"></script>
}