<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.ReportDeliverySheduleMng.Properties.Settings.ReportDeliverySheduleMngConnectionString"
            connectionString="Data Source=BOYAN;Initial Catalog=TILSOFT;Persist Security Info=True;User ID=sa;Password=T^^^^66t"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>