@{
    ViewBag.Title = "Create new Factory P/I";
    ViewBag.Module = "Factory P/I";
}

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select item to create Factory P/I</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">
                            <section style="position: relative;padding: 0px;">
                                <label class="label">Season</label>
                                <label class="select">
                                    <select class="form-control search-filter" ng-model="filters.season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section style="position: relative;padding: 0px;">
                                <label class="label">Factory</label>
                                <label class="select">
                                    <select class="form-control search-filter" ng-model="filters.factoryId" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                        <option value=""></option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section>
                                <label class="label">Factory Order</label>
                                <label class="input">
                                    <i class="icon-append fa fa-search"></i>
                                    <input placeholder="Provide at least 3 chars to search for the factory order" id="factoryorder-autocomplete" type="text">
                                </label>
                                <div class="note">
                                    <strong>You selected</strong>:  <a style="font-size: 11px;" href="javascript:void(0)" data-toggle="modal" data-target="#bookingDetail">{{filters.factoryOrder.factoryOrderUD}}</a>
                                </div>
                            </section>                                                  
                        </fieldset>
                    </div>
                </div>
                <div class="widget-body no-padding" style="min-height: 0px;">
                    <div class="smart-form">
                        <fieldset style="padding: 0px;">&nbsp;</fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="event.goNext($event)">
                                OK <i class="fa fa-angle-double-right"></i>
                            </button>
                            <button class="btn btn-default" type="button" ng-click="event.goBack($event)">
                                <i class="fa fa-angle-double-left"></i> Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section pagejs {
    <script src="~/TemplateResource/js/plugin/jquery.autocomplete.min.js"></script>
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factorypi/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            backURL: '@Url.Action("Index", "FactoryProformaInvoice")',
            nextURL: '@Url.Action("Edit", "FactoryProformaInvoice")/0?'
        }
    </script>
    <script src="~/Angular/app/factoryProformaInvoice/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryProformaInvoice/init.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

