
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Search Client LP";
    ViewBag.Module = "Client LP";
}

<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body no-padding">

                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div style="width:1000px" class="tilsoft-table-header">
                                <div style="width:100px">Found(s)<br /><strong style="color:maroon">{{totalRows}} <font style="color:maroon; text-transform:none">row(s)</font></strong></div>
                                <div style="width:80px">Client Code</div>
                                <div style="width: 300px"> Client Name</div>
                                <div style="width:120px">LPMangaging Team</div>
                                <div class="sorting" style="width: 90px" data-colname="isAutoUpdateSimilarLP">Automatic</div>
                                <div style="width:200px">Update By</div>
                                <div>Update Date</div>

                            </div>
                            <div style="width:1000px" class="tilsoft-table-filter">
                                <div style="width:100px; text-align:center">
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Apply Filter" ng-click="event.refresh()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clear()"><i class="fa fa-ban"></i></a>
                                    </a>
                                </div>
                                <div style="width:80px">
                                    <input type="text" class="form-control search-filter" style="width:100%" ng-model="filters.clientUD" />
                                </div>
                                <div style="width:300px">
                                    <input type="text" class="form-control search-filter" style="width:100%; font-size:12px" ng-model="filters.clientNM" />
                                </div>
                                <div style="width:120px">
                                    <select class="form-control search-filter" ng-model="filters.lpManagingTeamID" ng-options="lpManagingTeam.lpManagingTeamID as lpManagingTeam.lpManagingTeamNM for lpManagingTeam in lpManagingTeams">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width: 90px">
                                    <label class="select">
                                        <select class="form-control search-filter" ng-model="filters.isAutoUpdateSimilarLP">
                                            <option value=""></option>
                                            <option value="true">YES</option>
                                            <option value="false">NO</option>
                                        </select>
                                    </label>
                                </div>
                                <div style="width:200px"></div>
                                <div></div>
                            </div>
                            <div style="width:1000px" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:99px; text-align:center">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ClientLPMng")/{{item.clientLPID}}" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i>View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ClientLPMng")/{{item.clientLPID}}" title="Edit" target="_blank"><i class="fa fa-pencil-square-o"></i>Edit</a>
                                                }

                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.remove(item, $index)"><i class="fa fa-times"></i>Del</a>
                                                }
                                            </td>
                                            <td style="width:80px; text-align:center;">{{item.clientUD}}</td>
                                            <td style="width:300px">{{item.clientNM}}</td>
                                            <td style="width:120px; text-align: center">{{item.lpManagingTeamNM}}</td>  
                                            <td style="text-align: center; width: 90px; vertical-align: middle"><label ng-class="item.isAutoUpdateSimilarLP == true ? 'fa fa-check' : 'label'"></label></td>
                                            <td style="width:200px">
                                                <a ng-show="(item.updatedBy != null && item.updaterName != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    <i class="fa fa-user"></i> {{item.updaterName}}
                                                </a>
                                            </td>
                                            <td>{{item.updatedDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
</form>
@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.refresh()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Clear" ng-click="event.clear()"><i class="fa fa-refresh"></i></a>
        </li>
    </ul>
}


@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/clientlpmng/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/ClientLPMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ClientLPMng/service.js?v=@guid"></script>
}


