@{
    ViewBag.Title = "Missing Shipping Instruction";
    ViewBag.Module = "Missing Shipping Instruction";
}
<div class="row" style="margin-top: 15px;">
    <!-- show report for management level -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div>
                <div class="widget-body no-padding">
                    <div class="padding-10">
                        <h2 style="margin-bottom: 0px;">LIST OF ORDER WITHOUT SHIPPING INSTRUCTION</h2>
                        <div class="tilsoft-table">
                            <div style="width: 100%; overflow-y: hidden; height: auto;" class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th style="font-weight: bold; width:80px;">P/I NUMBER</th>
                                            <th style="font-weight: bold; width:80px;">SEASON</th>
                                            <th style="font-weight: bold; width:60px;">CLIENT</th>
                                            <th style="font-weight: bold; width:100px;">DATE RECEIVED</th>
                                            <th style="font-weight: bold; width:100px;">LDS</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="item in data.missingShippingInfos">
                                            <td>{{item.proformaInvoiceNo}}</td>
                                            <td>{{item.season}}</td>
                                            <td>{{item.clientUD}}</td>
                                            <td>{{item.piReceivedDate}}</td>
                                            <td>{{item.lds}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Export to excel" ng-click="event.generateExcel()"><i class="fa fa-file-excel-o"></i> Export to excel</a>
        </li>
    </ul>
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/missingshippinginfo/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/missingShippingInfoRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/missingShippingInfoRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}