<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="SQLSourceConnection" connectionString="Data Source=42.117.2.96;Initial Catalog=OMSv4;Persist Security Info=True;User ID=furnindoOMS4;Password=skche@09#1" providerName="System.Data.SqlClient"/>
    <add name="LocalSQLDestinationConnection" connectionString="Data Source=.;Initial Catalog=Tilsoft;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <add name="SQLDestinationConnection" connectionString="Data Source=79.124.31.210;Initial Catalog=TILSOFT;Persist Security Info=True;User ID=sa;Password=ax12@c$tilsoft" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
