@{
    ViewBag.Title = "Management Info: Proforma";
    ViewBag.Module = "Management Info: Proforma";
    string Season = Library.OMSHelper.Helper.GetCurrentSeason();
}
<style>
    .tilsoft-table .tilsoft-table-body {
        height: auto !important;
        max-height: none
    }
</style>

<div class="row" style="margin-top: 15px;">
    <!-- show report for management level -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div>
                <div class="widget-body no-padding">
                    <div class="padding-10">
                        <p class="alert alert-info no-margin" style="border-bottom: none;">
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Exchange Rate</strong>: {{method.formatNumber(data.exchangeRate, 2)}}</span>
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Est. Container Value</strong>: $ {{method.formatCurrency(data.usdContainerValue)}} or &euro; {{method.formatCurrency(data.eurContainerValue)}}</span>
                        </p>
                        <h2 style="margin-bottom: 0px;">TOTAL CONTAINER OF PROFORMA INVOICE CONFIRMED BY MONTH</h2>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;">Season</th>
                                                    <th style="font-weight: bold;width:70px">Oct</th>
                                                    <th style="font-weight: bold;width:70px">Nov</th>
                                                    <th style="font-weight: bold;width:70px">Dec</th>
                                                    <th style="font-weight: bold;width:70px">Jan</th>
                                                    <th style="font-weight: bold;width:70px">Feb</th>
                                                    <th style="font-weight: bold;width:70px">Mar</th>
                                                    <th style="font-weight: bold;width:70px">Apr</th>
                                                    <th style="font-weight: bold;width:70px">May</th>
                                                    <th style="font-weight: bold;width:70px">Jun</th>
                                                    <th style="font-weight: bold;width:70px">Jul</th>
                                                    <th style="font-weight: bold;width:70px">Aug</th>
                                                    <th style="font-weight: bold;width:70px">Sep</th>
                                                    <th style="width:80px" class="text-danger">TOTAL</th>
                                                </tr>
                                                <tr ng-repeat="item in data.confirmedContainerPerMonths | orderBy : 'season' : 'reverse'">
                                                    <td style="text-align: left;">{{item.season}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.october)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.november)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.december)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.january)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.febuary)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.march)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.april)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.may)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.june)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.july)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.august)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.formatContainerNumber(item.september)}}</td>
                                                    <td style="text-align: right;">{{$parent.method.totalConfirmedContainer(item)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartConfirmedContainerBySeason"></div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartConfirmedContainerByMonth"></div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartAllProformaByMonth"></div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartCumulativeAllProforma"></div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartConfirmedProformaByMonth"></div>
                                </div> 
                            </div>

                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartCumulativeConfirmedProforma"></div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartEurofarInvoicedByMonth"></div>
                                </div> 
                            </div>

                            <div class="col col-lg-6">
                                <div style="border: solid 1px #ddd; margin-top: 15px;">
                                    <div id="chartCumulativeEurofarInvoiced"></div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/misaleproforma/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            season: '@Season'
        }
    </script>
    <script src="~/Angular/app/miSaleProformaRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/miSaleProformaRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}