<div class="col-sm-12" id="pnlSalesPerformance" ng-controller="accSalesPerformanceController" style="display: none; padding: 0px;">
    @Html.Partial("~/Views/Dashboard/Widget/SalePerformance.cshtml", new ViewDataDictionary() { { "season", Library.Helper.GetCurrentSeason() } })
</div>