<div class="col-sm-12" id="pnlSalesManagement" ng-controller="salesManagementController" style="display: none;">
    <div class="well rptContent" style="padding: 10px;">
        <h1 style="margin-top: 0px;">SALES MANAGEMENT</h1>

        <div>
            @Html.Partial("~/Views/MIMarginOverviewRpt/Index/SaleByAccManager.cshtml", new ViewDataDictionary() { { "season", Library.Helper.GetCurrentSeason() } })
        </div>
        <div>
            @Html.Partial("~/Views/MIMarginOverviewRpt/Index/SaleByAccManagerPreSeason.cshtml", new ViewDataDictionary() { { "season", Library.Helper.GetPreviousSeason(Library.Helper.GetCurrentSeason()) } })
        </div>
    </div>
</div>