<div class="col-sm-12" ng-controller="salesByCountryController">
    <div class="well rptContent" style="padding: 10px; display: none;">
        <h1 style="margin-top: 0px;">SALES BY COUNTRY</h1>
        <div id="pnlSalesByCountry">
            <div id="map-salesByCountry"></div>

            @*sales expected*@
            <h2 style="margin-bottom: 0px;">SUMMARY SALES BY COUNTRY (EXPECTATION - {{supportData.season}})</h2>
            <div class="tilsoft-table" id="1">
                <div style="width: 100%; overflow-y: hidden; height: auto; margin-top:0px; max-height: none;" class="tilsoft-table-body">
                    <table>
                        <tbody>
                            <tr>
                                <th style="font-weight: bold;width:35px">#<br />({{salesByCountry.data.expectedSummaries.length}})</th>
                                <th style="font-weight: bold;width:50px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'clientCountryUD'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        CODE
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'clientCountryUD' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'clientCountryUD' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;border-right:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'clientCountryNM'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        COUNTRY NAME
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'clientCountryNM' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'clientCountryNM' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px;border-top:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'totalCont'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        TOTAL CONTAI NER
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'totalCont' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'totalCont' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:100px;border-top:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'totalEURAmount'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        TOTAL AMOUNT (EUR)
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'totalEURAmount' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'totalEURAmount' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:70px;border-right:2px solid;border-top:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'percent'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        %
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'percent' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'percent' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:100px;">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'usdAmount'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        USD AMOUNT (CONVERTED TO EUR)
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'usdAmount' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'usdAmount' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'usdPercent'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        % USD
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'usdPercent' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'usdPercent' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:100px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'eurAmount'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        EUR AMOUNT
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'eurAmount' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'eurAmount' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'eurPercent'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        % EUR
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'eurPercent' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'eurPercent' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:50px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_Expected = 'totalClient'; salesByCountry.supportData.sortReverse_Expected = !salesByCountry.supportData.sortReverse_Expected">
                                        NUMBER OF CLIENT
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'totalClient' && salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_Expected == 'totalClient' && !salesByCountry.supportData.sortReverse_Expected" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="3" style="font-weight: bold;text-align: left;border-right:2px solid">TOTAL({{salesByCountry.data.expectedSummaries.length}}) countries</td>
                                <td style="font-weight: bold;text-align: right;">{{salesByCountry.method.getSummarySaleTotalContainer(salesByCountry.data.expectedSummaries) | currency:'':1}}</td>
                                <td style="font-weight: bold;text-align: right;">&euro;{{salesByCountry.method.getSummarySaleTotalAmount(salesByCountry.data.expectedSummaries) | currency:'':0}}</td>
                                <td style="font-weight: bold;text-align: right;border-right:2px solid">100%</td>
                                <td style="font-weight: bold;text-align: right;">&euro;{{salesByCountry.method.getSummarySaleTotalUSDAmount(salesByCountry.data.expectedSummaries) | currency:'':0}}</td>
                                <td style="font-weight: bold;text-align: right;">{{salesByCountry.method.getSummarySaleTotalUSDAmount(salesByCountry.data.expectedSummaries) / salesByCountry.method.getSummarySaleTotalAmount(salesByCountry.data.expectedSummaries)*100 | number:1}}%</td>
                                <td style="font-weight: bold;text-align: right;">&euro;{{salesByCountry.method.getSummarySaleTotalEurAmount(salesByCountry.data.expectedSummaries) | currency:'':0}}</td>
                                <td style="font-weight: bold;text-align: right;">{{100 - salesByCountry.method.getSummarySaleTotalUSDAmount(salesByCountry.data.expectedSummaries)/ salesByCountry.method.getSummarySaleTotalAmount(salesByCountry.data.expectedSummaries) * 100 | number:1}}%</td>
                                <td style="font-weight: bold;text-align: right;">{{salesByCountry.method.getSummarySaleTotalClient(salesByCountry.data.expectedSummaries) | currency:'':0}}</td>
                            </tr>
                            <tr ng-repeat="item in salesByCountry.data.expectedSummaries | orderBy:salesByCountry.supportData.sortType_Expected:salesByCountry.supportData.sortReverse_Expected">
                                <td style="text-align: right">{{$index+1}}</td>
                                <td style="text-align: center">{{item.clientCountryUD}}</td>
                                <td style="border-right:2px solid">{{item.clientCountryNM}}</td>
                                <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                <td style="text-align: right;">&euro;{{item.totalEURAmount | currency:'':0}}</td>
                                <td style="text-align: right;border-right:2px solid;">{{item.percent | number : 2}}%</td>
                                <td style="text-align: right;">&euro;{{item.usdAmount | currency:'':0}}</td>
                                <td style="text-align: right;">{{item.usdPercent | number : 1}}%</td>
                                <td style="text-align: right;">&euro;{{item.eurAmount | currency:'':0}}</td>
                                <td style="text-align: right;">{{item.eurPercent | number : 1}}%</td>
                                <td style="text-align: right;">{{item.totalClient | currency:'':0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            @*sales proforma invoice*@
            <h2 style="margin-bottom: 0px;">SUMMARY SALES BY COUNTRY (PROFORMA INVOICE - {{supportData.season}})</h2>
            <div class="tilsoft-table" id="2">
                <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px; max-height: none;" class="tilsoft-table-body">
                    <table>
                        <tbody>
                            <tr>
                                <th style="font-weight: bold;width:35px">#<br />({{salesByCountry.data.summaries.length}})</th>
                                <th style="font-weight: bold;width:50px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'clientCountryUD'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        CODE
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'clientCountryUD' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'clientCountryUD' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;border-right:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'clientCountryNM'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        COUNTRY NAME
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'clientCountryNM' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'clientCountryNM' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px;border-top:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'totalCont'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        TOTAL CONTAI NER
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'totalCont' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'totalCont' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:100px;border-top:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'totalEURAmount'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        TOTAL AMOUNT (EUR)
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'totalEURAmount' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'totalEURAmount' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:70px;border-right:2px solid;border-top:2px solid">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'percent'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        %
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'percent' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'percent' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:100px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'usdAmount'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        USD AMOUNT (CONVERTED TO EUR)
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'usdAmount' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'usdAmount' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'usdPercent'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        % USD
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'usdPercent' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'usdPercent' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:100px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'eurAmount'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        EUR AMOUNT
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'eurAmount' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'eurAmount' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'eurPercent'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        % EUR
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'eurPercent' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'eurPercent' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:50px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.supportData.sortType_ProformaInvoice = 'totalClient'; salesByCountry.supportData.sortReverse_ProformaInvoice = !salesByCountry.supportData.sortReverse_ProformaInvoice">
                                        NUMBER OF CLIENT
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'totalClient' && salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortType_ProformaInvoice == 'totalClient' && !salesByCountry.supportData.sortReverse_ProformaInvoice" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="3" style="font-weight: bold;text-align: left;border-right:2px solid">TOTAL({{salesByCountry.data.summaries.length}}) countries</td>
                                <td style="font-weight: bold;text-align: right;">{{salesByCountry.method.getSummarySaleTotalContainer(salesByCountry.data.summaries) | currency:'':1}}</td>
                                <td style="font-weight: bold;text-align: right;">&euro;{{salesByCountry.method.getSummarySaleTotalAmount(salesByCountry.data.summaries) | currency:'':0}}</td>
                                <td style="font-weight: bold;text-align: right;border-right:2px solid">100%</td>
                                <td style="font-weight: bold;text-align: right;">&euro;{{salesByCountry.method.getSummarySaleTotalUSDAmount(salesByCountry.data.summaries) | currency:'':0}}</td>
                                <td style="font-weight: bold;text-align: right;">{{salesByCountry.method.getSummarySaleTotalUSDAmount(salesByCountry.data.summaries) / salesByCountry.method.getSummarySaleTotalAmount(salesByCountry.data.summaries)*100 | number:1}}%</td>
                                <td style="font-weight: bold;text-align: right;">&euro;{{salesByCountry.method.getSummarySaleTotalEurAmount(salesByCountry.data.summaries) | currency:'':0}}</td>
                                <td style="font-weight: bold;text-align: right;">{{100 - salesByCountry.method.getSummarySaleTotalUSDAmount(salesByCountry.data.summaries)/ salesByCountry.method.getSummarySaleTotalAmount(salesByCountry.data.summaries) * 100 | number:1}}%</td>
                                <td style="font-weight: bold;text-align: right;">{{salesByCountry.method.getSummarySaleTotalClient(salesByCountry.data.summaries) | currency:'':0}}</td>
                            </tr>
                            <tr ng-repeat="item in salesByCountry.data.summaries | orderBy:salesByCountry.supportData.sortType_ProformaInvoice:salesByCountry.supportData.sortReverse_ProformaInvoice">
                                <td style="text-align: right">{{$index+1}}</td>
                                <td style="text-align: center">{{item.clientCountryUD}}</td>
                                <td style="border-right:2px solid">{{item.clientCountryNM}}</td>
                                <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                <td style="text-align: right;">&euro;{{item.totalEURAmount | currency:'':0}}</td>
                                <td style="text-align: right;border-right:2px solid">{{item.percent | number : 2}}%</td>
                                <td style="text-align: right;">&euro;{{item.usdAmount | currency:'':0}}</td>
                                <td style="text-align: right;">{{item.usdPercent | number : 1}}%</td>
                                <td style="text-align: right;">&euro;{{item.eurAmount | currency:'':0}}</td>
                                <td style="text-align: right;">{{item.eurPercent | number : 1}}%</td>
                                <td style="text-align: right;">{{item.totalClient | currency:'':0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            @*commercial invoice*@
            <h2 style="margin-bottom: 0px;">SUMMARY SALES BY COUNTRY (COMMERCIAL INVOICE - {{supportData.season}}, {{supportData.preSeason}})</h2>
            <div class="tilsoft-table">
                <div class="tilsoft-table-body" style="height: auto;margin-top:0px; max-height: none;">
                    <table>
                        <tbody>
                            <tr>
                                <th colspan="3"></th>
                                <th colspan="4" class="mi-background-current-season" style="font-weight:bold;text-align:center">PROFORMA INVOICE (PF)<br />{{supportData.season}}</th>
                                <th colspan="4" class="mi-background-last-season" style="font-weight:bold;text-align:center">COMMERCIAL INVOICE (CI)<br /> {{supportData.preSeason}}</th>
                                <th colspan="2" class="mi-lccost-interest-last-season">Cost<br />{{supportData.preSeason}}</th>
                                <th colspan="3" class="mi-margin-last-season" style="font-weight:bold;text-align:center">&Delta; AFTER ALL<br /> {{supportData.preSeason}}</th>

                            </tr>
                            <tr>
                                <th style="font-weight: bold;width:35px">#<br />{{saleByCountryResult.length}}</th>
                                <th style="font-weight: bold;width:50px">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'clientCountryUD')">
                                        CODE
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'clientCountryUD'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'clientCountryNM')">
                                        COUNTRY NAME
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-clientCountryNM'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'clientCountryNM'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>

                                @*this season*@

                                <th style="font-weight: bold;width:60px;" class="mi-background-current-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'proformaInvoiceCont_ThisYear')">
                                        TOTAL CONT
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-proformaInvoiceCont_ThisYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'proformaInvoiceCont_ThisYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:120px;" class="mi-background-current-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'proformaInvoiceAmountEUR_ThisYear')">
                                        TOTAL AMOUNT (EUR)
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-proformaInvoiceAmountEUR_ThisYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'proformaInvoiceAmountEUR_ThisYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:70px;" class="mi-background-current-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'percentProformaInvoice_ThisYear')">
                                        %
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-percentProformaInvoice_ThisYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'percentProformaInvoice_ThisYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px;" class="mi-background-current-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'proformaInvoiceTotalClient_ThisYear')">
                                        NUM BER OF CLI ENT
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-proformaInvoiceTotalClient_ThisYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'proformaInvoiceTotalClient_ThisYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>

                                @*last season*@

                                <th style="font-weight: bold;width:60px;" class="mi-background-last-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'totalCont_LastYear')">
                                        TOTAL CONT
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-totalCont_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'totalCont_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:120px;" class="mi-background-last-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'totalEURAmount_LastYear')">
                                        TOTAL AMOUNT (EUR)
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-totalEURAmount_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'totalEURAmount_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:70px;" class="mi-background-last-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'percent_LastYear')">
                                        %
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-percent_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'percent_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:60px;" class="mi-background-last-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'totalClient_LastYear')">
                                        NUM BER OF CLI ENT
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-totalClient_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'totalClient_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>

                                <th style="font-weight: bold;width:60px" class="mi-lccost-interest-last-season" title="LC Cost">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'lcCostAmountEUR_LastYear')">
                                        LC Cost
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-lcCostAmountEUR_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'lcCostAmountEUR_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th style="font-weight: bold;width:70px" class="mi-lccost-interest-last-season" title="Interest Cost">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'interestAmountEUR_LastYear')">
                                        Interest
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-interestAmountEUR_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'interestAmountEUR_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>


                                <th style="font-weight: bold;width:120px;" class="mi-margin-last-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'totalMarginAmountEUR_LastYear')">
                                        &Delta;
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-totalMarginAmountEUR_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'totalMarginAmountEUR_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>

                                <th style="font-weight: bold;width:70px;" class="mi-margin-last-season">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'percentMargin_LastYear')">
                                        % OF 100%
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-percentMargin_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'percentMargin_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>

                                <th style="font-weight: bold;width:70px;" class="mi-margin-last-season" title="% between margin and commercial invoice">
                                    <a href="javascript:void(0)" ng-click="salesByCountry.method.sortData('SaleByCountry', 'percentMarginCompareToCommercialInvoice_LastYear')">
                                        % &Delta;
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === '-percentMarginCompareToCommercialInvoice_LastYear'" class="fa fa-caret-down"></span>
                                        <span ng-show="salesByCountry.supportData.sortValue.SaleByCountry === 'percentMarginCompareToCommercialInvoice_LastYear'" class="fa fa-caret-up"></span>
                                    </a>
                                </th>


                            </tr>

                            <tr>
                                <th></th>
                                <th>A</th>
                                <th>B</th>

                                <th class="mi-background-current-season">C</th>
                                <th class="mi-background-current-season">D</th>
                                <th class="mi-background-current-season">E</th>
                                <th class="mi-background-current-season">F</th>

                                <th class="mi-background-last-season">G</th>
                                <th class="mi-background-last-season" style="text-align:center">H</th>
                                <th class="mi-background-last-season">I</th>
                                <th class="mi-background-last-season">J</th>

                                <th class="mi-lccost-interest-last-season" style="text-align:center">K</th>
                                <th class="mi-lccost-interest-last-season" style="text-align:center">L</th>

                                <th class="mi-margin-last-season" style="text-align:center">M</th>
                                <th class="mi-margin-last-season" style="text-align:center">N</th>
                                <th class="mi-margin-last-season" style="text-align:center">O</th>
                            </tr>

                            <tr>
                                <td colspan="3" style="font-weight: bold;text-align: left;">TOTAL({{salesByCountry.data.commercialInvoiceSummaries.length}}) countries</td>

                                <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">{{saleByCountryResult | sumFunction:'proformaInvoiceCont_ThisYear' | number : 1}}</td>
                                <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">{{saleByCountryResult | sumFunction:'proformaInvoiceAmountEUR_ThisYear' | currency :'&euro;' : 0}}</td>
                                <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">100%</td>
                                <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">{{saleByCountryResult | sumFunction:'proformaInvoiceTotalClient_ThisYear' | number : 0}}</td>

                                <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">{{saleByCountryResult | sumFunction:'totalCont_LastYear' | number : 1}}</td>
                                <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">{{saleByCountryResult | sumFunction:'totalEURAmount_LastYear' | currency :'&euro;' : 0}}</td>
                                <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">100%</td>
                                <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">{{saleByCountryResult | sumFunction:'totalClient_LastYear' | currency :'&euro;' : 0}}</td>

                                <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-season">
                                    {{saleByCountryResult | sumFunction:'lcCostAmountEUR_LastYear' | currency :'&euro;' : 0}}
                                </td>
                                <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-seasonn">
                                    {{saleByCountryResult | sumFunction:'interestAmountEUR_LastYear' | currency :'&euro;' : 0}}
                                </td>

                                <td style="font-weight: bold;text-align: right;" class="mi-margin-last-season">
                                    {{saleByCountryResult | sumFunction:'totalMarginAmountEUR_LastYear' | currency :'&euro;' : 0}}
                                </td>
                                <td style="font-weight: bold;text-align: right;" class="mi-margin-last-season">100%</td>
                                <td style="font-weight: bold;text-align: right;" class="mi-margin-last-season">
                                    {{(saleByCountryResult | sumFunction:'totalMarginAmountEUR_LastYear') / (saleByCountryResult | sumFunction:'totalEURAmount_LastYear') * 100 | number : 0}}%
                                </td>
                            </tr>
                            <tr ng-repeat="item in saleByCountryResult = (salesByCountry.data.commercialInvoiceSummaries | filter : {clientCountryUD : ''} | orderBy : salesByCountry.supportData.sortValue.SaleByCountry)">
                                <td style="text-align: right">{{$index+1}}</td>
                                <td style="text-align: center">{{item.clientCountryUD}}</td>
                                <td style="">{{item.clientCountryNM}}</td>

                                <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceCont_ThisYear | number:1}}</td>
                                <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceAmountEUR_ThisYear | currency:'&euro;':0}}</td>
                                <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceAmountEUR_ThisYear / (saleByCountryResult | sumFunction :'proformaInvoiceAmountEUR_ThisYear') * 100 | number : 1}}%</td>
                                <td style="text-align: right;" class="mi-background-current-season">{{item.proformaInvoiceTotalClient_ThisYear | number:0}}</td>

                                <td style="text-align: right;" class="mi-background-last-season">{{item.totalCont_LastYear | number:1}}</td>
                                <td style="text-align: right;" class="mi-background-last-season">{{item.totalEURAmount_LastYear | currency:'&euro;':0}}</td>
                                <td style="text-align: right;" class="mi-background-last-season">{{item.totalEURAmount_LastYear / (saleByCountryResult | sumFunction :'totalEURAmount_LastYear') * 100 | number : 1}}%</td>
                                <td style="text-align: right;" class="mi-background-last-season">{{item.totalClient_LastYear | number:0}}</td>

                                <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.lcCostAmountEUR_LastYear | currency:'&euro;':0}}</td>
                                <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.interestAmountEUR_LastYear | currency:'&euro;':0}}</td>

                                <td style="text-align: right;" class="mi-margin-last-season">{{item.totalMarginAmountEUR_LastYear | currency:'&euro;':0}}</td>
                                <td style="text-align: right;" class="mi-margin-last-season">{{item.totalMarginAmountEUR_LastYear / (saleByCountryResult | sumFunction:'totalMarginAmountEUR_LastYear') * 100 | number : 1}}%</td>
                                <td style="text-align: right;" class="mi-margin-last-season">{{item.percentMargin_LastYear | number : 1}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="smart-form" id="pnlSalesByCountry-loading">
            <fieldset>
                <section>
                    <i class="fa fa-spin fa-refresh"></i> LOADING ...
                </section>
            </fieldset>
        </div>
    </div>
</div>