@{
    ViewBag.Title = "Export Warehouse Overview";
    ViewBag.Module = "Warehouse Overview";

    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var backendReportUrl = System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];
    var supportServiceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
}

<form name="indexForm" class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                <h2>Filters</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-sm-2">
                                    <label class="label">
                                        From Date <em class="note note-error" ng-show="(filters.startDate == null || filters.startDate == '')">(Required)</em>
                                    </label>
                                    <label class="input-group">
                                        <input id="startDate" type="text" class="form-control" avs-calendar ng-data-source="filters.startDate" required />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </label>
                                </section>
                                <section class="col col-sm-2">
                                    <label class="label">
                                        To Date <em class="note note-error" ng-show="(filters.endDate == null || filters.endDate == '')">(Required)</em>
                                    </label>
                                    <label class="input-group">
                                        <input id="endDate" type="text" class="form-control" avs-calendar ng-data-source="filters.endDate" required />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary btn-xs" style="width: auto;" type="button" ng-click="event.exportWarehouseOverviewRpt(filters.startDate, filters.endDate)">
                                <i class="fa fa-file-excel-o"></i> Export Warehouse Overview
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction{
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/warehouseOverviewRpt/',
            token: '@token',
            pageSize: '@pageSize',
            backendReportUrl: '@backendReportUrl',
            errMsg: '@Frontend.Properties.Resources.INPUT_VALIDATION_FAILED',
        };
    </script>
    <script type="text/javascript" src="~/Angular/app/warehouseOverviewRpt/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/warehouseOverviewRpt/service.js?v=@guid"></script>
}
