@{
    ViewBag.Title = "Sale per country";
    ViewBag.Module = "Sale per country";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <fieldset>
                        <div class="form-group">
                            <label>Season</label>
                            <select class="form-control" ng-model="model.season" ng-options="item.seasonValue as item.seasonText for item in supportModel.seasons"></select>
                        </div>

                        <div class="form-group">
                            <label>Sale</label>
                            <select class="form-control" ng-model="model.saleID" ng-options="item.saleID as item.saleNM for item in supportModel.salers | orderBy : saleUD"></select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="event.ok($event)">OK</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
}

@section pagejs {
    <script src="~/Angular/app/reportSalePerCountry/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        reportSalePerCountryService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/report_salepercountry/';
        reportSalePerCountryService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var reportSalePerCountryApp = angular.module('tilsoftApp', []);
        reportSalePerCountryApp.controller('tilsoftController', ['$scope', function ($scope) {
            $scope.supportModel = null;
            $scope.model = {
                season: '@Frontend.Helper.Common.GetCurrentSeason()',
                saleID : 0
            };

            //
            // event defined
            //
            $scope.event = {
                ok: function ($event) {
                    $event.preventDefault();

                    season = $scope.model.season;
                    saleID = $scope.model.saleID;

                    reportSalePerCountryService.getReport(
                        season,
                        saleID,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if (data.message.type != 2) {
                                window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data + '.xlsm';
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            }

            //
            // private function defined
            //
            $scope.prepareForm = function () {
                
                reportSalePerCountryService.getFilterData(
                    function (data) {
                        $scope.supportModel = data.data;
                        $scope.$apply();

                        jQuery('#content').show();
                        
                    },
                    function (error) {
                        $scope.supportModel = null;
                        $scope.$apply();
                    }
                );
            }

            //
            // INIT
            //
            $scope.prepareForm();
        }]);
    </script>
}
