<div >
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th colspan="4" style="font-weight:bold"></th>
                        <th colspan="3" style="font-weight:bold;background-color:#92d678">EXPECTED (EXP)<br />@ViewBag.CurrentSeason</th>
                        <th colspan="3" style="font-weight:bold;background-color:#a5a4f1">COMMERCIAL INVOICE (CI)<br />@ViewBag.PreSeason</th>
                        <th colspan="2" style="font-weight:bold" class="mi-lccost-interest-last-season">Cost<br />@ViewBag.PreSeason</th>
                        <th colspan="3" style="font-weight:bold" class="mi-margin-last-season">&Delta; AFTER ALL<br />@ViewBag.PreSeason</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="font-weight: bold; width: 35px;">#<br />{{ExpectedByClient.length}}</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.ExpectedByClient === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'clientCountryUD')">
                                COUN TRY
                                <span ng-show="sortValue.ExpectedByClient === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'saleUD')">
                                SALE ACC
                                <span ng-show="sortValue.ExpectedByClient === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Expected This Year*@
                        <th style="font-weight: bold; width: 60px;background-color:#92d678;">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'expectedContThisYear')">
                                TOTAL CONT
                                <span ng-show="sortValue.ExpectedByClient === '-expectedContThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'expectedContThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#92d678;">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'expectedAmountInEURThisYear')">
                                TOTAL AMOUNT
                                <span ng-show="sortValue.ExpectedByClient === '-expectedAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'expectedAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#92d678;">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'expectedAmountInEURThisYear')">
                                %
                                <span ng-show="sortValue.ExpectedByClient === '-expectedAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'expectedAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Commercial Invoice Last Year*@
                        <th style="font-weight: bold; width: 60px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'ciContLastYear')">
                                TOTAL CONT
                                <span ng-show="sortValue.ExpectedByClient === '-ciContLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'ciContLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'ciAmountInEURLastYear')">
                                TOTAL AMOUNT
                                <span ng-show="sortValue.ExpectedByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'ciAmountInEURLastYear')">
                                %
                                <span ng-show="sortValue.ExpectedByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*lc cost &interest*@
                        <th style="font-weight: bold;width:60px" class="mi-lccost-interest-last-season" title="LC Cost">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'lcCostAmountInEURLastYear')">
                                LC Cost
                                <span ng-show="sortValue.ExpectedByClient === '-lcCostAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'lcCostAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold;width:70px" class="mi-lccost-interest-last-season" title="Interest Cost">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'interestAmountInEURLastYear')">
                                Interest
                                <span ng-show="sortValue.ExpectedByClient === '-interestAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'interestAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>


                        @*Margin*@
                        <th style="font-weight: bold; width: 100px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'deltaAfterAllInEURLastYear')">
                                &Delta;
                                <span ng-show="sortValue.ExpectedByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'deltaAfterAllInEURLastYear')">
                                % OF 100%
                                <span ng-show="sortValue.ExpectedByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'deltaAfterAllPercentLastYear')">
                                % &Delta;
                                <span ng-show="sortValue.ExpectedByClient === '-deltaAfterAllPercentLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'deltaAfterAllPercentLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>



                        @*Compare between 2 season*@
                        <th style="font-weight: bold; width: 60px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('ExpectedByClient', 'deltaPercentWithLastYear')">
                                GROWTH
                                <span ng-show="sortValue.ExpectedByClient === '-deltaPercentWithLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.ExpectedByClient === 'deltaPercentWithLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>

                        <th class="mi-background-current-season">D</th>
                        <th class="mi-background-current-season">E</th>
                        <th class="mi-background-current-season">F</th>

                        <th class="mi-background-last-season">G</th>
                        <th class="mi-background-last-season">H</th>
                        <th class="mi-background-last-season">I</th>

                        <th class="mi-lccost-interest-last-season" style="text-align:center">J</th>
                        <th class="mi-lccost-interest-last-season" style="text-align:center">K</th>

                        <th class="mi-margin-last-season">L</th>
                        <th class="mi-margin-last-season">M</th>
                        <th class="mi-margin-last-season">N</th>

                        <th>O=<br />(E-H)/H</th>
                    </tr>
                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{expectedByClientResult.length}} clients)</td>


                        <td style="text-align:right; font-weight:bold;background-color:#92d678">{{expectedByClientResult | sumFunc:'expectedContThisYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#92d678">{{expectedByClientResult | sumFunc:'expectedAmountInEURThisYear' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;background-color:#92d678">100%</td>


                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">{{expectedByClientResult | sumFunc:'ciContLastYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">{{expectedByClientResult | sumFunc:'ciAmountInEURLastYear' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;background-color:#a5a4f1">100%</td>

                        <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-season">
                            {{expectedByClientResult | sumFunc:'lcCostAmountInEURLastYear' | currency:'&euro;':0}}
                        </td>
                        <td style="font-weight: bold;text-align: right;" class="mi-lccost-interest-last-seasonn">
                            {{expectedByClientResult | sumFunc:'interestAmountInEURLastYear' | currency:'&euro;':0}}
                        </td>


                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">{{expectedByClientResult | sumFunc:'deltaAfterAllInEURLastYear' | currency:'&euro;':0}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">{{(expectedByClientResult | sumFunc:'deltaAfterAllInEURLastYear') * 100 / (expectedByClientResult | sumFunc:'purchasingAmountInEURLastYear') | number:1}}%</td>

                        <td style="text-align:right; font-weight:bold">
                            <span ng-class="{increase: (ExpectedByClient | sumFunc:'expectedAmountInEURThisYear') > (ExpectedByClient | sumFunc:'purchasingAmountInEURLastYear'), decrease: (ExpectedByClient | sumFunc:'expectedAmountInEURThisYear') < (ExpectedByClient | sumFunc:'purchasingAmountInEURLastYear')}">
                                [{{((expectedByClientResult | sumFunc:'expectedAmountInEURThisYear') / (expectedByClientResult | sumFunc:'ciAmountInEURLastYear') - 1) * 100 | number : 0}}%]
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.ExpectedByClient.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.ExpectedByClient.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.ExpectedByClient.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="11"></td>
                    </tr>
                    <tr ng-repeat="item in expectedByClientResult = (ExpectedByClient | orderBy : sortValue.ExpectedByClient | filter : {clientNM : filter.ExpectedByClient.clientNM, clientCountryUD : filter.ExpectedByClient.clientCountryUD, saleUD : filter.ExpectedByClient.saleUD})">
                        <td style="text-align: right">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>


                        <td style="text-align: right;background-color:#92d678;">{{item.expectedContThisYear | number : 1}}</td>
                        <td style="text-align: right;background-color:#92d678;">{{item.expectedAmountInEURThisYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#92d678;">{{item.expectedAmountInEURThisYear * 100 / (ExpectedByClient | sumFunc:'expectedAmountInEURThisYear') | number : 1}}%</td>


                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciContLastYear | number : 1}}</td>
                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciAmountInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciAmountInEURLastYear * 100 / (ExpectedByClient | sumFunc:'ciAmountInEURLastYear') | number : 1}}%</td>

                        <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.lcCostAmountInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-lccost-interest-last-season">{{item.interestAmountInEURLastYear | currency:'&euro;':0}}</td>

                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllInEURLastYear * 100 / (ExpectedByClient | sumFunc:'deltaAfterAllInEURLastYear') | number:1}}%</td>
                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllPercentLastYear | number:1}}%</td>

                        <td style="text-align: right;">
                            <span ng-class="{increase: item.expectedAmountInEURThisYear > item.ciAmountInEURLastYear, decrease: item.expectedAmountInEURThisYear < item.ciAmountInEURLastYear}">
                                [{{item.deltaPercentWithLastYear | number : 0}}%]
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>