<div ng-controller="InvoiceByItemController">
    <div class="col-xs-6">
        <div class="tilsoft-table">
            <div class="tilsoft-table-body">
                <table>
                    <tbody>
                        <tr>
                            <th></th>
                            <th></th>
                            <th style="width: 60px;font-weight: bold;" class="mi-background-last-season" colspan="4">COMMERCIAL INVOICE (CI)<br />@ViewBag.PreSeason</th>
                            <th colspan="2" class="mi-lccost-interest-last-season">Cost<br />@ViewBag.PreSeason</th>
                            <th style="width: 90px;font-weight: bold;" class="mi-margin-last-season" colspan="3">&Delta; ALTER ALL<br />@ViewBag.PreSeason</th>
                        </tr>
                        <tr>
                            <th style="width: 30px; text-align: center;">#<br />{{InvoiceByItem.length}}</th>
                            <th style="">ITEM</th>

                            <th style="width: 60px;font-weight: bold;" class="mi-background-last-season">Total<br />Cont</th>
                            <th style="width: 60px;font-weight: bold;" class="mi-background-last-season">Total<br />Item</th>
                            <th style="width: 90px;font-weight: bold;" class="mi-background-last-season">Total<br />Amount</th>
                            <th style="width: 55px;font-weight: bold;" class="mi-background-last-season">%</th>

                            <th style="width:60px" class="mi-lccost-interest-last-season">LC Cost</th>
                            <th style="width:70px" class="mi-lccost-interest-last-season">Interest</th>

                            <th style="width: 90px;font-weight: bold;" class="mi-margin-last-season">&Delta;</th>
                            <th style="width: 60px;font-weight: bold;" class="mi-margin-last-season">% OF 100%</th>
                            <th style="width: 55px;font-weight: bold;" class="mi-margin-last-season">%&Delta;</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>A</th>

                            <th class="mi-background-last-season">B</th>
                            <th class="mi-background-last-season">C</th>
                            <th class="mi-background-last-season">D</th>
                            <th class="mi-background-last-season">E</th>

                            <th class="mi-lccost-interest-last-season">F</th>
                            <th class="mi-lccost-interest-last-season">G</th>

                            <th class="mi-margin-last-season">H</th>
                            <th class="mi-margin-last-season">I</th>
                            <th class="mi-margin-last-season">J</th>
                        </tr>
                        <tr style="background:#eff">
                            <td style="font-weight:bold"></td>
                            <td style="text-align:right;font-weight:bold">Total</td>

                            <td style="text-align:right;font-weight:bold" class="mi-background-last-season">{{commercialInvoiceByCategories | sumFunc : 'ciTotalCont' | number : 1}}</td>
                            <td style="text-align:right;font-weight:bold" class="mi-background-last-season">{{commercialInvoiceByCategories | sumFunc : 'ciTotalItem' | number : 1}}</td>
                            <td style="text-align:right;font-weight:bold" class="mi-background-last-season">{{commercialInvoiceByCategories | sumFunc : 'ciAmountInEUR' | currency:'&euro;':0}}</td>
                            <td style="text-align:right;font-weight:bold" class="mi-background-last-season">100%</td>

                            <td style="text-align:right;font-weight:bold" class="mi-lccost-interest-last-season">{{commercialInvoiceByCategories | sumFunc : 'lcCostAmountInEUR' | currency:'&euro;':0}}</td>
                            <td style="text-align:right;font-weight:bold" class="mi-lccost-interest-last-season">{{commercialInvoiceByCategories | sumFunc : 'interestAmountInEUR' | currency:'&euro;':0}}</td>

                            <td style="text-align:right;font-weight:bold" class="mi-margin-last-season">{{commercialInvoiceByCategories | sumFunc : 'deltaAfterAllInEUR' | currency:'&euro;':0}}</td>
                            <td style="text-align:right;font-weight:bold" class="mi-margin-last-season">100%</td>
                            <td style="text-align:right;font-weight:bold" class="mi-margin-last-season">{{(commercialInvoiceByCategories | sumFunc : 'deltaAfterAllInEUR') / (commercialInvoiceByCategories | sumFunc : 'purchasingAmountInEUR') * 100 | number : 1}} %</td>
                        </tr>
                        <tr ng-repeat="item in commercialInvoiceByCategories | orderBy : '-ciAmountInEUR'">
                            <td style="text-align: right;">{{$index+1}}</td>
                            <td style="text-align:left">{{item.productCategoryNM}}</td>

                            <td style="text-align:right" class="mi-background-last-season">{{item.ciTotalCont | number : 1}}</td>
                            <td style="text-align:right" class="mi-background-last-season">{{item.ciTotalItem | number : 0}}</td>
                            <td style="text-align:right" class="mi-background-last-season">{{item.ciAmountInEUR | currency:'&euro;':0}}</td>
                            <td style="text-align:right" class="mi-background-last-season">{{item.ciAmountInEUR / (commercialInvoiceByCategories | sumFunc : 'ciAmountInEUR') * 100 | number : 1}}%</td>

                            <td style="text-align:right" class="mi-lccost-interest-last-season">{{item.lcCostAmountInEUR | currency:'&euro;':0}}</td>
                            <td style="text-align:right" class="mi-lccost-interest-last-season">{{item.interestAmountInEUR | currency:'&euro;':0}}</td>

                            <td style="text-align:right" class="mi-margin-last-season">{{item.deltaAfterAllInEUR | currency:'&euro;':0}}</td>
                            <td style="text-align:right" class="mi-margin-last-season">{{item.deltaAfterAllInEUR / (commercialInvoiceByCategories | sumFunc : 'deltaAfterAllInEUR') * 100 | number : 1}}%</td>
                            <td style="text-align:right" class="mi-margin-last-season">{{item.deltaAfterAllPercent | number : 1}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div id="chartInvoiceByItem"></div>
    </div>
</div>