<div >
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th style="font-weight: bold; width: 35px;">#</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.LostClientCurrentSeason === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'clientCountryUD')">
                                COUN TRY
                                <span ng-show="sortValue.LostClientCurrentSeason === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'saleUD')">
                                SALE ACC
                                <span ng-show="sortValue.LostClientCurrentSeason === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 45px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'percentEURAmount')">
                                % TO TAL
                                <span ng-show="sortValue.LostClientCurrentSeason === '-percentEURAmount'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'percentEURAmount'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'totalCont')">
                                TOTAL CONT
                                <span ng-show="sortValue.LostClientCurrentSeason === '-totalCont'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'totalCont'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'totalEURAmount')">
                                TOTAL AMOUNT (EUR)
                                <span ng-show="sortValue.LostClientCurrentSeason === '-totalEURAmount'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'totalEURAmount'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'eurMarginLastYear')">
                                DELTA
                                <span ng-show="sortValue.LostClientCurrentSeason === '-eurMarginLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'eurMarginLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientCurrentSeason', 'percentEURMarginLastYear')">
                                %
                                <span ng-show="sortValue.LostClientCurrentSeason === '-percentEURMarginLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientCurrentSeason === 'percentEURMarginLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{LostClientCurrentSeason.length}} clients)</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold" class="mi-background-last-season">{{method.getSum(LostClientCurrentSeason, 'totalCont') | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold" class="mi-background-last-season">{{method.getSum(LostClientCurrentSeason, 'totalEURAmount') | currency : '&euro;' : 0}}</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-background-last-season">{{method.getSum(LostClientCurrentSeason, 'eurMarginLastYear') | currency:'&euro;':0}}</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-background-last-season">{{method.getSum(LostClientCurrentSeason, 'eurMarginLastYear') * 100 / method.getSum(LostClientCurrentSeason, 'totalEURAmount') | number:0}}%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.LostClientCurrentSeason.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.LostClientCurrentSeason.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.LostClientCurrentSeason.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="5"></td>
                    </tr>
                    <tr ng-repeat="item in LostClientCurrentSeason | orderBy : sortValue.LostClientCurrentSeason | filter : {clientNM : filter.LostClientCurrentSeason.clientNM, clientCountryUD : filter.LostClientCurrentSeason.clientCountryUD, saleUD : filter.LostClientCurrentSeason.saleUD}">
                        <td style="text-align: right;">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.percentEURAmount | number : 1}}%</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.totalCont | currency:'':1}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.totalEURAmount | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.eurMarginLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.percentEURMarginLastYear | number:0}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>