<div>
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="3" class="mi-background-lastlast-season">COMMERCIAL INVOICE (CI)</th>
                        <th colspan="3" class="mi-margin-last-last-season">&Delta; ALTER ALL</th>
                    </tr>
                    <tr>
                        <th style="font-weight: bold; width: 35px;">#<br />{{lostClientPreSeasonResult.length}}</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.LostClientPreSeason === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'clientCountryUD')">
                                COU N TRY
                                <span ng-show="sortValue.LostClientPreSeason === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'saleUD')">
                                AC C
                                <span ng-show="sortValue.LostClientPreSeason === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        @*commerial invoice*@

                        <th style="font-weight: bold; width: 60px;" class="mi-background-lastlast-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'totalCont')">
                                CONT
                                <span ng-show="sortValue.LostClientPreSeason === '-totalCont'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'totalCont'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;" class="mi-background-lastlast-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'totalEURAmount')">
                                TOTAL AMOUNT (EUR)
                                <span ng-show="sortValue.LostClientPreSeason === '-totalEURAmount'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'totalEURAmount'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;" class="mi-background-lastlast-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'percentEURAmount')">
                                %&nbsp;&nbsp;&nbsp;&nbsp;
                                <span ng-show="sortValue.LostClientPreSeason === '-percentEURAmount'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'percentEURAmount'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*margin*@
                        <th style="font-weight: bold; width: 100px;" class="mi-margin-last-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'eurMarginLastYear')">
                                &Delta;
                                <span ng-show="sortValue.LostClientPreSeason === '-eurMarginLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'eurMarginLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;" class="mi-margin-last-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'percentEURMarginLastYear')">
                                % OF 100%
                                <span ng-show="sortValue.LostClientPreSeason === '-percentEURMarginLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'percentEURMarginLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;" class="mi-margin-last-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('LostClientPreSeason', 'percentMarginCompareToCommercialInvoice')">
                                %&Delta;
                                <span ng-show="sortValue.LostClientPreSeason === '-percentMarginCompareToCommercialInvoice'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.LostClientPreSeason === 'percentMarginCompareToCommercialInvoice'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>

                        <th class="mi-background-lastlast-season">D</th>
                        <th class="mi-background-lastlast-season">E</th>
                        <th class="mi-background-lastlast-season">F</th>

                        <th class="mi-margin-last-last-season">G</th>
                        <th class="mi-margin-last-last-season">H</th>
                        <th class="mi-margin-last-last-season">I</th>
                    </tr>

                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{LostClientPreSeason.length}} clients)</td>

                        <td style="text-align:right; font-weight:bold" class="mi-background-lastlast-season">{{lostClientPreSeasonResult | sumFunc : 'ciCont' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold" class="mi-background-lastlast-season">{{lostClientPreSeasonResult | sumFunc : 'ciAmountInEUR' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-background-lastlast-season">100%</td>

                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-last-season">{{lostClientPreSeasonResult | sumFunc : 'deltaAfterAllInEUR' | currency:'&euro;':0}}</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-last-season">{{(lostClientPreSeasonResult | sumFunc : 'deltaAfterAllInEUR') / (lostClientPreSeasonResult | sumFunc : 'purchasingAmountInEUR') * 100 | number : 1}}%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.LostClientPreSeason.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.LostClientPreSeason.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.LostClientPreSeason.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="5"></td>
                    </tr>
                    <tr ng-repeat="item in lostClientPreSeasonResult = (LostClientPreSeason | orderBy : sortValue.LostClientPreSeason | filter : {clientNM : filter.LostClientPreSeason.clientNM, clientCountryUD : filter.LostClientPreSeason.clientCountryUD, saleUD : filter.LostClientPreSeason.saleUD})">
                        <td style="text-align: right;">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>

                        <td style="text-align: right;" class="mi-background-lastlast-season">{{item.ciCont | currency:'':1}}</td>
                        <td style="text-align: right;" class="mi-background-lastlast-season">{{item.ciAmountInEUR | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-background-lastlast-season">{{item.ciAmountInEUR / (LostClientPreSeason | sumFunc : 'ciAmountInEUR') * 100 | number : 1}}%</td>

                        <td style="text-align: right;" class="mi-margin-last-last-season">{{item.deltaAfterAllInEUR | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-margin-last-last-season">{{item.deltaAfterAllInEUR / (LostClientPreSeason | sumFunc : 'deltaAfterAllInEUR') * 100 | number : 1}}%</td>
                        <td style="text-align: right;" class="mi-margin-last-last-season">{{item.deltaAfterAllPercent | number : 1}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>