<div>
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th colspan="4"></th>
                        <th colspan="3" class="mi-background-last-season">COMMERCIAL INVOICE (CI)</th>
                        <th colspan="3" class="mi-margin-last-season">&Delta; ALTER ALL</th>
                    </tr>
                    <tr>
                        <th style="font-weight: bold; width: 35px;"># <br />{{newClientPreSeasonResult.length}}</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.NewClientPreSeason === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'clientCountryUD')">
                                COU N TRY
                                <span ng-show="sortValue.NewClientPreSeason === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'saleUD')">
                                AC C
                                <span ng-show="sortValue.NewClientPreSeason === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*commercial invoice*@
                        <th style="font-weight: bold; width: 60px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'ciCont')">
                                CONT
                                <span ng-show="sortValue.NewClientPreSeason === '-ciCont'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'ciCont'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        <th style="font-weight: bold; width: 100px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'ciAmountInEUR')">
                                TOTAL AMOUNT (EUR)
                                <span ng-show="sortValue.NewClientPreSeason === '-ciAmountInEUR'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'ciAmountInEUR'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'ciAmountInEUR')">
                                %&nbsp;&nbsp;&nbsp;&nbsp;
                                <span ng-show="sortValue.NewClientPreSeason === '-ciAmountInEUR'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'ciAmountInEUR'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*margin*@
                        <th style="font-weight: bold; width: 100px;" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'deltaAfterAllInEUR')">
                                &Delta;
                                <span ng-show="sortValue.NewClientPreSeason === '-deltaAfterAllInEUR'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'deltaAfterAllInEUR'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'deltaAfterAllInEUR')">
                                % of 100%
                                <span ng-show="sortValue.NewClientPreSeason === '-deltaAfterAllInEUR'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'deltaAfterAllInEUR'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientPreSeason', 'deltaAfterAllPercent')">
                                %&Delta;
                                <span ng-show="sortValue.NewClientPreSeason === '-deltaAfterAllPercent'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientPreSeason === 'deltaAfterAllPercent'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>

                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>

                        <th class="mi-background-last-season">D</th>
                        <th class="mi-background-last-season">E</th>
                        <th class="mi-background-last-season">F</th>

                        <th class="mi-margin-last-season">G</th>
                        <th class="mi-margin-last-season">H</th>
                        <th class="mi-margin-last-season">I</th>
                    </tr>

                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{NewClientPreSeason.length}} clients)</td>

                        @*commerical invoice*@
                        <td style="text-align:right; font-weight:bold" class="mi-background-last-season">{{newClientPreSeasonResult | sumFunc:'piCont' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold" class="mi-background-last-season">{{newClientPreSeasonResult | sumFunc:'piAmountInEUR'  | currency : '&euro;' : 0}}</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">100%</td>

                        @*margin*@
                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">{{newClientPreSeasonResult| sumFunc:'deltaAfterAllInEUR'  | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-margin-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">{{(newClientPreSeasonResult| sumFunc:'deltaAfterAllInEUR') * 100 / (newClientPreSeasonResult| sumFunc:'purchasingAmountInEUR') | number:0}}%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.NewClientPreSeason.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.NewClientPreSeason.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.NewClientPreSeason.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="5"></td>
                    </tr>
                    <tr ng-repeat="item in newClientPreSeasonResult = (NewClientPreSeason | orderBy : sortValue.NewClientPreSeason | filter : {clientNM : filter.NewClientPreSeason.clientNM, clientCountryUD : filter.NewClientPreSeason.clientCountryUD, saleUD : filter.NewClientPreSeason.saleUD})">
                        <td style="text-align: right;">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>

                        @*commercial invoice*@
                        <td style="text-align: right;" class="mi-background-last-season">{{item.ciCont | currency:'':1}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.ciAmountInEUR | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{(item.ciAmountInEUR/(NewClientPreSeason | sumFunc:'ciAmountInEUR')) * 100 | number : 1}}%</td>

                        @*margin*@
                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllInEUR | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-margin-last-season">{{(item.deltaAfterAllInEUR/(NewClientPreSeason | sumFunc:'deltaAfterAllInEUR')) * 100 | number:1}}%</td>
                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllPercent | number:1}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>