<div>
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th style="font-weight: bold; width: 35px;">#</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientCurrentSeason', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.NewClientCurrentSeason === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientCurrentSeason === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientCurrentSeason', 'clientCountryUD')">
                                COUN TRY
                                <span ng-show="sortValue.NewClientCurrentSeason === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientCurrentSeason === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientCurrentSeason', 'saleUD')">
                                SALE ACC
                                <span ng-show="sortValue.NewClientCurrentSeason === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientCurrentSeason === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-background-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientCurrentSeason', 'percentEURAmount')">
                                % TOTAL
                                <span ng-show="sortValue.NewClientCurrentSeason === '-percentEURAmount'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientCurrentSeason === 'percentEURAmount'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-background-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientCurrentSeason', 'totalCont')">
                                TOTAL CONT
                                <span ng-show="sortValue.NewClientCurrentSeason === '-totalCont'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientCurrentSeason === 'totalCont'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        <th style="font-weight: bold; width: 100px;" class="mi-background-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('NewClientCurrentSeason', 'totalEURAmount')">
                                TOTAL AMOUNT (EUR)
                                <span ng-show="sortValue.NewClientCurrentSeason === '-totalEURAmount'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.NewClientCurrentSeason === 'totalEURAmount'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                    </tr>
                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{NewClientCurrentSeason.length}} clients)</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">100%</td>
                        <td style="text-align:right; font-weight:bold" class="mi-background-current-season">{{method.getSum(NewClientCurrentSeason, 'totalCont') | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold" class="mi-background-current-season">{{method.getSum(NewClientCurrentSeason, 'totalEURAmount') | currency : '&euro;' : 0}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.NewClientCurrentSeason.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.NewClientCurrentSeason.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.NewClientCurrentSeason.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="3"></td>
                    </tr>
                    <tr ng-repeat="item in NewClientCurrentSeason | orderBy : sortValue.NewClientCurrentSeason | filter : {clientNM : filter.NewClientCurrentSeason.clientNM, clientCountryUD : filter.NewClientCurrentSeason.clientCountryUD, saleUD : filter.NewClientCurrentSeason.saleUD}">
                        <td style="text-align: right;">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>
                        <td style="text-align: right;" class="mi-background-current-season">{{item.percentEURAmount | number : 1}}%</td>
                        <td style="text-align: right;" class="mi-background-current-season">{{item.totalCont | currency:'':1}}</td>
                        <td style="text-align: right;" class="mi-background-current-season">{{item.totalEURAmount | currency:'':0}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>