<div>
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th colspan="4" style="font-weight:bold"></th>
                        <th colspan="3" style="font-weight:bold;" class="mi-background-current-season">PROFORMA INVOICE (PF)<br />@ViewBag.CurrentSeason</th>
                        <th colspan="3" style="font-weight:bold;" class="mi-margin-current-season">&Delta; AFTER ALL<br />@ViewBag.CurrentSeason</th>
                        <th colspan="3" style="font-weight:bold;" class="mi-background-last-season">COMMERCIAL INVOICE (CI)<br /> @ViewBag.PreSeason</th>
                        <th colspan="3" style="font-weight:bold;" class="mi-margin-last-season">&Delta; AFTER ALL<br /> @ViewBag.PreSeason</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="font-weight: bold; width: 35px;">#<br />{{piByClientResult.length}}</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.PIByClient === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'clientCountryUD')">
                                CO UN TRY
                                <span ng-show="sortValue.PIByClient === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'saleUD')">
                                ACC
                                <span ng-show="sortValue.PIByClient === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Proforma Invoice This Year*@
                        <th style="font-weight: bold; width: 60px;" class="mi-background-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'piContThisYear')">
                                TOTAL CONT
                                <span ng-show="sortValue.PIByClient === '-piContThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'piContThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;" class="mi-background-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'piAmountInEURThisYear')">
                                PF AMOUNT
                                <span ng-show="sortValue.PIByClient === '-piAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'piAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-background-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'piAmountInEURThisYear')">
                                %
                                <span ng-show="sortValue.PIByClient === '-piAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'piAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Margin  This Year*@
                        <th style="font-weight: bold; width: 100px;" class="mi-margin-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'deltaAfterAllInEURThisYear')">
                                &Delta;
                                <span ng-show="sortValue.PIByClient === '-deltaAfterAllInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'deltaAfterAllInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-margin-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'deltaAfterAllInEURThisYear')">
                                % OF 100%
                                <span ng-show="sortValue.PIByClient === '-deltaAfterAllInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'deltaAfterAllInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-margin-current-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'deltaAfterAllPercentThisYear')">
                                % &Delta;
                                <span ng-show="sortValue.PIByClient === '-deltaAfterAllPercentThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'deltaAfterAllPercentThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Commercial Invoice Last Year*@
                        <th style="font-weight: bold; width: 60px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'ciContLastYear')">
                                TOTAL CONT
                                <span ng-show="sortValue.PIByClient === '-ciContLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'ciContLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'ciAmountInEURLastYear')">
                                CI AMOUNT
                                <span ng-show="sortValue.PIByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-background-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'ciAmountInEURLastYear')">
                                %
                                <span ng-show="sortValue.PIByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>


                        @*Margin last year*@
                        <th style="font-weight: bold; width: 100px;" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'deltaAfterAllInEURLastYear')">
                                &Delta;
                                <span ng-show="sortValue.PIByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'deltaAfterAllInEURLastYear')">
                                % OF 100%
                                <span ng-show="sortValue.PIByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'deltaAfterAllPercentLastYear')">
                                % &Delta;
                                <span ng-show="sortValue.PIByClient === '-deltaAfterAllPercentLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'deltaAfterAllPercentLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Compare between 2 season*@
                        <th style="font-weight: bold; width: 70px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIByClient', 'deltaPercentWithLastYear')">
                                GROWTH
                                <span ng-show="sortValue.PIByClient === '-deltaPercentWithLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIByClient === 'deltaPercentWithLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>

                    <tr>
                        <th style="text-align:center"></th>
                        <th style="text-align:center">A</th>
                        <th style="text-align:center">B</th>
                        <th style="text-align:center">C</th>

                        <th style="text-align:center" class="mi-background-current-season">D</th>
                        <th style="text-align:center" class="mi-background-current-season">E</th>
                        <th style="text-align:center" class="mi-background-current-season">F</th>

                        <th style="text-align:center" class="mi-margin-current-season">G</th>
                        <th style="text-align:center" class="mi-margin-current-season">H</th>
                        <th style="text-align:center" class="mi-margin-current-season">I</th>

                        <th style="text-align:center" class="mi-background-last-season">J</th>
                        <th style="text-align:center" class="mi-background-last-season">K</th>
                        <th style="text-align:center" class="mi-background-last-season">L</th>

                        <th style="text-align:center" class="mi-margin-last-season">M</th>
                        <th style="text-align:center" class="mi-margin-last-season">N</th>
                        <th style="text-align:center" class="mi-margin-last-season">O</th>

                        <th style="text-align:center">P=<br />(E-K)/K</th>
                    </tr>

                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{piByClientResult.length}} clients)</td>

                        <td style="text-align:right; font-weight:bold" class="mi-background-current-season">{{piByClientResult | sumFunc:'piContThisYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-background-current-season">{{piByClientResult | sumFunc:'piAmountInEURThisYear' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-background-current-season">100%</td>

                        <td style="text-align:right; font-weight:bold;" class="mi-margin-current-season">{{piByClientResult | sumFunc:'deltaAfterAllInEURThisYear' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-margin-current-season">100%</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-margin-current-season">{{(piByClientResult | sumFunc:'deltaAfterAllInEURThisYear') /  (PIByClient | sumFunc:'purchasingAmountInEURThisYear') * 100 | number:1}}%</td>

                        <td style="text-align:right; font-weight:bold" class="mi-background-last-season">{{piByClientResult | sumFunc:'ciContLastYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-background-last-season">{{piByClientResult | sumFunc:'ciAmountInEURLastYear' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;" class="mi-background-last-season">100%</td>

                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">{{piByClientResult | sumFunc:'deltaAfterAllInEURLastYear' | currency:'&euro;':0}}</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold;" class="mi-margin-last-season">{{(piByClientResult | sumFunc:'deltaAfterAllInEURLastYear') /  (piByClientResult | sumFunc:'purchasingAmountInEURLastYear') * 100 | number:0}}%</td>

                        <td style="text-align:right; font-weight:bold">
                            <span ng-class="{increase: (piByClientResult | sumFunc:'piAmountInEURThisYear') > (piByClientResult | sumFunc:'ciAmountInEURLastYear'), decrease: (piByClientResult | sumFunc:'piAmountInEURThisYear') < (piByClientResult | sumFunc:'ciAmountInEURLastYear')}">
                                [{{((piByClientResult | sumFunc:'piAmountInEURThisYear') / (piByClientResult | sumFunc:'ciAmountInEURLastYear') - 1) * 100 | number : 0}}%]
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.PIByClient.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.PIByClient.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.PIByClient.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="13"></td>
                    </tr>
                    <tr ng-repeat="item in piByClientResult = (PIByClient | orderBy : sortValue.PIByClient | filter : {clientNM : filter.PIByClient.clientNM, clientCountryUD : filter.PIByClient.clientCountryUD, saleUD : filter.PIByClient.saleUD})">
                        <td style="text-align: right">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>

                        <td style="text-align: right;" class="mi-background-current-season">{{item.piContThisYear | currency:'':1}}</td>
                        <td style="text-align: right" class="mi-background-current-season">{{item.piAmountInEURThisYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-background-current-season">{{item.piAmountInEURThisYear / (PIByClient | sumFunc:'piAmountInEURThisYear') * 100 | number : 1}}%</td>

                        <td style="text-align: right;" class="mi-margin-current-season">{{item.deltaAfterAllInEURThisYear | currency:'':0}}</td>
                        <td style="text-align: right;" class="mi-margin-current-season">{{item.deltaAfterAllInEURThisYear / (PIByClient | sumFunc:'deltaAfterAllInEURThisYear') * 100 | number : 1}}%</td>
                        <td style="text-align: right;" class="mi-margin-current-season">{{item.deltaAfterAllPercentThisYear | number : 1}}%</td>

                        <td style="text-align: right;" class="mi-background-last-season">{{item.ciContLastYear | currency:'':1}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.ciAmountInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-background-last-season">{{item.ciAmountInEURLastYear / (PIByClient | sumFunc:'ciAmountInEURLastYear') * 100 | number : 1}}%</td>

                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllInEURLastYear / (PIByClient | sumFunc:'deltaAfterAllInEURLastYear') * 100  | number : 1}}%</td>
                        <td style="text-align: right;" class="mi-margin-last-season">{{item.deltaAfterAllPercentLastYear | number:1}}%</td>

                        <td style="text-align: right;">
                            <span ng-class="{increase: item.piAmountInEURThisYear > item.ciAmountInEURLastYear, decrease: item.piAmountInEURThisYear < item.ciAmountInEURLastYear}">
                                [{{item.deltaPercentWithLastYear | number : 0}}%]
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>