<div>
    <div class="tilsoft-table">
        <div class="tilsoft-table-body">
            <table>
                <tbody>
                    <tr>
                        <th colspan="4" style="font-weight:bold"></th>
                        <th colspan="3" style="font-weight:bold;background-color:#92d678">PROFORMA INVOICE CONFIRMED (PFC)<br />@ViewBag.CurrentSeason</th>
                        <th colspan="3" style="font-weight:bold;background-color:#a5a4f1">COMMERCIAL INVOICE (CI)<br />@ViewBag.PreSeason</th>
                        <th colspan="3" style="font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">&Delta; AFTER ALL<br />@ViewBag.PreSeason</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th style="font-weight: bold; width: 35px;">#<br />{{PIConfirmedByClient.length}}</th>
                        <th style="font-weight: bold;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'clientNM')">
                                CLIENT NAME
                                <span ng-show="sortValue.PIConfirmedByClient === '-clientNM'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'clientNM'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 40px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'clientCountryUD')">
                                COUN TRY
                                <span ng-show="sortValue.PIConfirmedByClient === '-clientCountryUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'clientCountryUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'saleUD')">
                                SALE ACC
                                <span ng-show="sortValue.PIConfirmedByClient === '-saleUD'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'saleUD'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Proforma Invoice Confirmed This Year*@
                        <th style="font-weight: bold; width: 60px;background-color:#92d678;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'piConfirmedContThisYear')">
                                TOTAL CONT
                                <span ng-show="sortValue.PIConfirmedByClient === '-piConfirmedContThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'piConfirmedContThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#92d678;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'piConfirmedAmountInEURThisYear')">
                                TOTAL AMOUNT
                                <span ng-show="sortValue.PIConfirmedByClient === '-piConfirmedAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'piConfirmedAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;background-color:#92d678;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'piConfirmedAmountInEURThisYear')">
                                %
                                <span ng-show="sortValue.PIConfirmedByClient === '-piConfirmedAmountInEURThisYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'piConfirmedAmountInEURThisYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>

                        @*Commercial Invoice Last Year*@
                        <th style="font-weight: bold; width: 60px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'ciContLastYear')">
                                TOTAL CONT
                                <span ng-show="sortValue.PIConfirmedByClient === '-ciContLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'ciContLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 100px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'ciAmountInEURLastYear')">
                                TOTAL AMOUNT
                                <span ng-show="sortValue.PIConfirmedByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 60px;background-color:#a5a4f1">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'ciAmountInEURLastYear')">
                                %
                                <span ng-show="sortValue.PIConfirmedByClient === '-ciAmountInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'ciAmountInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>


                        @*Margin*@
                        <th style="font-weight: bold; width: 100px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'deltaAfterAllInEURLastYear')">
                                &Delta;
                                <span ng-show="sortValue.PIConfirmedByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'deltaAfterAllInEURLastYear')">
                                % OF 100%
                                <span ng-show="sortValue.PIConfirmedByClient === '-deltaAfterAllInEURLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'deltaAfterAllInEURLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th style="font-weight: bold; width: 50px;background-color:#a5a4f1" class="mi-margin-last-season">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'deltaAfterAllPercentLastYear')">
                                % &Delta;
                                <span ng-show="sortValue.PIConfirmedByClient === '-deltaAfterAllPercentLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'deltaAfterAllPercentLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>



                        @*Compare between 2 season*@
                        <th style="font-weight: bold; width: 90px;">
                            <a href="javascript:void(0)" ng-click="method.sortData('PIConfirmedByClient', 'deltaPercentWithLastYear')">
                                GROWTH
                                <span ng-show="sortValue.PIConfirmedByClient === '-deltaPercentWithLastYear'" class="fa fa-caret-down"></span>
                                <span ng-show="sortValue.PIConfirmedByClient === 'deltaPercentWithLastYear'" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>

                        <th class="mi-background-current-season">D</th>
                        <th class="mi-background-current-season">E</th>
                        <th class="mi-background-current-season">F</th>

                        <th class="mi-background-last-season">G</th>
                        <th class="mi-background-last-season">H</th>
                        <th class="mi-background-last-season">I</th>

                        <th class="mi-margin-last-season">J</th>
                        <th class="mi-margin-last-season">K</th>
                        <th class="mi-margin-last-season">L</th>

                        <th>M=<br />(E-H)/H</th>
                    </tr>
                    <tr>
                        <td colspan="4" style="font-weight: bold;">TOTAL ({{piConfirmedByClientResult.length}} clients)</td>

                        <td style="text-align:right; font-weight:bold;background-color:#92d678">{{piConfirmedByClientResult | sumFunc:'piConfirmedContThisYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#92d678">{{piConfirmedByClientResult | sumFunc:'piConfirmedAmountInEURThisYear' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;background-color:#92d678">100%</td>

                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">{{piConfirmedByClientResult | sumFunc:'ciContLastYear' | number : 1}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1">{{piConfirmedByClientResult | sumFunc:'ciAmountInEURLastYear' | currency:'&euro;':0}}</td>
                        <td style="font-weight: bold;text-align: right;background-color:#a5a4f1">100%</td>

                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">{{piConfirmedByClientResult | sumFunc:'deltaAfterAllInEURLastYear' | currency:'&euro;':0}}</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">100%</td>
                        <td style="text-align:right; font-weight:bold;background-color:#a5a4f1" class="mi-margin-last-season">{{(piConfirmedByClientResult | sumFunc:'deltaAfterAllInEURLastYear') / (piConfirmedByClientResult | sumFunc:'purchasingAmountInEURLastYear')  * 100 | currency:'':1}}%</td>

                        <td style="text-align:right; font-weight:bold">
                            <span ng-class="{increase: (piConfirmedByClientResult | sumFunc:'piConfirmedAmountInEURThisYear') > (piConfirmedByClientResult | sumFunc:'ciAmountInEURLastYear'), decrease: (piConfirmedByClientResult | sumFunc:'piConfirmedAmountInEURThisYear') < (piConfirmedByClientResult | sumFunc:'ciAmountInEURLastYear')}">
                                [{{((piConfirmedByClientResult | sumFunc:'piConfirmedAmountInEURThisYear') / (piConfirmedByClientResult | sumFunc:'ciAmountInEURLastYear') - 1) * 100  | number : 0}}%]
                            </span>
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" ng-model="filter.PIConfirmedByClient.clientNM" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.PIConfirmedByClient.clientCountryUD" class="form-control" style="height:80%" /></td>
                        <td><input type="text" ng-model="filter.PIConfirmedByClient.saleUD" class="form-control" style="height:80%" /></td>
                        <td colspan="10"></td>
                    </tr>
                    <tr ng-repeat="item in piConfirmedByClientResult = (PIConfirmedByClient | orderBy : sortValue.PIConfirmedByClient | filter : {clientNM : filter.PIConfirmedByClient.clientNM, clientCountryUD : filter.PIConfirmedByClient.clientCountryUD, saleUD : filter.PIConfirmedByClient.saleUD})">
                        <td style="text-align: right">{{$index+1}}</td>
                        <td>{{item.clientNM}}</td>
                        <td style="text-align: center">{{item.clientCountryUD}}</td>
                        <td style="text-align: center">{{item.saleUD}}</td>

                        <td style="text-align: right;background-color:#92d678;">{{item.piConfirmedContThisYear | currency:'':1}}</td>
                        <td style="text-align: right;background-color:#92d678;">{{item.piConfirmedAmountInEURThisYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#92d678;">{{item.piConfirmedAmountInEURThisYear / (PIConfirmedByClient | sumFunc:'piConfirmedAmountInEURThisYear') * 100 | number : 1}}%</td>

                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciContLastYear | currency:'':1}}</td>
                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciAmountInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#a5a4f1">{{item.ciAmountInEURLastYear / (PIConfirmedByClient | sumFunc:'ciAmountInEURLastYear') * 100 | number : 1}}%</td>

                        <td style="text-align: right;background-color:#a5a4f1" class="mi-margin-last-season">{{item.deltaAfterAllInEURLastYear | currency:'&euro;':0}}</td>
                        <td style="text-align: right;background-color:#a5a4f1" class="mi-margin-last-season">{{item.deltaAfterAllInEURLastYear / (PIConfirmedByClient | sumFunc:'deltaAfterAllInEURLastYear') * 100 | number:1}}%</td>
                        <td style="text-align: right;background-color:#a5a4f1" class="mi-margin-last-season">{{item.deltaAfterAllPercentLastYear | number:1}}%</td>

                        <td style="text-align: right;">
                            <span ng-class="{increase: item.piConfirmedAmountInEURThisYear > item.ciAmountInEURLastYear, decrease: item.piConfirmedAmountInEURThisYear < item.ciAmountInEURLastYear}">
                                [{{item.deltaPercentWithLastYear | number : 0}}%]
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>