@{
    ViewBag.Title = "Factory Stock List Report";
    ViewBag.Module = "Factory Stock List Report";
}
<style>
    .select2-arrow {
        width: 15px !important;
    }

    .search-text {
        height: 29px !important;
        padding: 8px !important;
        border: 1px solid #ddd !important;
    }

    .tilsoft-table-header > div {
        font-size:9px !important;
        font-weight:bold
    }

    .select2-drop {
        z-index: 11000 !important;
        font-size: 11px;
    }

    .select2-chosen {
        font-size:11px;
    }

    tilsoft-table-body table td {
        font-size: 11px !important;
    }

</style>
<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Factory Stock List Report</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1100px;">
                                <div style="width: 70px;"></div>
                                <div style="width: 110px;" class="sorting" data-colname="FactoryUD">Factory</div>
                                <div style="width: 60px;" class="sorting" data-colname="ClientUD">Client</div>
                                <div style="width: 70px;" class="sorting" data-colname="ProformaInvoiceNo">Prof.No</div>
                                <div style="width: 80px;" class="sorting" data-colname="LDS">LDS</div>
                                <div style="width: 70px;" class="sorting" data-colname="ArticleCode">Article Code</div>
                                <div style="width: 180px;" class="sorting" data-colname="Description">Description</div>
                                <div style="width: 60px;" class="sorting" data-colname="Qnt40HC">Qnt 40HC</div>
                                <div style="width: 60px;" class="sorting" data-colname="TotalStockQnt">Stock</div>
                                <div style="width: 60px;" class="sorting" data-colname="TotalStockQnt">Stock 40HC</div>
                                <div style="width: 70px;" class="sorting" data-colname="TotalStockQnt">Factory Holding</div>
                                <div style="width: 100px;" class="sorting" data-colname="TotalStockQnt">Free To Sale (Not Packed)</div>
                                <div class="sorting" data-colname="TotalPackedQnt">Free To Sale (Packed)</div>
                                
                            </div>

                            <div class="tilsoft-table-filter" style="width: 1100px;">
                                <div style="text-align: center; width: 70px; vertical-align:middle">
                                    <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                </div>
                                <div style="width: 110px;text-align: center; vertical-align: middle;padding:0px;" class="search-filter" >
                                    <select style="border:none;" id="factoryID" class="search-filter js-example-basic-single" ng-model="filters.factoryID" ng-options="item.factoryID as item.factoryUD for item in factories | orderBy: 'factoryUD'">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div style="width: 60px;" class="search-filter" ><input type="text" ng-model="filters.clientUD" /></div>
                                <div style="width: 70px;" class="search-filter" ><input type="text" ng-model="filters.proformaInvoiceNo" /></div>
                                <div style="width: 80px;" class="search-filter" ><input type="text" ng-model="filters.lds" /></div>
                                <div style="width: 70px;" class="search-filter" ><input type="text" ng-model="filters.articleCode" /></div>
                                <div style="width: 180px;" class="search-filter" ><input type="text" ng-model="filters.description" /></div>
                                <div style="width: 60px;text-align:right;font-weight:bold" class="sorting" >Total</div>
                                <div style="width: 60px;text-align:right;font-weight:bold" class="sorting" >{{totalStockQnt | number}}</div>
                                <div style="width: 60px;text-align:right;font-weight:bold" class="sorting" >{{totalStockQntIn40HC | number}}</div>
                                <div style="width: 70px;text-align:right;font-weight:bold" class="sorting" >{{totalProducedQnt | number}}</div>
                                <div style="width: 100px;text-align:right;font-weight:bold" class="sorting" >{{totalNotPackedQnt | number}}</div>
                                <div style="text-align:right;font-weight:bold" class="sorting" >{{totalPackedQnt | number}}</div>
                                
                            </div>

                            <div class="tilsoft-table-totalrow" style="width: 1090px;">
                                <div style="text-align: center; width: 70px; vertical-align:middle">
                                </div>
                                <div style="width: 110px;text-align: center; vertical-align: middle;padding:0px;" class="search-filter">
                                </div>
                                <div style="width: 60px;" class="search-filter"></div>
                                <div style="width: 70px;" class="search-filter"></div>
                                <div style="width: 80px;" class="search-filter"></div>
                                <div style="width: 70px;" class="search-filter"></div>
                                @*<div style="width: 180px;" class="search-filter"></div>*@
                                <div style="width: 240px;text-align:right;font-weight:bold" class="sorting">Sub Total</div>
                                <div style="width: 60px;text-align:right;font-weight:bold" class="sorting">{{subTotalStockQnt | number}}</div>
                                <div style="width: 60px;text-align:right;font-weight:bold" class="sorting">{{subTotalStockQntIn40HC | number}}</div>
                                <div style="width: 70px;text-align:right;font-weight:bold" class="sorting">{{subTotalProducedQnt | number}}</div>
                                <div style="width: 100px;text-align:right;font-weight:bold" class="sorting">{{subTotalNotPackedQnt | number}}</div>
                                <div style="text-align:right;font-weight:bold" class="sorting">{{subTotalPackedQnt | number}}</div>
                            </div>

                            <div class="tilsoft-table-body" style="width: 1100px; margin-top: 95px;">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="width:69px;text-align:center;vertical-align:middle">
                                            <a href="{{item.thumbnailLocation}}" data-featherlight="image">
                                                <img style="width: 95%;" ng-src="{{item.thumbnailLocation}}" id="{{item.keyID}}" />
                                            </a>
                                        </td>
                                        <td style="text-align: center; width: 110px; vertical-align:middle">{{item.factoryUD}}</td>
                                        <td style="text-align: left; width: 60px; vertical-align:middle">{{item.clientUD}}</td>
                                        <td style="text-align: left; width: 70px; vertical-align:middle">{{item.proformaInvoiceNo}}</td>
                                        <td style="text-align: left; width: 80px; vertical-align:middle">{{item.lds}}</td>
                                        <td style="text-align: left; width: 70px; vertical-align:middle">{{item.articleCode}}</td>
                                        <td style="text-align: left; width: 180px; vertical-align:middle">{{item.description}}</td>
                                        <td style="text-align: right; width: 60px; vertical-align:middle">{{item.qnt40HC}}</td>
                                        <td style="text-align: right; width: 60px; vertical-align:middle">{{item.totalStockQnt}}</td>
                                        <td style="text-align: right; width: 60px; vertical-align:middle">{{item.totalStockQntIn40HC}}</td>
                                        <td style="text-align: right; width: 70px; vertical-align:middle">{{item.totalProducedQnt}}</td>
                                        <td style="text-align: right; width: 100px; vertical-align:middle">{{item.totalNotPackedQnt}}</td>
                                        <td style="text-align: right;  vertical-align:middle">{{item.totalPackedQnt}}</td>
                                       
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Print Free To Sale Stock" ng-click="event.exportExcel($event)" style="color: #31B404"><i class="fa fa-file-excel-o"></i></a>
        </li>
    </ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
    jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/factoryStockList/';
    jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
    var context = {
        reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
    }
    </script>
    <script src="~/Angular/app/factoryStockListReport/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryStockListReport/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
