<div id="frmMonitor" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Select User for Moderator List</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Filter</label>
                            <label class="select">
                                <select ng-model="currentMonitorFilter" disabled>
                                    <option value="">SCM Monitor</option>
                                    <option value="VN Team">VN Team</option>
                                    <option value="Eurofar">Eurofar</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <section>
                            <ul class="ulcols-4">
                                <li ng-repeat="item in listEurofar" ng-if="officeNM = currentMonitorFilter">
                                    <div class="content">
                                        <label><input type="checkbox" ng-model="item.isSelected" /> <strong>{{item.fullName}}</strong></label>
                                        <br />
                                        {{item.officeNM}}
                                    </div>
                                </li>

                                <li ng-repeat="item in listAVT">
                                    <div class="content">
                                        <label><input type="checkbox" ng-model="item.isSelected" /> <strong>{{item.fullName}}</strong></label>
                                        <br />
                                        {{item.officeNM}}
                                    </div>
                                </li>

                                <li ng-if="isscm" ng-repeat="item in listSCM">
                                    <div class="content">
                                        <label><input type="checkbox" ng-model="item.isSelected" /> <strong>{{item.fullName}}</strong></label>
                                        <br />
                                        {{item.officeNM}}
                                    </div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateMonitor()">
                    Add
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>