<div id="frmOtherModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-pencil"></i> Other Model</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="input">
                                <input type="text" ng-model="$parent.otherModel" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.selectOtherModel()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    scope.event.selectOtherModel = function () {
        if (!scope.otherModel) {
            alert('Please provide the name for the model!');
            return;
        }
        scope.currentProduct.articleDescription = scope.otherModel;
        scope.currentProduct.modelID = null;
        scope.currentProduct.modelUD = '';
        jQuery('#frmOtherModel').modal('hide');
    };
</script>