<div id="frmPackagingDetail" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-list"></i> Packaging Detail</h4>
                
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <div class=" row">
                            <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.addNewPackaging()" style="margin-left:14px">Add New</a>
                        </div>
                        <div class="row">
                            <section class="col col-sm-12">
                                <div class="jarviswidget-editbox"></div>
                                <div class="widget-body">
                                    
                                    <div style="height: 252px" class="table-responsive">
                                        <table class="table table-bordered table-hover custom-table dataTable">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center; width:40px"></th>
                                                    <th style="text-align:center; width:100px">Carton Box L</th>
                                                    <th style="text-align:center; width:100px">Carton Box W</th>
                                                    <th style="text-align: center; width:100px">Carton Box H</th>
                                                    <th style="text-align:center">Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in currentProduct.samplePackagings">
                                                    <td style="text-align: center; width:40px">
                                                        <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removePackaging(item)">Del</a>
                                                    </td>
                                                    <td >
                                                        <input type="text" class="form-control" style="text-align:right; width:100px" ng-model="item.cartonBoxDimL"/>
                                                    </td>
                                                    <td >
                                                        <input type="text" class="form-control" style="text-align:right; width:100px" ng-model="item.cartonBoxDimW" />
                                                    </td>
                                                    <td >
                                                        <input type="text" class="form-control" style="text-align:right; width:100px" ng-model="item.cartonBoxDimH" />
                                                    </td>
                                                    <td >
                                                        <input type="text" class="form-control" style="text-align:left" ng-model="item.remark" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.okfrmPackaging()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>

    //scope.event.selectCushionColor = function () {
    //    if (!scope.selectedCushionColor.id) {
    //        alert('Please select frame material color!');
    //        return;
    //    }
    //    scope.currentProduct.cushionColorID = scope.selectedCushionColor.id;
    //    scope.currentProduct.cushionColorUD = scope.selectedCushionColor.data.optionUD;
    //    scope.currentProduct.cushionColorDescription = scope.selectedCushionColor.data.optionNM;
    //    jQuery('#frmSearchCushionColor').modal('hide');
    //};
</script>