<div id="frmReferenceImage" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Reference Image</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Image</label>
                            <div style="border: solid 1px #ddd; padding: 10px; box-sizing: border-box; width: 220px; height: 200px; overflow-y: scroll">
                                <img src="{{currentReferenceImage.thumbnailLocation}}" style="width: 100%;" />
                            </div>
                            <div class="note">
                                <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.uploadReferenceImage()">Change</a>
                            </div>
                        </section>
                        <section>
                            <label class="label">Bring In By</label>
                            <label class="input">
                                <input type="text" ng-model="currentReferenceImage.bringInBy" />
                            </label>
                        </section>
                        <section>
                            <label class="label">Bring In Date</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" data-dateformat="dd/mm/yy" class="datepicker" ng-model="currentReferenceImage.bringInDate" />
                            </label>
                        </section>
                        <section>
                            <label class="label">Remark</label>
                            <label class="input">
                                <input type="text" ng-model="currentReferenceImage.remark" />
                            </label>
                        </section>
                        <section>
                            <label class="checkbox">
                                <input name="checkbox-inline" type="checkbox" ng-model="currentReferenceImage.isDefault">
                                <i></i>Default
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateReferenceImage()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>