<div id="frmSearchMaterialColor" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Search Material Color</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="input">
                                <input id="txtSearchMaterialColor" type="text" placeholder="Type at least 3 characters to search for material color" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.selectMaterialColor()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#txtSearchMaterialColor').QuickSearchBox({
        url: context.supportServiceUrl + 'quicksearchmaterialcolor2',
        minChars: 3,
        token: context.token
    }, scope.selectedMaterialColor);

    scope.event.selectMaterialColor = function () {
        if (!scope.selectedMaterialColor.id) {
            alert('Please select material color!');
            return;
        }
        scope.currentProduct.materialColorID = scope.selectedMaterialColor.id;
        scope.currentProduct.materialColorUD = scope.selectedMaterialColor.data.optionUD;
        scope.currentProduct.materialColorDescription = scope.selectedMaterialColor.data.optionNM;
        jQuery('#frmSearchMaterialColor').modal('hide');
    };
</script>