<div id="frmSearchClient" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Search Client</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="input">
                                <input id="txtSearchClient" type="text" placeholder="Type at least 3 characters to search for client" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.selectClient()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    // client
    jQuery('#txtSearchClient').QuickSearchBox({
        url: context.supportServiceUrl + 'quicksearchclient2',
        minChars: 3,
        token: context.token
    }, scope.selectedClient);

    // declare function
    scope.event.selectClient = function () {
        if (!scope.selectedClient.id) {
            alert('Please select client!');
            return;
        }

        scope.data.clientID = scope.selectedClient.id;
        scope.data.clientUD = scope.selectedClient.data.optionUD;

        jQuery('#frmSearchClient').modal('hide');
    };
</script>
