<div id="frmSearchSubMaterial" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Search Sub Material</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="input">
                                <input id="txtSearchSubMaterial" type="text" placeholder="Type at least 3 characters to search for sub material" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.selectSubMaterial()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#txtSearchSubMaterial').QuickSearchBox({
        url: context.supportServiceUrl + 'quicksearchsubmaterial2',
        minChars: 3,
        token: context.token
    }, scope.selectedSubMaterial);

    scope.event.selectSubMaterial = function () {
        if (!scope.selectedSubMaterial.id) {
            alert('Please select sub material!');
            return;
        }
        scope.currentProduct.subMaterialID = scope.selectedSubMaterial.id;
        scope.currentProduct.subMaterialUD = scope.selectedSubMaterial.data.optionUD;
        scope.currentProduct.subMaterialDescription = scope.selectedSubMaterial.data.optionNM;
        jQuery('#frmSearchSubMaterial').modal('hide');
    };
</script>