<div id="frmSearchMaterial2Type" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Search Material 2 Type</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="input">
                                <input id="txtSearchMaterial2Type" type="text" placeholder="Type at least 3 characters to search for material type" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.selectMaterial2Type()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#txtSearchMaterial2Type').QuickSearchBox({
        url: context.supportServiceUrl + 'quicksearchmaterialtype2',
        minChars: 3,
        token: context.token
    }, scope.selectedMaterialType);

    scope.event.selectMaterial2Type = function () {
        if (!scope.selectedMaterialType.id) {
            alert('Please select material 2 type!');
            return;
        }
        scope.currentProduct.material2TypeID = scope.selectedMaterialType.id;
        scope.currentProduct.material2TypeUD = scope.selectedMaterialType.data.optionUD;
        scope.currentProduct.material2TypeDescription = scope.selectedMaterialType.data.optionNM;
        jQuery('#frmSearchMaterial2Type').modal('hide');
    };
</script>