<div id="frmSearchSubMaterialColor" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Search Sub Material Color</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="input">
                                <input id="txtSearchSubMaterialColor" type="text" placeholder="Type at least 3 characters to search for sub material color" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.selectSubMaterialColor()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#txtSearchSubMaterialColor').QuickSearchBox({
        url: context.supportServiceUrl + 'quicksearchsubmaterialcolor2',
        minChars: 3,
        token: context.token
    }, scope.selectedSubMaterialColor);

    scope.event.selectSubMaterialColor = function () {
        if (!scope.selectedSubMaterialColor.id) {
            alert('Please select sub material color!');
            return;
        }
        scope.currentProduct.subMaterialColorID = scope.selectedSubMaterialColor.id;
        scope.currentProduct.subMaterialColorUD = scope.selectedSubMaterialColor.data.optionUD;
        scope.currentProduct.subMaterialColorDescription = scope.selectedSubMaterialColor.data.optionNM;
        jQuery('#frmSearchSubMaterialColor').modal('hide');
    };
</script>