<div id="frmSearchCushionColor" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Search Cushion Color</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="input">
                                <input id="txtSearchCushionColor" type="text" placeholder="Type at least 3 characters to search for cushion color" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.selectCushionColor()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery('#txtSearchCushionColor').QuickSearchBox({
        url: context.supportServiceUrl + 'quicksearchcushioncolor2',
        minChars: 3,
        token: context.token
    }, scope.selectedCushionColor);

    scope.event.selectCushionColor = function () {
        if (!scope.selectedCushionColor.id) {
            alert('Please select frame material color!');
            return;
        }
        scope.currentProduct.cushionColorID = scope.selectedCushionColor.id;
        scope.currentProduct.cushionColorUD = scope.selectedCushionColor.data.optionUD;
        scope.currentProduct.cushionColorDescription = scope.selectedCushionColor.data.optionNM;
        jQuery('#frmSearchCushionColor').modal('hide');
    };
</script>