<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <ul class="nav nav-tabs pull-left in">
                <li class="active">
                    <a data-toggle="tab" ng-click="selectedGeneralTab('tabGeneral')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">General Infomation</span> </a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="selectedGeneralTab('tabClient')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Client Infomation</span> </a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="selectedGeneralTab('tabPayment')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Payment & Delivery</span> </a>
                </li>

                <li>
                    <a data-toggle="tab" ng-click="selectedGeneralTab('tabLabeling')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Labeling & Packaging </span> </a>
                </li>

                <li>
                    <a data-toggle="tab" ng-click="selectedGeneralTab('tabForwarder')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Forwarder </span> </a>
                </li>

                <li>
                    <a data-toggle="tab" ng-click="selectedGeneralTab('tabOther')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Other </span> </a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="selectedGeneralTab('tabTracking')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet"> Tracking </span> </a>
                </li>
            </ul>
        </header>
        <div>
            <div class="jarviswidget-editbox"></div>

            <div class="widget-body">
                <div class="tab-content" id="tab-content-general">
                    <div class="tab-pane active" id="tabGeneral">
                        <div class="row">
                            <div class="col-sm-2 m-bottom-15">
                                <label>Season</label>
                                <input readonly class="form-control" ng-model="offerDataContainer.offerDTO.season" />
                            </div>
                            <div class="col-sm-2  m-bottom-15">
                                <label>Offer Date</label>
                                <div class="input-group">
                                    <input ng-style="{'background-color': isEdit() ? '#fff4a6' : '#ffffff'}" type="text" class="form-control" avs-calendar ng-data-source="offerDataContainer.offerDTO.offerDateFormated" required ng-disabled="isEdit()">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <span class="help-block" ng-show="editForm.offerDateFormated.$error.required"><i class="fa fa-warning"></i>Offer date is required.</span>
                            </div>

                            <div class="col-sm-2  m-bottom-15">
                                <label>Valid Until</label>
                                <div class="input-group">
                                    <input ng-style="{'background-color': isEdit() ? '#fff4a6' : '#ffffff'}" type="text" class="form-control" avs-calendar ng-data-source="offerDataContainer.offerDTO.validUntilFormated" ng-disabled="isEdit()">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>

                            <div class="col-sm-2  m-bottom-15" style="display: none;">
                                <label>Acc Manager</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.saleID" ng-options="item.saleID as item.saleNM for item in offerDataContainer.supportData.sales">
                                    <option value=""></option>
                                </select>
                            </div>

                            @*<div class="col-sm-2  m-bottom-15">
                                    <label>Status</label>
                                    <input readonly ng-model="offerDataContainer.offerDTO.trackingStatusNM" class="form-control" />
                                </div>

                                <div class="col-sm-1  m-bottom-15">
                                    <label>Version</label>
                                    <span class="form-control">{{offerDataContainer.offerDTO.offerVersion}}</span>
                                </div>*@
                            <div class="col-sm-2 m-bottom-15">
                                <label>Client Contact Email</label>
                                <input type="text" class="form-control" ng-model="offerDataContainer.offerDTO.clientContactEmail" />
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Client Contact Phone</label>
                                <input type="text" class="form-control" ng-model="offerDataContainer.offerDTO.clientContactPhone" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6  m-bottom-15">
                                <label>Client</label>
                                <span class="form-control">
                                    <strong>{{offerDataContainer.offerDTO.clientUD}}</strong>
                                    {{offerDataContainer.offerDTO.clientNM}}
                                </span>
                            </div>
                            <div class="col-sm-1 m-bottom-15">
                                <label>Currency</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.currency}}</span>
                            </div>
                            <div class="col-sm-1 m-bottom-15">
                                <label>Ex. Rate</label>
                                <span class="form-control" style="text-align: right;">{{getExchangeRate() | number:2}}</span>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Transport Fee</label>
                                <input type="text" style="text-align: right" class="form-control" ng-model="offerDataContainer.offerDTO.transportationFee" />
                                @*<span class="form-control" style="text-align: right;">{{offerDataContainer.offerDTO.transportationFee | currency : '&euro;' : 2}}</span>*@
                            </div>
                            <div class="col-sm-2 m-bottom-15">
                                <label>Commission</label>
                                @*<input type="text" style="text-align: right"  class="form-control" ng-model="offerDataContainer.offerDTO.commissionPercent" />*@
                                <span class="form-control" style="text-align: right;">{{(offerDataContainer.offerDTO.defaultCommissionPercent != null ? offerDataContainer.offerDTO.defaultCommissionPercent : 0)| number : 2}} - {{getCommissionPercent() | number:2 }} %</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 m-bottom-15">
                                <label>Remark</label>
                                <input type="text" class="form-control" ng-model="offerDataContainer.offerDTO.remark" />
                            </div>
                            <div class="col-sm-5 m-bottom-15">
                                <label>Offer File Name / @Html.Partial("~/Views/Shared/_Controls/_FileUploadBox.cshtml", new Frontend.Models.FileUploadViewModel() { ControlID = "offerDataContainer.offerDTO.offerID", URLBinding = "offerDataContainer.offerDTO.offerScanFileURL", FileName = "offerDataContainer.offerDTO.offerScanFileFriendlyName", JSOnChangeHandler = "changeFile", JSONRemoveHandler = "removeFile" })</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.offerUD}}</span>
                            </div>
                            <div class="col-sm-1 m-bottom-15">
                                <div class="smart-form">
                                    <label class="label">&nbsp;</label>
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="offerDataContainer.offerDTO.isPotential">
                                        <i></i>Potential
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="tabClient">
                        <div class="row">
                            <div class="col-sm-6 m-bottom-15">
                                <label>Client Name</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.clientNM}}</span>

                            </div>
                            <div class="col-sm-2 m-bottom-15">
                                <label>Client Code</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.clientUD}}</span>
                            </div>
                            <div class="col-sm-2 m-bottom-15">
                                <label>Contact Person</label>
                                <input class="form-control" type="text" id="clientContactPerson" name="clientContactPerson" ng-model="offerDataContainer.offerDTO.clientContactPerson">
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Phone</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.clientTelephone}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2 m-bottom-15">
                                <label>Email</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.clientEmail}}</span>
                            </div>

                            <div class="col-sm-6 m-bottom-15">
                                <label>Address 1</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.clientStreetAddress1}}</span>
                            </div>

                            <div class="col-sm-4 m-bottom-15">
                                <label>Address 2</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.clientStreetAddress2}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tabPayment">
                        <div class="row">
                            <div class="col-sm-2 m-bottom-15">
                                <label>Payment Term</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.paymentTermID" ng-options="item.paymentTermID as item.paymentTermNM for item in offerDataContainer.paymentTermDTOs">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Delivery Term</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.deliveryTermID" ng-options="item.deliveryTermID as item.deliveryTermNM for item in offerDataContainer.deliveryTermDTOs">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>TransportFee/Cont40HC</label>
                                <div class="input-group">
                                    <span class="input-group-addon">€</span>
                                    <input type="text" class="form-control" ng-model="offerDataContainer.offerDTO.transportationFee" style="text-align:right" furnindo-currency />
                                </div>
                            </div>

                            <div class="col-sm-1 m-bottom-15">
                                <label>Currency</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.currency" ng-options="item.currencyValue as item.currencyText for item in offerDataContainer.currencyDTOs"></select>
                            </div>

                            <div class="col-sm-1 m-bottom-15">
                                <label>VAT</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.vat" ng-options="item.vatPercentValue as item.vatPercentText for item in offerDataContainer.vatPercentDTOs"></select>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>% Surcharge</label>
                                <input class="form-control" type="text" id="surChargePercent" ng-model="offerDataContainer.offerDTO.surChargePercent">
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>% Commission</label>
                                <input class="form-control" type="text" id="commissionPercent" ng-model="offerDataContainer.offerDTO.commissionPercent">
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane" id="tabLabeling">
                        <div class="row">
                            <div class="col-sm-3 m-bottom-15">
                                <label>Labeling</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.labelingType" ng-options="item.labelingTypeValue as item.labelingTypeText for item in offerDataContainer.labelingTypeDTOs">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-sm-3 m-bottom-15">
                                <label>Labeling Note / <input type="checkbox" id="isLabelingNeedToFollowUp" ng-model="offerDataContainer.offerDTO.isLabelingNeedToFollowUp"> Will follow up by sale</label>
                                <input class="form-control" type="text" id="labelingNote" ng-model="offerDataContainer.offerDTO.labelingNote">
                            </div>

                            <div class="col-sm-3 m-bottom-15">
                                <label>Packaging</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.packagingType" ng-options="item.packagingTypeValue as item.packagingTypeText for item in offerDataContainer.packagingTypeDTOs">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-sm-3 m-bottom-15">
                                <label>Packaging Note / <input type="checkbox" id="isPackagingNeedToFollowUp" ng-model="offerDataContainer.offerDTO.isPackagingNeedToFollowUp"> Will follow up by sale</label>
                                <input class="form-control" type="text" id="packagingNote" ng-model="offerDataContainer.offerDTO.packagingNote">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tabForwarder">
                        <div class="row">
                            <div class="col-sm-2 m-bottom-15">
                                <label>Forwarder</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.forwarderID" ng-options="item.forwarderID as item.forwarderNM for item in offerDataContainer.forwarderDTOs">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Forwarder Contract Number</label>
                                <input class="form-control" type="text" id="forwarderContractNo" ng-model="offerDataContainer.offerDTO.forwarderContractNo">
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Forwarder Contract Person</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.forwarderPIC}}</span>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Forwarder Mobile</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.forwarderPIC}}</span>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Forwarder Mobile</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.forwarderMobile}}</span>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Forwarder Email</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.forwarderEmail}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="tabOther">
                        <div class="row">
                            <div class="col-sm-2 m-bottom-15">
                                <label>Put In Production Term</label>
                                <select class="form-control" ng-model="offerDataContainer.offerDTO.putInProductionTermID" ng-options="item.putInProductionTermID as item.putInProductionTermNM for item in offerDataContainer.putInProductionTermDTOs">
                                    <option value=""></option>
                                </select>
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Put In Production Remark</label>
                                <input class="form-control" type="text" id="putInProductionRemark" ng-model="offerDataContainer.offerDTO.putInProductionRemark">
                            </div>

                            <div class="col-sm-1 m-bottom-15">
                                <label>20DC Qnt</label>
                                <input class="form-control" type="text" id="qntIn20DC" ng-model="offerDataContainer.offerDTO.qntIn20DC">
                            </div>

                            <div class="col-sm-1 m-bottom-15">
                                <label>40DC Qnt</label>
                                <input class="form-control" type="text" id="qntIn40DC" ng-model="offerDataContainer.offerDTO.qntIn40DC">
                            </div>

                            <div class="col-sm-1 m-bottom-15">
                                <label>40HC Qnt</label>
                                <input class="form-control" type="text" id="qntIn40HC" ng-model="offerDataContainer.offerDTO.qntIn40HC">
                            </div>

                            <div class="col-sm-2 m-bottom-15">
                                <label>Partial Qnt</label>
                                <input class="form-control" type="text" id="partialQnt" ng-model="offerDataContainer.offerDTO.partialQnt">
                            </div>
                            <div class="col-sm-2 m-bottom-15">
                                <label>Remark for Qnt</label>
                                <input class="form-control" type="text" id="qntRemark" ng-model="offerDataContainer.offerDTO.qntRemark">
                            </div>
                        </div>

                    </div>

                    <div id="tabTracking" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-2 m-bottom-15">
                                <label>Created By</label>
                                <span class="form-control">
                                    <a ng-show="(offerDataContainer.offerDTO.createdBy != null )" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{offerDataContainer.offerDTO.createdBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{offerDataContainer.offerDTO.creatorName}}
                                    </a>
                                </span>
                            </div>
                            <div class="col-sm-2 m-bottom-15">
                                <label>Created Date</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.createdDateFormated}}</span>
                            </div>
                            <div class="col-sm-2 m-bottom-15">
                                <label>Updated By</label>
                                <span class="form-control">
                                    <a ng-show="(offerDataContainer.offerDTO.updatedBy != null)" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{offerDataContainer.offerDTO.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                        <i class="fa fa-user"></i> {{offerDataContainer.offerDTO.updatorName}}
                                    </a>
                                </span>
                            </div>
                            <div class="col-sm-2 m-bottom-15">
                                <label>Updated Date</label>
                                <span class="form-control">{{offerDataContainer.offerDTO.updatedDateFormated}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <ul class="nav nav-tabs pull-left in">
                <li class="active">
                    <a data-toggle="tab" ng-click="selectedTab('tabOfferLine')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Product</span> </a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="selectedTab('tabOffeLineSparepartGrid')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sparepart</span> </a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="selectedTab('tabOfferLineSampleProduct')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Sample</span> </a>
                </li>
            </ul>
        </header>
        <div>
            <div class="jarviswidget-editbox"></div>

            <div class="widget-body">
                <div class="tab-content" id="tab-content-detail">
                    <div class="tab-pane active" id="tabOfferLine">
                        <div class="widget-body no-padding">
                            <div class="avs-table-wrapper" avs-table grid-handler="gridHandler">
                                <div class="avs-table-header">
                                    <div class="avs-table-header-container">
                                        <table>
                                            <tr class="header-row" style="height: 75px;">
                                                <td style="width:60px">
                                                    <a class="btn btn-primary btn-xs m-bottom-15" href="#/offer-season-detail/0"><i class="fa fa-plus"></i> Add</a>
                                                    @*<a href="javascript:void(0)" class="btn btn-default btn-xs" title="unlock" onclick="drag()"><i class="fa fa-unlock"></i></a>
                                                        <a href="javascript:void(0)" class="btn btn-default btn-xs" title="lock" onclick="drop()"><i class="fa fa-lock"></i></a>*@
                                                </td>
                                                <td style="width:100px">Image</td>
                                                <td style="width:50px">Row Index</td>
                                                <td style="width:40px">Type</td>
                                                <td style="width:350px;">Description</td>
                                                <td style="width:50px;">Qnt</td>
                                                <td style="width: 50px;" class="sorting">Qnt/ 40HC</td>
                                                <td style="width: 50px;">% Com</td>
                                                <td style="width:80px;">SalePrice <br />({{offerDataContainer.offerDTO.currency}})</td>
                                                <td style="width: 80px;" class="sorting" data-colname="description">Fac Price <br />($) <a href="javascript:void(0)" data-toggle="modal" data-target="#PurchasingPriceHelp"><i class="fa fa-question-circle"></i></a></td>
                                                <td style="width: 60px;" class="sorting" data-colname="deltaPercent">% Delta</td>
                                                <td style="width: 100px;">Purchase Amount (USD)</td>
                                                <td style="width: 100px;" ng-if="offerDataContainer.offerDTO.currency=='EUR'">Sale Amount (USD)</td>
                                                <td style="width: 100px;">Sale Amount ({{offerDataContainer.offerDTO.currency}})</td>
                                                <td style="width: 70px;">VAT <br />({{offerDataContainer.offerDTO.currency}})</td>
                                                <td style="width: 70px;">Total <br />({{offerDataContainer.offerDTO.currency}})</td>
                                                <td style="width: 80px;">
                                                    Bonus<br />(USD)
                                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#BonusHelp"><i class="fa fa-question-circle"></i></a>
                                                </td>
                                                <td style="width: 100px;">
                                                    Com mission<br />(USD)
                                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#CommissionHelp"><i class="fa fa-question-circle"></i></a>
                                                </td>
                                                <td style="width: 100px;">
                                                    LC Cost<br />(USD)
                                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#LCCostHelp"><i class="fa fa-question-circle"></i></a>
                                                </td>
                                                <td style="width: 100px;">
                                                    Interes <br />Cost (USD)
                                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#InterestHelp"><i class="fa fa-question-circle"></i></a>
                                                </td>
                                                <td style="width: 100px;">
                                                    Damages<br />Cost (USD)
                                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#DamagesHelp"><i class="fa fa-question-circle"></i></a>
                                                </td>
                                                <td style="width: 100px;">
                                                    Transport<br />Cost (USD)
                                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#TransportCostHelp"><i class="fa fa-question-circle"></i></a>
                                                </td>
                                                <td style="width: 150px;">Client Info</td>
                                                <td style="width: 300px;">Remark</td>
                                            </tr>
                                            <tr class="total-row">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{getTotalRow('quantity') | number:0}}</td>
                                                <td>{{getTotalRow('quantity40HC') | number:2}}</td>
                                                @*<td>{{getTotalRow('commissionPercent') | number:2}}</td>*@
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <font style="{{getTotalRow('deltaTotalPercent') < 0 ? 'color: red;' : ''}}">
                                                        <a title="Weighted Delta" href="javascript:void(0)">{{getTotalRow('deltaTotalPercent') | number:1}}%</a>
                                                        <a title="Single Delta" href="javascript:void(0)">{{getTotalRow('deltaTotalPercentSingle') | number:1}}%</a>
                                                    </font>
                                                </td>
                                                <td>{{getTotalRow('purchaseAmount') | currency : '$' : 2}}</td>
                                                <td ng-if="offerDataContainer.offerDTO.currency=='EUR'">{{getTotalRow('saleAmountInUSD') | currency : '$' : 2}}</td>
                                                <td>{{getTotalRow('saleAmount') | currency : (offerDataContainer.offerDTO.currency == 'USD' ? '$' : '€') : 2}}</td>
                                                <td>{{getTotalRow('vat') | currency : (offerDataContainer.offerDTO.currency == 'USD' ? '$' : '€') : 2}}</td>
                                                <td>{{getTotalRow('total') | currency : (offerDataContainer.offerDTO.currency == 'USD' ? '$' : '€') : 2}}</td>
                                                <td>
                                                    {{getTotalRow('bonus') | currency:'$':2}}
                                                </td>
                                                <td>
                                                    {{getTotalRow('commission') | currency:'$':2}}
                                                </td>
                                                <td>{{getTotalRow('lccost') | currency:'$':2}}</td>
                                                <td>{{getTotalRow('interest') | currency:'$':2}}</td>
                                                <td>{{getTotalRow('damages') | currency:'$':2}}</td>
                                                <td>{{getTotalRow('transportation') | currency:'$':2}}</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="avs-table-body">
                                    <table id="table-sort">
                                        <tr ng-repeat="item in offerDataContainer.offerDTO.offerLineDTOs">
                                            <td>
                                                <a style="display: block;" class="btn btn-danger btn-xs font-11 " href="#" ng-click="removeOfferLine($event, item.offerLineID)" title="Remove"><i class="fa fa-times"></i> Del</a>
                                            </td>
                                            <td>
                                                <a href="{{item.productFileLocation}}" data-featherlight="image">
                                                    <img style="width:95%" ng-src="{{item.productThumbnailLocation}}" />
                                                </a>
                                            </td>
                                            <td style="text-align:right">{{item.rowIndex}}</td>
                                            <td>{{item.offerSeasonTypeNM}}</td>
                                            <td style="font-size:10px">
                                                <span style="font-weight:bold;">{{item.articleCode}}</span>
                                                <br />
                                                {{item.description}}
                                                <br />
                                                <u>Packing:</u> {{item.packagingMethodText}}
                                                <br />
                                                <i style="color: #{{item.offerItemTypeID === 1 ? 'a76318' : '1aa50b'}};">{{item.offerItemTypeNM}}</i>
                                                &nbsp;
                                                @*<span style="color: #0000ff;" ng-if="item.offerItemTypeID === 1">APPROVED</span>*@
                                                <span style="color: #0000ff;" ng-if="item.offerItemTypeID === 5">APPROVED</span>
                                            </td>
                                            <td>
                                                <input type="text" number ng-model="item.quantity" style="text-align: right;width:99%" />
                                            </td>
                                            <td style="text-align: right;">
                                                {{item.quantity / item.qnt40HC | number : 2}}
                                            </td>
                                            <td style="text-align: right;">
                                                <input type="text" number ng-model="item.commissionPercent" style="text-align: right;width:99%" ng-disabled="{{item.offerSeasonDetailCommissionPercent === null}}" />
                                            </td>
                                            <td style="text-align: right;"> {{item.unitPrice | number:2}} </td>
                                            <td style="text-align: right;">
                                                <span style="text-align: right;">{{item.planingPurchasingPrice | currency:'$':2}}</span>
                                                <br />
                                                <br />
                                                <span style="display: block;" ng-if="item.planingPurchasingPrice">
                                                    Source: {{item.planingPurchasingPriceSourceID}}
                                                </span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span ng-if="item.unitPrice" style="{{delta(item) < 0 ? 'color: red;' : ''}}">
                                                    {{deltaPercent(item) | number:1}}%
                                                </span>
                                            </td>
                                            <td style="text-align: right;">
                                                {{purchasingPriceInUSD(item) * item.quantity | currency : '$' : 2}}
                                            </td>
                                            <td style="text-align: right;" ng-if="offerDataContainer.offerDTO.currency=='EUR'">
                                                {{salePriceInUSD(item) * item.quantity | currency : '$' : 2}}
                                                <br />
                                                {{item.unitPrice * item.quantity / getTotalRow('saleAmount') * 100 | number: 1}}%
                                            </td>
                                            <td style="text-align: right;">
                                                {{item.unitPrice * item.quantity | currency : '$' : 2}}
                                                <br />
                                                {{item.unitPrice * item.quantity / getTotalRow('saleAmount') * 100 | number: 1}}%
                                            </td>
                                            <td style="text-align: right;">
                                                {{item.unitPrice * item.quantity * $parent.offerDataContainer.offerDTO.vat / 100 | currency : (offerDataContainer.offerDTO.currency == 'USD' ? '$' : '€') : 2}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{item.unitPrice * item.quantity * (1 + $parent.offerDataContainer.offerDTO.vat / 100) | currency : (offerDataContainer.offerDTO.currency == 'USD' ? '$' : '€') : 2}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{bonusInUSD(item) * item.quantity | currency : '$' : 2}}
                                            </td>
                                            <td style="text-align: right;">                                           
                                                {{commissionInUSD(item) * item.quantity | currency : '$' : 2}}                                              
                                            </td>
                                            <td style="text-align: right;">
                                                {{lcCostInUSD(item) * item.quantity | currency : '$' : 2}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{interestInUSD(item) * item.quantity | currency : '$' : 2}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{damagesCostInUSD(item)  * item.quantity | currency : '$' : 2}}
                                            </td>
                                            <td style="text-align: right;">
                                                {{transportationInUSD(item)  * item.quantity | currency : '$' : 2}}
                                            </td>
                                            <td>
                                                <input type="text" name="clientArticleCode" ng-model="item.clientArticleCode" placeholder="Client art.code">
                                                <input type="text" name="clientArticleName" ng-model="item.clientArticleName" placeholder="Client art.name">
                                                <input type="text" name="clientOrderNumber" ng-model="item.clientOrderNumber" placeholder="Client order number">
                                                <input type="text" name="clientEANCode" ng-model="item.clientEANCode" placeholder="Client ean code">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="item.remark" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tabOffeLineSparepartGrid">
                        <div class="widget-body no-padding">
                            <div class="avs-table-wrapper" avs-table grid-handler="nullHandler">
                                <div class="avs-table-header">
                                    <div class="avs-table-header-container">
                                        <table>
                                            <tr class="header-row" style="height: 75px;">
                                                <td style="width:60px">
                                                    <a class="btn btn-primary btn-xs m-bottom-15" href="#/offer-season-detail/1"><i class="fa fa-plus"></i> Add</a>
                                                </td>
                                                <td style="width:50px">Row Index</td>
                                                <td style="width:80px">Type</td>
                                                <td style="width:350px;">Description</td>
                                                <td style="width:50px;">Qnt</td>
                                                <td style="width: 50px;">% Com</td>
                                                <td style="width:80px;">SalePrice <br />({{offerDataContainer.offerDTO.currency}})</td>
                                                <td style="width: 150px;">Client Info</td>
                                                <td style="width: 300px;">Remark</td>
                                            </tr>
                                            <tr class="total-row">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>{{getTotalRow('commissionPercentSparepart') | number:2}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="avs-table-body">
                                    <table>
                                        <tr ng-repeat="item in offerDataContainer.offerDTO.offerLineSparepartDTOs">
                                            <td>
                                                <a style="display: block;" class="btn btn-danger btn-xs font-11 " href="#" ng-click="removeOfferLineSparepart($event, item.offerLineSparePartID)" title="Remove"><i class="fa fa-times"></i> Del</a>
                                            </td>
                                            <td style="text-align:right">{{item.rowIndex}}</td>
                                            <td>{{item.offerSeasonTypeNM}}</td>
                                            <td style="font-size:10px">
                                                <strong>{{item.articleCode}}</strong>
                                                <br />
                                                {{item.description}}
                                            </td>
                                            <td>
                                                <input type="text" number ng-model="item.quantity" style="text-align: right" />
                                            </td>
                                            <td style="text-align: right;">
                                                <input type="text" number ng-model="item.commissionPercent" style="text-align: right;width:99%" ng-disabled="{{item.offerSeasonDetailCommissionPercent === null}}"/>
                                            </td>
                                            <td> {{item.unitPrice | number:2}} </td>
                                            <td>
                                                <input type="text" name="clientArticleCode" ng-model="item.clientArticleCode" placeholder="Client art.code">
                                                <input type="text" name="clientArticleName" ng-model="item.clientArticleName" placeholder="Client art.name">
                                                <input type="text" name="clientOrderNumber" ng-model="item.clientOrderNumber" placeholder="Client order number">
                                                <input type="text" name="clientEANCode" ng-model="item.clientEANCode" placeholder="Client ean code">
                                            </td>
                                            <td>
                                                <input type="text" ng-model="item.remark" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tabOfferLineSampleProduct">
                        <div class="widget-body no-padding">
                            <div class="avs-table-wrapper" avs-table grid-handler="nullHandler">
                                <div class="avs-table-header">
                                    <div class="avs-table-header-container">
                                        <table>
                                            <tr class="header-row" style="height: 75px;">
                                                <td style="width:60px">
                                                    <a class="btn btn-primary btn-xs m-bottom-15" href="#/offer-season-detail/2"><i class="fa fa-plus"></i> Add</a>
                                                </td>
                                                <td style="width:100px">Image</td>
                                                <td style="width:350px;">Description</td>
                                                <td style="width:50px;">Qnt</td>
                                                <td style="width: 50px;" class="sorting">Qnt/ 40HC</td>
                                                <td style="width:100px;">SalePrice <br />({{offerDataContainer.offerDTO.currency}})</td>
                                                <td style="width: 120px;" class="sorting" data-colname="description">Fac Price ($) <a href="javascript:void(0)" data-toggle="modal" data-target="#PurchasingPriceHelp"><i class="fa fa-question-circle"></i></a></td>
                                                <td style="width: 150px;">Client Info</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="avs-table-body">
                                    <table>
                                        <tr ng-repeat="item in offerDataContainer.offerDTO.offerLineSampleProductDTOs">
                                            <td>
                                                <a style="display: block;" class="btn btn-danger btn-xs font-11 " href="#" ng-click="removeOfferLineSampleProduct($event, item.offerLineSampleProductID)" title="Remove"><i class="fa fa-times"></i> Del</a>
                                            </td>
                                            <td>
                                                <a href="{{item.fileLocation}}" data-featherlight="image">
                                                    <img style="width:95%" ng-src="{{item.thumbnailLocation}}" />
                                                </a>
                                            </td>
                                            <td style="font-size:10px">
                                                <span style="font-weight:bold;">{{item.articleCode}}</span>
                                                <br />
                                                {{item.description}}
                                                <br />
                                                <u>Packing:</u> {{item.packagingMethodText}}
                                                <br />
                                                <i style="color: #{{item.offerItemTypeID === 1 ? 'a76318' : '1aa50b'}};">{{item.offerItemTypeNM}}</i>
                                                &nbsp;
                                                <span style="color: #0000ff;" ng-if="item.offerItemTypeID === 5">APPROVED</span>
                                            </td>
                                            <td>
                                                <input type="text" number ng-model="item.quantity" style="text-align: right;width:99%" />
                                            </td>
                                            <td style="text-align: right;">
                                                {{item.quantity / item.qnt40HC | number : 2}}
                                            </td>
                                            <td style="text-align: right;"> {{item.salePrice | number:2}} </td>
                                            <td style="text-align: right;">
                                                <span style="text-align: right;">{{item.planingPurchasingPrice | currency:'$':2}}</span>
                                                <br />
                                                <br />
                                                <span style="display: block;" ng-if="item.planingPurchasingPrice">
                                                    Source: {{item.planingPurchasingPriceSourceID}}
                                                </span>
                                            </td>
                                            <td>
                                                <input type="text" name="clientArticleCode" ng-model="item.clientArticleCode" placeholder="Client art.code">
                                                <input type="text" name="clientArticleName" ng-model="item.clientArticleName" placeholder="Client art.name">
                                                <input type="text" name="clientOrderNumber" ng-model="item.clientOrderNumber" placeholder="Client order number">
                                                <input type="text" name="clientEANCode" ng-model="item.clientEANCode" placeholder="Client ean code">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<div class="modal fade" id="PurchasingPriceHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Purchasing Price</h4>
            </div>
            <div class="modal-body">
                <p>
                    Purchasing price <strong>only appear after you save the offer</strong>, you can manually select the best purchasing price by click on the auto selected purchasing when it's apprear
                    <br /><br />
                    The purchasing price source will be retrieved base on the following priority:
                    <br />
                    1.Confirmed Price
                    <br />
                    2.Configured purchasing price in Model module (already confirmed by factory - Hannah pdf price)
                    <br />
                    3.Estimated purchasing price manually input in the offer
                    <br />
                    4.Related price in this season
                    <br />
                    5.Pending factory price for this season
                    <br />
                    6.Related price in last season
                    <br />
                    7.Estimated purchasing price in the estimated price module
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="CommissionHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Commission Cost</h4>
            </div>
            <div class="modal-body">
                <p>
                    COMMISSION = SALE AMOUNT (USD) * % COMMISSION has defined on OFFER
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="BonusHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Bonus Cost</h4>
            </div>
            <div class="modal-body">
                <p>
                    BONUS = SALE AMOUNT (USD) * % BONUS has defined on Client Information 
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="LCCostHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">LC Cost</h4>
            </div>
            <div class="modal-body">
                <p>
                    LC COST: two cases:
                    <br />
                    1. IF user has defined LCCOST percent on Client module. <b>LC COST = SALEAMOUNT (USD) * LCCOST of Client</b>
                    <br />
                    2. IF PaymentType of Offer is "LC". <b>LC COST = SALEAMOUNT (USD) * 1%</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="InterestHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Interest Cost</h4>
            </div>
            <div class="modal-body">
                <p>
                    INTEREST COST: two cases
                    <br />
                    1. IF user has defined INTEREST COST percent on Client module. <b>INTEREST COST = SALEAMOUNT (USD) * INTEREST COST of Client</b>
                    <br />
                    2. Based on Payment Term. <b>INTEREST COST = SALEAMOUNT (USD) * (1 - Down Value) * Term of payment in days * InterestPercent / 360</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DamagesHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Damages Cost</h4>
            </div>
            <div class="modal-body">
                <p>
                    DAMAGE COST = PURCHASE AMOUNT * 1,25%
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TransportCostHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Transport Cost</h4>
            </div>
            <div class="modal-body">
                <p>
                    TRANSPORT COST <b>(Only for EUR)</b> = ORDER QNT / LOAD ABILITY OF 40HC * TransportFee/Cont40HC has defined on OFFER * Exchang Rate
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>