<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Module.AVFVATRpt.Properties.Settings.TILSOFTConnectionString"
            connectionString="Data Source=RT;Initial Catalog=TILSOFT;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>