<div id="file-manager" class="popup-container">
    <div class="content">
        <div class="file-browser" style="padding: 5px; box-sizing: border-box;"></div>
        <div class="clear"></div>
        <div class="upload-form">
            <form id="mydropzone" class="dropzone dz-clickable" action="@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/file/upload" enctype="multipart/form-data"></form>
        </div>
        <a class="btn btn-default" href="javascript:void(0)" style="float: right; margin-top: 10px;" title="Clear" onclick="tmpFileManager.close();"><i class="fa fa-sign-out"></i> Close</a>
        <a class="btn btn-danger" href="javascript:void(0)" style="float: right; margin-top: 10px; margin-right: 10px;" title="Clear" onclick="tmpFileManager.clear();"><i class="fa fa-eraser"></i> Clear</a>        
    </div>
</div>