@{
    ViewBag.Title = "User Files";
    ViewBag.Icon = "fa-pencil-square-o";
    ViewBag.Module = "User Files";
}

<style>
    .superbox {
        font-size: 0px;
    }
    .superbox-close {
        font-size: 13px;
    }
    .superbox-action-buttons a {
        margin-bottom: 5px;
    }
</style>

<div class="row">
    <div id="superbox-content" class="superbox col-sm-12">
    </div>

    <div class="superbox-show" style="height:300px; display: none"></div>
</div>

<div class="well" style="margin-top: 15px;" ng-if="nodata">
    EMPTY
</div>

@section FormAction {
    <div class="page-title text-align-right">
        <a href="javascript:void(0)" class="btn btn-default" title="Refresh" ng-click="event.init()"><i class="fa fa-refresh"></i> Refresh</a>
        <a href="javascript:void(0)" class="btn btn-default" title="Upload Files"><i class="fa fa-upload"></i> Upload</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" class="btn btn-danger" title="Refresh" ng-click="event.deleteAll()"><i class="fa fa-eraser"></i> Delete All</a>
    </div>    
}

@section pagejs {
    <script src="~/TemplateResource/js/plugin/superbox/superbox.min.js"></script>
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/userfilemng/',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]'
        }
    </script>
    <script src="~/Angular/app/userFileMng/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/userFileMng/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}