@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    ViewBag.Icon = "fa-bar-chart-o";
    ViewBag.Title = "Production Costing Overview";
    ViewBag.Module = "Production Costing Overview";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-sm-3">
                                <label class="label">Work Order</label>
                                <label class="input">
                                    <input type="text" class="form-control" name="workOrderUD" required style="font-family:Arial" avs-remote-auto-complete ng-request-param="ngRequestWorkOrder" ng-init-param="workOrder.description" ng-model="workOrder.description" ng-item-value="workOrder" ng-item-selected="event.selectWorkOrder(workOrder)" data-method="POST" data-format-function="formatData" />
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" style="float: none;" ng-click="event.search(selection.workOrderID)"><i class="fa fa-code"></i> HTML Version</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel()" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Version</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Work Order Information</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-sm-2">
                                    <label class="label">
                                        <label>Work Order</label>                                
                                    </label>
                                    <label class="input" >                                    
                                        <span class="form-control">{{dataWorkOrder.workOrderUD}}</span>
                                    </label>
                                </section>

                                <section class="col col-sm-2">
                                    <label class="label">
                                        Type                                  
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.workOrderTypeNM}}</span>
                                    </label>                               
                                </section>

                                <section class="col col-sm-1">
                                    <label class="label">
                                        Status                                   
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.workOrderStatusNM}}</span>
                                    </label>
                                </section>

                                <section class="col col-sm-2">
                                    <label class="label">
                                        Start Date                                    
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.startDate}}</span>
                                    </label>                                
                                </section>

                                <section class="col col-sm-2">
                                    <label class="label">
                                        Finish Date                                  
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.finishDate}}</span>
                                    </label>                               
                                </section>


                                <section class="col col-sm-3">
                                    <label class="label">
                                        <label>OP Sequence</label>                                   
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.opSequenceNM}}</span>
                                    </label>
                                
                                </section>
                            </div> 
                            <div class="row">
                                <section class="col col-sm-2">
                                    <label class="label">
                                        <label>Client</label>                                   
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.clientUD}}</span>
                                    </label>
                                
                                </section>

                                <section class="col col-sm-3">
                                    <label class="label">
                                        <label>Proforma Invoice No</label>                                   
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.proformaInvoiceNo}}</span>
                                    </label>
                                
                                </section>

                                <section class="col col-sm-7">
                                    <label class="label">
                                        <label>Model</label>                                   
                                    </label>
                                    <label class="input">
                                        <span class="form-control">{{dataWorkOrder.modelUD}} ({{dataWorkOrder.modelNM}})</span>
                                    </label>
                                
                                </section>
                            </div>
                        </fieldset>                 
                    </div>
                </div>
            </div>
        </div>
    </article>


    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
        <div class="jarviswidget jarviswidget-color-darken" id="." data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Results HTML</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-body" style="width: 100%; overflow-y: hidden; margin-top: 0px; max-height:none">
                                <table style="border: 1px solid black">
                                    <tbody>
                                        <tr>
                                            <th rowspan="2" style="width:50px; background-color: yellow; border: 1px solid black"><strong>Piece</strong></th>
                                            <th rowspan="2" style="width:130px; background-color: yellow; border: 1px solid black"><strong>Type</strong></th>
                                            <th rowspan="2" style="width:100px; background-color: yellow; border: 1px solid black"><strong>Sequence</strong></th>
                                            <th rowspan="2" style="width:310px; background-color: yellow; border: 1px solid black"><strong>Code</strong></th>
                                            <th rowspan="2" style="width:500px; background-color: yellow; border: 1px solid black"><strong>Description</strong></th>
                                            <th rowspan="2" style="width:70px; background-color: yellow; border: 1px solid black"><strong>Unit</strong></th>
                                            <th rowspan="2" style="width:140px; background-color: yellow; border: 1px solid black"><strong>Price</strong></th>
                                            <th colspan="3" style="width:300px; height:40px; background-color: yellow; border: 1px solid black"><strong>Quantity</strong></th>
                                            <th colspan="4" style="width:400px; background-color: yellow; border: 1px solid black"><strong>Costing</strong></th>
                                        </tr>
                                        <tr>
                                            <th style="width:100px; height:50px; background-color: yellow; border: 1px solid black"><strong>Plan</strong></th>
                                            <th style="width:100px; background-color: yellow; border: 1px solid black"><strong>Actual</strong></th>
                                            <th style="width:100px; background-color: yellow; border: 1px solid black"><strong>Variance</strong></th>
                                            <th style="width:140px; background-color: yellow; border: 1px solid black"><strong>Plan</strong></th>
                                            <th style="width:140px; background-color: yellow; border: 1px solid black"><strong>Actual</strong></th>
                                            <th style="width:140px; background-color: yellow; border: 1px solid black"><strong>Variance<br />(Value)</strong></th>
                                            <th style="width:140px; background-color: yellow; border: 1px solid black"><strong>Variance<br />(%)</strong></th>
                                        </tr>
                                        <tr style="background-color: cyan">
                                            <td colspan="6" style="text-align: right">Total Amount</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right">{{totalPlanCosting | number : 0}}</td>
                                            <td style="text-align: right">{{totalUsingCosting | number : 0}}</td>
                                            <td style="text-align: right">{{totalVarianceValueCosting | number : 0}}</td>
                                            <td style="text-align: right">{{totalVarianceCosting | number : 1}}</td>
                                        </tr>
                                        <tr style="background-color: cyan">
                                            <td colspan="6" style="text-align: right">Amount per Product</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: right"></td>
                                            <td style="text-align: right">{{amountPlanCosting | number : 0}}</td>
                                            <td style="text-align: right">{{amountUsingCosting | number : 0}}</td>
                                            <td style="text-align: right">{{amountVarianceValueCosting | number : 0}}</td>
                                            <td style="text-align: right">{{amountVarianceCosting | number : 1}}</td>
                                        </tr>
                                        <tr ng-repeat="item in data" ng-if="item.countChildBOM != null" ng-style="{'background': (item.countChildBOM == 1 && item.workCenterID == null) ? 'RGB(0, 176, 240)' : (item.productionItemTypeID == 1) ? 'RGB(239, 178, 183)' : 'none'}">
                                            <td style="text-align: center">{{item.pieceIndex}}</td>
                                            <td>{{item.productionItemTypeNM}}</td>
                                            <td>{{item.workCenterNM}}</td>
                                            <td>{{item.productionItemUD}}</td>
                                            <td>{{item.productionItemNM}}</td>
                                            <td style="text-align: center">{{item.unit}}</td>
                                            <td style="text-align: right">{{item.price | number}}</td>
                                            <td style="text-align: center">{{item.planQnt | number : 1}}</td>
                                            <td style="text-align: center">{{item.usingQnt | number : 1}}</td>
                                            <td style="text-align: center">{{item.varianceQnt | number : 1}}</td>
                                            <td style="text-align: right">{{item.planCosting | number}}</td>
                                            <td style="text-align: right">{{item.usingCosting | number}}</td>
                                            <td style="text-align: right">{{item.varianceValue | number}}</td>
                                            <td style="text-align: right">{{item.varianceCosting | number : 1}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script type="text/javascript">

        var context = {
            token: '@token',
            serviceUrl: '@(serviceRoot)/api/productioncostingrpt/',
            supportServiceUrl: '@(supportServiceRoot)/api/support/',
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script type="text/javascript" src="~/Views/ProductionCostingRpt/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ProductionCostingRpt/service.js?v=@guid"></script>
}
