<div ng-controller="ProductWizardController" ng-show="productWizard.isWinzardShowed">
    <div class="absolute-left">
        <ul>
            <li title="{{productWizard.modelNM}}">
                <span class="header" style="height: auto;">MODEL</span>
                <img ng-src="{{productWizard.modelImage}}" />
                <span class="text">{{productWizard.modelNM}}</span>
                <a class="zoom" href="{{productWizard.modelImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasFrame" title="{{productWizard.frameMaterialText}}">
                <span class="header" style="height: auto;">FRAME</span>
                <img ng-show="productWizard.frameImage != ''" ng-src="{{productWizard.frameImage}}" />
                <span class="text">{{productWizard.frameMaterialText}}</span>
                <a ng-show="productWizard.frameImage != ''" class="zoom" href="{{productWizard.frameImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li title="{{productWizard.materialText}}">
                <span class="header" style="height: auto;">MATERIAL</span>
                <img ng-show="productWizard.materialImage != ''" ng-src="{{productWizard.materialImage}}" />
                <span class="text">{{productWizard.materialText}}</span>
                <a ng-show="productWizard.materialImage != ''" class="zoom" href="{{productWizard.materialImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasSubMaterial" title="{{productWizard.subMaterialText}}">
                <span class="header" style="height: auto;">SUB MATERIAL</span>
                <img ng-show="productWizard.subMaterialImage != ''" ng-src="{{productWizard.subMaterialImage}}" />
                <span class="text">{{productWizard.subMaterialText}}</span>
                <a ng-show="productWizard.subMaterialImage != ''" class="zoom" href="{{productWizard.subMaterialImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasCushion" title="{{productWizard.backCushionText}}">
                <span class="header" style="height: auto;">BACK CUSHION</span>
                <img ng-show="productWizard.backCushionImage != ''" ng-src="{{productWizard.backCushionImage}}" />
                <span class="text">{{productWizard.backCushionText}}</span>
                <a ng-show="productWizard.backCushionImage != ''" class="zoom" href="{{productWizard.backCushionImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasCushion" title="{{productWizard.seatCushionText}}">
                <span class="header" style="height: auto;">SEAT CUSHION</span>
                <img ng-show="productWizard.seatCushionImage != ''" ng-src="{{productWizard.seatCushionImage}}" />
                <span class="text">{{productWizard.seatCushionText}}</span>
                <a ng-show="productWizard.seatCushionImage != ''" class="zoom" href="{{productWizard.seatCushionImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
            <li ng-show="productWizard.hasCushion" title="{{productWizard.cushionColorText}}">
                <span class="header" style="height: auto;">FABRIC COLOR</span>
                <img ng-show="productWizard.cushionColorImage != ''" ng-src="{{productWizard.cushionColorImage}}" />
                <span class="text">{{productWizard.cushionColorText}}</span>
                <a ng-show="productWizard.cushionColorImage != ''" class="zoom" href="{{productWizard.cushionColorImage}}" data-featherlight="image">
                    <span class="fa fa-search-plus"></span>
                </a>
            </li>
        </ul>
    </div>

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="articleWinzard">
        <div class="jarviswidget" id="wid-id-product-information" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Product attribute wizard</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row" style="margin: 0px;">
                                <div>
                                    <div class="furnindo-filter">

                                        @*material*@
                                        <div class="filter-row">
                                            <div class="filter-panel">
                                                <h4>Material</h4>
                                                <div class="filter-list-container" style="min-height: 0px;">
                                                    <ul ng-repeat="materialOption in productWizard.optionsData.materialOptions">
                                                        <li>
                                                            <input id="material-{{materialOption.materialID}}" 
                                                                   type="radio" 
                                                                   name="materials" 
                                                                   ng-change="productWizard.event.materialSelect()" 
                                                                   ng-model="$parent.productWizard.data.materialID" 
                                                                   ng-value="{{materialOption.materialID}}" /> 
                                                            <label for="material-{{materialOption.materialID}}">{{materialOption.materialNM}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <div class="sub-filter-panel" style="border-bottom: none;">
                                                    <span class="form-control" id="sticky-content">{{productWizard.method.getDescription()}}</span>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="row" style="padding: 15px;">
                                                    <section class="col col-4">
                                                        <label class="label">FSC</label>
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-model="productWizard.useFSC" ng-change="productWizard.event.useFscOnChange()" />
                                                            <i></i>Use FSC Wood
                                                        </label>
                                                        <label class="checkbox" ng-show="productWizard.useFSC">
                                                            <input type="checkbox" ng-model="productWizard.data.useFSCLabel" />
                                                            <i></i>Use FSC Label on product
                                                        </label>
                                                    </section>
                                                    <section class="col col-3" ng-show="productWizard.useFSC">
                                                        <label class="label">FSC Claim</label>
                                                        <label class="select">
                                                            <select ng-model="productWizard.data.fscTypeID" 
                                                                    ng-change="" 
                                                                    ng-options="fscType.fscTypeID as fscType.fscTypeNM for fscType in productWizard.optionsData.fscTypes | orderBy:'+fscTypeUD'">
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>                                                    
                                                </div>
                                            </div>
                                        </div>

                                        @*material type*@
                                        <div class="filter-row">
                                            <div class="filter-panel">
                                                <h4>Material Type</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="materialTypeOption in productWizard.optionsData.materialTypeOptions | filter : { materialID: productWizard.data.materialID, isStandard: productWizard.isMaterialStandard } : true">
                                                            <input id="materialType-{{materialTypeOption.materialTypeID}}" 
                                                                   type="radio" name="material-types" 
                                                                   ng-change="productWizard.event.materialTypeSelect()" 
                                                                   ng-model="$parent.productWizard.data.materialTypeID" 
                                                                   ng-value="{{materialTypeOption.materialTypeID}}" /> 
                                                            <label for="materialType-{{materialTypeOption.materialTypeID}}">{{materialTypeOption.materialTypeNM}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.textValue.materialText}}</span>
                                                <div class="sub-filter-panel" style="height: 54px;">
                                                    <div class="sub-filter-item">
                                                        <input type="radio"
                                                               name="material-type-season"
                                                               id="material-type-current-season"
                                                               ng-change="productWizard.method.resetSelectedAttribute('material-color')"
                                                               ng-model="productWizard.isMaterialStandard"
                                                               ng-value="1" />
                                                        <label for="material-type-current-season">Current season ({{productWizard.data.season}}) </label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio"
                                                               name="material-type-season"
                                                               id="material-type-other-season"
                                                               ng-change="productWizard.method.resetSelectedAttribute('material-color')"
                                                               ng-model="productWizard.isMaterialStandard"
                                                               ng-value="0" />
                                                        <label for="material-type-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="materialColorOption in productWizard.optionsData.materialColorOptions | filter : { materialID: productWizard.data.materialID, materialTypeID: productWizard.data.materialTypeID, isStandard: productWizard.isMaterialStandard } : true" 
                                                        ng-class="{'active': materialColorOption.isSelected, 'request-item' : materialColorOption.isStandard == false}">
                                                        <img ng-src="{{materialColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.event.materialColorSelect(materialColorOption)" />
                                                        <span class="text" ng-click="productWizard.event.materialColorSelect(materialColorOption)">{{materialColorOption.materialOptionNM}}</span>
                                                        <a class="zoom" href="{{materialColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </div>
                                        </div>

                                        @*frame material*@
                                        <div class="filter-row" ng-show="productWizard.optionsData.hasFrameMaterial">
                                            <div class="filter-panel">
                                                <h4>Frame</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="frameMaterialOption in productWizard.optionsData.frameMaterialOptions | filter : {materialOptionID: productWizard.selectedMaterialOptionID, isStandard: productWizard.isFrameStandard} : true">
                                                            <input id="frameMaterial-{{frameMaterialOption.frameMaterialID}}" 
                                                                   type="radio" 
                                                                   name="frame-materials" 
                                                                   ng-change="productWizard.method.resetSelectedAttribute('frame-material-color')" 
                                                                   ng-model="$parent.productWizard.data.frameMaterialID" 
                                                                   ng-value="{{frameMaterialOption.frameMaterialID}}" /> 
                                                            <label for="frameMaterial-{{frameMaterialOption.frameMaterialID}}">{{frameMaterialOption.frameMaterialNM}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.method.getFrameMaterialText()}}</span>
                                                <div class="sub-filter-panel">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" 
                                                               name="frame-material-season" 
                                                               id="frame-material-current-season" 
                                                               ng-change="productWizard.method.resetSelectedAttribute('frame-material-color')" 
                                                               ng-model="productWizard.isFrameStandard" 
                                                               ng-value="1" /> 
                                                        <label for="frame-material-current-season">Current season ({{productWizard.data.season}})</label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" 
                                                               name="frame-material-season" 
                                                               id="frame-material-other-season" 
                                                               ng-change="productWizard.method.resetSelectedAttribute('frame-material-color')" 
                                                               ng-model="productWizard.isFrameStandard" 
                                                               ng-value="0" /> 
                                                        <label for="frame-material-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="frameMaterialColorOption in productWizard.optionsData.frameMaterialColorOptions | filter : {materialOptionID: productWizard.selectedMaterialOptionID, isStandard: productWizard.isFrameStandard, frameMaterialID: productWizard.data.frameMaterialID} : true" 
                                                        ng-class="{'active': frameMaterialColorOption.isSelected, 'request-item' : frameMaterialColorOption.isStandard == false}">
                                                        <img ng-src="{{frameMaterialColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.event.frameMaterialColorSelect(frameMaterialColorOption)" />
                                                        <span class="text" ng-click="productWizard.event.frameMaterialColorSelect(frameMaterialColorOption)">{{frameMaterialColorOption.frameMaterialOptionNM}}</span>
                                                        <a class="zoom" href="{{frameMaterialColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        @*sub material*@
                                        <div class="filter-row" ng-show="productWizard.optionsData.hasSubMaterial">
                                            <div class="filter-panel">
                                                <h4>Sub Material</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="subMaterialOption in productWizard.optionsData.subMaterialOptions | filter : {isStandard: productWizard.isSubMaterialStandard} : true">
                                                            <input id="subMaterial-{{subMaterialOption.subMaterialID}}" 
                                                                   type="radio" 
                                                                   name="sub-materials" 
                                                                   ng-change="productWizard.subMaterialSelect()" 
                                                                   ng-model="$parent.productWizard.data.subMaterialID" 
                                                                   ng-value="{{subMaterialOption.subMaterialID}}" /> 
                                                            <label for="subMaterial-{{subMaterialOption.subMaterialID}}">{{subMaterialOption.subMaterialNM}}</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.method.getSubMaterialText()}}</span>
                                                <div class="sub-filter-panel">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" 
                                                               name="sub-material-season" 
                                                               id="sub-material-current-season" 
                                                               ng-change="productWizard.method.resetSelectedAttribute('sub-material-color')" 
                                                               ng-model="productWizard.isSubMaterialStandard" 
                                                               ng-value="1" /> 
                                                        <label for="sub-material-current-season">Current season ({{productWizard.data.season}})</label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" 
                                                               name="sub-material-season" 
                                                               id="sub-material-other-season" 
                                                               ng-change="productWizard.method.resetSelectedAttribute('sub-material-color')" 
                                                               ng-model="productWizard.isSubMaterialStandard" 
                                                               ng-value="0" /> 
                                                        <label for="sub-material-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="subMaterialColorOption in productWizard.optionsData.subMaterialColorOptions | filter : {subMaterialID: productWizard.data.subMaterialID, isStandard: isSubMaterialStandard} : true" 
                                                        ng-class="{'active': subMaterialColorOption.isSelected, 'request-item' : subMaterialColorOption.isStandard == false}">
                                                        <img ng-src="{{subMaterialColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.event.subMaterialColorSelect(subMaterialColorOption)" />
                                                        <span class="text" ng-click="productWizard.event.subMaterialColorSelect(subMaterialColorOption)">{{subMaterialColorOption.subMaterialOptionNM}}</span>
                                                        <a class="zoom" href="{{subMaterialColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                        @*cushion color*@
                                        <div class="filter-row" ng-show="productWizard.optionsData.hasCushion">
                                            <div class="filter-panel">
                                                <h4>Fabric Color</h4>
                                                <div class="filter-list-container">
                                                    <ul>
                                                        <li ng-repeat="cushionType in productWizard.optionsData.cushionTypeOptions | filter : {isStandard : productWizard.isCushionStandard} : true | unique:'cushionTypeID'">
                                                            <input id="cushionType-{{cushionType.cushionTypeID}}"
                                                                   type="radio"
                                                                   name="cushion-type"
                                                                   ng-model="$parent.productWizard.selectedCushionTypeID"
                                                                   ng-change="productWizard.method.resetSelectedAttribute('cushion-color')"
                                                                   ng-value="{{cushionType.cushionTypeID}}" />
                                                            <label for="cushionType-{{cushionType.cushionTypeID}}">{{cushionType.cushionTypeNM}}&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                            
                                                            <label ng-show="cushionType.cushionTypeID===$parent.productWizard.selectedCushionTypeID">
                                                                <input type="checkbox" ng-model="$parent.productWizard.data.useCushionFR"/>
                                                                <label>FR</label>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.method.getCushionColorText()}}</span>
                                                <div class="sub-filter-panel">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" 
                                                               name="cushion-color-season" 
                                                               ng-change="productWizard.method.resetSelectedAttribute('cushion-color')" 
                                                               id="cushion-color-current-season" 
                                                               ng-model="productWizard.isCushionStandard" 
                                                               ng-value="1" /> 
                                                        <label for="cushion-color-current-season">Current season ({{productWizard.data.season}})</label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" 
                                                               name="cushion-color-season" 
                                                               ng-change="productWizard.method.resetSelectedAttribute('cushion-color')" 
                                                               id="cushion-color-other-season" 
                                                               ng-model="productWizard.isCushionStandard" 
                                                               ng-value="0" /> 
                                                        <label for="cushion-color-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="cushionColorOption in productWizard.optionsData.cushionColorOptions | filter : {cushionTypeID: productWizard.selectedCushionTypeID , isStandard : productWizard.isCushionStandard} : true" 
                                                        ng-class="{'active': cushionColorOption.isSelected, 'request-item' : cushionColorOption.isStandard == false}">
                                                        <img ng-src="{{cushionColorOption.imageFile_DisplayUrl}}" ng-click="productWizard.event.cushionColorSelect(cushionColorOption)" />
                                                        <span class="text" ng-click="productWizard.event.cushionColorSelect(cushionColorOption)">{{cushionColorOption.cushionColorNM}}</span>
                                                        <a class="zoom" href="{{cushionColorOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        @*seat and back cushion*@
                                        <div class="filter-row" ng-show="productWizard.optionsData.hasCushion">
                                            <div class="filter-panel">
                                                <h4>Cushion specification</h4>
                                                <div class="filter-list-container"></div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{productWizard.method.getSeatCushionText() != '' ? productWizard.method.getSeatCushionText() + ' (Seat)' : ''}}{{productWizard.method.getSeatCushionText() != '' && productWizard.method.getBackCushionText() != '' ? ' + ' : ''}}{{productWizard.method.getBackCushionText() != '' ? productWizard.method.getBackCushionText() + ' (Back)' : ''}}</span>
                                                <div class="sub-filter-panel">
                                                    <h4>Seat Cushion</h4>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="seatCushionOption in productWizard.optionsData.seatCushionOptions" ng-class="{'active': seatCushionOption.isSelected}">
                                                        <img ng-src="{{seatCushionOption.imageFile_DisplayUrl}}" ng-click="productWizard.event.seatCushionSelect(seatCushionOption)" />
                                                        <span class="text" ng-click="productWizard.event.seatCushionSelect(seatCushionOption)">{{seatCushionOption.seatCushionNM}}</span>
                                                        <a class="zoom" href="{{seatCushionOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                                <div class="sub-filter-panel" style="border-top: solid 1px #e7e7e7; margin-top: 10px;">
                                                    <h4>Back Cushion</h4>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="backCushionOption in productWizard.optionsData.backCushionOptions" ng-class="{'active': backCushionOption.isSelected}">
                                                        <img ng-src="{{backCushionOption.imageFile_DisplayUrl}}" ng-click="productWizard.event.backCushionSelect(backCushionOption)" />
                                                        <span class="text" ng-click="productWizard.event.backCushionSelect(backCushionOption)">{{backCushionOption.backCushionNM}}</span>
                                                        <a class="zoom" href="{{backCushionOption.imageFile_DisplayUrl}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                                <label class="input" style="padding: 5px;" ng-show="productWizard.data.displayCushionDescription">
                                                    <input placeholder="Fill in your cushion description here" type="text" ng-model="productWizard.data.cushionDescription" />
                                                </label>
                                            </div>
                                        </div>

                                        @*packaging method*@
                                        <div class="filter-row" ng-show="productWizard.data.displayPackagingMethod">
                                            <div class="filter-panel">
                                                <h4>Packaging Method</h4>
                                                <div class="filter-list-container"></div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection">You select: {{productWizard.method.getPackagingMethodText()}}</span>
                                                <ul>
                                                    <li ng-repeat="packagingMethod in productWizard.optionsData.packagingMethods" ng-class="{'active': packagingMethod.isSelected}">
                                                        <span class="text" ng-click="productWizard.event.packagingMethodSelect(packagingMethod)">{{packagingMethod.packagingMethodNM}}</span>
                                                    </li>
                                                </ul>
                                                <select style="width:auto;padding:5px;margin-top:5px" ng-if="selectedPackagingMethodID==11"
                                                        ng-model="productWizard.data.clientSpecialPackagingMethodID"
                                                        ng-options="item.clientSpecialPackagingMethodID as item.clientSpecialPackagingMethodNM for item in productWizard.optionsData.clientSpecialPackagingMethods">
                                                    <option value=""></option>
                                                </select>

                                            </div>
                                        </div>

                                        <div class="filter-row">
                                            <div class="filter-panel">
                                                <h4>Special Requirement</h4>
                                                <div class="filter-list-container"></div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection">&nbsp;</span>
                                                <label class="input" style="padding: 5px;">
                                                    <input placeholder="Fill in your requirement here" type="text" ng-model="productWizard.data.specialRequirement" />
                                                </label>
                                            </div>
                                        </div>

                                        @*pricing*@
                                        <div class="filter-caption" ng-show="productWizard.data.showPricingOption">
                                            <h4>PRICING</h4>
                                            <div class="tilsoft-table-wrapper">
                                                <div class="tilsoft-table">
                                                    <div class="tilsoft-table-body" style="width: 100%; height:auto;margin-top:0px; max-height:unset">
                                                        <span class="form-control" style="text-align:center">{{productWizard.method.getStandardDescription()}}</span>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                                <th colspan="2">BREAKDOWN PRICE</th>
                                                            </tr>
                                                            <tr>
                                                                <th></th>
                                                                <th>CONFIGURED SALES PRICE</th>
                                                                <th>CONFIGURED PURCHASE PRICE</th>
                                                                <th>AVF</th>
                                                                <th>AVT</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="text-align:right"></th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getStandardPrice() | number : 2}}
                                                                        </span>
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getPurchasingFixPrice() | number : 2}}
                                                                        </span>
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getTotalCostPriceUSD().avfPrice| number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getTotalCostPriceUSD().avtPrice| number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th colspan="2">SPECIFICATIONS</th>
                                                                <th colspan="4">INCREASE</th>
                                                                <th></th>
                                                                <th colspan="2">COST PRICE (USD)</th>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 120px;"></th>
                                                                <th></th>
                                                                <th style="width: 70px;">%</th>
                                                                <th style="width: 90px;">FOB (USD)</th>
                                                                <th style="width: 90px;">DDP (EUR)</th>
                                                                <th style="width: 110px;">Total {{productWizard.data.currency}}</th>
                                                                <th style="width: 110px;">PURCHASING PRICE</th>
                                                                <th style="width: 110px;">AVF Price</th>
                                                                <th style="width: 110px;">AVT Price</th>
                                                            </tr>
                                                            <tr ng-repeat="item in productWizard.data.pricingOption">
                                                                <td colspan="2" style="vertical-align:middle">
                                                                    <strong>{{item.productElementNM}}:</strong>
                                                                    {{productWizard.method.getBreakdownCategoryOptionText(productWizard.method.getBreakdownCategoryByProductElement(item.productElementID))}}
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    {{x = productWizard.method.getPercentValue(item.productElementID) | number : 1}}<span ng-if="x>0">%</span>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.method.getUSDAmount(item.productElementID)!=0">
                                                                        {{productWizard.method.getUSDAmount(item.productElementID) | currency :'$':2}}
                                                                    </div>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.method.getEURAmount(item.productElementID)!=0">
                                                                        {{productWizard.method.getEURAmount(item.productElementID) | currency :'€': 2}}
                                                                    </div>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.method.getIncreasePriceByItem(item)!=0">
                                                                        {{productWizard.data.currency=='USD'?'$ ':''}}
                                                                        {{productWizard.data.currency=='EUR'?'€':''}}
                                                                        {{productWizard.method.getIncreasePriceByItem(item) | currency : '' : 2}}
                                                                    </div>
                                                                </td>

                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="productWizard.method.getPurchasingConfigPrice(item.productElementID)!=0">
                                                                        {{productWizard.method.getPurchasingConfigPrice(item.productElementID) | currency :'$': 2}}
                                                                    </div>
                                                                </td>

                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <span ng-if="productWizard.method.getCostPriceUSD(productWizard.method.getBreakdownCategoryByProductElement(item.productElementID)).avfPrice !=0">
                                                                        {{productWizard.method.getCostPriceUSD(productWizard.method.getBreakdownCategoryByProductElement(item.productElementID)).avfPrice | currency :'$': 2}}
                                                                    </span>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <span ng-if="productWizard.method.getCostPriceUSD(productWizard.method.getBreakdownCategoryByProductElement(item.productElementID)).avtPrice!=0">
                                                                        {{productWizard.method.getCostPriceUSD(productWizard.method.getBreakdownCategoryByProductElement(item.productElementID)).avtPrice| currency :'$': 2}}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr ng-repeat="item in productWizard.optionsData.breakdownCategories" style="height:40px">
                                                                <td style="vertical-align:middle" colspan="7">
                                                                    <strong>{{item.breakdownCategoryNM}}</strong>:{{productWizard.method.getBreakdownCategoryOptionText(item.breakdownCategoryID)}}
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="item.breakdownCategoryID!=10 && productWizard.method.getCostPriceUSD(item.breakdownCategoryID).avfPrice!=0">
                                                                        {{productWizard.method.getCostPriceUSD(item.breakdownCategoryID).avfPrice | currency :'$': 2}}
                                                                    </div>
                                                                    <div ng-if="item.breakdownCategoryID==10&&productWizard.method.getTotalCostPriceUSD().avfManagementFee!=0">
                                                                        {{productWizard.method.getTotalCostPriceUSD().avfManagementFee | currency :'$': 2}}
                                                                    </div>
                                                                </td>
                                                                <td style="text-align:right;vertical-align:middle">
                                                                    <div ng-if="item.breakdownCategoryID!=10&&productWizard.method.getCostPriceUSD(item.breakdownCategoryID).avtPrice!=0">
                                                                        {{productWizard.method.getCostPriceUSD(item.breakdownCategoryID).avtPrice | currency :'$': 2}}
                                                                    </div>
                                                                    <div ng-if="item.breakdownCategoryID==10&&productWizard.method.getTotalCostPriceUSD().avtManagementFee!=0">
                                                                        {{productWizard.method.getTotalCostPriceUSD().avtManagementFee| currency :'$': 2}}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:right">UNIT PRICE INCLUDING SPECIFICATIONS</th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getPriceIncludeSpecification() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getTotalPurchasingConfigPrice() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:right">DISCOUNT</th>
                                                                <th style="width: 90px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">%</span>
                                                                        <input type="text" class="form-control" ng-model="productWizard.data.discountPercent" style="text-align:right" furnindo-currency />
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <input type="text" class="form-control" ng-model="productWizard.data.discountAmount" style="text-align:right" furnindo-currency />
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getDiscountAmount() | number : 2}}
                                                                        </span>
                                                                    </div>
                                                                </th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                        <table>
                                                            <tr>
                                                                <th style="text-align:right">SALE PRICES</th>
                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">{{productWizard.data.currency == 'USD' ? '$' : ''}} {{productWizard.data.currency == 'EUR' ? '€' : ''}}</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getSalePrices() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">$</span>
                                                                        <span class="form-control">
                                                                            {{productWizard.method.getTotalPurchasingConfigPrice() | number : 2}}
                                                                        </span>
                                                                    </div>

                                                                </th>

                                                                <th style="width: 110px;text-align:right"></th>
                                                                <th style="width: 110px;text-align:right"></th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="productWizard.event.finished()">
                                Finish
                            </button>
                            <button class="btn btn-default" type="button" ng-click="productWizard.event.cancel()">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>
    var productWizardContext2 = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/product-wizard/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]'
    }
</script>