<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DAL.ReportFreeToSale.Properties.Settings.OMSOnlineConnectionString" connectionString="Data Source=.;Initial Catalog=OMSOnline;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ReportFTSEntities" connectionString="metadata=res://*/ReportFTSModel.csdl|res://*/ReportFTSModel.ssdl|res://*/ReportFTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OMSOnline;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>