<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Module.PriceComparisonRpt.Properties.Settings.TilsoftConnectionString"
            connectionString="Data Source=.;Initial Catalog=Tilsoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>