@{
    ViewBag.Title = "Client Payment Overview";
    ViewBag.Module = "Client Payment Overview";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="widget-body no-padding">
                    <form name="reportForm" class="smart-form">
                        <fieldset>
                            <section class="col col-6">
                                <label class="label">Client <span class="note-error" ng-show="reportForm.clientid.$error.required"> - Required</span></label>
                                <label class="select">
                                    <select name="clientid" ui-select2 ng-model="selection.clientID" style="width:100%" class="select2" required>
                                        <option value="">--NULL--</option>
                                        <option ng-repeat="client in clients" value="{{client.clientID}}">{{client.clientUD}} - {{client.clientNM}}</option>
                                    </select>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel()" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Version</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/clientpaymentoverview/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/clientPaymentOverviewRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/clientPaymentOverviewRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
