<div class="modal-body smart-form">
    <div class="row">
        <section class="col col-sm-3">
            <label class="label">Delivery Note No</label>
            <label class="input">
                <input type="text" ng-model="filters.deliveryNoteUD" class="search-filter" />
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">Type</label>
            <label class="input">
                <select class="form-control" ng-model="filters.statusTypeID" ng-options="item.statusTypeID as item.statusTypeNM for item in statusTypes" ng-readonly="filters.statusTypeID == null">
                    <option value=""></option>
                </select>
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">Work Center</label>
            <label class="input">
                <select class="form-control" ng-model="filters.workCenterID" ng-options="item.workCenterID as item.workCenterNM for item in searchDetail.workCenterData">
                    <option value=""></option>
                </select>
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">Production Team</label>
            <label class="input">
                <select class="select2" ng-model="filters.fromProductionTeamID" ng-options="item.productionTeamID as item.productionTeamNM for item in searchDetail.productionTeamData">
                    <option value=""></option>
                </select>
            </label>
        </section>
        
    </div>
    <div class="row">
        <section class="col col-sm-3">
            <label class="label">Delivery Date From</label>
            <label class="input">
                <input type="text" class="form-control" style="font-family:Arial" avs-calendar ng-data-source="filters.fromDeliveryNoteDate" />
                <i class="icon-append fa fa-calendar"></i>
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">To</label>
            <label class="input">
                <input type="text" class="form-control" style="font-family:Arial" avs-calendar ng-data-source="filters.toDeliveryNoteDate" />
                <i class="icon-append fa fa-calendar"></i>
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">Updated Date From</label>
            <label class="input">
                <input type="text" class="form-control" style="font-family:Arial" avs-calendar ng-data-source="filters.fromUpdatedDate" />
                <i class="icon-append fa fa-calendar"></i>
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">To</label>
            <label class="input">
                <input type="text" class="form-control" style="font-family:Arial" avs-calendar ng-data-source="filters.toUpdatedDate" />
                <i class="icon-append fa fa-calendar"></i>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-sm-3">
            <label class="label">Work Order</label>
            <label class="input">
                <input type="text" ng-model="filters.workOrderUD" class="search-filter" />
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">Model Code</label>
            <label class="input">
                <input type="text" ng-model="filters.modelUD" class="search-filter" />
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">Model Name</label>
            <label class="input">
                <input type="text" ng-model="filters.modelNM" class="search-filter" />
            </label>
        </section>
        <section class="col col-sm-3">
            <label class="label">Ware House</label>
            <label class="input">
                <select class="form-control search-filter" style="width: 100%" ng-model="filters.factoryWarehouseID" ng-options="item.factoryWarehouseID as item.factoryWarehouseNM for item in factoryWareHouseList">
                    <option value=""></option>
                </select>
                <i></i>
            </label>
        </section>
    </div>
</div>
<div class="modal-footer">
    <div style="margin-bottom: 5px">
        <button class="btn btn-primary" type="button" ng-click="event.reloadDetail()">
            <i class="fa fa-filter"></i> Search
        </button>
        <button class="btn btn-default" type="button" ng-click="event.clearFilter()">
            <i class="fa fa-refresh"></i> Clear
        </button>
        <button class="btn btn-default" type="button" ng-click="event.closeDetail()">
            <i class="fa fa-ban" style="color: red"></i> Close Detail
        </button>
    </div>
</div>



