@{
    ViewBag.Title = "Change password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">&nbsp;</h1>
    <div class="hero">
        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">
                Below is the reasons why you see this screen:
                <br />
                <i style="font-size: 11px;">- Your password is older than 3 months</i>
                <br />
                <i style="font-size: 11px;">- The system admin asking you to change your current password for security reason.</i>
            </h4>
        </div>

        <img src="~/TemplateResource/img/demo/changee-password.jpg" class="pull-right display-image" alt="" style="width:210px">
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
    <div class="well no-padding">
        <form name="editForm" class="smart-form client-form" ng-app="tilsoftApp" ng-controller="tilsoftController">
            <header>
                Change Password
            </header>
            <fieldset>
                <section>
                    <label class="label">
                        Old Password
                        <em ng-show="editForm.oldpassword.$error.required" class="note note-error">(Required)</em>
                    </label>
                    <label class="input" ng-class="{'state-error': editForm.oldpassword.$error.required}">
                        <i class="icon-append fa fa-lock"></i>
                        <input type="password" name="oldpassword" ng-model="data.oldPassword" required>
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your old password</b>
                    </label>
                </section>

                <section>
                    <label class="label">
                        New Password
                        <em ng-show="editForm.newpassword.$error.required" class="note note-error">(Required)</em>
                        <em ng-show="editForm.newpassword.$error.minlength" class="note note-error">(Password must be at least 7 chars length)</em>
                    </label>
                    <label class="input" ng-class="{'state-error': editForm.newpassword.$error.required || editForm.newpassword.$error.minlength}">
                        <i class="icon-append fa fa-lock"></i>
                        <input type="password" name="newpassword" ng-model="data.newPassword" required ng-minlength="7">
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                    </label>
                </section>

                <section>
                    <label class="label">
                        Confirmation
                        <em ng-show="editForm.confirmation.$error.required" class="note note-error">(Required)</em>
                        <em ng-show="editForm.confirmation.$error.minlength" class="note note-error">(Password must be at least 7 chars length)</em>
                    </label>
                    <label class="input" ng-class="{'state-error': editForm.confirmation.$error.required || editForm.confirmation.$error.minlength}">
                        <i class="icon-append fa fa-lock"></i>
                        <input type="password" name="confirmation" ng-model="data.confirmation" required ng-minlength="7">
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter password confirmation</b>
                    </label>
                </section>

            </fieldset>
            <footer>
                <a href="javascript:void(0)" class="btn btn-default" ng-click="event.changePassword()">Change Password</a>
            </footer>
        </form>
    </div>
</div>

@section pagejs {
    <script type="text/javascript">
    var context = {
        loginUrl: '@Url.Action("TokenLogin", "Account")',
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/account/',
        userName: '@ViewBag.Username'
    };
    </script>
    <script src="~/Angular/app/account/changePassword.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js"></script>
    <script src="~/Angular/app/account/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
