@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
    string ReturnURL = string.Empty;
    if (Request.Params["ReturnURL"] != null)
    {
        ReturnURL = Request.Params["ReturnURL"].ToString();
    }
}

<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">&nbsp;</h1>
    <div class="hero">
        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">
                Experience the simplicity everywhere you go!
                <br />
                <i style="font-size: 11px;">version: 2.0.0.0</i>
            </h4>
        </div>

        <img src="~/TemplateResource/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

    </div>

    <div class="row" style="display: none;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h5 class="about-heading">About TilSoft - Are you up to date?</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

</div>
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
    <div class="well no-padding">
        <form id="login-form" class="smart-form client-form">
            <header>
                Sign In
            </header>
            <fieldset>
                <section>
                    <label class="label">Username</label>
                    <label class="input">
                        <i class="icon-append fa fa-user"></i>
                        <input type="text" name="username" ng-model="data.username" class="login-input" />
                    </label>
                </section>
                <section>
                    <label class="label">Password</label>
                    <label class="input">
                        <i class="icon-append fa fa-lock"></i>
                        <input type="password" name="password" ng-model="data.password" class="login-input" />
                    </label>
                    <div class="note" style="display: none;">
                        <a href="#">Forgot password?</a>
                    </div>
                </section>
                <section>
                    <div class="note-error">
                        {{data.error}}
                    </div>
                </section>
            </fieldset>
            <footer>
                <a class="btn btn-primary" href="javascript:void(0)" ng-click="event.login()">
                    Sign in
                </a>
            </footer>
        </form>
        <form style="display: none;" id="frmToPost" method="post" action="@Url.Action("RegisterSession", "Account", new {returnUrl = ReturnURL})">
            <input id="frmToPost_field1" type="text" name="1A799D82AC9F4FAF866445B4A851D4B7" />
            <input id="frmToPost_field2" type="text" name="31970B3468B84EEBBFCF66AB750CEF58" />
        </form>
    </div>
</div>

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl : '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
            changePassUrl: '@Url.Action("ChangePassword", "Account", new { username = UrlParameter.Optional })'
        }
    </script>
    <script src="~/Views/Account/login.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Views/Account/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}

