    <!-- NEW WIDGET START -->
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget">
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2>Sample Order: ...</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <form class="smart-form">                    
                    <fieldset>           
                        <div class="row">                            
                            <section class="col col-4">
                                <label class="label">Name</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" placeholder="Full name" ng-model="data.id" />
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Email</label>
                                <label class="input">
                                    <i class="icon-append fa fa-envelope-o"></i>
                                    <input type="text" placeholder="Email">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Date of Birth</label>
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="datepicker" data-dateformat='dd/mm/yy' />
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Department</label>
                                <label class="select">
                                    <select>
                                        <option value=""></option>
                                        <option value="production">Production</option>
                                        <option value="it">IT</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">&nbsp;</label>
                                <label>
                                    <a href="#/product/1" class="btn btn-primary btn-sm">Open product</a>
                                </label>
                            </section>
                        </div>

                        <section>
                            <label class="label">Description</label>
                            <label class="textarea">
                                <textarea rows="5"></textarea>
                            </label>
                        </section>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Name</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" placeholder="Full name" ng-model="data.id" />
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Email</label>
                                <label class="input">
                                    <i class="icon-append fa fa-envelope-o"></i>
                                    <input type="text" placeholder="Email">
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Date of Birth</label>
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" class="datepicker" data-dateformat='dd/mm/yy' />
                                </label>
                            </section>
                        </div>
                    </fieldset> 
                    <fieldset>
                        <h2 style="margin-bottom: 15px;">Products</h2>
                        <section>
                            <table style="width:100%;" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th><a href="javascript:void(0)" class="btn btn-default btn-xs">New</a></th>
                                        <th>ID</th>
                                        <th>Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in data.sampleProducts">
                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs">New</a>
                                        </td>
                                        <td>{{item.sampleProductID}}</td>
                                        <td>
                                            {{item.sampleProductUD}}
                                            <br/>
                                            <table border="1" style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>3</td>
                                                    <td>4</td>
                                                    <td>5</td>
                                                    <td>5</td>
                                                    <td>5</td>
                                                    <td>5</td>
                                                    <td>5</td>
                                                    <td>5</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</article>
<!-- WIDGET END -->