@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "QA/QC Management By Inspector";
    ViewBag.Module = "QA/QC Management";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-table"></i></span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1600px">
                                <div style="width: 95px">Found <font style="color:sienna; text-transform:none"><strong>{{totalRows}} row(s)</strong></font></div>
                                <div style="width: 80px">Type</div>
                                <div style="width: 80px">Status</div>
                                <div style="width: 120px">Product Code</div>
                                <div style="width: 300px">Product Name</div>
                                <div style="width: 120px">Inspector</div>
                                <div style="width: 100px">Ins.Date</div>
                                <div style="width: 120px">Approval</div>
                                <div style="width: 100px">Approved Date</div>
                                <div style="width: 100px">Report Date</div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 1600px">
                                <div style="width: 95px">
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" title="Apply Filter" ng-click="event.reload()">
                                        <i class="fa fa-filter"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" title="Clear Filter" ng-click="event.clearFilter()">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                </div>
                                @*<div style="width: 180px"><input type="text" class="search-filter" style="width:100%" ng-model="filters.QCReportUD" /></div>*@
                                <div style="width: 80px">
                                    <select class="search-filter" ng-model="filters.typeOfInspectionID">
                                        <option value=""></option>
                                        <option value="1">Final</option>
                                        <option value="2">Inline</option>
                                    </select>
                                </div>
                                <div style="width: 80px">
                                    <select class="search-filter" ng-model="filters.statusID">
                                        <option value=""></option>
                                        <option value="1">OPEN</option>
                                        <option value="2">PROCESS</option>
                                        <option value="3">SUBMIT</option>
                                        <option value="4">REJECTED</option>
                                        <option value="5">APPROVED</option>
                                        <option value="6">SHIPPED</option>
                                        <option value="7">CANCEL</option>
                                    </select>
                                </div>
                                <div style="width: 120px">
                                    <input type="text" class="search-filter" style="width:100%" ng-model="filters.modelUD" />
                                </div>
                                <div style="width: 300px">
                                    <input type="text" class="search-filter" style="width:100%" ng-model="filters.modelNM" />
                                </div>
                                <div style="width: 120px">
                                    <input type="text" class="search-filter" style="width:100%" ng-model="filters.createdNM" />
                                </div>
                                <div style="width: 100px">
                                    <input type="text" class="search-filter" avs-calendar style="width:100%" ng-data-source="filters.createdDate" />
                                </div>
                                <div style="width: 120px">
                                    <input type="text" class="search-filter" style="width:100%" ng-model="filters.approvalNM" />
                                </div>
                                <div style="width: 100px">

                                </div>
                                <div style="width: 100px">
                                    <input type="text" class="search-filter" avs-calendar style="width:100%" ng-data-source="filters.reportDate" />
                                </div>
                                <div></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1600px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data">
                                            <td style="width:94px">
                                                @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("QAQCManagementEdit", "QAQCMng")/{{item.reportQAQCID}}" title="View (Read Only)" target="_blank"><i class="fa fa-folder-open"></i> View</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-xs font-11" href="@Url.Action("QAQCManagementEdit", "QAQCMng")/{{item.reportQAQCID}}" title="Edit" target="_blank"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                                }
                                                @*@if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                                {
                                                    <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.remove(item)" ng-show=""><i class="fa fa-times"></i>Del</a>
                                                }*@
                                            </td>
                                            <td style="width: 80px; text-align:center">{{item.typeOfInspecNM}}</td>
                                            <td style="width: 80px; text-align:center">{{item.statusNM}}</td>
                                            <td style="width: 120px;">{{item.modelUD}}</td>
                                            <td style="width: 300px">{{item.modelNM}}</td>
                                            <td style="width: 120px">{{item.createdNM}}</td>
                                            <td style="width: 100px;">{{item.createdDate}}</td>
                                            <td style="width: 120px;">{{item.approvalNM}}</td>
                                            <td style="width: 100px;">{{item.approvalDate}}</td>
                                            <td style="width: 100px;">{{item.reportDate}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default btn-sm" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default btn-sm" title="Clear Page" ng-click="event.clearFilter()"><i class="fa fa-refresh"></i></a>
        </li>
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/qaqcmng/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/QAQCMng/QAQCManagementIndex.js"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/QAQCMng/service2.js?v=@guid"></script>
}
