<!-- NEW WIDGET START -->

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget">
        <header>
            <span class="widget-icon"> <i class="fa fa-calendar-o"></i> </span>
            <h2>Event: </h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="smart-form" name="editForm">
                    <fieldset>
                        <!--<section>-->
                        <fieldset>

                            <div class="row">
                                <section class="col col-4" style="margin-left:-15px;">
                                    <label class="label">Subject</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.subject}}" style="font-family: Arial" />
                                    </label>
                                </section>
                                <section class="col col-4" style="margin-left:15px;">
                                    <label class="label">Factory Raw Material</label>
                                    <label class="input" readonly style="background-color:#fff4a6;padding-top:8px;padding-bottom:4px;padding-left:11px;border:1px groove white">
                                        <a ng-if="method.getClientViewUrl() && data.factoryRawMaterialID" href="{{method.getClientViewUrl() + '/' + data.factoryRawMaterialID}}" target="_blank" style="margin-top:12px;">
                                            {{data.factoryRawMaterialUD}} <span style="margin-left:10px;color:black;"> {{data.factoryRawMaterialOfficialNM}}</span>
                                        </a>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Start</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.startDate + ' ' + data.startTime}}" style="font-family: Arial" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">End</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.startDate + ' ' + data.endTime}}" style="font-family: Arial" />
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-2" style="margin-left:-15px;">
                                    <label class="label">Owner</label>
                                    <label class="input">                                      
                                        <span class="form-control">
                                            <a href="{{method.getProfileViewUrl() + data.userID}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                {{data.ownerNM}}
                                            </a>
                                        </span>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">Remind</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.remindDate + ' ' + data.remindTime}}" style="font-family: Arial" />
                                    </label>
                                </section>
                                <section class="col col-2" style="margin-left:15px;">
                                    <label class="label">Location</label>
                                    <label class="input">
                                        <input type="text" readonly value="{{data.meetingLocationNM}}" style="font-family: Arial;padding-left:7px;" />
                                    </label>
                                </section>             
                                <section class="col col-4">
                                    <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.addManager()" disabled="disabled"><i class="fa fa-plus"></i> Add User </a>
                                    <label class="label" style="margin-left: 90px;  margin-top: -22px; width: 170px;">Persons joining meeting </label>
                                    <div class="bootstrap-tagsinput">
                                        <span class="tag label label-info" ng-repeat="item in data.purchasingCalendarUserDTOs">
                                            <a href="{{method.getProfileViewUrl() + item.employeeID}}" ng-show="data.hasLink" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600"><i class="fa fa-user"></i><span style="color:white;">{{item.employeeNM}}</span></a>

                                            <span data-role="remove" ng-click="event.removeManager(item)"></span>
                                        </span>
                                    </div>
                                </section>
                            </div>

                        </fieldset>

                        <div class="row">
                            <section class="col col-lg-12">
                                <label class="label" style="margin-top:10px;">Description</label>
                                <label class="textarea">
                                    <textarea readonly rows="5" style="font-family: Arial" ng-model="data.description"></textarea>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-lg-12">
                                <label class="label">Meeting Minute</label>
                                <label class="textarea">
                                    <textarea rows="5" style="font-family: Arial" ng-model="data.meetingMinute"></textarea>
                                </label>
                            </section>
                        </div>
                        <section>
                            <label class="label">Attachment</label>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 100px;">
                                            <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.addFile()"><i class="fa fa-plus"></i> Add </a>
                                        </th>
                                        <th>FILE NAME</th>
                                        <th>TYPE</th>
                                        <th>REMARK</th>
                                        <th>MORE INFO</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="data.purchasingCalendarAppointmentAttachedFileDTOs.length <= 0">
                                    <tr>
                                        <td colspan="5" style="text-align: center;">(Empty)</td>
                                    </tr>
                                </tbody>
                                <tbody ng-if="data.purchasingCalendarAppointmentAttachedFileDTOs.length > 0">
                                    <tr ng-repeat="item in data.purchasingCalendarAppointmentAttachedFileDTOs">
                                        <td style="text-align: center;">
                                            <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeFile(item)"><i class="fa fa-times"></i> Remove </a>
                                        </td>
                                        <td><a href="{{item.fileLocation}}" target="_blank">{{item.friendlyName}}</a></td>
                                        <td class="has-input">
                                            <select ng-model="item.purchasingCalendarAppointmentAttachedFileTypeID" ng-options="fileType.appointmentAttachedFileTypeID as fileType.appointmentAttachedFileTypeNM for fileType in viewmodel.supportData.appointmentAttachedFileTypes">
                                                <option></option>
                                            </select>
                                        </td>
                                        <td class="has-input">
                                            <input type="text" ng-model="item.description" />
                                        </td>
                                        <td>
                                            <section ng-show="item.purchasingCalendarAppointmentAttachedFileID > 0">
                                                Updated By:
                                                <a href="{{method.getProfileViewUrl() + item.updatedBy}}" ng-show="item.hasLink" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600"><i class="fa fa-user"></i> {{item.updatorName}}</a>
                                                <span ng-show="!item.hasLink"><i class="fa fa-user"></i> {{item.updatorName}}</span>
                                                on {{item.updatedDate}}
                                            </section>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                        <section ng-show="data.purchasingCalendarAppointmentID != 0 && data.updatedBy != null">
                            Updated By:
                            <a href="{{method.getProfileViewUrl() + data.updatedBy}}" ng-show="data.hasLink" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600"><i class="fa fa-user"></i> {{data.updatorName}}</a>
                            <span ng-show="!data.hasLink"><i class="fa fa-user"></i> {{data.updatorName}}</span>
                            on {{data.updatedDate}}
                        </section>
                    </fieldset>
                    <footer>
                        <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.update()">Save</a>
                        <a href="#/" class="btn btn-default"><i class="fa fa-angle-left"></i> Back to Calendar</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</article>
<div id="showemployee" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Select User for Moderator List</h4>
                <div class="allbuttom" style="width:180px;margin-left:295px;margin-top:-28px;">
                    <button type="button" class="btn btn-primary" ng-click="event.updateManger()" style="margin-right: 68px;">
                        Add
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <ul class="ulcols-4">
                                <li ng-repeat="item in employeeDepartmentDTOs">
                                    <div class="content">
                                        <label><input type="checkbox" ng-model="item.isSelected" /> <strong>{{item.employeeNM}}</strong></label>
                                        <br />
                                    </div>

                                </li>
                            </ul>
                            <div class="clear"></div>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateManger()">
                    Add
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- WIDGET END -->
