<div id="frmEditTechnicalDrawing" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Technical Drawing</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Description</label>
                            <label class="input">
                                <input type="text" ng-model="currentTechnicalDrawing.description" />
                            </label>
                        </section>
                    </fieldset>
                    <fieldset>
                        <h2>Drawing Files <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="event.addTechnicalDrawingFile()"><i class="fa fa-plus"></i> Add</a></h2>
                        <div class="smart-timeline">
                            <ul class="smart-timeline-list">
                                <li ng-repeat="file in currentTechnicalDrawing.sampleTechnicalDrawingFiles | orderBy : ['-isActived', '-updatedDate']">
                                    <div class="smart-timeline-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="smart-timeline-time">
                                        <small><strong>{{file.updatorName}}</strong></small>
                                        <br />
                                        <small>{{file.updatedDate}}</small>
                                        <br />
                                        <a href="javascript:void(0)" class="btn btn-success btn-xs" style="width: 70px; margin-bottom: 5px;" ng-click="event.editTechnicalDrawingFile(file)"><i class="fa fa-pencil"></i> Edit</a>
                                        <br />
                                        <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeTechnicalDrawingFile(file)"><i class="fa fa-times"></i> Remove</a>
                                    </div>
                                    <div class="smart-timeline-content">
                                        <table class="info">
                                            <tr>
                                                <td>Remark</td>
                                                <td>{{file.remark}}</td>
                                            </tr>
                                            <tr>
                                                <td>Source file</td>
                                                <td><a href="#" target="_blank">{{file.sourceFileFriendlyName}}</a></td>
                                            </tr>
                                            <tr>
                                                <td>Preview file</td>
                                                <td><a href="#" target="_blank">{{file.previewFileFriendlyName}}</a></td>
                                            </tr>
                                            <tr ng-if="file.isActived">
                                                <td style="font-weight: bold;">Active</td>
                                                <td style="font-weight: bold;">YES</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateTechnicalDrawing()">
                    <i class="fa fa-save"></i> Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>