<div id="frmEditTechnicalDrawingFile" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Technical Drawing File</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">&nbsp;</label>
                            <label class="checkbox">
                                <input name="checkbox" ng-model="currentTechnicalDrawingFile.isActived" type="checkbox">
                                <i></i>Active
                            </label>
                        </section>
                        <section>
                            <label class="label">Remark</label>
                            <label class="textarea">
                                <textarea rows="8" ng-model="currentTechnicalDrawingFile.remark"></textarea>
                            </label>
                        </section>
                        <section>
                            <label class="label">Source File</label>
                            <label class="input">
                                <input type="text" readonly ng-model="currentTechnicalDrawingFile.sourceFileFriendlyName" />
                            </label>
                            <div class="note">
                                <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.addTechnicalDrawingSourceFile()">Change</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeTechnicalDrawingSourceFile()">Remove</a>
                            </div>
                        </section>
                        <section>
                            <label class="label">Preview</label>
                            <label class="input">
                                <input type="text" readonly ng-model="currentTechnicalDrawingFile.previewFileFriendlyName" />
                            </label>
                            <div class="note">
                                <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.addTechnicalDrawingPreviewFile()">Change</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-xs" ng-click="event.removeTechnicalDrawingPreviewFile()">Remove</a>
                            </div>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateTechnicalDrawingFile()">
                    OK
                </button>
                <button type="button" class="btn btn-default" ng-click="event.cancelTechnicalDrawingFile()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>