<form name="frmEditProgress" id="frmEditProgress" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Progress</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Version</label>
                            <label class="input">
                                <input name="version" type="text" ng-model="currentProgress.version" required />
                                <span class="help-block" ng-show="frmEditProgress.version.$error.required"><i class="fa fa-warning"></i>Version is required.</span>
                            </label>
                        </section>
                        <section>
                            <label class="label">Remark</label>
                            <label class="textarea">
                                <textarea rows="2" ng-model="currentProgress.remark"></textarea>
                            </label>
                        </section>
                        <section>
                            <label class="label">Images <a href="javascript:void(0)" class="btn btn-success btn-xs" ng-click="event.addProgressImage()"><i class="fa fa-plus"></i> Add Image</a></label>
                            <nav>
                                <ul class="ulcols-4" style="overflow:hidden; overflow-y:scroll; max-height:350px">
                                    <li ng-repeat="item in currentProgress.sampleProgressImages">
                                        <div class="content">
                                            <a href="{{item.fileLocation}}" data-featherlight="image">
                                                <div class="img" style="background: url('{{item.thumbnailLocation}}') no-repeat center center; background-size: contain;"></div>
                                            </a>
                                            <div class="action">
                                                <a href="javascript:void(0)" class="btn-danger btn-xs" ng-click="event.removeProgressImage(item)"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.updateProgress()">
                    <i class="fa fa-save"></i> Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>