<div id="frmRemark" class="row" style="display: none;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-remark" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
            <header role="heading">
                <h2>Internal Remark: #{{currentProduct.displayIndex}} - {{currentProduct.articleDescription}}</h2>
            </header>
            <div role="content">
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.closeRemark()"><i class="fa fa-times"></i> Close</a>
                    </div>
                    <div class="smart-form">
                        <fieldset>
                            <div class="smart-timeline">
                                <ul class="smart-timeline-list">
                                    <li ng-repeat="item in currentProduct.sampleRemarks | orderBy: '-updatedDate'">
                                        <div class="smart-timeline-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="smart-timeline-time">
                                            <a ng-if="item.updatedBy" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{item.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                <small><strong>{{item.updatorName}}</strong></small>
                                            </a>
                                            <br />
                                            <small>{{item.updatedDate}}</small>
                                        </div>
                                        <div class="smart-timeline-content">
                                            <p ng-bind-html="method.formatRemark(item.remark)"></p>
                                            <br />
                                            <section>
                                                <label class="label">Attachment</label>
                                                <ul style="margin-left: 15px;">
                                                    <li ng-repeat="image in item.sampleRemarkImages" style="padding: 0px;">
                                                        <a href="{{image.fileLocation}}" target="_blank">{{image.friendlyName}}</a>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="text-align: left;">
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.closeRemark()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>