<div id="frmTechnicalDrawing" class="row" style="display: none;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-product" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
            <header role="heading">
                <h2>Technical Drawing: #{{currentProduct.displayIndex}} - {{currentProduct.articleDescription}}</h2>
            </header>
            <div role="content">
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.addTechnicalDrawing()" ng-if="currentProduct.sampleProductStatusID != 7 && currentProduct.sampleProductStatusID != 9"><i class="fa fa-plus"></i> Add New Technical Drawing</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.closeTechnicalDrawing()"><i class="fa fa-times"></i> Close</a>
                    </div>
                    <div class="smart-form">
                        <fieldset ng-repeat="item in currentProduct.sampleTechnicalDrawings">
                            <h2>
                                {{item.description}}
                                <a ng-if="!item.isConfirmed" href="javascript:void(0)" class="btn btn-success btn-xs" style="width: 70px; margin-bottom: 5px;" ng-click="event.editTechnicalDrawing(item)"><i class="fa fa-pencil"></i> Edit</a>
                                <a ng-if="!item.isConfirmed" href="javascript:void(0)" class="btn btn-danger btn-xs" style="width: 70px; margin-bottom: 5px;" ng-click="event.removeTechnicalDrawing(item)"><i class="fa fa-times"></i> Remove</a>
                            </h2>
                            <div ng-repeat="file in item.sampleTechnicalDrawingFiles | filter: {isActived: true}">
                                <p>{{file.remark}}</p>
                                <table class="info">
                                    <tr>
                                        <td>Source file</td>
                                        <td><a href="{{file.sourceFileLocation}}" target="_blank">{{file.sourceFileFriendlyName}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Preview file</td>
                                        <td><a href="{{file.previewFileLocation}}" target="_blank">{{file.previewFileFriendlyName}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td><span ng-if="item.isConfirmed">CONFIRMED</span><span ng-if="!item.isConfirmed">PENDING</span></td>
                                    </tr>
                                    <tr ng-if="item.isConfirmed">
                                        <td>Confirmed By</td>
                                        <td>{{item.confirmerName}}</td>
                                    </tr>
                                    <tr ng-if="item.isConfirmed">
                                        <td>Confirmed Date</td>
                                        <td>{{item.confirmedDate}}</td>
                                    </tr>
                                </table>
                            </div>

                            <br />
                            <div style="box-sizing: border-box; margin-left: 25px;">
                                <h3>Archive <a href="javascript:void(0)" class="btn btn-default btn-xs" style="width: 70px; margin-bottom: 5px;" ng-click="event.toggleTechnicalDrawingArchive(item)">Show/Hide</a></h3>
                                <div class="smart-timeline" id="archive-{{item.sampleTechnicalDrawingID}}" style="display: none;">
                                    <ul class="smart-timeline-list">
                                        <li ng-repeat="file in item.sampleTechnicalDrawingFiles | orderBy : ['-isActived', '-updatedDate']">
                                            <div class="smart-timeline-icon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div class="smart-timeline-time">
                                                <small><strong>{{file.updatorName}}</strong></small>
                                                <br />
                                                <small>{{file.updatedDate}}</small>
                                            </div>
                                            <div class="smart-timeline-content">
                                                <p>{{file.remark}}</p>
                                                <table class="info">
                                                    <tr>
                                                        <td>Source file</td>
                                                        <td><a href="{{file.sourceFileLocation}}" target="_blank">{{file.sourceFileFriendlyName}}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Preview file</td>
                                                        <td><a href="{{file.previewFileLocation}}" target="_blank">{{file.previewFileFriendlyName}}</a></td>
                                                    </tr>
                                                    <tr ng-if="file.isActived">
                                                        <td style="font-weight: bold;">Active</td>
                                                        <td style="font-weight: bold;">YES</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="clear"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="text-align: left;">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="event.addTechnicalDrawing()" ng-if="currentProduct.sampleProductStatusID != 7 && currentProduct.sampleProductStatusID != 9"><i class="fa fa-plus"></i> Add New Technical Drawing</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="event.closeTechnicalDrawing()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>