@{
    ViewBag.Title = "Management Info: Sales By Material";
    ViewBag.Module = "Management Info: Sales By Material";
    string Season = Library.OMSHelper.Helper.GetCurrentSeason();
    string preSeason = Library.OMSHelper.Helper.GetPrevSeason(Season);
}
<style>
    .tilsoft-table .tilsoft-table-body {
        height: auto !important;
        max-height: none !important;
    }
</style>

<div class="row" style="margin-top: 15px;">
    <!-- show report for management level -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <div>
                <div class="widget-body no-padding">
                    <div class="padding-10">
                        <p class="alert alert-info no-margin" style="border-bottom: none;">
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Exchange Rate</strong>: {{data.exchangeRate | currency:'':2}}</span>
                            <span style="padding: 5px; display: inline-block; margin-bottom: 5px; margin-right: 5px; background: rgba(255,255,255,0.7);"><strong>Est. Container Value</strong>: $ {{data.usdContainerValue | currency:'':0}} or &euro; {{data.eurContainerValue | currency:'':0}}</span>
                        </p>
                       
                        <div class="row">
                            <div class="col col-lg-6">
                                <h2 style="margin-bottom: 0px;">ALL MATERIAL (Proforma Invoice - @Season)</h2>
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;">MATERIAL</th>
                                                    <th style="font-weight: bold; width:70px">%</th>
                                                    <th style="font-weight: bold; width:100px">AMOUNT</th>
                                                    <th style="font-weight: bold; width:100px">CONTAINER</th>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: right;">TOTAL</td>
                                                    <td style="font-weight: bold; text-align: right;">100%</td>
                                                    <td style="font-weight: bold; text-align: right;">&euro;{{method.getAllMaterialTotalAmount_ProformaInvoice() | currency:'':0}}</td>
                                                    <td style="font-weight: bold; text-align: right;">{{method.getAllMaterialTotalCont_ProformaInvoice() | currency:'':1}}</td>
                                                </tr>
                                                <tr ng-repeat="item in data.proformaInvoiceAllMaterials | orderBy : 'totalAmount' : 'reverse'">
                                                    <td>{{item.materialNM}}</td>
                                                    <td style="text-align: right;">{{$parent.method.getAllMaterialPercent_ProformaInvoice(item) | currency:'':2}}%</td>
                                                    <td style="text-align: right;">&euro;{{item.totalAmount | currency:'':0}}</td>
                                                    <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <h2 style="margin-bottom: 0px;">WOOD (Proforma Invoice - @Season)</h2>
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto; margin-top:0px" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;">MATERIAL</th>
                                                    <th style="font-weight: bold; width:70px">%</th>
                                                    <th style="font-weight: bold; width:100px">AMOUNT</th>
                                                    <th style="font-weight: bold; width:100px">CONTAINER</th>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: right;">TOTAL</td>
                                                    <td style="font-weight: bold; text-align: right;">100%</td>
                                                    <td style="font-weight: bold; text-align: right;">&euro;{{method.getWoodTotalAmount_ProformaInvoice() | currency:'':0}}</td>
                                                    <td style="font-weight: bold; text-align: right;">{{method.getWoodTotalCont_ProformaInvoice() | currency:'':1}}</td>
                                                </tr>
                                                <tr ng-repeat="item in data.proformaInvoiceWoods | orderBy : 'totalAmount' : 'reverse'">
                                                    <td>{{item.materialTypeNM}}</td>
                                                    <td style="text-align: right;">{{$parent.method.getWoodPercent_ProformaInvoice(item) | currency:'':2}}%</td>
                                                    <td style="text-align: right;">&euro;{{item.totalAmount | currency:'':0}}</td>
                                                    <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col col-lg-6">
                                <h2 style="margin-bottom: 0px;">ALL MATERIAL (Commercial Invoice - @preSeason)</h2>
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;">MATERIAL</th>
                                                    <th style="font-weight: bold; width:70px">%</th>
                                                    <th style="font-weight: bold; width:100px">AMOUNT</th>
                                                    <th style="font-weight: bold; width:100px">CONTAINER</th>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: right;">TOTAL</td>
                                                    <td style="font-weight: bold; text-align: right;">100%</td>
                                                    <td style="font-weight: bold; text-align: right;">&euro;{{method.getAllMaterialTotalAmount() | currency:'':0}}</td>
                                                    <td style="font-weight: bold; text-align: right;">{{method.getAllMaterialTotalCont() | currency:'':1}}</td>
                                                </tr>
                                                <tr ng-repeat="item in data.allMaterials">
                                                    <td>{{item.materialNM}}</td>
                                                    <td style="text-align: right;">{{$parent.method.getAllMaterialPercent(item) | currency:'':2}}%</td>
                                                    <td style="text-align: right;">&euro;{{item.totalAmount | currency:'':0}}</td>
                                                    <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-lg-6">
                                <h2 style="margin-bottom: 0px;">WOOD (Commercial Invoice - @preSeason)</h2>
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto; margin-top:0px" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;">MATERIAL</th>
                                                    <th style="font-weight: bold; width:70px">%</th>
                                                    <th style="font-weight: bold; width:100px">AMOUNT</th>
                                                    <th style="font-weight: bold; width:100px">CONTAINER</th>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; text-align: right;">TOTAL</td>
                                                    <td style="font-weight: bold; text-align: right;">100%</td>
                                                    <td style="font-weight: bold; text-align: right;">&euro;{{method.getWoodTotalAmount() | currency:'':0}}</td>
                                                    <td style="font-weight: bold; text-align: right;">{{method.getWoodTotalCont() | currency:'':1}}</td>
                                                </tr>
                                                <tr ng-repeat="item in data.woods">
                                                    <td>{{item.materialTypeNM}}</td>
                                                    <td style="text-align: right;">{{$parent.method.getWoodPercent(item) | currency:'':2}}%</td>
                                                    <td style="text-align: right;">&euro;{{item.totalAmount | currency:'':0}}</td>
                                                    <td style="text-align: right;">{{item.totalCont | currency:'':1}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/misalebymaterial/';
        jsonService.supportServiceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/support/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var context = {
            season: '@Season'
        }
    </script>
    <script src="~/Angular/app/miSaleByMaterialRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/miSaleByMaterialRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}