@{
    ViewBag.Title = "Shipment Amount EU";
    ViewBag.Module = "Shipment Amount EU";
}

<div class="row">
    <br />
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body">
                    <fieldset>
                        <div class="form-group col-lg-3">
                            <label>Season</label>
                            <select class="form-control" ng-model="filters.season" ng-options="item.seasonValue as item.seasonText for item in seasons"></select>
                        </div>
                    </fieldset>
                    <div class="form-group" style="margin-left:13px;">
                        @*<button ng-click="event.ok($event)">OK</button>*@
                        <button class="btn btn-primary" type="button" ng-click="event.ok($event)">
                            Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
}

@section pagejs {
    <script src="~/Angular/app/reportShipmentAmountNL/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        reportShipmentAmountNLService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/report_shipmentamount_nl/';
        reportShipmentAmountNLService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';

        var reportApp = angular.module('tilsoftApp', []);
        reportApp.controller('tilsoftController', ['$scope', function ($scope) {
            $scope.seasons = null;
            $scope.filters = {
                season: '@Frontend.Helper.Common.GetCurrentSeason()',
            };

            //
            // event defined
            //
            $scope.event = {
                ok: function ($event) {
                    $event.preventDefault();
                    reportShipmentAmountNLService.getReport(
                        $scope.filters.season,
                        function (data) {
                            jsHelper.processMessage(data.message);
                            if (data.message.type != 2)
                            {
                               window.location = '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]' + data.data + '.xlsm';
                            }
                        },
                        function (error) {
                            jsHelper.showMessage('warning', error);
                        }
                    );
                }
            }

            //
            // private function defined
            //
            $scope.prepareForm = function () {
                
                reportShipmentAmountNLService.getSeasons(
                    function (data) {
                        $scope.seasons = data.data;
                        $scope.$apply();
                        jQuery('#content').show();
                    },
                    function (error) {
                        $scope.seasons = null;
                        $scope.$apply();
                    }
                );
            }

            //
            // INIT
            //
            $scope.prepareForm();
        }]);
    </script>
}
