@{
    ViewBag.Title = "Purchasing Price Overview";
    ViewBag.Module = "Purchasing Price Overview";
    ViewBag.Icon = "fa-bar-chart-o";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Purchasing Price Overview</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="widget-body-toolbar">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <a href="javascript:void(0)" class="btn btn-default" style="background: #fff;">Season</a>
                                    </div>
                                    <select class="form-control" ng-model="filters.Season" ng-options="season.seasonValue as season.seasonText for season in seasons">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <a href="javascript:void(0)" class="btn btn-default" style="background: #fff;">Client</a>
                                    </div>
                                    <input class="form-control" type="text" ng-model="filters.ClientUD" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <a href="javascript:void(0)" class="btn btn-default" style="background: #fff;">Supplier</a>
                                    </div>
                                    <select class="form-control" ng-model="filters.FactoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-primary disabled" ng-click="event.htmlReport()"> <i class="fa fa-globe"></i> HTML report </a>
                                </div>
                                <div class="btn-group">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-success" ng-click="event.excelReport()"> <i class="fa fa-file-excel-o"></i> Excel Report </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper" style="display: none;">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 4600px;">
                                <div style="width: 80px;">#</div>
                                <div style="width: 80px;">P/O No</div>
                                <div style="width: 80px;">Date</div>
                                <div style="width: 100px;">Customer Code</div>
                                <div style="width: 150px;">Name Customer</div>
                                <div style="width: 100px;">VN-monitored</div>
                                <div style="width: 100px;">NL-monitored</div>
                                <div style="width: 100px;">Agented By</div>
                                <div style="width: 100px;">Sale</div>
                                <div style="width: 150px;">Art. Code</div>
                                <div style="width: 350px;">Art. Description</div>
                                <div style="width: 80px;">Qnt / 40ft</div>
                                <div style="width: 80px;">Order qnt</div>
                                <div style="width: 80px;">Order in Cont</div>
                                <div style="width: 80px;">Loaded qnt</div>
                                <div style="width: 100px;">Loaded in Cont.</div>
                                <div style="width: 80px;">Shipped qnt</div>
                                <div style="width: 100px;">Shipped in Cont.</div>
                                <div style="width: 150px;">To Be Shipped qnt</div>
                                <div style="width: 150px;">To Be Shipped in Cont.</div>
                                <div style="width: 80px;">Main material</div>
                                <div style="width: 80px;">Status</div>
                                <div style="width: 120px;">Supplier</div>
                                <div style="width: 80px;">LDS</div>
                                <div style="width: 40px;">S/C</div>
                                <div style="width: 120px;">PRICE QUOTE</div>
                                <div style="width: 100px;">CO</div>
                                <div style="width: 100px;">PLACE</div>
                                <div style="width: 80px;">QUALITY</div>
                                <div style="width: 100px;">PRICE 2015-2016</div>
                                <div style="width: 100px;">PRICE 2016-2017</div>
                                <div style="width: 150px;">Purchasing Invoice Price</div>
                                <div style="width: 100px;">FOB IN USD (COMPANY)</div>
                                <div style="width: 150px;">Total in USD Company</div>
                                <div style="width: 100px;">Target price</div>
                                <div style="width: 100px;">FOB USD (BREAKDOWN)</div>
                                <div style="width: 100px;">Price status</div>
                                <div style="width: 100px;">Price cfmd date</div>
                                <div style="width: 100px;">Proforma invoice</div>
                                <div>RMK</div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 4600px;">
                                <div style="width: 80px;"></div>
                                <div style="width: 80px;">P/O No</div>
                                <div style="width: 80px;">Date</div>
                                <div style="width: 100px;"><input type="text" ng-model="filters.ClientUD" /></div>
                                <div style="width: 150px;">Name Customer</div>
                                <div style="width: 100px;">VN-monitored</div>
                                <div style="width: 100px;">NL-monitored</div>
                                <div style="width: 100px;">Agented By</div>
                                <div style="width: 100px;">Sale</div>
                                <div style="width: 150px;">Art. Code</div>
                                <div style="width: 350px;">Art. Description</div>
                                <div style="width: 80px;">Qnt / 40ft</div>
                                <div style="width: 80px;">Order qnt</div>
                                <div style="width: 80px;">Order in Cont</div>
                                <div style="width: 80px;">Loaded qnt</div>
                                <div style="width: 100px;">Loaded in Cont.</div>
                                <div style="width: 80px;">Shipped qnt</div>
                                <div style="width: 100px;">Shipped in Cont.</div>
                                <div style="width: 150px;">To Be Shipped qnt</div>
                                <div style="width: 150px;">To Be Shipped in Cont.</div>
                                <div style="width: 80px;">Main material</div>
                                <div style="width: 80px;">Status</div>
                                <div style="width: 120px;">
                                    <select class="search-filter" ng-model="filters.FactoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                    </select>
                                </div>
                                <div style="width: 80px;">LDS</div>
                                <div style="width: 40px;">S/C</div>
                                <div style="width: 120px;">PRICE QUOTE</div>
                                <div style="width: 100px;">CO</div>
                                <div style="width: 100px;">PLACE</div>
                                <div style="width: 80px;">QUALITY</div>
                                <div style="width: 100px;">PRICE 2015-2016</div>
                                <div style="width: 100px;">PRICE 2016-2017</div>
                                <div style="width: 150px;">Purchasing Invoice Price</div>
                                <div style="width: 100px;">FOB IN USD (COMPANY)</div>
                                <div style="width: 150px;">Total in USD Company</div>
                                <div style="width: 100px;">Target price</div>
                                <div style="width: 100px;">FOB USD (BREAKDOWN)</div>
                                <div style="width: 100px;">Price status</div>
                                <div style="width: 100px;">Price cfmd date</div>
                                <div style="width: 100px;">Proforma invoice</div>
                                <div>RMK</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 4600px;">
                                <table>
                                    <tr ng-repeat="item in data | filter:localFilters">
                                        <td style="width: 80px; text-align: center;">{{$index+1}}</td>
                                        <td style="width: 80px; text-align: center;">{{item.proformaInvoiceNo}}</td>
                                        <td style="width: 80px; text-align: center;">{{item.invoiceDate}}</td>
                                        <td style="width: 100px; text-align: center;">{{item.clientUD}}</td>
                                        <td style="width: 150px;">{{item.clientNM}}</td>
                                        <td style="width: 100px;">{{item.vnMonitorName}}</td>
                                        <td style="width: 100px;">{{item.nlMonitorName}}</td>
                                        <td style="width: 100px;">{{item.agentNM}}</td>
                                        <td style="width: 100px;">{{item.saleNM}}</td>
                                        <td style="width: 150px; text-align: center;">{{item.articleCode}}</td>
                                        <td style="width: 350px;">{{item.description}}</td>
                                        <td style="width: 80px; text-align: right;">{{item.qnt40HC | currency:'':0}}</td>
                                        <td style="width: 80px; text-align: right;">{{item.orderQnt | currency:'':0}}</td>
                                        <td style="width: 80px; text-align: right;">{{item.orderQnt40HC | currency:'':2}}</td>
                                        <td style="width: 80px; text-align: right;">{{item.loadedQnt | currency:'':0}}</td>
                                        <td style="width: 100px; text-align: right;">{{item.loadedQnt40HC | currency:'':2}}</td>
                                        <td style="width: 80px; text-align: right;">{{item.shippedQnt | currency:'':0}}</td>
                                        <td style="width: 100px; text-align: right;">{{item.shippedQnt40HC | currency:'':2}}</td>
                                        <td style="width: 150px; text-align: right;">{{item.toBeShippedQnt | currency:'':0}}</td>
                                        <td style="width: 150px; text-align: right;">{{item.toBeShippedQnt40HC | currency:'':2}}</td>
                                        <td style="width: 80px; text-align: center;">{{item.materialNM}}</td>
                                        <td style="width: 80px; text-align: center;">{{item.productionStatus}}</td>
                                        <td style="width: 120px; text-align: center;">{{item.factoryUD}}</td>
                                        <td style="width: 80px; text-align: center;">{{item.lds}}</td>
                                        <td style="width: 40px;">{{item.sc}}</td>
                                        <td style="width: 120px; text-align: center;">{{item.quotationUD}}</td>
                                        <td style="width: 100px; text-align: center;">{{item.manufacturerCountryNM}}</td>
                                        <td style="width: 100px; text-align: center;">{{item.city}}</td>
                                        <td style="width: 80px; text-align: center;">{{item.priceDifferenceCode}}</td>
                                        <td style="width: 100px; text-align: right;">{{item.salePriceInThePast2Season | currency:'$':3}}</td>
                                        <td style="width: 100px; text-align: right;">{{item.salePriceInTheLastSeason | currency:'$':3}}</td>
                                        <td style="width: 150px; text-align: right;">{{item.purchasingInvoicePrice | currency:'$':3}}</td>
                                        <td style="width: 100px; text-align: right;">{{item.salePrice | currency:'$':3}}</td>
                                        <td style="width: 150px; text-align: right;">[Total In USD company]</td>
                                        <td style="width: 100px; text-align: right;">{{item.targetPrice | currency:'$':3}}</td>
                                        <td style="width: 100px; text-align: right;">{{item.breakDownPrice | currency:'$':3}}</td>
                                        <td style="width: 100px; text-align: center;">{{item.quotationStatusNM}}</td>
                                        <td style="width: 100px; text-align: center;">{{item.statusUpdatedDate}}</td>
                                        <td style="width: 100px; text-align: center;">{{item.factoryProformaInvoiceNo}}</td>
                                        <td>{{item.remark}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span style="display: none;">Found: {{totalRows}} record(s)</span>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
}

@section pagejs {
    <script type="text/javascript">
    var context = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/purchasingpriceoverview2rpt/',
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
            token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
        pageSize: 50
    }
    </script>
    <script src="~/Angular/app/purchasingPriceOverview2Rpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/jsonService2.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/purchasingPriceOverview2Rpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
