<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ReportShowroomOverviewEntities" connectionString="metadata=res://*/ReportShowroomOverviewModel.csdl|res://*/ReportShowroomOverviewModel.ssdl|res://*/ReportShowroomOverviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=OMSOnline;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAL.ReportShowroomOverview.Properties.Settings.OMSOnlineConnectionString"
      connectionString="Data Source=.;Initial Catalog=OMSOnline;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="DAL.ReportShowroomOverview.Properties.Settings.TILSOFTConnectionString"
      connectionString="Data Source=QUANG-PC;Initial Catalog=TILSOFT;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>