@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Product Break Down(PAL) Default Category";
    ViewBag.Module = "Product Break Down(PAL) Default Category";
    ViewBag.Icon = "fa-table";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Search Product Break Down(PAL) Default Category</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="tilsoft-table-wrapper" avs-scrollable-table ng-load-next-page="event.loadNextPage()" ng-sort-data="event.sortData">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1673px">
                                <div style="width: 70px; height: 50px !important; text-align: center !important; background-color: #eee">Total<br /><b style="color: #0026ff">{{totalRows | number}}</b></div>
                                <div style="width: 55px; height: 50px !important; text-align: center !important; background-color: #eee">#</div>
                                <div style="width: 180px; height: 50px !important; text-align: center !important; background-color: #eee">Name</div>
                                <div style="width: 80px; height: 50px !important; text-align: center !important; background-color: #eee">Type</div>
                                <div style="width: 80px; height: 50px !important; text-align: center !important; background-color: #eee">Unit</div>
                                <div style="width: 120px; height: 50px !important; text-align: center !important; background-color: #eee">Price</div>
                                <div style="width: 250px; height: 50px !important; text-align: center !important; background-color: #eee">Remark</div>
                                <div style="width: 200px; height: 50px !important; text-align: center !important; background-color: #eee">More Info</div>
                                <div style="border-bottom: none"></div>
                            </div>
                            <div class="tilsoft-table-filter" style="width: 1673px; margin-top: 50px">
                                <div style="width: 70px; height: 45px !important; text-align: center !important; background-color: #eee">
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" title="Apply Filter" ng-click="event.refresh()">
                                        <i class="fa fa-filter"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-default btn-xs font-11" title="Clear Filter" ng-click="event.clear()">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                </div>
                                <div style="width: 55px; height: 45px !important; text-align: center !important; background-color: #eee"></div>
                                <div style="width: 180px; height: 45px !important; text-align: center !important; background-color: #eee">
                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.defaultNameSearch" />
                                </div>
                                <div style="width: 80px; height: 45px !important; text-align: center !important; background-color: #eee">
                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.defaultTypeSearch" />
                                </div>
                                <div style="width: 80px; height: 45px !important; text-align: center !important; background-color: #eee">
                                    <input class="form-control search-filter" style="width: 100%" ng-model="filters.defaultUnitSearch" />
                                </div>
                                <div style="width: 120px; height: 45px !important; text-align: center !important; background-color: #eee"></div>
                                <div style="width: 250px; height: 45px !important; text-align: center !important; background-color: #eee"></div>
                                <div style="width: 200px; height: 45px !important; text-align: center !important; background-color: #eee"></div>
                                <div style="border-bottom: none"></div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1673px; margin-top: 95px">
                                <table>
                                    <tr ng-repeat="item in data">
                                        <td style="width: 70px; text-align: center">
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Update, HttpContext.Current) == "disabled")
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="javascript:void(0)" title="View (Read Only)" style="width: 55px; margin-bottom: 3px" ng-click="event.view(item.productBreakDownDefaultCategoryID)">
                                                    <i class="fa fa-folder-open"></i> View
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary btn-xs font-11" href="javascript:void(0)" title="Edit" style="width: 55px; margin-bottom: 3px" ng-click="event.edit(item.productBreakDownDefaultCategoryID)">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </a>
                                            }
                                            @if (Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Delete, HttpContext.Current) != "disabled")
                                            {
                                                <a class="btn btn-danger btn-xs font-11" href="javascript:void(0)" title="Delete" style="width: 55px; margin-bottom: 3px" ng-click="event.delete(item)">
                                                    <i class="fa fa-times"></i> Del
                                                </a>
                                            }
                                            <a class="btn btn-default btn-xs font-11 hide" href="javascript:void(0)" style="width: 55px" ng-click="event.view(item.productBreakDownDefaultCategoryID)">
                                                <i class="fa fa-eye"></i> View
                                            </a>
                                        </td>
                                        <td style="width: 55px; text-align: center">{{($index + 1)}}</td>
                                        <td style="width: 180px">{{item.productBreakDownDefaultCategoryNM}}</td>
                                        <td style="width: 80px; text-align: center">{{item.productBreakDownCalculationTypeNM}}</td>
                                        <td style="width: 80px; text-align: center">{{item.unit}}</td>
                                        <td style="width: 120px; text-align: right">{{item.unitPrice | number : 2}}</td>
                                        <td style="width: 250px">{{item.remark}}</td>
                                        <td style="width: 200px"></td>
                                        <td style="border-bottom: none"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="event.refresh()">
                <i class="fa fa-search"></i> Search
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="event.refresh()">
                <i class="fa fa-refresh"></i> Refresh
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default btn-sm @(Frontend.Helper.AuthHelper.GetActionButtonStatus(ViewBag.ModuleCode, Frontend.Helper.ActionEnum.Create, HttpContext.Current))" ng-click="event.create(0)">
                <i class="fa fa-file-o"></i> New
            </a>
        </li>
    </ul>
}

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/productbreakdowndefaultcategory-pal/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID',
            createUrl: '@Url.Action("Edit", "ProductBreakDownDefaultCategoryPALMng", new { id = UrlParameter.Optional })/'
        }
    </script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryPALMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ProductBreakDownDefaultCategoryPALMng/service.js?=@guid"></script>
}

