@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var backendReportUrl = @System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];

    ViewBag.Title = "Export FSC Report";
    ViewBag.Module = "FSC Report";
}

<div class="row" style="margin-top: 3px;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Start Date</label>
                                <div class="input-group" style="width: 221px;">
                                    <input class="form-control" avs-calendar ng-data-source="filters.startDate" id="startDate" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>End Date</label>
                                <div class="input-group" style="width: 221px;">
                                    <input class="form-control" avs-calendar ng-data-source="filters.endDate" id="endDate" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="text-align: right;">
                                <button class="btn btn-primary" style="width: auto; margin-top: 5px;" type="button" ng-click="event.exportFSC()">
                                    <i class="fa fa-file-excel-o"></i> Export Excel
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/fscRpt/',
            token: '@token',
            backendReportUrl: '@backendReportUrl',
        };
    </script>
    <script type="text/javascript" src="~/Angular/app/fscRpt/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/fscRpt/service.js?v=@guid"></script>
}
