<div id="rptDetail" class="row" style="display: none;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-detail" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
            <header role="heading">
                <h2>Developer: {{detailService.person.employeeNM}}</h2>
            </header>
            <div role="content">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset style="padding-top: 0px;">
                            <div class="row">
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow-y: hidden; height: auto; margin-top: 0px;" class="tilsoft-table-body">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;" rowspan="2">Request</th>
                                                    <th style="font-weight: bold;" rowspan="2">Status</th>
                                                    <th colspan="2" style="font-weight: bold;">Working Hour</th>
                                                </tr>
                                                <tr>
                                                    <th style="font-weight: bold;">Est</th>
                                                    <th style="font-weight: bold;">Actual</th>
                                                </tr>
                                                <tr ng-repeat="item in detailService.data.detailByPersons">
                                                    <td>{{item.title}}</td>
                                                    <td>{{item.devRequestStatusNM}}</td>
                                                    <td style="text-align: right;">{{item.estWorkingHour}}</td>
                                                    <td style="text-align: right;">{{item.actualWorkingHour}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="chartDetail" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </fieldset>

                        <h2>Planing and Occupied</h2>
                        <fieldset>
                            <div class="row">
                                <div class="widget-body-toolbar">
                                    <div id="calendar-buttons">
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-prev"><i class="fa fa-chevron-left"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" id="btn-next"><i class="fa fa-chevron-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="calendarPanel"></div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="text-align: left;">
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="detailService.closeForm()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>