<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>Search Factory Sale Invoice</h2>
        </header>
        <div>
            <div class="widget-body">
                <div class="smart-form">
                    <div class="row">
                        <section class="col col-lg-12">
                            <a class="btn btn-primary btn-xs m-bottom-15" href="#/" ng-click="eventFactorySaleInvoiceCtrl.selectFactorySaleInvoiceItem()">Select</a>
                            <a class="btn btn-warning btn-xs m-bottom-15" href="#/">Back</a>

                            <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width: 1220px;">
                                        <div style="width: 70px;"></div>
                                        <div style="width: 120px;">Doc No</div>
                                        <div style="width: 150px;">Invoice No</div>
                                        <div style="width: 150px;">Invoice Date</div>
                                        <div style="width: 150px;">Invoice Amount</div>
                                        <div style="width: 150px;">Total Receipt</div>
                                        <div style="width: 150px;">Remain</div>
                                        <div></div>
                                    </div>

                                    <div class="tilsoft-table-filter" style="width: 1220px;">
                                        <div style="text-align: center; width: 70px; vertical-align:middle">
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Apply Filter" ng-click="eventFactorySaleInvoiceCtrl.init()"><i class="fa fa-filter"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="eventFactorySaleInvoiceCtrl.clearFilter()"><i class="fa fa-ban"></i></a>
                                        </div>
                                        <div style="width: 120px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.docNo" class="search-filter" /></div>
                                        <div style="width: 150px; text-align: center; vertical-align: middle"><input type="text" ng-model="filters.invoiceNo" class="search-filter" /></div>
                                        <div style="width: 150px; text-align: center; vertical-align: middle"><input type="text" avs-calendar ng-data-source="filters.invoiceDate" class="search-filter" /></div>
                                        <div style="width: 150px; text-align: center; vertical-align: middle"></div>
                                        <div style="width: 150px; text-align: center; vertical-align: middle"></div>
                                        <div style="width: 150px"></div>
                                        <div></div>
                                    </div>

                                    <div class="tilsoft-table-body" style="width: 1220px; margin-top: 95px;">
                                        <table>
                                            <tbody ng-repeat="item in dataFactorySaleInvoice">
                                                <tr>
                                                    <td style="width:69px;text-align:center;vertical-align:top">
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-model="item.isSelected">
                                                            <i style="top:0px; left:20px"></i>
                                                        </label>
                                                    </td>
                                                    <td style="text-align: center; width: 120px; vertical-align:middle">{{item.docCode}}</td>
                                                    <td style="text-align: center; width: 150px; vertical-align:middle">{{item.invoiceNo}}</td>
                                                    <td style="text-align: center; width: 150px; vertical-align:middle">{{item.invoiceDate}}</td>
                                                    <td style="text-align: right; width: 150px; vertical-align:middle">{{item.totalAmount | number : 2}}</td>
                                                    <td style="text-align: right; width: 150px; vertical-align:middle">{{item.totalReceipt | number:2}}</td>
                                                    <td style="text-align: right; width: 150px; vertical-align:middle">{{item.remainQnt | number:2}}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

