<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>General</h2>
        </header>
        <div>
            <div class="widget-body">
                <div class="smart-form">
                    <div class="row">
                        <section class="col col-6">
                            <div class="inline-group">
                                <label class="radio" ng-repeat="item in supportData.receiptNoteSupportTypes">
                                    <input type="radio" name="radio-inline" ng-model="$parent.data.receiptNoteTypeID" ng-value="item.receiptNoteTypeID">
                                    <i></i>{{item.receiptNoteTypeNM}}
                                </label>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-2">
                            <label>
                                Receipt Note No
                            </label>
                            <label class="input">
                                <span class="form-control">{{data.receiptNoteNo}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label>
                                Receipt Note Date
                            </label>
                            <label class="input-group">
                                <input avs-calendar class="form-control" type="text" ng-data-source="data.receiptNoteDate" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label>
                                Posting Date
                            </label>
                            <label class="input-group">
                                <input avs-calendar class="form-control" type="text" ng-data-source="data.postingDate" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label>
                                Currency
                                <em ng-show="editForm.currency.$error.required" class="note note-error">(Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.currency.$error.required}">
                                <select class="form-control" ng-model="data.currency" required name="currency" ng-disabled="data.statusID == 2 || data.statusID == 3" ng-change="generalCtrlEvent.changeAmountByCurrency()">
                                    <option value=""></option>
                                    <option value="VND">VND</option>
                                    <option value="USD">USD</option>
                                </select>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label>
                                Status
                            </label>
                            <label class="input">
                                <select class="form-control"
                                        ng-model="data.statusID"
                                        ng-options="xxx.statusID as xxx.statusNM for xxx in status"
                                        ng-change="generalCtrlEvent.setstatus()">
                                    <option value=""></option>
                                </select>
                            </label>
                        </section>
                        <section class="col col-lg-2">
                            <label>
                                Receiver Name
                            </label>
                            <label class="input">
                                <input class="form-control" type="text" ng-model="data.receiverName" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-lg-4" ng-if="data.receiptNoteTypeID === 3 || data.receiptNoteTypeID === 4">
                            <label>
                                Client Name
                                <em ng-show="editForm.supplierAutoComplete.$error.required" class="note note-error">(Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.supplierAutoComplete.$error.required}">
                                <input type="text" name="supplierAutoComplete" required id="supplierAutoComplete" ng-model="data.factoryRawMaterialOfficialNM" class="form-control" placeholder="Type in at least 3 chars to activate search" ng-click="generalCtrlMethod.autocompleteSupplier()" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                            </label>
                        </section>
                        <section class="col col-lg-2" ng-if="data.receiptNoteTypeID === 3 || data.receiptNoteTypeID === 4">
                            <label>Client Code</label>
                            <label class="input">
                                <span class="form-control">{{data.factoryRawMaterialUD}}</span>
                            </label>
                        </section>

                        <section class="col col-lg-4" ng-if="data.receiptNoteTypeID !== 4 && data.receiptNoteTypeID !== 3">
                            <label>Supplier Name</label>
                            <label class="input">
                                <span class="form-control">{{data.supplierNM}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-2" ng-if="data.receiptNoteTypeID !== 4 && data.receiptNoteTypeID !== 3">
                            <label>Supplier Code</label>
                            <label class="input">
                                <span class="form-control">{{data.supplierUD}}</span>
                            </label>
                        </section>

                        <section class="col col-lg-2"> 
                            <label>
                                Receipt Type
                                <em ng-show="editForm.receiveType.$error.required" class="note note-error">(Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.receiveType.$error.required}">
                                <select class="form-control"
                                        ng-model="data.receiveTypeID"
                                        ng-options="xxx.receiveTypeID as xxx.receiveTypeNM for xxx in supportData.receiveSupportTypes" name="receiveType"
                                        ng-disabled="data.statusID == 2 || data.statusID == 3"
                                        required>
                                    <option value=""></option>
                                </select>
                            </label>
                        </section>

                        <section class="col col-lg-4" ng-hide="data.receiveTypeID == 1 || data.receiveTypeID == null">
                            <label>
                                Bank Account
                                <em ng-show="editForm.supplierBankID.$error.required" class="note note-error">(Required)</em>
                            </label>
                            <label class="input" ng-class="{'state-error': editForm.supplierBankID.$error.required}">
                                <select class="form-control"
                                        ng-model="data.supplierBankID"
                                        ng-options="xxx.supplierBankID as xxx.bankInfor for xxx in supportData.receiptNoteBankAccounts"
                                        ng-disabled="data.statusID == 2 || data.statusID == 3"
                                        ng-required="data.receiveTypeID == 2" name="supplierBankID">
                                    <option value=""></option>
                                </select>
                            </label>
                        </section>

                    </div>
                    <div class="row">
                        <section class="col col-lg-4">
                            <label>Attched file</label>
                            <label class="input">
                                <span class="form-control">
                                    {{data.friendlyName}}
                                    <span style="position: absolute; right: 5px; top: 5px;">
                                        <a ng-disabled="!data.fileLocation || data.friendlyName==null" href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="generalCtrlEvent.downloadFile()">Download</a>
                                        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="generalCtrlEvent.changeFile()">Change</a>
                                        <a ng-disabled="!data.fileLocation || data.friendlyName==null" href="javascript:void(0);" class="btn btn-danger btn-xs" style="font-size: 11px;" ng-click="generalCtrlEvent.removeFile()">Remove</a>
                                    </span>
                                </span>
                            </label>
                        </section>
                        <section class="col col-lg-4">
                            <label>Remark</label>
                            <label class="input">
                                <input type="text" ng-model="data.remark" class="form-control" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                            </label>
                        </section>
                        <section class="col col-lg-4">
                            <label>Tracking</label>
                            <label class="input">
                                <span class="form-control">
                                    <span ng-if="data.creator !== null">Created by: {{data.creator}} on {{data.createDate}}</span>
                                    <span ng-if="data.updater !== null">Upated by: {{data.updater}} on {{data.updateDate}}</span>
                                </span>
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-2" style="float:right" ng-if="data.currency === 'VND'">
                            <label>Total</label>
                            <label class="input">
                                <span class="form-control">VND {{data.totalByCurrency | number:0}}</span>
                            </label>
                        </section>
                        <section class="col col-lg-2" style="float:right" ng-if="data.currency === 'VND'">
                            <label>Exchange Rate</label>
                            <label class="input">
                                <span class="form-control">{{data.exchangeRate | number:0}}</span>
                            </label>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>Detail</h2>
        </header>
        <div>
            <div class="jarviswidget-editbox"></div>
            <div class="widget-body">

                <div class="smart-form">

                    <div class="row" ng-if="data.receiptNoteTypeID === 1">
                        <section class="col col-lg-12">
                            <a class="btn btn-primary btn-xs m-bottom-15" ng-click="generalCtrlEvent.pushClientID()" href="#/purchasing-invoice-item" ng-if="data.supplierID > 0" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-plus"></i> Add item</a>
                            <div class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width:1600px">
                                        <div style="width:60px"></div>
                                        <div style="width:40px">No</div>
                                        <div style="width:150px">Invoice No</div>
                                        <div style="width:120px">Invoice Date</div>
                                        <div style="width:200px">Invoice Amount</div>
                                        <div style="width:200px;">Total Receipt</div>
                                        <div style="width:200px;">Remain</div>
                                        <div style="width:180px;">Amount Receipt</div>
                                        <div style="width:200px;">Receipt In Invoice</div>
                                        <div>Remark</div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width:1600px;">
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="item in data.receiptNoteInvoiceResults">
                                                    <td style="width:59px;vertical-align:middle">
                                                        <a class="btn btn-danger btn-xs" ng-click="generalCtrlEvent.removeReceiptNoteEcommercial(item)" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-times"></i> Del</a>
                                                    </td>
                                                    <td style="width:40px; vertical-align:middle; text-align:center">
                                                        {{$index+1}}
                                                    </td>
                                                    <td style="width:150px;">
                                                        <span class="form-control">{{item.invoiceNo}}</span>
                                                    </td>
                                                    <td style="width:120px;">
                                                        <span class="form-control">{{item.invoiceDate}}</span>
                                                    </td>
                                                    <td style="width:200px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{'$'}}</span>
                                                            <span class="form-control">{{item.invoiceAmount | number : 2}}</span>
                                                        </div>
                                                    </td>
                                                    <td style="width:200px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{'$'}}</span>
                                                            <span class="form-control">{{item.totalReceipt | number : 2}}</span>
                                                        </div>
                                                    </td>
                                                    <td style="width:200px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{'$'}}</span>
                                                            <span class="form-control">{{item.remain | number : 2}}</span>
                                                        </div>

                                                    </td>
                                                    <td style="width:180px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{data.currency === 'USD' ? '$' : ''}} {{data.currency === 'VND' ? 'VND' : ''}}</span>
                                                            <input type="text" style="text-align:right" class="form-control" avs-number ng-decimal="2" ng-data-source="item.amountByCurrency" ng-readonly="data.statusID == 2 || data.statusID == 3" ng-on-change="generalCtrlEvent.changeAmountByCurrency()"/>
                                                        </div>
                                                    </td>
                                                    <td style="width:200px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{'$'}}</span>
                                                            <span class="form-control">{{item.amount | number : 2}}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="item.remark" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!--Client-->
                    <div class="row" ng-if="data.receiptNoteTypeID === 2">
                        <section class="col col-lg-12">
                            <a class="btn btn-primary btn-xs m-bottom-15" ng-click="generalCtrlEvent.addReceiptNoteClient()" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-plus"></i> Add item</a>
                            <div class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width:1600px">
                                        <div style="width:60px"></div>
                                        <div style="width:40px">No</div>
                                        <div style="width:200px">Client Code</div>
                                        <div style="width:400px">Client Name</div>
                                        <div style="width:180px;">Receipt</div>
                                        <div>Remark</div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width:1600px;">
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="item in data.receiptNoteClientResults">
                                                    <td style="width:59px;vertical-align:middle">
                                                        <a class="btn btn-danger btn-xs" ng-click="generalCtrlEvent.removeReceiptNoteClient(item)" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-times"></i> Del</a>
                                                    </td>
                                                    <td style="width:40px; vertical-align:middle; text-align:center">{{$index+1}}</td>
                                                    <td style="width:200px;">
                                                        <input type="text" name="supplierAutoCompleteReceiptNoteClient{{item.receiptNoteClientID}}" id="supplierAutoCompleteReceiptNoteClient{{item.receiptNoteClientID}}" ng-model="item.factoryRawMaterialUD" class="form-control" ng-click="generalCtrlMethod.autocompleteClientDetail()" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                                    </td>
                                                    <td style="width:400px;">
                                                        <span type="text" class="form-control">{{item.factoryRawMaterialOfficialNM}}</span>
                                                    </td>
                                                    <td style="width:180px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{data.currency === 'USD' ? '$' : ''}} {{data.currency === 'VND' ? 'VND' : ''}}</span>
                                                            <input type="text" style="text-align:right" class="form-control" avs-number ng-decimal="2" ng-data-source="item.amount" ng-readonly="data.statusID == 2 || data.statusID == 3" ng-on-change="generalCtrlEvent.changeAmountByCurrency()"/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="item.remark" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!--Other-->
                    <div class="row" ng-if="data.receiptNoteTypeID === 3">
                        <section class="col col-lg-12">
                            <a class="btn btn-primary btn-xs m-bottom-15" ng-click="generalCtrlEvent.addReceiptNoteOther()" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-plus"></i> Add item</a>
                            <div class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width:1600px">
                                        <div style="width:60px"></div>
                                        <div style="width:40px">No</div>
                                        <div style="width:120px">Type</div>
                                        <div style="width:150px">Item Code</div>
                                        <div style="width:250px">Item Name</div>
                                        <div style="width:250px"><input type="checkbox" ng-model="data.isCheckEmployeeOther"/>&nbsp; Employee Name</div>
                                        <div style="width:180px;">Receipt</div>
                                        <div>Remark</div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width:1600px;">
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="item in data.receiptNoteOtherResults">
                                                    <td style="width:59px;vertical-align:middle">
                                                        <a class="btn btn-danger btn-xs" ng-click="generalCtrlEvent.removeReceiptNoteOther(item)" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-times"></i> Del</a>
                                                    </td>
                                                    <td style="width:40px; vertical-align:middle; text-align:center">{{$index+1}}</td>
                                                    <td style="width:120px;">
                                                        <select class="form-control"
                                                                ng-model="item.noteItemID"
                                                                ng-options="xxx.receiptNoteItemTypeID as xxx.receiptNoteItemTypeNM for xxx in supportData.receiptNoteSupportItemTypes"
                                                                ng-disabled="data.statusID == 2 || data.statusID == 3">
                                                            <option value=""></option>
                                                        </select>
                                                    </td>
                                                    <td style="width:150px;">
                                                        <input type="text" name="productionItemAutoCompleteOther{{item.receiptNoteOtherID}}" id="productionItemAutoCompleteOther{{item.receiptNoteOtherID}}" ng-model="item.productionItemUD" class="form-control" ng-click="generalCtrlMethod.autocompleteProductionItemDetail()" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                                    </td>
                                                    <td style="width:250px; text-align:left;">
                                                        <span class="form-control">{{item.productionItemNM}}</span>
                                                    </td>
                                                    <td style="width: 250px">
                                                        <input type="text" name="clientAutoCompleteOther{{item.receiptNoteOtherID}}" id="clientAutoCompleteOther{{item.receiptNoteOtherID}}" ng-model="item.employeeNM" class="form-control" ng-click="generalCtrlMethod.autocompleteClientDetail()" ng-readonly="!data.isCheckEmployeeOther || data.statusID == 2 || data.statusID == 3" />
                                                    </td>
                                                    <td style="width:180px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{data.currency === 'USD' ? '$' : ''}} {{data.currency === 'VND' ? 'VND' : ''}}</span>
                                                            <input type="text" style="text-align:right" class="form-control" avs-number ng-decimal="2" ng-data-source="item.amount" ng-readonly="data.statusID == 2 || data.statusID == 3" ng-on-change="generalCtrlEvent.changeAmountByCurrency()"/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="item.remark" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!--SaleInvoice-->
                    <div class="row" ng-if="data.receiptNoteTypeID === 4">
                        <section class="col col-lg-12">
                            <a class="btn btn-primary btn-xs m-bottom-15" ng-click="generalCtrlEvent.pushFactoryRawMaterialID()" href="#/factory-sale-invoice-item" ng-if="data.factoryRawMaterialID > 0" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-plus"></i> Add item</a>
                            <div class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width:1400px">
                                        <div style="width:60px"></div>
                                        <div style="width:40px">No</div>
                                        <div style="width:150px">Invoice No</div>
                                        <div style="width:120px">Invoice Date</div>
                                        <div style="width:200px">Invoice Amount</div>
                                        <div style="width:200px;">Total Receipt</div>
                                        <div style="width:200px;">Remain</div>
                                        <div style="width:180px;">Receipt</div>
                                        <div>Remark</div>
                                    </div>
                                    <div class="tilsoft-table-body" style="width:1400px;">
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="item in data.receiptNoteSaleInvoiceResults">
                                                    <td style="width:59px;vertical-align:middle">
                                                        <a class="btn btn-danger btn-xs" ng-click="generalCtrlEvent.removeReceiptNoteSaleInvoice(item)" ng-disabled="data.statusID == 2 || data.statusID == 3"><i class="fa fa-times"></i> Del</a>
                                                    </td>
                                                    <td style="width:40px; vertical-align:middle; text-align:center">
                                                        {{$index+1}}
                                                    </td>
                                                    <td style="width:150px;">
                                                        <span class="form-control">{{item.invoiceNo}}</span>
                                                    </td>
                                                    <td style="width:120px;">
                                                        <span class="form-control">{{item.invoiceDate}}</span>
                                                    </td>
                                                    <td style="width:200px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{'VND'}}</span>
                                                            <span class="form-control">{{item.saleInvoiceAmount | number : 2}}</span>
                                                        </div>
                                                    </td>
                                                    <td style="width:200px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{'VND'}}</span>
                                                            <span class="form-control">{{item.totalReceipt | number : 2}}</span>
                                                        </div>
                                                    </td>
                                                    <td style="width:200px; text-align:right;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{'VND'}}</span>
                                                            <span class="form-control">{{item.remain | number : 2}}</span>
                                                        </div>

                                                    </td>
                                                    <td style="width:180px;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">{{data.currency === 'USD' ? '$' : ''}} {{data.currency === 'VND' ? 'VND' : ''}}</span>
                                                            <input type="text" style="text-align:right" class="form-control" avs-number ng-decimal="2" ng-data-source="item.amountByCurrency" ng-readonly="data.statusID == 2 || data.statusID == 3" ng-on-change="generalCtrlEvent.changeAmountByCurrency()"/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="item.remark" ng-readonly="data.statusID == 2 || data.statusID == 3" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>
