<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.ReportEurofarPriceOverview.Properties.Settings.OMSOnlineConnectionString"
            connectionString="Data Source=.;Initial Catalog=OMSOnline;Integrated Security=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="DAL.ReportEurofarPriceOverview.Properties.Settings.TilsoftConnectionString"
            connectionString="Data Source=.;Initial Catalog=Tilsoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>