h1.page-title {
	margin-bottom: 12px;
}
#sparks li {
	border-left: none;
	padding: 0px 5px 0px 0px;
}
.sparks-info {
	min-width: 0px;
	padding-right: 0px;
}

.note-error {
    color: #ff0000 !important;
}

.smart-form fieldset {
    padding-top: 5px;
}

.avs-form {
    display: none;
}
.table {
    margin-bottom: 0px;
}

span.label {
    margin-left: 5px;
    line-height: 22px;
}

/* simple table */
table.table tbody tr td {
    font-size: 12px;
}
table.table tbody tr td span.label {
    font-size: 11px;
}
table.table tr th {
    text-transform: uppercase;
    text-align: center;
}
table.table tr th.sorting {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.table tr th.sorting_asc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.table tr th.sorting_desc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* avs table */
.avs-table-wrapper {
    border: solid 1px #ddd;
    overflow-x: auto;
}

    .avs-table-wrapper .avs-table-header {
        overflow: hidden;
    }

        .avs-table-wrapper .avs-table-header table tr td, .avs-table-wrapper .avs-table-header table tr th {
            border-right: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
            line-height: 18px;
            box-sizing: border-box;
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            padding: 5px;
            background: #eee;
            background-image: -moz-linear-gradient(center top, #f2f2f2 0px, #fafafa 100%);
        }

        .avs-table-wrapper .avs-table-header table {
            table-layout: fixed;
        }

            .avs-table-wrapper .avs-table-header table tr.total-row td {
                background: #EFF7F7;
                text-align: right;
                font-weight: bold;
            }

            .avs-table-wrapper .avs-table-header table tr td.sorting {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC");
                background-position: right center;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            .avs-table-wrapper .avs-table-header table tr td.sorting_asc {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC");
                background-position: right center;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            .avs-table-wrapper .avs-table-header table tr td.sorting_desc {
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=");
                background-position: right center;
                background-repeat: no-repeat;
                cursor: pointer;
            }


    .avs-table-wrapper .avs-table-body {
        overflow: scroll;
        max-height: 450px;
    }

        .avs-table-wrapper .avs-table-body table tr td {
            border-right: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
            padding: 5px;
            font-size: 11px;
            box-sizing: border-box;
            word-break: break-word;
            vertical-align: top;
            line-height: 18px;
        }

            .avs-table-wrapper .avs-table-body table tr td input[type=text],
            .avs-table-wrapper .avs-table-header table tr td input[type=text],
            .avs-table-wrapper .avs-table-body table tr td select,
            .avs-table-wrapper .avs-table-header table tr td select,
            .avs-table-wrapper .avs-table-body table tr td textarea,
            .avs-table-wrapper .avs-table-header table tr td textarea {
                width: 100%;
            }

            .avs-table-wrapper .avs-table-body table tr td select,
            .avs-table-wrapper .avs-table-header table tr td select {
                padding: 3px;
            }

/* loader */
#loading-mask {
    position: fixed;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    opacity: 0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    z-index: 999999;
    width: 100%;
    height: 100vh;
    top: 0px;
}

    #loading-mask .loader {
        position: fixed;
        top: 200px;
        left: 50%;
        margin-left: -120px;
        padding: 30px 40px;
        background: #eef2f2;
        border: 2px solid #dbe1eb;
        font-weight: bold;
        text-align: center;
        z-index: 1000;
    }

@media screen and (max-width: 767px) {
    #sparks {
		text-align: center;
		margin-top: 0px;
	}
}