
<div id="getFactoryBreakdown" style="z-index: 999999999" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" type="button" data-dismiss="modal">
                    ×
                </button>
                <h4 id="myModalLabel" class="modal-title">View Factory Breakdown</h4>
            </div>
            <div class="modal-body smart-form">
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-body" style="width: 400px; margin-top:0px">
                                    <table>
                                        <tr>
                                            @*<td rowspan="3">
                                        <a href="{{factoryBreakdown.factoryBreakdownData.fileLocation}}" factoryBreakdownData-featherlight="image">
                                            <img style="width: 100%; height:100%" ng-src="{{factoryBreakdown.factoryBreakdownData.thumbnailLocation}}" />
                                        </a>
                                    </td>*@
                                            <td style="width: 160px"><b>Sample Order</b></td>
                                            <td style="width: 150px">{{factoryBreakdown.factoryBreakdownData.sampleOrderUD}}</td>
                                            <td style="width: 150px">Factory Price</td>
                                            <td style="width: 150px">$ {{factoryBreakdown.factoryBreakdownData.indicatedPrice}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 160px"><b>Sample Product</b></td>
                                            <td colspan="3" style="width:450px">
                                                <p>
                                                    <strong>{{factoryBreakdown.factoryBreakdownData.sampleProductUD}}</strong>
                                                    <br />
                                                    {{factoryBreakdown.factoryBreakdownData.articleDescription}}
                                                </p>
                                            </td>
                                        </tr>
                                        @*<tr>
                                    <td style="width: 160px"><b>More Information</b></td>
                                    <td colspan="3" style="width:450px">
                                        <ul style="list-style-position: inside;">
                                            <li>Material 1: {{(factoryBreakdown.factoryBreakdownData.materialDescription ? factoryBreakdown.factoryBreakdownData.materialDescription : '') + ' ' + (factoryBreakdown.factoryBreakdownData.materialTypeDescription ? factoryBreakdown.factoryBreakdownData.materialTypeDescription : '') + ' ' + (factoryBreakdown.factoryBreakdownData.materialColorDescription ? factoryBreakdown.factoryBreakdownData.materialColorDescription : '')}}</li>
                                            <li>Material 2: {{(factoryBreakdown.factoryBreakdownData.material2Description ? factoryBreakdown.factoryBreakdownData.material2Description : '') + ' ' + (factoryBreakdown.factoryBreakdownData.material2TypeDescription ? factoryBreakdown.factoryBreakdownData.material2TypeDescription : '') + ' ' + (factoryBreakdown.factoryBreakdownData.material2ColorDescription ? factoryBreakdown.factoryBreakdownData.material2ColorDescription : '')}}</li>
                                            <li>Material 3: {{(factoryBreakdown.factoryBreakdownData.material3Description ? factoryBreakdown.factoryBreakdownData.material3Description : '') + ' ' + (factoryBreakdown.factoryBreakdownData.material3TypeDescription ? factoryBreakdown.factoryBreakdownData.material3TypeDescription : '') + ' ' + (factoryBreakdownData.material3ColorDescription ? factoryBreakdownData.material3ColorDescription : '')}}</li>
                                            <li>Back Cushion: {{(factoryBreakdown.factoryBreakdownData.backCushionDescription ? factoryBreakdown.factoryBreakdownData.backCushionDescription : '')}}</li>
                                            <li>Seat Cushion: {{(factoryBreakdown.factoryBreakdownData.seatCushionDescription ? factoryBreakdown.factoryBreakdownData.seatCushionDescription : '')}}</li>
                                            <li>Cushion Color: {{(factoryBreakdown.factoryBreakdownData.cushionColorDescription ? factoryBreakdown.factoryBreakdownData.cushionColorDescription : '')}}</li>
                                        </ul>
                                    </td>
                                </tr>*@
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <section class="col col-sm-12">
                        <div class="widget-body">
                            <div class="tilsoft-table-wrapper">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-body" style="width:100%; max-width:600px; overflow-y:auto; height:auto; min-height:100px; margin-top:0px">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="width: 30px"></th>
                                                    <th style="width:300px">Name</th>
                                                    <th style="width:100px">Unit</th>
                                                    <th style="width:100px">Quantity</th>
                                                    <th>Remark</th>
                                                </tr>
                                                <tr ng-repeat="item in factoryBreakdown.factoryBreakdownData.factoryBreakdownDetailDTOs">
                                                    <td style="width: 30px; text-align: center">{{$index + 1}}</td>
                                                    <td style="width:300px">
                                                        {{item.breakdownCategoryNM}}
                                                    </td>
                                                    <td style="width:100px">
                                                        {{item.unitNM}}
                                                    </td>
                                                    <td style="width:100px; text-align: right;">
                                                        {{item.quantity | number: 4}}
                                                    </td>
                                                    <td>
                                                        {{item.remark}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col col-lg-12" style="height: 60px">
                        <div class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-body" style="width: 400px; margin-top: 0px">
                                    <table>
                                        <tr>
                                            <td style="width: 200px"><b>Packing Dimension (L/W/H)</b></td>
                                            <td style="width: 200px">{{factoryBreakdown.factoryBreakdownData.packingDimensionL}}</td>
                                            <td style="width: 200px">{{factoryBreakdown.factoryBreakdownData.packingDimensionW}}</td>
                                            <td style="width: 200px">{{factoryBreakdown.factoryBreakdownData.packingDimensionH}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 200px"><b>Cushion Dimension (L/W/H)</b></td>
                                            <td style="width: 200px">{{factoryBreakdown.factoryBreakdownData.cushionDimensionL}}</td>
                                            <td style="width: 200px">{{factoryBreakdown.factoryBreakdownData.cushionDimensionW}}</td>
                                            <td style="width: 200px">{{factoryBreakdown.factoryBreakdownData.cushionDimensionH}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <section class="col col-sm-12">
                        <label class="label">&nbsp;&nbsp;<b>Remark</b></label>
                        <label class="input">
                            <textarea name="remark" cols="150" rows="5" style="width:955px" ng-model="factoryBreakdown.factoryBreakdownData.remark" readonly></textarea>
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-sm-6">
                        <div class="note">
                            <strong ng-show="factoryBreakdown.factoryBreakdownData.updatedBy != null">Updated By</strong>
                            <a ng-show="factoryBreakdown.factoryBreakdownData.updatedBy != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{factoryBreakdown.factoryBreakdownData.updatedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                <i class="fa fa-user"></i> {{factoryBreakdown.factoryBreakdownData.updatorName}}
                            </a>
                            <span ng-show="factoryBreakdown.factoryBreakdownData.updatedBy != null">on {{factoryBreakdown.factoryBreakdownData.updatedDate}}</span>
                        </div>
                    </section>
                    <section class="col col-sm-6">
                        <div class="note">
                            <strong ng-show="factoryBreakdown.factoryBreakdownData.confirmedBy != null">Confirmed By</strong>
                            <a ng-show="factoryBreakdown.factoryBreakdownData.confirmedBy != null" href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{factoryBreakdown.factoryBreakdownData.confirmedBy}}" da data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                <i class="fa fa-user"></i> {{factoryBreakdown.factoryBreakdownData.confirmerName}}
                            </a>
                            <span ng-show="factoryBreakdown.factoryBreakdownData.confirmedBy != null"> <i class="fa fa-user"></i> {{factoryBreakdown.factoryBreakdownData.confirmerName}}</span>
                            <span ng-show="factoryBreakdown.factoryBreakdownData.confirmedBy != null">on {{factoryBreakdown.factoryBreakdownData.confirmedDate}}</span>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



