@using Frontend.Helper;

<form class="row" name="frmDetail" id="frmDetail" style="display: none;">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-pencil txt-color-darken"></i> </span>
                <h2>Edit Option Detail</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <table class="table table-bordered">
                                    <tr>
                                        <th colspan="6">Item Description</th>
                                    </tr>
                                    <tr ng-if="data.modelID">
                                        <td colspan="6">
                                            <strong>{{data.modelUD}}</strong>
                                            <br />
                                            {{data.modelNM}}
                                        </td>
                                    </tr>
                                    <tr ng-if="data.sampleProductId">
                                        <td colspan="6">
                                            <strong>{{data.sampleProductUD}}</strong>
                                            <br />
                                            {{data.articleDescription}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width: 150px;">{{method.getCategoryName(frmDetailObj.data.breakdownCategoryID)}}</th>
                                        <td colspan="5">{{method.getOptionName(frmDetailObj.data)}}</td>
                                    </tr>
                                    <tr>
                                        <th>Based on</th>
                                        <td>
                                            {{frmDetailObj.data.companyID === 1? 'AVF' : 'AVT'}} breakdown
                                        </td>
                                        <th>Exchange Rate</th>
                                        <td>{{exRate | number:0}}</td>

                                        <th ng-if="frmDetailObj.data.breakdownCategoryID !== 5"></th>
                                        <td ng-if="frmDetailObj.data.breakdownCategoryID !== 5"></td>
                                        <th ng-if="frmDetailObj.data.breakdownCategoryID === 5">Load Ability</th>
                                        <td ng-if="frmDetailObj.data.breakdownCategoryID === 5" style="padding: 2px;"><input type="text" ng-model="frmDetailObj.data.loadAbility" style="font-size: 13px; padding: 5px; text-align: right;" avs-number-2 ng-decimal="0" /></td>
                                    </tr>
                                    <tr>
                                        <th>Updated By</th>
                                        <td colspan="2">
                                            <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{frmDetailObj.data.updatedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                {{frmDetailObj.data.updatorName}}
                                            </a>
                                            on {{frmDetailObj.data.updatedDate}}
                                        </td>
                                        <th>Confirmed By</th>
                                        <td colspan="2">
                                            <div ng-if="frmDetailObj.data.isConfirmed">
                                                <a href="@Url.Action("Detail", "EmployeeMng", new { id = UrlParameter.Optional })/{{frmDetailObj.data.confirmedBy}}" data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-width="800" data-featherlight-iframe-height="600">
                                                    {{frmDetailObj.data.confirmerName}}
                                                </a>
                                                on {{frmDetailObj.data.confirmedDate}}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </section>

                            <section>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" style="text-align: center; width: 50px;"></th>
                                            <th rowspan="2" style="text-align: center; width: 50px;"></th>
                                            <th rowspan="2" colspan="2" style="text-align: center;">Item</th>
                                            <th rowspan="2" style="text-align: center; width: 70px;">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10"><br />Qnt</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10"><br />%</span>
                                            </th>
                                            <th rowspan="2" style="text-align: center; width: 50px;">Wasted<br />(%)</th>
                                            <th rowspan="2" style="text-align: center; width: 45px;">Unit</th>

                                            <th colspan="2" style="text-align: center;" ng-if="frmDetailObj.data.breakdownCategoryID !== 10">U.Price</th>
                                            <th colspan="2" style="text-align: center;" ng-if="frmDetailObj.data.breakdownCategoryID === 10">Based On</th>

                                            <th colspan="2" style="text-align: center;">Amount</th>
                                        </tr>
                                        <tr>
                                            <th style="text-align: center; width: 70px;">VND</th>
                                            <th style="text-align: center; width: 70px;">USD</th>
                                            <th style="text-align: center; width: 70px;">VND</th>
                                            <th style="text-align: center; width: 70px;">USD</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4" style="text-align: right;">TOTAL</th>
                                            <th style="text-align: right;">{{frmDetailObj.method.getTotalPercentManagement() | number:2}}%</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th style="text-align: right;">{{frmDetailObj.method.getSubTotalAmount() | number:0}}</th>
                                            <th style="text-align: right;">{{frmDetailObj.method.getSubTotalAmountUSD() | currency:'$':2}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="11" ng-if="!frmDetailObj.data.isConfirmed">
                                                <input id="txtParam" type="hidden" />
                                                <section style="margin-bottom: 0px;" ng-show="frmDetailObj.data.breakdownCategoryID !== 8 && frmDetailObj.data.breakdownCategoryID !== 9">
                                                    <label class="input">
                                                        <input id="txtSearchProductionItem" placeholder="Type at least 3 chars to search" autocomplete="off" type="text" />
                                                        <i class="icon-append fa fa-search"></i>
                                                    </label>
                                                </section>
                                                <div ng-if="frmDetailObj.data.breakdownCategoryID === 9">
                                                    Description (VN) <input id="txtSpecialRequirementItem" type="text" style="margin-right: 15px; font-weight: normal; padding: 4px;" />
                                                    Description (EN)<input id="txtSpecialRequirementItemEN" type="text" style="margin-right: 15px; font-weight: normal; padding: 4px;" />
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.addSpecialRequirement()">Add</a>
                                                </div>
                                                <div ng-if="frmDetailObj.data.breakdownCategoryID === 8">
                                                    <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.addWoodItem()">Add Wood Item</a>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr ng-if="!frmDetailObj.data.isConfirmed">
                                            <td colspan="11">
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.openEditGroup()">Add Group</a>
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.addDefault()">Add Default</a>
                                                <a ng-if="frmDetailObj.data.breakdownCategoryID !== 10" href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.selectCategoryForAddingDefaultItem()">Add Default By Option Category</a>
                                            </td>
                                        </tr>
                                    </thead>

                                    <tbody ng-if="(frmDetailObj.data.breakdownCategoryOptionDetailDTOs | filter : {breakdownCategoryOptionGroupID : null} : true).length > 0">
                                        <tr ng-repeat="item in frmDetailObj.data.breakdownCategoryOptionDetailDTOs | filter : {breakdownCategoryOptionGroupID : null} : true">
                                            <td style="text-align: center;">
                                                <a href="javascript:void(0)" ng-if="!frmDetailObj.data.isConfirmed" class="btn btn-danger btn-xs" ng-click="frmDetailObj.event.deleteDetail(item)">Remove</a>
                                                <a style="margin-top: 5px;" ng-if="frmDetailObj.data.breakdownCategoryOptionGroupDTOs.length > 0 && !frmDetailObj.data.isConfirmed" href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.moveToGroupOpen(item)">Group</a>
                                            </td>
                                            <td style="width: 70px; text-align: center;">
                                                <a href="{{item.fileLocation}}" data-featherlight="image" ng-if="frmDetailObj.data.breakdownCategoryID !== 9">
                                                    <img style="width: 95%;" ng-src="{{item.thumbnailLocation}}" />
                                                </a>
                                            </td>
                                            <td colspan="2" ng-if="frmDetailObj.data.breakdownCategoryID !== 9">
                                                <strong>{{item.productionItemUD}}</strong>
                                                <br />
                                                {{item.productionItemNM}} ({{item.productionItemNMEN}})
                                            </td>
                                            <td colspan="2" ng-if="frmDetailObj.data.breakdownCategoryID === 9">
                                                {{item.description}}
                                                <br />
                                                ({{item.descriptionEN}})
                                            </td>
                                            <td style="text-align: right;">
                                                <input ng-if="frmDetailObj.data.breakdownCategoryID < 8 && item.productionItemTypeID !== 7 && !frmDetailObj.data.isConfirmed" type="text" ng-model="item.quantity" avs-number-2 ng-decimal="4" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <input ng-if="frmDetailObj.data.breakdownCategoryID === 10 && !frmDetailObj.data.isConfirmed" type="text" ng-model="item.quantityPercent" avs-number-2 ng-decimal="2" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <span ng-if="frmDetailObj.data.isConfirmed">
                                                    {{(frmDetailObj.data.breakdownCategoryID === 10) ? (item.quantityPercent | number:2) + '%' : (frmDetailObj.data.breakdownCategoryID < 8 && item.productionItemTypeID !== 7 ? (item.quantity | number:4) : '')}}
                                                </span>
                                            </td>
                                            <td style="text-align: right;">
                                                <input ng-if="!frmDetailObj.data.isConfirmed" ng-disabled="frmDetailObj.data.breakdownCategoryID >= 8 || item.productionItemTypeID === 7" type="text" ng-model="item.wastedRatePercent" avs-number-2 ng-decimal="2" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <span ng-if="frmDetailObj.data.isConfirmed">{{item.wastedRatePercent | number:2}}</span>
                                            </td>
                                            <td style="text-align: center;">{{item.unitNM}}</td>
                                            <td style="text-align: right;">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{frmDetailObj.data.breakdownCategoryID >= 8 ? null : (frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) | number:0}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.total : frmDetailObj.totalExcludeManagementFeeData.totalAVT | number:0}}</span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{frmDetailObj.data.breakdownCategoryID >= 8 ? null : (frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) / exRate | currency:'$':2}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.totalUSD : frmDetailObj.totalExcludeManagementFeeData.totalUSDAVT | currency:'$':2}}</span>
                                            </td>

                                            <td style="text-align: right;" ng-if="frmDetailObj.data.breakdownCategoryID !== 9 && !(item.productionItemTypeID === 7 && frmDetailObj.data.breakdownCategoryID !== 10)">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{(frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) * item.quantity * (1 + item.wastedRatePercent / 100) | number:0}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{(frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.total : frmDetailObj.totalExcludeManagementFeeData.totalAVT) * item.quantityPercent / 100 | number:0}}</span>
                                            </td>
                                            <td style="text-align: right;" ng-if="frmDetailObj.data.breakdownCategoryID === 9 || (item.productionItemTypeID === 7 && frmDetailObj.data.breakdownCategoryID !== 10)">
                                                <input ng-if="!frmDetailObj.data.isConfirmed" type="text" ng-model="item.totalAmount" avs-number-2 ng-decimal="0" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <span ng-if="frmDetailObj.data.isConfirmed">{{item.totalAmount | number:0}}</span>
                                            </td>

                                            <td style="text-align: right;">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{frmDetailObj.data.breakdownCategoryID === 9 || item.productionItemTypeID === 7 ? item.totalAmount / exRate : ((frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) * item.quantity * (1 + item.wastedRatePercent / 100)) / exRate | currency:'$':2}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{(frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.totalUSD : frmDetailObj.totalExcludeManagementFeeData.totalUSDAVT) * item.quantityPercent / 100 | currency:'$':2}}</span>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tbody ng-repeat="group in frmDetailObj.data.breakdownCategoryOptionGroupDTOs">
                                        <tr style="background-color: #71843f; color: #fff; text-transform: uppercase; font-weight: bold;">
                                            <td colspan="2">
                                                <a href="javascript:void(0)" ng-if="!frmDetailObj.data.isConfirmed" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.openEditGroup(group)">Edit</a>
                                                <a href="javascript:void(0)" ng-if="!frmDetailObj.data.isConfirmed" class="btn btn-danger btn-xs" ng-click="frmDetailObj.event.removeGroup(group)">Remove</a>
                                            </td>
                                            <td colspan="2">{{group.breakdownCategoryOptionGroupNM}} ({{group.breakdownCategoryOptionGroupNMEN}})</td>
                                            <td style="text-align: right;">{{group.quantity | number:0}}</td>
                                            <td colspan="4"></td>
                                            <td style="text-align: right;">{{frmDetailObj.method.getSubTotalAmountByGroup(group.breakdownCategoryOptionGroupID) | number:0}}</td>
                                            <td style="text-align: right;">{{frmDetailObj.method.getSubTotalAmountUSDByGroup(group.breakdownCategoryOptionGroupID) | currency:'$':2}}</td>
                                        </tr>
                                        <tr ng-repeat="item in frmDetailObj.data.breakdownCategoryOptionDetailDTOs | filter : {breakdownCategoryOptionGroupID : group.breakdownCategoryOptionGroupID} : true" style="background-color: #f3f7f8;">
                                            <td colspan="2" style="text-align: right;">
                                                <a href="javascript:void(0)" ng-if="!frmDetailObj.data.isConfirmed" class="btn btn-danger btn-xs" ng-click="frmDetailObj.event.deleteDetail(item)">Remove</a>
                                                <a href="javascript:void(0)" ng-if="!frmDetailObj.data.isConfirmed" class="btn btn-default btn-xs" ng-click="frmDetailObj.event.moveToGroupOpen(item)">Group</a>
                                            </td>
                                            <td style="width: 70px; text-align: center;">
                                                <a href="{{item.fileLocation}}" data-featherlight="image" ng-if="frmDetailObj.data.breakdownCategoryID !== 9">
                                                    <img style="width: 95%;" ng-src="{{item.thumbnailLocation}}" />
                                                </a>
                                            </td>
                                            <td ng-if="frmDetailObj.data.breakdownCategoryID !== 9">
                                                <strong>{{item.productionItemUD}}</strong>
                                                <br />
                                                {{item.productionItemNM}} ({{item.productionItemNMEN}})
                                            </td>
                                            <td ng-if="frmDetailObj.data.breakdownCategoryID === 9">
                                                {{item.description}}
                                                <br />
                                                ({{item.descriptionEN}})
                                            </td>
                                            <td style="text-align: right;">
                                                <input ng-if="frmDetailObj.data.breakdownCategoryID < 8 && !frmDetailObj.data.isConfirmed" type="text" ng-model="item.quantity" avs-number-2 ng-decimal="4" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <input ng-if="frmDetailObj.data.breakdownCategoryID === 10 && !frmDetailObj.data.isConfirmed" type="text" ng-model="item.quantityPercent" avs-number-2 ng-decimal="2" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <span ng-if="frmDetailObj.data.isConfirmed">
                                                    {{(frmDetailObj.data.breakdownCategoryID === 10) ? (item.quantityPercent | number:2) : (frmDetailObj.data.breakdownCategoryID < 8 && item.productionItemTypeID !== 7 ? (item.quantity | number:4) : '')}}
                                                </span>
                                            </td>
                                            <td style="text-align: right;">
                                                <input ng-if="!frmDetailObj.data.isConfirmed" ng-disabled="frmDetailObj.data.breakdownCategoryID >= 8" type="text" ng-model="item.wastedRatePercent" avs-number-2 ng-decimal="2" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <span ng-if="frmDetailObj.data.isConfirmed">{{item.wastedRatePercent | number:2}}</span>
                                            </td>
                                            <td style="text-align: center;">{{item.unitNM}}</td>
                                            <td style="text-align: right;">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{frmDetailObj.data.breakdownCategoryID >= 8 ? null : (frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) | number:0}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.total : frmDetailObj.totalExcludeManagementFeeData.totalAVT | number:0}}</span>
                                            </td>
                                            <td style="text-align: right;">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{frmDetailObj.data.breakdownCategoryID >= 8 ? null : (frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) / exRate | currency:'$':2}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.totalUSD : frmDetailObj.totalExcludeManagementFeeData.totalUSDAVT | currency:'$':2}}</span>
                                            </td>

                                            <td style="text-align: right;" ng-if="frmDetailObj.data.breakdownCategoryID !== 9 && !(item.productionItemTypeID === 7 && frmDetailObj.data.breakdownCategoryID !== 10)">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{(frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) * item.quantity * (1 + item.wastedRatePercent / 100) | number:0}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{(frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.total : frmDetailObj.totalExcludeManagementFeeData.totalAVT) * item.quantityPercent / 100 | number:0}}</span>
                                            </td>
                                            <td style="text-align: right;" ng-if="frmDetailObj.data.breakdownCategoryID === 9 || (item.productionItemTypeID === 7 && frmDetailObj.data.breakdownCategoryID !== 10)">
                                                <input ng-if="!frmDetailObj.data.isConfirmed" type="text" ng-model="item.totalAmount" avs-number-2 ng-decimal="0" style="text-align: right; width: 100%; box-sizing: border-box; padding: 2px;" />
                                                <span ng-if="frmDetailObj.data.isConfirmed">{{item.totalAmount | number:0}}</span>
                                            </td>

                                            <td style="text-align: right;">
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID !== 10">{{frmDetailObj.data.breakdownCategoryID === 9 || item.productionItemTypeID === 7 ? item.totalAmount / exRate : ((frmDetailObj.data.companyID == 1 ? item.avfPrice : item.avtPrice) * item.quantity * (1 + item.wastedRatePercent / 100)) / exRate | currency:'$':2}}</span>
                                                <span ng-if="frmDetailObj.data.breakdownCategoryID === 10">{{(frmDetailObj.data.companyID == 1 ? frmDetailObj.totalExcludeManagementFeeData.totalUSD : frmDetailObj.totalExcludeManagementFeeData.totalUSDAVT) * item.quantityPercent / 100 | currency:'$':2}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="padding: 10px;">
                        <a href="javascript:void(0)" ng-if="!frmDetailObj.data.isConfirmed" class="btn btn-primary btn-sm" ng-click="frmDetailObj.event.save()"><i class="fa fa-plus"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="frmDetailObj.event.close()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>

<div id="popupEditGroup" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Edit Group</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Group Name (VN)</label>
                                <label class="input">
                                    <input type="text" ng-model="frmDetailObj.selectedGroupData.breakdownCategoryOptionGroupNM" />
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Group Name (EN)</label>
                                <label class="input">
                                    <input type="text" ng-model="frmDetailObj.selectedGroupData.breakdownCategoryOptionGroupNMEN" />
                                </label>
                            </section>                           
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Quantity</label>
                                <label class="input">
                                    <input type="text" ng-model="frmDetailObj.selectedGroupData.quantity" />
                                </label>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="frmDetailObj.event.updateGroup()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div id="popupSelectGroup" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Select Group</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section class="col col-6">
                            <label class="label">Select group</label>
                            <label class="select">
                                <select ng-model="frmDetailObj.selectedItemData.breakdownCategoryOptionGroupID" ng-options="item.breakdownCategoryOptionGroupID as item.breakdownCategoryOptionGroupNM for item in frmDetailObj.data.breakdownCategoryOptionGroupDTOs">
                                    <option></option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="frmDetailObj.event.moveToGroupSave()">
                    OK
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>