@{
    string currentSeason = Frontend.Helper.Common.GetCurrentSeason();
}
@using Frontend.Helper;

<form class="row" name="frmNewCushion" id="frmNewCushion" style="display: none;">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-file txt-color-darken"></i> </span>
                <h2>New cushion option</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Item Description</th>
                                    </tr>
                                    <tr ng-if="data.modelID">
                                        <td>
                                            <a href="javascript:void(0)">{{data.modelUD}}</a>
                                            <br />
                                            {{data.modelNM}}
                                        </td>
                                    </tr>
                                    <tr ng-if="data.sampleProductId">
                                        <td>
                                            <a href="javascript:void(0)">{{data.sampleProductUD}}</a>
                                            <br />
                                            {{data.articleDescription}}
                                        </td>
                                    </tr>
                                </table>
                            </section>

                            @*<div class="row">
                                <section class="col col-4">
                                    <label class="label">Cushion Type</label>
                                    <label class="select">
                                        <select ng-model="frmNewCushionObj.data.cushionTypeID" ng-options="item.cushionTypeID as item.cushionTypeNM for item in frmNewCushionObj.supportData.cushionTypeOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Back Cushion</label>
                                    <label class="select">
                                        <select ng-model="frmNewCushionObj.data.backCushionID" ng-options="item.backCushionID as item.backCushionNM for item in frmNewCushionObj.supportData.backCushionOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Seat Cushion</label>
                                    <label class="select">
                                        <select ng-model="frmNewCushionObj.data.seatCushionID" ng-options="item.seatCushionID as item.seatCushionNM for item in frmNewCushionObj.supportData.seatCushionOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Cushion Color</label>
                                    <label class="select">
                                        <select ng-model="frmNewCushionObj.data.cushionColorID" ng-options="item.cushionColorID as item.cushionColorNM for item in frmNewCushionObj.supportData.cushionColorOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>*@
                            <div class="furnindo-filter">
                                <div class="filter-row">
                                    <div class="filter-panel">
                                        <h4>Fabric Color</h4>
                                        <div class="filter-list-container">
                                            <ul>
                                                <li ng-repeat="cushionType in frmNewCushionObj.event.cushionTypeOptions()"><input id="cushionType-{{cushionType.cushionTypeID}}" type="radio" name="cushion-type" ng-model="frmNewCushionObj.data.cushionTypeID" ng-change="frmNewCushionObj.cushionTypeWizard.cushionTypeSelect()" value="{{cushionType.cushionTypeID}}" /> <label for="cushionType-{{cushionType.cushionTypeID}}">{{cushionType.cushionTypeNM}}</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="display-panel">
                                        <span class="selection" style="margin-bottom: 0px;">You select: {{frmNewCushionObj.cushionTypeWizard.cushionColorText}}</span>
                                        <div class="sub-filter-panel">
                                            <div class="sub-filter-item">
                                                <input type="radio" name="cushion-color-season" ng-change="frmNewCushionObj.cushionTypeWizard.cushionTypeStandardSelect()" id="cushion-color-current-season" ng-model="frmNewCushionObj.cushionTypeWizard.cushionTypeStandard" ng-value="true" /> <label for="cushion-color-current-season">Current season (@currentSeason)</label>
                                            </div>
                                            <div class="sub-filter-item">
                                                <input type="radio" name="cushion-color-season" ng-change="frmNewCushionObj.cushionTypeWizard.cushionTypeStandardSelect()" id="cushion-color-other-season" ng-model="frmNewCushionObj.cushionTypeWizard.cushionTypeStandard" ng-value="false" /> <label for="cushion-color-other-season">Request</label>
                                            </div>
                                        </div>
                                        <ul>
                                            <li ng-repeat="cushionColorOption in frmNewCushionObj.event.cushionColorOptions(frmNewCushionObj.data.cushionTypeID,frmNewCushionObj.cushionTypeWizard.cushionTypeStandard)" ng-class="{'active': cushionColorOption.isSelected, 'request-item' : cushionColorOption.isStandard == false}">
                                                <img ng-src="{{cushionColorOption.thumbnailLocation}}" ng-click="frmNewCushionObj.cushionTypeWizard.cushionColorSelect(cushionColorOption,cushionColorOption.cushionColorID)" />
                                                <span class="text" ng-click="frmNewCushionObj.cushionTypeWizard.cushionColorSelect(cushionColorOption,cushionColorOption.cushionColorID)">{{cushionColorOption.cushionColorNM}}</span>
                                                <a class="zoom" href="{{cushionColorOption.thumbnailLocation}}" data-featherlight="image">
                                                    <span class="fa fa-search-plus"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="filter-row">
                                    <div class="filter-panel">
                                        <h4>Cushion specification</h4>
                                        <div class="filter-list-container"></div>
                                    </div>
                                    <div class="display-panel">
                                        <span class="selection" style="margin-bottom: 0px;">You select: {{frmNewCushionObj.cushionTypeWizard.seatCushionText != '' ? frmNewCushionObj.cushionTypeWizard.seatCushionText + ' (Seat)' : ''}}{{frmNewCushionObj.cushionTypeWizard.seatCushionText != '' && productWizard.backCushionText != '' ? ' + ' : ''}}{{frmNewCushionObj.cushionTypeWizard.backCushionText != '' ? frmNewCushionObj.cushionTypeWizard.backCushionText + ' (Back)' : ''}}</span>
                                        <div class="sub-filter-panel">
                                            <h4>Seat Cushion</h4>
                                        </div>
                                        <ul>
                                            <li ng-repeat="seatCushionOption in frmNewCushionObj.event.seatCushionOptions()" ng-class="{'active': seatCushionOption.isSelected}">
                                                <img ng-src="{{seatCushionOption.thumbnailLocation}}" ng-click="frmNewCushionObj.cushionTypeWizard.seatCushionSelect(seatCushionOption.seatCushionID)" />
                                                <span class="text" ng-click="frmNewCushionObj.cushionTypeWizard.seatCushionSelect(seatCushionOption.seatCushionID)">{{seatCushionOption.seatCushionNM}}</span>
                                                <a class="zoom" href="{{seatCushionOption.thumbnailLocation}}" data-featherlight="image">
                                                    <span class="fa fa-search-plus"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                        <div class="sub-filter-panel" style="border-top: solid 1px #e7e7e7; margin-top: 10px;">
                                            <h4>Back Cushion</h4>
                                        </div>
                                        <ul>
                                            <li ng-repeat="backCushionOption in frmNewCushionObj.event.backCushionOptions()" ng-class="{'active': backCushionOption.isSelected}">
                                                <img ng-src="{{backCushionOption.thumbnailLocation}}" ng-click="frmNewCushionObj.cushionTypeWizard.backCushionSelect(backCushionOption.backCushionID)" />
                                                <span class="text" ng-click="frmNewCushionObj.cushionTypeWizard.backCushionSelect(backCushionOption.backCushionID)">{{backCushionOption.backCushionNM}}</span>
                                                <a class="zoom" href="{{backCushionOption.thumbnailLocation}}" data-featherlight="image">
                                                    <span class="fa fa-search-plus"></span>
                                                </a>
                                            </li>
                                        </ul>                              
                                    </div>
                                </div>
                            </div>                                
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="padding: 10px;">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="frmNewCushionObj.event.save()"><i class="fa fa-plus"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="frmNewCushionObj.event.close()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>