@{
    string currentSeason = Frontend.Helper.Common.GetCurrentSeason();
}
@using Frontend.Helper;

<form class="row" name="frmNewFrame" id="frmNewFrame" style="display: none;">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-file txt-color-darken"></i> </span>
                <h2>New frame material option</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Item Description</th>
                                    </tr>
                                    <tr ng-if="data.modelID">
                                        <td>
                                            <a href="javascript:void(0)">{{data.modelUD}}</a>
                                            <br />
                                            {{data.modelNM}}
                                        </td>
                                    </tr>
                                    <tr ng-if="data.sampleProductId">
                                        <td>
                                            <a href="javascript:void(0)">{{data.sampleProductUD}}</a>
                                            <br />
                                            {{data.articleDescription}}
                                        </td>
                                    </tr>
                                </table>
                            </section>

                            @*<div class="row">
                                <section class="col col-4">
                                    <label class="label">Frame Material</label>
                                    <label class="select">
                                        <select ng-model="frmNewFrameObj.data.frameMaterialID" ng-options="item.frameMaterialID as item.frameMaterialNM for item in frmNewFrameObj.supportData.frameMaterialOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Frame Material Color</label>
                                    <label class="select">
                                        <select ng-model="frmNewFrameObj.data.frameMaterialColorID" ng-options="item.frameMaterialColorID as item.frameMaterialColorNM for item in frmNewFrameObj.supportData.frameMaterialColorOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>*@

                            <div class="furnindo-filter">
                                <div class="filter-row">
                                    <div class="filter-panel">
                                        <h4>Frame Material</h4>
                                        <div class="filter-list-container">
                                            <ul ng-repeat="frameMaterialOption in frmNewFrameObj.event.frameMaterialOptions()">
                                                <li><input id="material-{{frameMaterialOption.frameMaterialID}}" type="radio" name="materials" ng-change="frmNewFrameObj.frameMaterialWizard.frameMaterialSelect()" ng-model="frmNewFrameObj.data.frameMaterialID" value="{{frameMaterialOption.frameMaterialID}}" /> <label for="material-{{frameMaterialOption.frameMaterialID}}">{{frameMaterialOption.frameMaterialNM}}</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="display-panel">
                                        <span class="selection" style="margin-bottom: 0px;">You select: {{frmNewFrameObj.frameMaterialWizard.frameMaterialText}}</span>
                                        <div class="sub-filter-panel" style="height: 54px;">
                                            <div class="sub-filter-item">
                                                <input type="radio" name="frame-material-type-season" id="frame-material-type-current-season" ng-change="frmNewFrameObj.frameMaterialWizard.frameMaterialStandardSelect(true)" ng-model="frmNewFrameObj.frameMaterialWizard.frameMaterialStandard" ng-value="true" /> <label for="frame-material-type-current-season">Current season (@currentSeason) </label>
                                            </div>
                                            <div class="sub-filter-item">
                                                <input type="radio" name="frame-material-type-season" id="frame-material-type-other-season" ng-change="frmNewFrameObj.frameMaterialWizard.frameMaterialStandardSelect(false)" ng-model="frmNewFrameObj.frameMaterialWizard.frameMaterialStandard" ng-value="false" /> <label for="frame-material-type-other-season">Request</label>
                                            </div>
                                        </div>
                                        <ul>
                                            <li ng-repeat="frameMaterialColorOption in frmNewFrameObj.event.frameMaterialColorOptions(frmNewFrameObj.data.frameMaterialID,frmNewFrameObj.frameMaterialWizard.frameMaterialStandard)" ng-class="{'active': frameMaterialColorOption.isSelected, 'request-item' : frameMaterialColorOption.isStandard == false}">
                                                <img ng-src="{{frameMaterialColorOption.thumbnailLocation}}" ng-click="frmNewFrameObj.frameMaterialWizard.frameMaterialColorSelect(frameMaterialColorOption,frameMaterialColorOption.frameMaterialColorID)" />
                                                <span class="text" ng-click="frmNewFrameObj.frameMaterialWizard.frameMaterialColorSelect(frameMaterialColorOption,frameMaterialColorOption.frameMaterialColorID)">{{frameMaterialColorOption.frameMaterialColorNM}}</span>
                                                <a class="zoom" href="{{frameMaterialColorOption.thumbnailLocation}}" data-featherlight="image">
                                                    <span class="fa fa-search-plus"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="widget-footer" style="padding: 10px;">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="frmNewFrameObj.event.save()"><i class="fa fa-plus"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="frmNewFrameObj.event.close()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>