@{
    string currentSeason = Frontend.Helper.Common.GetCurrentSeason();
}
@using Frontend.Helper;

<form class="row" name="frmNewMaterial" id="frmNewMaterial" style="display: none;">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-file txt-color-darken"></i> </span>
                <h2>New material option</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Item Description</th>
                                    </tr>
                                    <tr ng-if="data.modelID">
                                        <td>
                                            <a href="javascript:void(0)">{{data.modelUD}}</a>
                                            <br />
                                            {{data.modelNM}}
                                        </td>
                                    </tr>
                                    <tr ng-if="data.sampleProductId">
                                        <td>
                                            <a href="javascript:void(0)">{{data.sampleProductUD}}</a>
                                            <br />
                                            {{data.articleDescription}}
                                        </td>
                                    </tr>
                                </table>
                            </section>

                            @*<div class="row">
                                <section class="col col-4">
                                    <label class="label">Material</label>
                                    <label class="select">
                                        <select ng-model="frmNewMaterialObj.data.materialID" ng-options="item.materialID as item.materialNM for item in frmNewMaterialObj.supportData.materialOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material Type</label>
                                    <label class="select">
                                        <select ng-model="frmNewMaterialObj.data.materialTypeID" ng-options="item.materialTypeID as item.materialTypeNM for item in frmNewMaterialObj.supportData.materialTypeOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">Material Color</label>
                                    <label class="select">
                                        <select ng-model="frmNewMaterialObj.data.materialColorID" ng-options="item.materialColorID as item.materialColorNM for item in frmNewMaterialObj.supportData.materialColorOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>*@
                            <div class="furnindo-filter">
                                <div class="filter-row">
                                    <div class="filter-panel">
                                        <h4>Material</h4>
                                        <div class="filter-list-container" style="min-height: 0px;">
                                            <ul ng-repeat="materialOption in frmNewMaterialObj.supportMaterialOption">
                                                <li><input id="material-{{materialOption.materialID}}" type="radio" name="materials" ng-change="frmNewMaterialObj.materialWizard.materialSelect()" ng-model="frmNewMaterialObj.data.materialID" value="{{materialOption.materialID}}" /> <label for="material-{{materialOption.materialID}}">{{materialOption.materialNM}}</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="display-panel">
                                    </div>
                                </div>
                                <div class="filter-row">
                                    <div class="filter-panel">
                                        <h4>Material Type</h4>
                                        <div class="filter-list-container">
                                            <ul>
                                                <li ng-repeat="materialTypeOption in frmNewMaterialObj.event.materialTypeOptions(frmNewMaterialObj.data.materialID,frmNewMaterialObj.materialWizard.materialStandard)">
                                                    <input id="materialType-{{materialTypeOption.materialTypeID}}" type="radio" name="material-types" ng-change="frmNewMaterialObj.materialWizard.materialTypeSelect()" ng-model="frmNewMaterialObj.data.materialTypeID" value="{{materialTypeOption.materialTypeID}}" /> <label for="materialType-{{materialTypeOption.materialTypeID}}">{{materialTypeOption.materialTypeNM}}</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="display-panel">
                                        <span class="selection" style="margin-bottom: 0px;">You select: {{frmNewMaterialObj.materialWizard.materialText}}</span>
                                        <div class="sub-filter-panel" style="height: 54px;">
                                            <div class="sub-filter-item">
                                                <input type="radio" name="material-type-season" id="material-type-current-season" ng-change="frmNewMaterialObj.materialWizard.materialStandardSelect(true)" ng-model="frmNewMaterialObj.materialWizard.materialStandard" ng-value="true" /> <label for="material-type-current-season">Current season (@currentSeason) </label>
                                            </div>
                                            <div class="sub-filter-item">
                                                <input type="radio" name="material-type-season" id="material-type-other-season" ng-change="frmNewMaterialObj.materialWizard.materialStandardSelect(false)" ng-model="frmNewMaterialObj.materialWizard.materialStandard" ng-value="false" /> <label for="material-type-other-season">Request</label>
                                            </div>
                                        </div>
                                        <ul>
                                            <li ng-repeat="materialColorOption in frmNewMaterialObj.event.materialColorOptions(frmNewMaterialObj.data.materialID,frmNewMaterialObj.data.materialTypeID,frmNewMaterialObj.materialWizard.materialStandard)" ng-class="{'active': materialColorOption.isSelected, 'request-item' : materialColorOption.isStandard == false}">
                                                <img ng-src="{{materialColorOption.thumbnailLocation}}" ng-click="frmNewMaterialObj.materialWizard.materialColorSelect(materialColorOption,materialColorOption.materialColorID)" />
                                                <span class="text" ng-click="frmNewMaterialObj.materialWizard.materialColorSelect(materialColorOption,materialColorOption.materialColorID)">{{materialColorOption.materialColorNM}}</span>
                                                <a class="zoom" href="{{materialColorOption.thumbnailLocation}}" data-featherlight="image">
                                                    <span class="fa fa-search-plus"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="padding: 10px;">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="frmNewMaterialObj.event.save()"><i class="fa fa-plus"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="frmNewMaterialObj.event.close()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>