@using Frontend.Helper;

<form class="row" name="frmNewPacking" id="frmNewPacking" style="display: none;">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-file txt-color-darken"></i> </span>
                <h2>New packing option</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Item Description</th>
                                    </tr>
                                    <tr ng-if="data.modelID">
                                        <td>
                                            <a href="javascript:void(0)">{{data.modelUD}}</a>
                                            <br />
                                            {{data.modelNM}}
                                        </td>
                                    </tr>
                                    <tr ng-if="data.sampleProductId">
                                        <td>
                                            <a href="javascript:void(0)">{{data.sampleProductUD}}</a>
                                            <br />
                                            {{data.articleDescription}}
                                        </td>
                                    </tr>
                                </table>
                            </section>
                            
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Packaging Method</label>
                                    <label class="select">
                                        <select ng-model="frmNewPackingObj.data.packagingMethodID" ng-options="item.packagingMethodID as item.packagingMethodNM for item in frmNewPackingObj.supportData.packagingMethodOptionDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4" ng-if="frmNewPackingObj.data.packagingMethodID === 11">
                                    <label class="label">Special Packaging Method (defined base on client request)</label>
                                    <label class="select">
                                        <select ng-model="frmNewPackingObj.data.clientSpecialPackagingMethodID" ng-options="item.clientSpecialPackagingMethodID as item.clientSpecialPackagingMethodNM for item in frmNewPackingObj.supportData.clientSpecialPackagingMethodDTOs">
                                            <option></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="padding: 10px;">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="frmNewPackingObj.event.save()"><i class="fa fa-plus"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="frmNewPackingObj.event.close()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>