@{
    string currentSeason = Frontend.Helper.Common.GetCurrentSeason();
}
@using Frontend.Helper;

<form class="row" name="frmNewSubMaterial" id="frmNewSubMaterial" style="display: none;">
    <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-file txt-color-darken"></i> </span>
                <h2>New sub material option</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Item Description</th>
                                    </tr>
                                    <tr ng-if="data.modelID">
                                        <td>
                                            <a href="javascript:void(0)">{{data.modelUD}}</a>
                                            <br />
                                            {{data.modelNM}}
                                        </td>
                                    </tr>
                                    <tr ng-if="data.sampleProductId">
                                        <td>
                                            <a href="javascript:void(0)">{{data.sampleProductUD}}</a>
                                            <br />
                                            {{data.articleDescription}}
                                        </td>
                                    </tr>
                                </table>
                            </section>

                            <div class="row" style="margin: 0px;">
                                <div>
                                    <div class="furnindo-filter">
                                        <div class="filter-row">
                                            <div class="filter-panel">
                                                <h4>Sub Material</h4>
                                                <div class="filter-list-container">
                                                    <ul ng-repeat="subMaterialOption in frmNewSubMaterialObj.event.subMaterialOptions()">
                                                        <li><input id="material-{{subMaterialOption.subMaterialID}}" type="radio" name="materials" ng-change="frmNewSubMaterialObj.subMaterialWizard.subMaterialSelect()" ng-model="frmNewSubMaterialObj.data.subMaterialID" value="{{subMaterialOption.subMaterialID}}" /> <label for="material-{{subMaterialOption.subMaterialID}}">{{subMaterialOption.subMaterialNM}}</label></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="display-panel">
                                                <span class="selection" style="margin-bottom: 0px;">You select: {{frmNewSubMaterialObj.subMaterialWizard.subMaterialText}}</span>
                                                <div class="sub-filter-panel" style="height: 54px;">
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="frame-material-type-season" id="frame-material-type-current-season" ng-change="frmNewSubMaterialObj.subMaterialWizard.subMaterialStandardSelect(true)" ng-model="frmNewSubMaterialObj.subMaterialWizard.subMaterialStandard" ng-value="true" /> <label for="frame-material-type-current-season">Current season (@currentSeason) </label>
                                                    </div>
                                                    <div class="sub-filter-item">
                                                        <input type="radio" name="frame-material-type-season" id="frame-material-type-other-season" ng-change="frmNewSubMaterialObj.subMaterialWizard.subMaterialStandardSelect(false)" ng-model="frmNewSubMaterialObj.subMaterialWizard.subMaterialStandard" ng-value="false" /> <label for="frame-material-type-other-season">Request</label>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li ng-repeat="subMaterialColorOption in frmNewSubMaterialObj.event.subMaterialColorOptions(frmNewSubMaterialObj.data.subMaterialID,frmNewSubMaterialObj.subMaterialWizard.subMaterialStandard)" ng-class="{'active': subMaterialColorOption.isSelected, 'request-item' : subMaterialColorOption.isStandard == false}">
                                                        <img ng-src="{{subMaterialColorOption.thumbnailLocation}}" ng-click="frmNewSubMaterialObj.subMaterialWizard.subMaterialColorSelect(subMaterialColorOption,subMaterialColorOption.subMaterialColorID)" />
                                                        <span class="text" ng-click="frmNewSubMaterialObj.subMaterialWizard.subMaterialColorSelect(subMaterialColorOption,subMaterialColorOption.subMaterialColorID)">{{subMaterialColorOption.subMaterialColorNM}}</span>
                                                        <a class="zoom" href="{{subMaterialColorOption.thumbnailLocation}}" data-featherlight="image">
                                                            <span class="fa fa-search-plus"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="widget-footer" style="padding: 10px;">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" ng-click="frmNewSubMaterialObj.event.save()"><i class="fa fa-plus"></i> Save</a>
                        <a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="frmNewSubMaterialObj.event.close()"><i class="fa fa-times"></i> Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>