
@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);

    ViewBag.Title = "Purchasing Price Comparison";
    ViewBag.Module = "Purchasing Price Comparison";
    ViewBag.Icon = "fa-bar-chart-o";
}

<div class="row" style="margin-top: 5px;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>

                <div class="widget-body widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-sm-4">
                                    <label>Season</label>
                                    <select class="form-control" ng-model="filter.seasonText" ng-options="item.seasonValue as item.seasonText for item in seasons"></select>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel()" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Version</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/purchasingpricecomparison/',
            token: '@token',
            pageSize: '@pageSize',
            supportServiceUrl: '@(supportServiceRoot)/api/support/',
            cookieID: '@cookieID',
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script type="text/javascript" src="~/Views/PurchasingPriceComparisonMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/PurchasingPriceComparisonMng/service.js?v=@guid"></script>
}


