<form id="frmFinished" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-fa-file-picture-o"></i> Finished Product Image</h4>
            </div>
            <div class="modal-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Images <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="font-size: 11px;" ng-click="event.uploadFinishProduct()">Change</a></label>
                            <label class="input">
                                <img src="{{data.finishedImageFileLocation}}" style="width: 100%;" />
                            </label>
                        </section>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="event.setProductFinishedStatus()">
                    <i class="fa fa-save"></i> Update product status to finished
                </button>
                <button type="button" class="btn btn-primary" ng-click="event.inputFactoryBreakdown(data.sampleProductID)">
                    <i class="fa fa-save"></i> Input Factory Breakdown
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>