@{
    ViewBag.Title = "Factory Order Production Status";
    ViewBag.Module = "Factory Order Production Status";
}
<form class="row" id="main-form">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-result" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Factory Order Production Status</h2>
            </header>
            <div class="row">
                <div class="col-lg-2 m-bottom-15">
                    <label>Work Order</label>
                    <input type="text" class="form-control search-filter" ng-model="filters.workOrderUD"/>
                </div>
                <div class="col-lg-2">
                    <label>Proforma Invoice No</label>
                    <input type="text" class="form-control search-filter" ng-model="filters.proformaInvoiceNo" />
                </div>
                <div class="col-lg-2">
                    <label>Client</label>
                    <input type="text" class="form-control search-filter" ng-model="filters.clientUD" />
                </div>
                <div class="col-lg-2">
                    <label>From LDS</label>
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="filters.fromLDS" name="fromLDS">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>To LDS</label>
                    <div class="input-group">
                        <input type="text" class="form-control datepicker" data-dateformat="dd/mm/yy" ng-model="filters.toLDS" name="toLDS">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div class="widget-body no-padding">
                        <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-header" style="width: 1100px;">
                                    <div style="width: 70px;" class="" data-colname="ProformaInvoiceNo">Order No</div>
                                    <div style="width: 60px;" class="" data-colname="Client">Client</div>
                                    <div style="width: 80px;" class="" data-colname="LDS">LDS</div>
                                    <div style="width: 90px;" class="" data-colname="Factory">Factory</div>
                                    <div style="width: 210px;" class="" data-colname="ArticleCode">Article Code</div>
                                    <div style="width: 60px;" class="" data-colname="OrderQnt">Order Qnt</div>

                                    <div style="width: 110px;" class="" data-colname="WorkOrderUD">Work Order</div>
                                    <div style="width: 80px;" class="" data-colname="StartDate">Start Date</div>
                                    <div style="width: 80px;" class="" data-colname="FinishDate">Finish Date</div>
                                    <div style="width: 90px;" class="" data-colname="ProductionQnt">Produc tion Qnt</div>
                                    <div style="width: 90px;" class="" data-colname="ProducedQnt">Produ ced Qnt</div>
                                    <div style="width: 70px;" class="" data-colname="RemainQnt">Remaint Qnt</div>
                                    <div style="" class="" data-colname="Remark"></div>
                                </div>
                                <div class="tilsoft-table-body" style="width: 1100px;">
                                    <table>
                                        <tbody ng-repeat="item in factoryOrders" >
                                            <tr>
                                                <td style="text-align: left; width: 69px; vertical-align:middle">{{item.proformaInvoiceNo}}</td>
                                                <td style="text-align: left; width: 60px; vertical-align:middle">{{item.clientUD}}</td>
                                                <td style="text-align: right; width: 80px; vertical-align:middle">{{item.lds}}</td>
                                                <td style="text-align: center; width: 90px; vertical-align:middle">{{item.factoryUD}}</td>
                                                <td style="text-align: center; width: 210px; vertical-align:middle">{{item.articleCode}}</td>
                                                <td style="text-align: right; width: 60px; vertical-align:middle">{{item.orderQnt}}</td>

                                                <td colspan="7"></td>
                                            </tr>
                                            <tr ng-repeat="cItem in item.workOrders">
                                                <td style="text-align: left; vertical-align:middle" colspan="6"></td>

                                                <td style="text-align: left; width: 110px; vertical-align:middle">{{cItem.workOrderUD}}</td>
                                                <td style="text-align: left; width: 80px; vertical-align:middle">{{cItem.startDate}}</td>
                                                <td style="text-align: right; width: 80px; vertical-align:middle">{{cItem.finishDate}}</td>
                                                <td style="text-align: right; width: 90px; vertical-align:middle">{{cItem.productionQnt}}</td>
                                                <td style="text-align: right; width: 90px; vertical-align:middle">{{cItem.producedQnt}}</td>
                                                <td style="text-align: right; width: 70px; vertical-align:middle">{{cItem.remainQnt}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <span>Found: {{factoryOrders.length}} record(s)</span>
                    </div>
                </div>
            </div>
            
        </div>
    </article>
</form>

@section FormAction {
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0);" class="btn btn-default" title="Search" ng-click="event.reload()"><i class="fa fa-search"></i></a>
        </li>
    </ul>
}
@section pagepopup2{
}

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/FactoryOrderProductionStatusRpt/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            reportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]',
        }
    </script>
    <script src="~/Angular/app/factoryOrderProductionStatusRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/factoryOrderProductionStatusRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
