@{
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
}

<style>
    .tilsoft-table-wrapper a, .tilsoft-table-wrapper div, .tilsoft-table-wrapper td, .tilsoft-table-wrapper th, .tilsoft-table-wrapper input, .tilsoft-table-wrapper select option, .tilsoft-table-wrapper select option {
        font-size: 11px !important;
    }

    .tilsoft-table-wrapper .tilsoft-table .tilsoft-table-header div {
        height: 75px;
    }

    .tilsoft-table-wrapper .tilsoft-table table tr td input.form-control {
        height: 25px;
    }

    .tilsoft-table .tilsoft-table-totalrow div {
        height: 35px;
    }

    .jarviswidget > header > a {
        margin-right: 2px;
        float: right;
    }

</style>

<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>General Info</h2>
            <a class="btn btn-primary btn-sm" href="javascript:void(0)" ng-click="updateOfferSeason()"><i class="fa fa-save"></i> Update Client Info</a>
        </header>
        <div>            
            <div class="widget-body">
                <div class="smart-form">
                    <div class="row">
                        <section class="col col-lg-2">
                            <label>Offer Type</label>
                            <label class="input">
                                <input class="form-control" type="text" ng-model="data.offerSeasonDTO.offerSeasonTypeNM" readonly />
                            </label>
                        </section>

                        <section class="col col-lg-2">
                            <label>Season</label>
                            <label class="input">
                                <select class="form-control" ng-disabled="data.offerSeasonDTO.offerSeasonID>0"
                                        ng-model="data.offerSeasonDTO.season"
                                        ng-options="gItem.seasonText as gItem.seasonValue for gItem in data.seasons | orderBy:'-seasonValue'">
                                    <option value=""></option>
                                </select>
                                <i></i>
                            </label>
                        </section>

                        <section class="col col-lg-3">
                            <label>Client Name</label>
                            <label class="input">
                                <input type="text" class="form-control" avs-remote-auto-complete style="font-family: Arial; font-size: 12px; text-transform: uppercase"
                                       ng-request-param="clientBox.request"
                                       data-method="POST"
                                       ng-init-param="data.offerSeasonDTO.clientNM"
                                       ng-model="data.offerSeasonDTO.clientNM"
                                       ng-item-value="clientBox.data"
                                       ng-item-selected="clientBox.selectedItem(clientBox.data)"
                                       data-format-function="formatAutcompleteClient"
                                       ng-readonly="data.offerSeasonDTO.offerSeasonID>0" />
                            </label>
                        </section>

                        <section class="col col-lg-1">
                            <label>Client Code</label>
                            <label class="input">
                                <a href="@Url.Action("Edit","Client")/{{data.offerSeasonDTO.clientID}}" target="_blank">
                                    <input class="form-control" type="text" ng-model="data.offerSeasonDTO.clientUD" readonly style="cursor:pointer" />
                                </a>
                            </label>
                        </section>

                        <section class="col col-lg-4">
                            <label>Offer Code</label>
                            <label class="input">
                                <input class="form-control" type="text" ng-model="data.offerSeasonDTO.offerSeasonUD" readonly />
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-lg-2">
                            <label>Payment Term</label>
                            <label class="input">
                                <input class="form-control" type="text" ng-model="data.offerSeasonDTO.paymentTermNM" readonly />
                            </label>
                        </section>

                        <section class="col col-lg-2">
                            <label>Delivery Term</label>
                            <label class="input">
                                <input class="form-control" type="text" ng-model="data.offerSeasonDTO.deliveryTermNM" readonly />
                            </label>
                        </section>

                        <section class="col col-lg-2">
                            <label>Commision (%)</label>
                            <label class="input">
                                <input type="text" class="form-control" style="text-align:right"
                                       avs-number-2
                                       ng-model="data.offerSeasonDTO.commissionPercent"
                                       ng-decimal="1" />
                            </label>
                        </section>

                        <section class="col col-lg-2">
                            <label>Transportation Fee</label>
                            <label class="input">
                                <input type="text" class="form-control" style="text-align:right"
                                       avs-number-2
                                       ng-model="data.offerSeasonDTO.transportationFee"
                                       ng-decimal="1" />
                            </label>
                        </section>

                        <section class="col col-lg-1">
                            <label>VAT</label>
                            <label class="input">
                                <select class="form-control"
                                        ng-model="data.offerSeasonDTO.vat"
                                        ng-options="gItem.percent as gItem.name for gItem in data.vat">
                                    <option value=""></option>
                                </select>
                                <i></i>
                            </label>
                        </section>

                        <section class="col col-lg-1">
                            <label>Ex Rate</label>
                            <span class="form-control" style="text-align:right">{{getExRate()}}</span>
                        </section>

                        <section class="col col-lg-2">
                            <label>Currency</label>
                            <label class="input">
                                <select class="form-control"
                                        ng-model="data.offerSeasonDTO.currency"
                                        ng-options="gItem.id as gItem.name for gItem in currencies">
                                    <option value=""></option>
                                </select>
                                <i></i>
                            </label>
                        </section>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <ul class="nav nav-tabs pull-left in">
                <li class="active">
                    <a data-toggle="tab" ng-click="selectedTab('tabProduct')" href="javascript:void(0)"> <i class="fa fa-database"></i> <span class="hidden-mobile hidden-tablet">Offer item</span> </a>
                </li>
            </ul>
            <a class="btn btn-primary btn-sm" href="javascript:void(0)" ng-click="updateOfferSeasonDetail2()" ng-disabled="!data.offerSeasonDTO.offerSeasonID>0 || countItemEditing()===0"><i class="fa fa-save"></i> Update Item Info</a>
        </header>
        <div>
            <div class="jarviswidget-editbox"></div>

            <div class="widget-body">
                <div class="tab-content" id="tab-content-detail">
                    <div class="widget-body-toolbar">
                        @*product*@
                        <a ng-if="data.offerSeasonDTO.offerSeasonID>0" class="btn btn-primary btn-sm" href="#/search-product-form"><i class="fa fa-plus"></i> Add Product</a>
                        <a ng-if="!data.offerSeasonDTO.offerSeasonID>0" class="btn btn-primary btn-sm" href="javascript:void(0)" ng-click="addItem()"><i class="fa fa-plus"></i> Add Product</a>

                        @*sparepart*@
                        <a ng-if="data.offerSeasonDTO.offerSeasonID>0" class="btn btn-warning btn-sm" href="#/search-sparepart-form"><i class="fa fa-plus"></i> Add Sparepart</a>
                        <a ng-if="!data.offerSeasonDTO.offerSeasonID>0" class="btn btn-warning btn-sm" href="javascript:void(0)" ng-click="addItem()"><i class="fa fa-plus"></i> Add Sparepart</a>
                    </div>
                    <div class="tab-pane active" id="tabProduct">
                        <div class="smart-form">
                            <div class="col-sm-12 m-bottom-15">
                                <table>
                                    <tr>
                                        <td><b>Description:</b></td>
                                        <td style="width:250px; padding:5px">
                                            <input type="text" ng-model="localFilter.productSearchQuery" style="width:100%" />
                                        </td>
                                        <td>&nbsp;</td>

                                        <td>
                                            <b>Quantity:</b>
                                        </td>
                                        <td style="padding:5px">
                                            <select style="height:20px" class="form-control"
                                                    ng-model="localFilter.hasQuantity"
                                                    ng-options="item.id as item.name for item in data.filterBoxYesNo">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td>&nbsp;</td>

                                        <td>
                                            <b>Is Editing:</b>
                                        </td>
                                        <td style="padding:5px">
                                            <select style="height:20px" class="form-control"
                                                    ng-model="localFilter.isEditingSearchQuery"
                                                    ng-options="item.id as item.name for item in data.filterBoxYesNo">
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td>&nbsp;</td>

                                        <td>
                                            <a href="javascript:void(0)" class="btn btn-primary btn-xs" ng-click="filterItem()">
                                                <i class="fa fa-filter"></i> Filter
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-warning btn-xs" ng-click="clearFilter()">
                                                <i class="fa fa-ban"></i> Clear Filter
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="tilsoft-table-wrapper" avs-scrollable-table ng-load-next-page="productGrid.loadNextPage()" ng-sort-data="productGrid.sortData" ng-get-scroll-position="productGrid.getCurrentScrollPosition(position)">
                                    <div class="tilsoft-table" id="grdOfferSeasonDetail">

                                        <div class="tilsoft-table-header" style="width:1300px;">
                                            <div style="width: 100px; padding: 5px 8px;">
                                                #{{offerSeasonDetailDTO_AfterFilter.length}}/{{data.offerSeasonDetailDTOs.length}}
                                            </div>
                                            <div style="width: 80px">Image</div>
                                            <div style="width: 600px;" class="sorting" data-colname="description">
                                                Description
                                            </div>
                                            <div style="width: 60px;" class="sorting">Qnt/ 40HC</div>
                                            <div style="width: 60px;" class="sorting" data-colname="quantity">Qnt</div>
                                            <div style="width: 60px;" class="sorting">Order Qnt/ 40HC</div>
                                            <div style="width: 80px;" class="sorting" data-colname="description">Sales Price <br />({{data.offerSeasonDTO.currency}})</div>
                                            <div style="width: 200px;" class="sorting">Remark</div>
                                            <div>&nbsp;</div>
                                        </div>

                                        <div class="tilsoft-table-totalrow" style="width:1300px; margin-top:75px">
                                            <div style="width:100px"></div>
                                            <div style="width:80px"></div>
                                            <div style="width:600px;"></div>
                                            <div style="width:60px"></div>
                                            <div style="width:60px">{{data.offerSeasonDetailDTOs | sumFunc:'quantity' | number : 0}}</div>
                                            <div style="width:60px">{{getTotalOrderInCont() | number : 2}}</div>
                                            <div style="width:80px"></div>
                                            <div style="width:200px"></div>
                                            <div>&nbsp;</div>
                                        </div>

                                        <div class="tilsoft-table-body" style="width:1300px; height: auto; margin-top:110px">
                                            <table id="table-sort">
                                                <tbody ng-repeat="item in offerSeasonDetailDTO_AfterFilter = (data.offerSeasonDetailDTOs | filterProduct : filter.productSearchQuery : filter.itemStatusSearchQuery : filter.isEditingSearchQuery : filter.hasQuantity : filter.isClientSelected : filter.isRepeatItem)">
                                                    <tr>
                                                        <td style="width:100px; text-align: center;">
                                                            <a ng-if="item.isEditing" style="width: 84px; margin-bottom: 5px; display: block;" class="btn btn-success btn-xs font-11" href="javascript:void(0)" title="Update item" ng-click="updateOfferSeasonDetail(data.offerSeasonDTO.offerSeasonID, item.offerSeasonDetailID, item)"><i class="fa fa-save"></i> Update</a>
                                                            <a style="width: 84px; margin-bottom: 5px; display: block;" class="btn btn-danger btn-xs font-11" href="javascript:void(0)" ng-click="deleteOfferSeasonDetail(item)" title="Remove"><i class="fa fa-times"></i> Del</a>
                                                        </td>
                                                        <td style="width:80px; text-align: center;">
                                                            <a href="{{item.productFileLocation}}" data-featherlight="image">
                                                                <img style="width: 95%;" ng-src="{{item.productThumbnailLocation}}" />
                                                            </a>
                                                        </td>
                                                        <td style="width:600px; text-align:left;">
                                                            <span style="font-weight:bold;">{{item.articleCode}}</span>
                                                            <br />
                                                            {{item.description}}
                                                        </td>

                                                        @*order qnt/40HC*@
                                                        <td style="width:60px; text-align: right;">
                                                            {{item.qnt40HC | number : 0}}
                                                        </td>

                                                        @*quantity*@
                                                        <td style="width:60px; ">
                                                            <input class="form-control" type="text" name="quantity"
                                                                   ng-model="item.quantity"
                                                                   ng-change="changeValue(item)"
                                                                   avs-number-2 style="text-align:right">
                                                        </td>

                                                        @*order qnt/40HC*@
                                                        <td style="width:60px; text-align: right;">
                                                            {{item.quantity / item.qnt40HC | number : 2}}
                                                        </td>

                                                        @*sale price*@
                                                        <td style="width:80px; text-align: left;">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   ng-model="item.salePrice"
                                                                   ng-change="changeValue(item)"
                                                                   style="text-align:right"
                                                                   avs-number-2
                                                                   ng-decimal="2" />
                                                        </td>

                                                        @*remark*@
                                                        <td style="width:200px">
                                                            <input type="text" class="form-control" ng-model="item.remark" ng-change="changeValue(item)" />
                                                        </td>

                                                        <td>&nbsp;</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</article>