<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-refresh"></i>
            </span>
            <h2>Product property</h2>
        </header>
        <div>
            <div class="widget-body-toolbar">
                <a ng-show="!isChangedProperties" class="btn btn-warning btn-sm" href="{{getRouterWithParam(originRouter)}}" id="goToFobProductForm"><i class="fa fa-arrow-left"></i> Back</a>
                <a ng-show="isChangedProperties" class="btn btn-primary btn-sm" href="{{getRouterWithParam(originRouter)}}" ng-click="okGetDefaultProperties()"><i class="fa fa-ok"></i> OK</a>
                <a ng-show="isChangedProperties" class="btn btn-danger btn-sm" href="{{getRouterWithParam(originRouter)}}"><i class="fa fa-danger"></i> Cancel</a>

                <a class="btn btn-primary btn-sm" href="javascript:void(0)" ng-click="getOfferItemDefaultProperties(null)"><i class="fa fa-download"></i> Get default option</a>
                <a class="btn btn-success btn-sm" href="" ng-click="changeProperty()"><i class="fa fa-check"></i> Change property</a>                
            </div>
            <div class="widget-body">
                <div class="smart-form">
                    <div class="row">
                        <section class="col col-lg-12">
                            <div>
                                    <div class="full-panel">
                                        <h4>General</h4>
                                        <div class="filter-list-container" style="min-height: 0px;">
                                            <span class="form-control"><b>ARTICLECODE: </b>{{copyOfOfferDetailItem.articleCode}}</span>
                                            <br />
                                            <span class="form-control"><b>DESCRIPTION: </b>{{copyOfOfferDetailItem.description}}</span>
                                        </div>
                                    </div>
                                </div>

                            <div class="furnindo-filter">
                                    <div class="filter-row">
                                        <div class="filter-panel">
                                            <h4>Product Option</h4>
                                            <div class="filter-list-container">
                                                <ul>
                                                    <li><span class="form-control"><b>MATERIAL: </b>{{copyOfOfferDetailItem.materialText}}</span></li>
                                                </ul>

                                                <ul>
                                                    <li><span class="form-control"><b>FRAME: </b>{{copyOfOfferDetailItem.frameText}}</span></li>
                                                </ul>

                                                <ul>
                                                    <li><span class="form-control"><b>SUB MATERIAL: </b>{{copyOfOfferDetailItem.subMaterialText}}</span></li>
                                                </ul>

                                                <ul>
                                                    <li><span class="form-control"><b>CUSHION: </b>{{copyOfOfferDetailItem.cushionText}}</span></li>
                                                </ul>

                                                <ul>
                                                    <li><span class="form-control"><b>FSC CLAIM: </b>{{copyOfOfferDetailItem.fscText}}</span></li>
                                                </ul>

                                                <ul>
                                                    <li><span class="form-control"><b>PACKAGING: </b>{{copyOfOfferDetailItem.packagingMethodText}}</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="display-panel">
                                            <span class="selection"></span>
                                            <ul>
                                                <li>
                                                    <span>PRODUCT</span>
                                                    <img ng-src="{{copyOfOfferDetailItem.productThumbnailLocation}}" />
                                                    <span class="text">{{copyOfOfferDetailItem.modelUD}}</span>
                                                    <a class="zoom" href="{{copyOfOfferDetailItem.productFileLocation}}" data-featherlight="image">
                                                        <span class="fa fa-search-plus"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <span>FRAME</span>
                                                    <img ng-src="{{copyOfOfferDetailItem.frameMaterialThumbnailLocation}}" />
                                                    <span class="text">{{copyOfOfferDetailItem.frameText}}</span>
                                                    <a class="zoom" href="{{copyOfOfferDetailItem.frameMaterialThumbnailLocation}}" data-featherlight="image">
                                                        <span class="fa fa-search-plus"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <span>MATERIAL</span>
                                                    <img ng-src="{{copyOfOfferDetailItem.materialThumbnailLocation}}" />
                                                    <span class="text">{{copyOfOfferDetailItem.materialText}}</span>
                                                    <a class="zoom" href="{{copyOfOfferDetailItem.materialThumbnailLocation}}" data-featherlight="image">
                                                        <span class="fa fa-search-plus"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <span>SUB MATERIAL</span>
                                                    <img ng-src="{{copyOfOfferDetailItem.subMaterialColorThumbnailLocation}}" />
                                                    <span class="text">{{copyOfOfferDetailItem.subMaterialText}}</span>
                                                    <a class="zoom" href="{{copyOfOfferDetailItem.subMaterialColorThumbnailLocation}}" data-featherlight="image">
                                                        <span class="fa fa-search-plus"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <span>BACK CUSHION</span>
                                                    <img ng-src="{{copyOfOfferDetailItem.backCushionThumbnailLocation}}" />
                                                    <a class="zoom" href="{{copyOfOfferDetailItem.backCushionThumbnailLocation}}" data-featherlight="image">
                                                        <span class="fa fa-search-plus"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <span>SEAT CUSHION</span>
                                                    <img ng-src="{{copyOfOfferDetailItem.seatCushionThumbnailLocation}}" />
                                                    <a class="zoom" href="{{copyOfOfferDetailItem.seatCushionThumbnailLocation}}" data-featherlight="image">
                                                        <span class="fa fa-search-plus"></span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <span>FABRIC COLOR</span>
                                                    <img ng-src="{{copyOfOfferDetailItem.cushionColorThumbnailLocation}}" />
                                                    <span class="text">{{copyOfOfferDetailItem.cushionText}}</span>
                                                    <a class="zoom" href="{{copyOfOfferDetailItem.cushionColorThumbnailLocation}}" data-featherlight="image">
                                                        <span class="fa fa-search-plus"></span>
                                                    </a>
                                                </li>

                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>                            
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>