<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-refresh"></i>
            </span>
            <h2>Sparepart property</h2>
        </header>
        <div>
            <div class="widget-body-toolbar">
                <a class="btn btn-warning btn-sm" href="#/edit-fob-sparepart-form"><i class="fa fa-arrow-left"></i> Back</a>
                <a class="btn btn-success btn-sm" href="#/edit-fob-sparepart-form"><i class="fa fa-check"></i> OK</a>
            </div>
            <div class="widget-body">
                <div class="smart-form">
                    <div class="row">
                        <section class="col col-lg-12">
                            <div>
                                <div class="full-panel">
                                    <h4>General</h4>
                                    <div class="filter-list-container" style="min-height: 0px;">
                                        <span class="form-control"><b>ARTICLECODE: </b>{{offerDetailItem.articleCode}}</span>
                                        <br />
                                        <span class="form-control"><b>DESCRIPTION: </b>{{offerDetailItem.description}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="furnindo-filter">
                                <div class="filter-row">
                                    <div class="filter-panel">
                                        <h4>PART DESCRIPTION</h4>
                                        <div class="filter-list-container">
                                            <ul>
                                                <li>
                                                    <select class="form-control" name="partID" ng-model="offerDetailItem.partID" ng-options="sItem.modelSparepartID as sItem.description for sItem in modelSpareparts" ng-change="changeModelSparepart(offerDetailItem.partID)">
                                                        <option value=""></option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>