<div id="model-popup" ng-show="isShowSearchModel">
    <div style="float: right; margin-bottom: 8px;">
        <a ng-click="event.cancel()" class="btn btn-danger btn-xs" href="javascript:void(0);"><i class="fa fa-remove"></i> Close</a>
        <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===2 || data.offerSeasonDTO.offerSeasonTypeID===3" ng-click="event.okFobProduct()" class="btn btn-primary btn-xs" href="#/offer-item-properties-form/edit-fob-product-form/{{offerSeasonDetailID}}"><i class="fa fa-check"></i> OK</a>
        <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===4 || data.offerSeasonDTO.offerSeasonTypeID===5" ng-click="event.okFobSparepart()" class="btn btn-primary btn-xs" href="#/offer-sparepart-properties-form/{{offerSeasonDetailID}}"><i class="fa fa-check"></i> OK</a>
        <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===6 || data.offerSeasonDTO.offerSeasonTypeID===7" ng-click="event.okFobProduct()" class="btn btn-primary btn-xs" href="#/offer-item-properties-form/edit-fob-sample-form/{{offerSeasonDetailID}}"><i class="fa fa-check"></i> OK</a>
    </div>
    <div class="clear"></div>
    <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
        <div class="tilsoft-table">
            <div class="tilsoft-table-header" style="width: 1250px;">
                <div style="width: 70px;"></div>
                <div style="width: 50px;"></div>
                <div style="width: 60px;" class="sorting" data-colname="ModelUD">Model Code</div>
                <div style="width: 600px;" class="sorting" data-colname="ModelNM">Model Name</div>
                <div style="width: 70px;" class="sorting_desc" data-colname="Season">Season</div>
                <div style="width: 100px;" class="sorting" data-colname="RangeName">Range Name</div>
                <div style="width: 100px;" class="sorting" data-colname="Collection">Collection</div>
                <div style="width: 50px;" class="sorting" data-colname="Collection">Cata log Page</div>
                <div style="width: 130px;" class="sorting" data-colname="Collection">Status</div>
                <div></div>
            </div>
            <div class="tilsoft-table-body" style="width: 1250px; margin-top: 75px;">
                <table>
                    <tbody ng-repeat="item in searchResult">
                        <tr>
                            <td style="width:69px; text-align:left; vertical-align:middle">
                                <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===2 || data.offerSeasonDTO.offerSeasonTypeID===3" ng-click="event.selectedModelForFobProductForm(item)" href="#/offer-item-properties-form/edit-fob-product-form/{{offerSeasonDetailID}}" class="btn btn-primary btn-xs"><i class="fa fa-check"></i> Select</a>
                                <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===4 || data.offerSeasonDTO.offerSeasonTypeID===5" ng-click="event.selectedModelForFobSparepartForm(item)" href="#/offer-sparepart-properties-form/{{offerSeasonDetailID}}" class="btn btn-primary btn-xs"><i class="fa fa-check"></i> Select</a>
                                <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===6 || data.offerSeasonDTO.offerSeasonTypeID===7" ng-click="event.selectedModelForFobProductForm(item)" href="#/offer-item-properties-form/edit-fob-sample-form/{{offerSeasonDetailID}}" class="btn btn-primary btn-xs"><i class="fa fa-check"></i> Select</a>
                            </td>
                            <td style="width:50px;text-align:left;">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="item.isSelected">
                                    <i style="top:0px; margin-left:10px"></i>
                                </label>
                            </td>
                            <td style="text-align: center; width: 60px">
                                <a ng-if="item.modelStatusID===1" style="color:#178b15" href="@Url.Action("Edit", "Model")/{{item.modelID}}" target="_blank">{{item.modelUD | uppercase}}</a>
                                <a ng-if="item.modelStatusID!==1" style="color:black" href="@Url.Action("Edit", "Model")/{{item.modelID}}" target="_blank">{{item.modelUD | uppercase}}</a>
                            </td>
                            <td style="text-align: left; width: 600px">
                                <a ng-if="item.modelStatusID===1" style="color:#178b15" href="@Url.Action("Edit", "Model")/{{item.modelID}}" target="_blank">{{item.modelNM | uppercase}}</a>
                                <a ng-if="item.modelStatusID!==1" style="color:black" href="@Url.Action("Edit", "Model")/{{item.modelID}}" target="_blank">{{item.modelNM | uppercase}}</a>
                            </td>
                            <td style="text-align: center; width: 70px">{{item.season | uppercase}}</td>
                            <td style="text-align: left; width: 100px">{{item.rangeName | uppercase}}</td>
                            <td style="text-align: left; width: 100px">{{item.collection | uppercase}}</td>
                            <td style="text-align: center; width: 50px">
                                <div ng-if="item.cataloguePageNo!==1000">{{item.cataloguePageNo | uppercase}}</div>
                            </td>
                            <td style="text-align: left; width: 130px">{{item.modelStatusNM | uppercase}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
</div>