<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-search"></i>
            </span>
            <h2>Search Sparepart</h2>
        </header>
        <div>
            <div class="widget-body-toolbar">
                @*back to fob product form*@
                <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===4 || data.offerSeasonDTO.offerSeasonTypeID===5" class="btn btn-warning btn-sm" href="#/edit-fob-sparepart-form"><i class="fa fa-times"></i> Cancel</a>
                <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===4 || data.offerSeasonDTO.offerSeasonTypeID===5" class="btn btn-success btn-sm" href="#/edit-fob-sparepart-form" ng-click="event.ok()"><i class="fa fa-check"></i> OK</a>

                @*back to warehouse form*@
                <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===1" class="btn btn-warning btn-sm" href="#/edit-warehouse-form"><i class="fa fa-times"></i> Cancel</a>
                <a ng-if="data.offerSeasonDTO.offerSeasonTypeID===1" class="btn btn-success btn-sm" href="#/edit-warehouse-form" ng-click="event.ok()"><i class="fa fa-check"></i> OK</a>

                @*search*@
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" ng-click="event.reload()"><i class="fa fa-search"></i> Search</a>
            </div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">
                            <section class="col col-lg-12">
                                <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                                    <div class="tilsoft-table">
                                        <div class="tilsoft-table-header" style="width: 1050px;">
                                            <div style="width: 80px;"></div>
                                            <div style="width: 80px;" class="sorting" data-colname="ArticleCode">Art Code</div>
                                            <div style="width: 400px;" class="sorting" data-colname="ArticleCode">Description</div>
                                            <div style="width: 70px;" class="sorting" data-colname="ModelUD">Model Code</div>
                                            <div style="width: 300px;" class="sorting" data-colname="ModelNM">Model Name</div>
                                            <div style="width: 80px;" class="sorting_desc" data-colname="Season">Season</div>
                                            <div></div>
                                        </div>

                                        <div class="tilsoft-table-filter" style="width: 1050px;">
                                            <div style="text-align: center; width: 80px; vertical-align:middle">
                                                <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                            </div>

                                            <div style="width: 80px">
                                                <label class="input" style="width: 100%">
                                                    <input type="text" ng-model="filters.articleCode" class="search-filter  input-xs" style="font-family: Arial; font-size: 12px; text-transform: uppercase; width: 100%" />
                                                </label>
                                            </div>
                                            <div style="width: 400px">
                                                <label class="input" style="width: 100%">
                                                    <input type="text" ng-model="filters.description" class="search-filter  input-xs" style="font-family: Arial; font-size: 12px; text-transform: uppercase; width: 100%" />
                                                </label>
                                            </div>

                                            <div style="width: 70px">
                                                <label class="input" style="width: 100%">
                                                    <input type="text" ng-model="filters.modelUD" class="search-filter  input-xs" style="font-family: Arial; font-size: 12px; text-transform: uppercase; width: 100%" />
                                                </label>
                                            </div>
                                            <div style="width: 300px">
                                                <label class="input" style="width: 100%">
                                                    <input type="text" ng-model="filters.modelNM" class="search-filter  input-xs" style="font-family: Arial; font-size: 12px; text-transform: uppercase; width: 100%" />
                                                </label>
                                            </div>
                                            <div style="width: 80px">
                                                <label class="input" style="width: 100%">
                                                    <input type="text" ng-model="filters.season" class="search-filter  input-xs" style="font-family: Arial; font-size: 12px; text-transform: uppercase; width: 100%" />
                                                </label>
                                            </div>
                                            <div style="width: 80px; border-bottom: none"></div>
                                        </div>

                                        <div class="tilsoft-table-body" style="width: 1050px; margin-top: 95px;">
                                            <table>
                                                <tbody ng-repeat="item in searchResult">
                                                    <tr>
                                                        <td style="width:79px;text-align:center;vertical-align:top">
                                                            <label class="checkbox">
                                                                <input type="checkbox" ng-model="item.isSelected">
                                                                <i style="top:0px; left:20px"></i>
                                                            </label>
                                                        </td>
                                                        <td style="text-align: left; width: 80px">{{item.articleCode | uppercase}}</td>
                                                        <td style="text-align: left; width: 400px">{{item.description | uppercase}}</td>
                                                        <td style="text-align: center; width: 70px">{{item.modelUD | uppercase}}</td>
                                                        <td style="text-align: left; width: 300px">{{item.modelNM | uppercase}}</td>
                                                        <td style="text-align: center; width: 80px">{{item.season | uppercase}}</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</article>