<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Module.FactoryPaymentSummaryRpt.Properties.Settings.TilsoftConnectionString"
            connectionString="Data Source=.;Initial Catalog=Tilsoft;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>