@font-face {
    font-family: 'text-security-disc';
    src: url('../fonts/text-security-disc.eot') format('embedded-opentype'), url('../fonts/text-security-disc.svg') format('svg'), url('../fonts/text-security-disc.ttf') format('truetype'), url('../fonts/text-security-disc.woff') format('woff');
}
.c-password {
    font: 13px/16px text-security-disc !important;
}

html {
    overflow-y: scroll;
}
body {
    font-family: "Arial";
    min-width: 320px;
}

span.form-control, input[readonly], input[readonly="readonly"], textarea[readonly], textarea[readonly="readonly"] {
    background: #fff4a6 !important;
}

div.alert button.close {
    font-size: 14px;
}

.clear {
    clear: both;
}

#loading-process {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -60px;
    border: 2px solid #f1af73;
    padding: 15px 60px;
    background: #fff4e9;
    color: #d85909;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    z-index: 501;
}

#loading-mask {
    /*background:background:url(../Images/blank.gif) repeat;*/
    position: fixed;
    color: #d85909;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    opacity: 0.80;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0px;
}

    #loading-mask .loader {
        position: fixed;
        top: 45%;
        left: 50%;
        width: 250px;
        margin-left: -125px;
        padding: 35px 30px;
        background: #fff4e9;
        border: 2px solid #f1af73;
        color: #d85909;
        font-weight: bold;
        text-align: center;
        z-index: 1000;
    }

ul.custom-pagination {
    margin: 0px;
    min-width: 310px !important;
}

    ul.custom-pagination li > span:hover {
        background-color: #fff;
        border-color: #ddd;
        color: #3276b1;
    }

.grid-button {
    font-size: 20px;
}

/* BLINK TEXT */
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

/* CSS OVERWRITE */
#sparks li {
    border-left: none !important;
    padding: 0px !important;
}

.sparks-info {
    min-width: auto !important;
}

.help-block {
    color: #b94a48;
}

/* FILE MANAGER */
.popup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9998;
    background: rgba(255,255,255,0.4);
    display: none;
}
.popup-container fieldset {
    width: 95%;
}
.popup-container form {
    height: 100%;
}
.popup-container fieldset input {
    display: table-cell;
}
    .popup-container fieldset .input-group {
        position: relative;
    }
    .popup-container fieldset .input-group .search-result {
        position: absolute;
        z-index: 5;
        background: #fbfbfb;
        border-left: solid 1px #cecece;
        border-right: solid 1px #cecece;
        border-bottom: solid 1px #cecece;
        width: 100%;
        left: 0px;
        min-height: 60px;
        padding: 10px;
        display: none;
    }

    .popup-container .content {
        margin: 20px auto;
        width: 90%;
        height: 90%;
        background: #fff;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.11);
        padding: 20px;
        overflow: hidden;
    }

        .popup-container .content .file-browser ul.img-list {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }

            .popup-container .content .file-browser ul.img-list li {
                float: left;
                width: 9%;
                height: 130px;
                word-wrap: break-word;
                margin: 0.5%;
                box-sizing: border-box;
                border: solid 1px #cecece;
                text-align: center;
                font-size: 10px;
                cursor: pointer;
            }

                .popup-container .content .file-browser ul.img-list li:hover {
                    box-shadow: 0 0 16px rgba(0, 0, 0, 0.11);
                }

                .popup-container .content .file-browser ul.img-list li .img {
                    width: 100%;
                    height: 80px;
                }

        .popup-container .content .file-browser {
            height: 60%;
            border: solid 1px #cecece;
            overflow-y: scroll;
            margin-bottom: 20px;
        }

        .popup-container .content .upload-form {
            height: 30%;
        }

            .popup-container .content .upload-form .dropzone {
                height: 100% !important;
                min-height: 0px !important;
            }

.input-group {
    position: relative;
}
.input-group .img {
    height: 200px;
    border: solid 1px #ccc;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.11);
}
.input-group button {
    min-width: 50px;
    margin-top: 10px;
    padding: 5px;
}
    .input-group button.remove {
        right: 0px;
        position: absolute;
    }

/* RESPONSIVE SETTING */
@media (max-width: 767px) {
    table.custom-table {
        margin-top: 0px !important;
        border: 1px solid #ddd !important;
    }

    div.table-responsive {
        border: none !important;
    }
}

.tilsoft-table-wrapper {
	position: relative;
	width: 100%;
}
    .tilsoft-table-wrapper .dt-toolbar ul.dropdown-menu li {
        padding: 0px 10px 5px 10px;
    }

        .tilsoft-table-wrapper .dt-toolbar ul.dropdown-menu li:first-child {
            padding: 5px 10px 5px 10px;
        }

        .tilsoft-table-wrapper .dt-toolbar ul.dropdown-menu li.divider {
            padding: 0px;
        }

    .tilsoft-table-wrapper ul.dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
        width: 200px;
    }
.tilsoft-table-wrapper .scrollbar {
    display: block;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    right: 1px;
    top: 51px;
    width: 19px;
    z-index: 10;
}
.tilsoft-table-wrapper .scrollbar .scrollbar-content {
	display: block;
}
.tilsoft-table {
	border: solid 1px #ddd;	
	overflow: auto;
    position: relative;
}
.tilsoft-table .tilsoft-table-body {
	height: auto;
    max-height: 400px;
    min-height: 100px;
    margin-top: 50px;
}

.tilsoft-table .tilsoft-table-body.auto-height {
    height: auto !important;
    min-height: 60px;
}

.tilsoft-table .tilsoft-table-body table {
	border-collapse: collapse; 
	width: 100%;
}
    .tilsoft-table .tilsoft-table-body table td {
        border-right: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        padding: 5px;
        font-size: 11px;
        box-sizing: border-box;
        word-break: break-word;
        vertical-align: top;
    }
.tilsoft-table .tilsoft-table-body table tr td:last-child {
	border-right:none;
}
.tilsoft-table .tilsoft-table-body table tr:last-child td {
	/*border-bottom:none;*/
}
.tilsoft-table .tilsoft-table-body table th {
	border-right:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    background: #eeefee;
    text-align: center;
}
.tilsoft-table .tilsoft-table-body table tr th:last-child {
	border-right:none;
}
.tilsoft-table .tilsoft-table-body table tr:hover {
	background: #ecf3f8;
}

.tilsoft-table .tilsoft-table-body table tbody .rowselected {
	background: #D8F6CE;
}

.tilsoft-table .tilsoft-table-body table .totalrow {
	background: #EFF7F7;
    font-weight:bold;
}

.tilsoft-table .tilsoft-table-header, .tilsoft-table .tilsoft-table-filter, .tilsoft-table .tilsoft-table-totalrow, .tilsoft-table .tilsoft-table-subtotalrow {
    background: #eee;
    background-image: -moz-linear-gradient(center top , #f2f2f2 0px, #fafafa 100%);
    position: absolute;
    z-index: 100;
}
.tilsoft-table .tilsoft-table-header div, .tilsoft-table .tilsoft-table-filter div, .tilsoft-table .tilsoft-table-totalrow div, .tilsoft-table .tilsoft-table-subtotalrow div {
	float: left;
	padding: 8px 20px 8px 10px;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	line-height: 18px;
	font-size: 12px;
	text-transform: uppercase;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
}
        .tilsoft-table .tilsoft-table-filter div {
            height: 45px;
            padding: 8px;
        }
            .tilsoft-table .tilsoft-table-filter div select {
                padding: 3px;
            }

            .tilsoft-table .tilsoft-table-filter div select, .tilsoft-table .tilsoft-table-filter div input[type=text], .tilsoft-table .tilsoft-table-filter div label {
                width: 95%;
            }
            .tilsoft-table .tilsoft-table-filter div label {
                cursor: pointer;
            }

    .tilsoft-table .tilsoft-table-totalrow div, .tilsoft-table .tilsoft-table-subtotalrow div {
        height: 30px;
    }

.tilsoft-table .tilsoft-table-header div.sorting_asc, .tilsoft-table .tilsoft-table-header div.sorting_desc {
    background-color: #eee;
}
.tilsoft-table .tilsoft-table-header div.sorting {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}   
.tilsoft-table .tilsoft-table-header div.sorting_asc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}   
.tilsoft-table .tilsoft-table-header div.sorting_desc {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}    
.tilsoft-table .tilsoft-table-header div:last-child, .tilsoft-table .tilsoft-table-filter div:last-child {
	float: none;
	border-right: none;
}


.tilsoft-table .tilsoft-table-totalrow div {
	float: left;
	padding: 8px 5px 8px 10px;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	line-height: 18px;
	font-size: 12px;
	text-transform: uppercase;
    text-align: right;
    height: 30px;
    box-sizing: border-box;
    font-weight:bold;
    background:#EFF7F7
}

.tilsoft-table .tilsoft-table-subtotalrow div {
	float: left;
	padding: 8px 5px 8px 10px;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	line-height: 18px;
	font-size: 12px;
	text-transform: uppercase;
    text-align: right;
    height: 30px;
    box-sizing: border-box;
    font-weight:bold;
    background:#EFF7F7
}

.tilsoft-table .tilsoft-table-filterrow div {
	float: left;
	padding: 8px 5px 8px 10px;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	line-height: 18px;
	font-size: 12px;
	text-transform: uppercase;
    height: 50px;
    box-sizing: border-box;
}
    .tilsoft-table .tilsoft-table-filterrow div:last-child, .tilsoft-table .tilsoft-table-totalrow div:last-child, .tilsoft-table .tilsoft-table-subtotalrow div:last-child {
        border-right: none;
        float:none;
    }


span.form-control {
    box-sizing: border-box !important;
    height: auto !important;
    min-height: 32px;
    padding: 6px 12px !important;
}

.m-bottom-15 {
    margin-bottom: 10px;
}
    .m-bottom-15 legend {
        margin-bottom: 0px;
    }
    .m-bottom-15 .legend {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
        color: #222;
        display: block;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0px;
        padding-bottom: 8px;
    }


.model-form {
    margin-left: 220px;
    min-height: 500px;
    padding: 0 0 52px;
    position: relative;
}

.tilsoft-table-header, .tilsoft-table-body, .tilsoft-table-filter {
    min-width: 100%;
}

select option {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
    select option:first-child {
        border-top: solid 1px #ccc;
    }
    select option:last-child {
        border-bottom: solid 1px #ccc;
    }

.popup-container-2 {
    background: #fff;
    border: solid 1px #ededed;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    padding: 5px;
    position: absolute;
    width: 100%;
    display: none; 
    z-index: 900; 
    box-sizing: border-box;
}

.page-title {
    margin-bottom: 0px !important;
}
.jarviswidget {
    margin-bottom: 10px !important;
}

.smart-form fieldset {
    padding-top: 10px;
    display: table-column;
}

.font-11 {
    font-size: 11px;
}

.normal-table .tilsoft-table-header div, .normal-table .tilsoft-table .tilsoft-table-body {
    height: auto !important;
}
.normal-table .tilsoft-table .tilsoft-table-body {
    overflow-y: auto;
    min-height: 50px;
}


.furnindo-filter {
    display: table;
    width: 100%;
}
    .furnindo-filter div {
        box-sizing: border-box;
    }
    .furnindo-filter .filter-panel, .furnindo-filter .display-panel {
        display: table-cell;
        border-top: solid 2px #2c699d;
        vertical-align: top;        
    }

    .furnindo-filter .filter-caption {
        display: table-caption;
        caption-side: bottom;
        border-top: solid 2px #2c699d;
        border-left: solid 1px #e7e7e7;
        border-right: solid 1px #e7e7e7;
        border-bottom: solid 1px #e7e7e7;
    }
        .furnindo-filter .filter-caption h4 {
            text-transform: uppercase;
            text-align: center;
            font-weight: normal;
            font-size: 16px;
            border-bottom: solid 1px #e7e7e7;
            padding: 5px 0px;
            margin-bottom:5px;
        }

    .furnindo-filter .filter-row {
        display: table-row;
    }
        .furnindo-filter div.filter-row:last-child .filter-panel, .furnindo-filter div.filter-row:last-child .display-panel {
            border-bottom: solid 1px #e7e7e7;    
        }
    .furnindo-filter .filter-panel {
        width: 25%;
        border-right: solid 1px #e7e7e7;
        border-left: solid 1px #e7e7e7;
    }
    .furnindo-filter .display-panel {
        border-right: solid 1px #e7e7e7;
    }
        .furnindo-filter .display-panel img {
            width: 100%;
            border: solid 1px #e7e7e7;
            box-sizing: border-box;
            cursor: pointer;
        }

        .furnindo-filter .filter-panel h4, .full-panel h4 {
            text-transform: uppercase;
            text-align: center;
            font-weight: normal;
            font-size: 16px;
            border-bottom: solid 1px #e7e7e7;
            padding: 5px 0px;
        }
    .furnindo-filter .filter-panel .filter-list-container, .full-panel .filter-list-container {
        padding: 10px;
        min-height: 80px;
    }

    .furnindo-filter ul, .full-panel ul {
        list-style-type: none !important;
        padding: 0px;
        margin: 0px;
    }
    .furnindo-filter .filter-panel ul li {
        margin-bottom: 10px;
    }
    .furnindo-filter label, .full-panel label {
        cursor: pointer;
    }
        .furnindo-filter .display-panel span.selection {
            text-transform: uppercase;
            text-align: left;
            font-weight: normal;
            font-size: 14px;
            border-bottom: solid 1px #e7e7e7;
            padding: 5px;
            height: 23px;
            display: block;
            margin-bottom: 15px;
            overflow: hidden;
        }
.full-panel {
    border-top: solid 2px #2c699d;
    border-right: solid 1px #e7e7e7;
    border-left: solid 1px #e7e7e7;
}
.furnindo-filter .display-panel ul li {
    float: left;
    margin: 0.5%;
    width: 13.25%;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px #e7e7e7;
    position: relative;
}
    .furnindo-filter .display-panel ul li .zoom {
        background: #2c699d none repeat scroll 0 0;
        box-sizing: border-box;
        color: #fff;
        font-weight: normal;
        left: 0;
        padding: 5px 8px;
        position: absolute;
        top: 0;
        z-index: 10;
        display: none;
    }
.furnindo-filter .display-panel ul li:hover, .furnindo-filter .display-panel ul li.active {
    border: solid 1px #2c699d;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.11);
}
    .furnindo-filter .display-panel ul li:hover .zoom {
        display: block;
    }
    .furnindo-filter .display-panel ul li span.text {
        height: 55px;
        text-align: center;
        display: block;
        font-size: 11px;
        cursor: pointer;
    }

.product-form .input-group div.img {
    height: 265px
}

/* ultra slim lightbox */
			@media all {
				.lightbox { display: none; }
				.fl-page h1,
				.fl-page h3,
				.fl-page h4 {
					font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
					font-weight: 100;
					letter-spacing: 1px;
				}
				.fl-page h1 { font-size: 110px; margin-bottom: 0.5em; }
				.fl-page h1 i { font-style: normal; color: #ddd; }
				.fl-page h1 span { font-size: 30px; color: #333;}
				.fl-page h3 { text-align: right; }
				.fl-page h3 { font-size: 15px; }
				.fl-page h4 { font-size: 2em; }
				.fl-page .jumbotron { margin-top: 2em; }
				.fl-page .btn-download { float: right; margin-top: -40px; }
				.fl-page .btn-default { vertical-align: bottom; }

				.fl-page .row { margin-top: 2em;}

				.fl-page .btn-lg span { font-size: 0.7em; }
				.fl-page .footer { margin-top: 3em; color: #aaa; font-size: 0.9em;}
				.fl-page .footer a { color: #999; text-decoration: none; margin-right: 0.75em;}
				.fl-page .github { margin: 2em 0; }
				.fl-page .github a { vertical-align: top; }

				/* customized gallery */

				.featherlight-gallery2 {
					background: rgba(100,100,100,0.5);
				}
				.featherlight-gallery2 .featherlight-content {
					background: #000;
				}
				.featherlight-gallery2 .featherlight-next:hover,
				.featherlight-gallery2 .featherlight-previous:hover {
					background: rgba(0,0,0,0.5);
				}
				.featherlight-gallery2 .featherlight-next:hover span,
				.featherlight-gallery2 .featherlight-previous:hover span {
					font-size: 25px;
					line-height: 25px;
					margin-top: -12.5px;
					color: #fff;
				}
				.featherlight-gallery2  .featherlight-close {
					background: transparent;
					color: #fff;
					font-size: 1.2em;
				}

				/* text slide */
				.thumbnail a { text-decoration: none; }
				.blurb {
					display: inline-block;
					width: 150px;
					height: 150px;
				}
				.blurb h2 { text-align: center;}
				.blurb .detail { display: none;}
				.blurb .teaser {
					font-style: italic;
					text-align: center;
				}
				.featherlight .blurb {
					display: inline-block;
					width: 500px;
					height: 300px;
					color: #99f;
				}
				.featherlight .blurb .detail {
					color: #ddf;
					font-size: large;
					display: inherit;
				}
				.featherlight .blurb .teaser { display: none;}

			}
			@media(max-width: 768px){
				.fl-page h1 span { display: block; }
				.fl-page .btn-download { float: none; margin-bottom: 1em; }
			}

.tilsoft-table-body table input[type=text], .tilsoft-table-body table select, .tilsoft-table-body table select option {
    width: 100%;    
    box-sizing: border-box;
}
.tilsoft-table-body table select {
    padding: 0 5px;
}
.tilsoft-table-body table input[type=text], .tilsoft-table-body table select option {
    padding: 5px;
}

.tilsoft-table-wrapper .more-info {
    box-sizing: border-box;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    display: none;
}

.sub-filter-panel {
    padding: 5px;
    border-bottom: solid 1px #e7e7e7;
    margin-bottom: 15px;
    min-height: 34px;
}
.sub-filter-item {
    display: inline-block;
    margin-right: 30px;
}

.request-item {
    /*background: #fff4a6;*/
    background: #b94a48;
    color: #fff;
}

#sticky-content {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 9999;
}

.float-pagination .custom-pagination {
    bottom: 10px;
    margin-top: 10px;
    position: fixed;
    right: 0;
    z-index: 10001;
}

.note-error {
    color: #ff0000 !important;
}

.absolute-left {
    background: #fff none repeat scroll 0 0;
    border-right: 1px solid #e7e7e7;
    height: 100%;
    left: 0;
    padding-top: 30px;
    position: fixed;
    top: 0;
    width: 225px;
    z-index: 9998;
}
    .absolute-left ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
    .absolute-left ul li {
        background: #fff none repeat scroll 0 0;
        float: left;
        margin: 5px;
        height: 155px;
        position: relative;
        text-align: center;
        width: 100px;
        border: solid 1px #e7e7e7;
    }
        .absolute-left ul li:last-child {
            height: 100px;
            padding: 5px;
            width: 210px;
        }
            .absolute-left ul li:last-child img {
                height: 85%;
                width: auto;
                float: left;
            }
            .absolute-left ul li:last-child span.text {
                float: right;
                width: 100px;
            }
        .absolute-left ul li img {
            width: 95%;
        }
        .absolute-left ul li a.zoom {
            background: #2c699d none repeat scroll 0 0;
            box-sizing: border-box;
            color: #fff;
            font-weight: normal;
            left: 0;
            padding: 5px 8px;
            position: absolute;
            top: 0;
            z-index: 10;
            display: none;
        }
        .absolute-left ul li:hover a.zoom {
            display: block;
        }
        .absolute-left ul li span.text, .absolute-left ul li span.header {
            font-size: 10px;
            display: block;
            margin-bottom: 2px;
        }
        .absolute-left ul li span.header {
            font-weight: bold;
        }

.parent-level td {
    font-weight: bold;
    background: #fff4a6;
}

.modal-body .form-group {
    margin-left: 20px;
}

.ui-grid-cell {
    border-bottom: solid 1px #d4d4d4 !important;
}

.ui-grid-cell .btn {
    margin-top: 5px;
}

.cell-align-center {
    text-align: center;
}
.ui-grid-sort-priority-number {
    display: none;
}
.ui-grid-cell input {
    width: 90%;
    margin: auto;
    padding: 2px;
    height: 100%;
    font-size: 40px;
}
.ui-grid-cell select {
    width: 90%;
    margin: auto;
    padding: 2px;
    height: 100%;
}

.img-item {
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    border: solid 1px #cecece;
    word-wrap: break-word;
    margin-bottom: 10px;
    width: 182px;
}
    .img-item img {
        width: 90%;
    }

    /* SCROLLABLE TABLE */
	table.scrollable-table2-grid-header {
			width: 100%;
            font-size: 11px;
		}
		table.scrollable-table2-grid-header tr td {
			border-left: solid 1px #ddd;
			word-wrap: break-word;
			box-sizing: border-box;
			padding: 5px;
			background: #f2f2f2;
			text-transform: uppercase;
			text-align: center;
		}
		table.scrollable-table2-grid-header tr td:first-child {
			border-left: none;
		}
		
		table.scrollable-table2-grid tr td {
			border-bottom: solid 1px #ddd;
			border-left: solid 1px #ddd;
			word-wrap: break-word;
			box-sizing: border-box;
			padding: 5px;
		}
		table.scrollable-table2-grid tr:first-child td {
			border-top: none;
		}
		table.scrollable-table2-grid tr td:first-child {
			border-left: none;
		}
		
		.scrollable-table2-wrapper {
			width: 100%;
			height: 282px;			
			box-sizing: border-box;
			overflow: hidden;
			border: solid 1px #ddd;
            font-size: 11px;
		}
		.scrollable-table2-body {
			overflow: scroll;
			height: 237px;
			box-sizing: border-box;
		}
		.scrollable-table2-header {
			box-sizing: border-box;
			border-bottom: solid 1px #ddd;
		}		
		.scrollable-table2-header-wrapper {
			overflow: hidden;
			height: 43px;
			box-sizing: border-box;
		}
		
		table.scrollable-table2-grid, .scrollable-table2-header {
			min-width: 100%;
		}

a.custom-button {
    padding: 6px 15px 6px 15px; 
    margin-top: 11px; 
    vertical-align: top;
}

.float-img-list {
    margin-right: 10px;
    float: left;
}
    .float-img-list .img-item {
        border: solid 2px #ededed;
        position: relative;
    }
        .float-img-list .img-item a.action {
            padding: 2px; 
            font-size: 12px; 
            margin-right: 5px;
        }

    .float-img-list .img-item:hover {
        border-color: #4CAF50;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    }

    .float-img-list .fa-check-circle {
        position: absolute; 
        top: 5px; 
        right: 5px; 
        font-size: 25px; 
        color: #4CAF50;
    }

.bootstrap-tagsinput .tag {
    color: #fff !important;
    display: inline-block !important;
    margin: 3px 0 3px 2px !important;
    position: relative !important;
}

table.customize-table tr {
    background: none !important;
}

span.version {
    position: absolute;
    bottom: 0px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    left: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.furnindo-gallery .furnindo-gallery-item, .furnindo-gallery a.btn {
    display: block;
    width: 90px;
    height: 90px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: solid 1px #ddd; 
    float: left;
    position: relative;
}
    .furnindo-gallery a.btn {
        width: 92px;
        height: 92px;
    }

span.action {
    position: absolute;
    right: 0px; 
    bottom: 0px;
    cursor: pointer;
    color: #fff;
    padding: 5px 0px 5px 10px;
    width: 20px;
    height: 20px;
}

div.select2, a.select2-choice {
    height: 30px !important;
}
.select2-container {
    width: 100%;
}

ul.list-inline {
    margin-left: 0px;
}
ul.list-inline > li > img {
    position: relative !important;
    border-left: none !important;
}


.furnindo-image-editor {
    border: solid 1px #ddd; 
    padding: 5px; 
    box-sizing: border-box;
}
    .furnindo-image-editor a.btn {
        width: 100px; 
        height: 100px; 
        font-size: 60px; 
        line-height: 100px; 
        float: left; 
        margin-right: 5px;
    }
    .furnindo-image-editor .img-item {
        border: solid 1px #ddd; position: relative; width: 100px; height: 100px; float: left; margin-right: 5px;
    }
    .furnindo-image-editor .action {
        position: absolute; top: 0px; right: 0px; background:rgb(168, 10, 10); color: #fff; text-align: center; cursor: pointer; padding: 1px;
    }

.furnindo-large a.btn, .furnindo-large .img-item {
    width: 200px;
    height: 200px;
}

.chat-body li.message img {
    position: relative;
    display: block;
    border-left: none;
}


.smart-form .message i.fa {
    border: none;
    border-radius: 0%;
    display: inline;
    font-size: inherit;
    height: auto;
    line-height: inherit;
    margin: 0px;
    width: auto;
}
.action-panel {
    background: #fff;
    border: solid 1px #ddd;
    position: absolute; 
    left: -9999px;
    bottom: -30px;
    font-size: 11px;
    padding: 10px;
    z-index: 10;
}
a.edit-image, a.delete-image {    
    padding: 2px 10px; 
    display: block; 
    width: 50px;
    color: #fff;
    background: #0000ff;   
    margin-bottom: 5px;
}
a.delete-image {
    background: #ff0000;
}
.superbox-list:hover .action-panel {
    left: 10px;
}

.increase {
    color: #0000ff;
}
.decrease {
    color: #ff0000;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.furnindo-gallery-item-2 {
    width: 12.5%;
    margin: 0px;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
}
    .furnindo-gallery-item-2 img {
        width: 100%;
    }
    .furnindo-gallery-item-2 .gallery-button {
        left: -9999px;
        top: 10px;
        position: absolute;
        z-index: 2;
    }
    .furnindo-gallery-item-2:hover .gallery-button {
        left: 10px;
    }

@media (max-width: 980px) {
    .furnindo-gallery-item-2 {
        width: 20%;
    }
}
@media (max-width: 650px) {
    .furnindo-gallery-item-2 {
        width: 25%;
    }
}
@media (max-width: 450px) {
    .furnindo-gallery-item-2 {
        width: 50%;
    }
}

.ui-datepicker, .bootstrap-timepicker-widget, .autocomplete-suggestions, .select2-drop {
    z-index: 11000 !important;
}
#divSmallBoxes {
    z-index: 10003 !important;
}
.modal {z-index: 11000;}

#file-manager {
    z-index: 20000 !important;
}

@media(max-width: 1215px) {
    .furnindo-search-box {
        width: 100% !important;
    }
    .furnindo-search-button {
        float: none !important;
        width: 100% !important;
        clear: both !important;
    }
}

.fc-event {
    cursor: pointer;
}

#shortcut {
	z-index: 10002 !important;
}

ul.file-list li {
    margin-bottom: 5px;
    margin-left: 10px;
}

table.info {
    width: 100%;
    border-collapse: collapse;
    border-color: #ddd;
}
    table.info tr td {
        padding: 4px;
        border: solid 1px #ddd;
    }

        table.info tr td:first-child, table.info tr td:nth-child(3) {
            width: 150px;
            background: #f9f9f9;
        }

section .input-group .input-group-btn a.btn {
    padding-top: 7px;
}

ul.ulcols-4 li {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 5px;
}
ul.ulcols-4 li div.content {
    box-sizing: border-box;
    border: solid 1px #ddd;
    padding: 5px;
    position: relative;
}
ul.ulcols-4 li.active div.content {
    border: solid 1px #ff0000;
}
ul.ulcols-4 li div.content div.img {
    width: 100%;
    height: 200px;
}
ul.ulcols-4 {
    list-style-type: none;
    padding: 0px;
    margin: 0px -5px 0px -5px;
}
ul.ulcols-4 li div.content .action {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}
ul.ulcols-4 li div.content p {
    display: none;
    padding: 10px;
    background: #000;
    color: #fff;
    border: #ddd;
    position: absolute;
    z-index: 500;
    margin-top: 5px;
    box-sizing: border-box;
}
ul.ulcols-4 li:hover div.content .action, ul.ulcols-4 li:hover div.content p {
    display: block;
}


ul.ulcols-8 li {
    box-sizing: border-box;
    width: 12.5%;
    float: left;
    padding: 5px;
}
ul.ulcols-8 li div.content {
    box-sizing: border-box;
    border: solid 1px #ddd;
    padding: 5px;
    position: relative;
}

span.item {
    width: 46%;
    display: inline-block;
}
.right {
    float: right;
}
.left {
    float: left;
}


nav > ul > li > ul::before {
    border-left: none;
}

footer.left-align a {
    float: none !important;
}

.status-icon {
    background: #739e73;
}
.comment-icon {
    background: #fff;
    color: #000;
}
.priority-icon {
    background: #c79121;
}
.calendar-icon {
    background: #57889c;
}
.assign-icon {
}
.smart-timeline-content .well {
    width: 100%;
}
    .smart-timeline-content .well p {
        margin-bottom: 0px;
        font-weight: bold;
    }
.smart-timeline-content ul {
    padding-left: 20px;
}
    .smart-timeline-content ul li {
        padding: 5px;
    }

.file-container {
    margin-top: 5px;
    border: solid 1px #eee;
    padding: 15px;
}
    .file-container ul li {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .file-container ul li:last-child {
        padding-bottom: 0px;
    }


.smart-timeline-icon {
    left: 110px;
}
.smart-timeline-time {
    width: 100px;
}
.smart-timeline-content {
    margin-left: 150px;
    min-height: 55px;
}
.smart-timeline-list::after {
    left: 125px;
}


.featherlight .featherlight-inner {
    max-width: 100%;
}

td .status-box {
    width: 98%;
}
.status-box {
    display: inline-block;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 2px 5px;
    color: #fff;    
    text-align: center;
}
.request-status-1 { /* PENDING */
    color: #000 !important;
}
.request-status-2 { /* ASSIGNED */
    background-color: #3276b1 !important;
}
.request-status-3 { /* WAITING FOR FEEDBACK */
    background-color: #b94a48 !important;
}
.request-status-4 { /* RESOLVED */
    background-color: #4CAF50 !important;
}
.request-status-5 { /* REOPEN */
    background-color: #99f !important;
}
.request-status-6 { /* CLOSED */
    background-color: #eee !important;
    color: #000 !important;
}
.request-status-7 { /* IN PROGRESS */
    background-color: #b6ff00 !important;
    color: #000 !important;
}

td .priority-box {
    width: 98%;
}
.priority-box {
    display: inline-block;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 2px 5px;
    color: #000;
    text-align: center;
}
.priority-3 {
}
.priority-2 {
    color: #fff;
    background-color: #f1af73 !important;   
    border: solid 1px #f1af73 !important;
}
.priority-1 {
    background-color: #ff0000 !important;
    border: solid 1px #ff0000 !important;
    color: #fff;
}

ul.info-list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
ul.info-list li {
    padding-bottom: 10px;
}
    ul.info-list li i.fa {
        width: 15px;
    }

span.box {
    display: block;
}
    span.box i {
        width: 15px;
    }

.select2-hidden-accessible {
    display: none;
}


.tilsoft-table-body textarea {
    width: 100%;
    border: none;
    resize: none;
}


div.profile-image {
    box-sizing: border-box;
    padding: 6px;
    background: #fff;

    position: relative;
    top: -30px;
    z-index: 4;
    left: 30px;
    width: 130px;
}
div.profile-image img {
    width: 100%;
}


.tilsoft-profile .text-muted {
    padding-left: 20px;
    position: relative;
}
    .tilsoft-profile .text-muted i.fa {
        position: absolute;
        left: 0px;
        z-index: 6;
        top: 3px;
    }

.img-container {
    width: 150px;
    box-sizing: border-box;
    position: relative;
    border: solid 1px #ddd;
}
    .img-container img {
        width: 100%;
    }
    .img-container a.action {
        display: block;
        background: #fff;
        opacity: 0.7;
        padding: 15px;
        position: absolute;
        z-index: 5;
        width: 100%;
        bottom: 0px;
        box-sizing: border-box;
    }
    .img-container:hover {
        
    }

.tilsoft-table-body table tr td label {
    width: 100%;
    height: 100%;
}


.table tr th i.fa {
    width: 25px;
}

.modal-backdrop.in {
    position: fixed;
}


.widget-body-toolbar .input-group-btn a.btn {
    background: #fff;
    padding-bottom: 4px;
}

    .superbox {
        font-size: 0px;
    }
    .superbox-close {
        font-size: 13px;
    }
    .superbox-action-buttons a {
        margin-bottom: 5px;
    }
.superbox-list {
    position: relative;
}
.superbox-list .fa {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #1D9C73;
    font-size: 40px;
    display: none;
}
.superbox-list.selected img {
    opacity: 0.4;
}
.superbox-list.selected .fa {
    display: block;
}


nav ul ul li > a {
    padding-left: 11px;
}
nav ul ul ul li a {
    padding-left: 20px;
}
nav > ul ul li::before {
    border-top: none;
}

ul.tile {
    margin: -5px;
    padding: 0px;
    font-size: 0px;
    margin-bottom: 5px;
}
    ul.tile > li {
        box-sizing: border-box;
        list-style-type: none;        
        display: inline-block;
        padding: 5px;
    }
        ul.tile > li > div {
            font-size: 12px;
            border: solid 1px #c9c9c9;
            padding: 5px;
            box-sizing: border-box;
            word-break: break-word;
            background: #fff;
            display: block;
            position: relative;
        }
            ul.tile > li > div a.btn {
                margin-right: 5px;
            }            
            ul.tile > li > div a.btn-danger {
                float: right;
            }
            ul.tile > li > div strong {
                max-height: 32px;
                overflow: hidden;
                display: block;
            }
            ul.tile > li > div p {
                height: 40px;
                overflow: hidden;
                display: block;
            }

ul.cols-4 > li {
    width: 25%;
}
ul.cols-3 > li {
    width: 33.33%;
}
ul.cols-3 > li:last-child {
    width: 33.34%;
}
div.hover-content {
    position: absolute;
    right: -5px;
    top: 12px;
    width: 80%;
    z-index: 2;
    border: solid 1px #ddd;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px #ddd;
}

.mi-background-current-season {
    background-color: #92d678 !important
}

.mi-background-last-season {
    background-color: #a5a4f1 !important
}

.mi-background-lastlast-season {
    background-color: #f2e59c !important
}

.mi-margin-current-season {
    background-color: #b08686 !important
}

.mi-margin-last-season {
    background-color: #f1af73 !important
}

.mi-margin-last-last-season {
    background-color: #c89fe9 !important
}







@media(min-width: 981px) and (max-width: 1150px) {
    ul.cols-3 > li, ul.cols-3 > li:last-child {
        width: 50%;
    }
}
@media(min-width: 631px) and (max-width: 950px) {
    ul.cols-3 > li, ul.cols-3 > li:last-child {
        width: 50%;
    }
}
@media(min-width: 0px) and (max-width: 630px) {
    ul.cols-3 > li, ul.cols-3 > li:last-child {
        width: 100%;
    }
}


/* 
    SELECT 2 
    clear button
*/
abbr.select2-search-choice-close {
    font-size: 18px !important;
    z-index: 5;
    right: 40px !important;
    top: 6px !important;
}

    abbr.select2-search-choice-close::before {
        color: #000 !important;
    }


table.table td.has-input {
    box-sizing: border-box;
}

    table.table td.has-input input[type=text] {
        box-sizing: border-box;
        padding: 2px;
        width: 100%;
        border: solid 1px #ccc;
    }

    table.table td.has-input select {
        box-sizing: border-box;
        padding: 2px;
        width: 100%;
        border: solid 1px #ccc;
    }


select[disabled] {
    background: #fff4a6 !important;
}

div.meeting-location label.checkbox i {
    border: solid 1px #ccc;
}
div.meeting-location label.checkbox i::after {
    color: #fff;
}


.ui-menu .ui-menu-item a.ui-state-focus {
    white-space: normal;
}

span.status {
    display: inline !important;
    padding: .2em .6em .3em;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 10px !important;
}


.btn-header > :first-child > a {
    /*    
    background: #fff;
    color: #0096D4;
    */
    cursor: pointer !important;
}

span.label {
    padding: 2px 5px;
    margin-bottom: 0px !important;
    line-height: 12px !important;
    color: #fff !important;
    display: inline-block !important;
}

.ui-chatbox {
    z-index: 10001;
}

    .ui-chatbox ul {
        padding: 0px;
        margin: 0px;
    }
        .ui-chatbox ul li {
            padding-bottom: 5px;
        }
            .ui-chatbox ul li a {
                display: block;
            }
            .ui-chatbox ul li a img {
                border: solid 1px #fff;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
            }
                
.ui-autocomplete {
    z-index: 10003!important;
}

td.checkbox-cell {
    padding: 0px !important;
}
    td.checkbox-cell label {
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }


.bg-color-yellow-custom {
    background-color: #ffff00 !important;
    color: #000 !important;
}


#jarviswidget-fullscreen-mode {
    z-index: 10999;
}

.smart-form .note a {
    font-size: 11px;
}

.data-loading {
    color: darkgrey !important;
    font-style: italic !important;
    text-transform: none !important;
}

table.no-border tr td, table.no-border tr:last-child td {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    padding: 0px !important;
}

.dummy-row, .dummy-row td {
    height: 0px !important;
    line-height: 0px !important;
}

/* avs table */
.avs-table-wrapper {
    border: solid 1px #ddd;
}

    .avs-table-wrapper .avs-table-header {
        overflow: hidden;
    }

        .avs-table-wrapper .avs-table-header table tr td, .avs-table-wrapper .avs-table-header table tr th {
            border-right: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
            line-height: 18px;
            box-sizing: border-box;
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            padding: 5px;
            background: #eee;
            background-image: -moz-linear-gradient(center top, #f2f2f2 0px, #fafafa 100%);
        }
        .avs-table-wrapper .avs-table-header table {
            table-layout: fixed;
        }

        .avs-table-wrapper .avs-table-header table tr.total-row td {
            background: #EFF7F7;
            text-align: right;
            font-weight: bold;
        }

        .avs-table-wrapper .avs-table-header table tr td.sorting {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC");
            background-position: right center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .avs-table-wrapper .avs-table-header table tr td.sorting_asc {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC");
            background-position: right center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .avs-table-wrapper .avs-table-header table tr td.sorting_desc {
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=");
            background-position: right center;
            background-repeat: no-repeat;
            cursor: pointer;
        }


    .avs-table-wrapper .avs-table-body {
        overflow: scroll;
        max-height: 450px;
    }

        .avs-table-wrapper .avs-table-body table tr td {
            border-right: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
            padding: 5px;
            font-size: 11px;
            box-sizing: border-box;
            word-break: break-word;
            vertical-align: top;
            line-height: 18px;
        }
            .avs-table-wrapper .avs-table-body table tr td input[type=text],
            .avs-table-wrapper .avs-table-header table tr td input[type=text],
            .avs-table-wrapper .avs-table-body table tr td select,
            .avs-table-wrapper .avs-table-header table tr td select,
            .avs-table-wrapper .avs-table-body table tr td textarea,
            .avs-table-wrapper .avs-table-header table tr td textarea {
                width: 100%;
            }

            .avs-table-wrapper .avs-table-body table tr td select,
            .avs-table-wrapper .avs-table-header table tr td select {
                padding: 3px;
            }