@{
    ViewBag.Title = "Eurofar Price Overview";
    ViewBag.Module = "Eurofar Price Overview";
}
<style>
    .jarviswidget.well header{display:block;}
    .tilsoft-table .tilsoft-table-body table .sale-table th {
        background: none !important;
    }
    .noHover {
        pointer-events: none;
    }
    .sale-table tr:nth-child(1) {
        background-color: #ffe2a6;
    }
    .sale-table tr:nth-child(2) {
        background-color: #7ebfff;
    }
    .sale-table tr:nth-child(3) {
        background-color: #beffa9;
    }
    .sale-table tr:nth-child(4) {
        background-color: #f1a5ff;
    }
    .sale-table tr:nth-child(5) {
        background-color: #a5e2ff;
    }
    .sale-table tr:nth-child(6) {
        background-color: #ffa2c0;
    }
    .sale-table tr:nth-child(7) {
        background-color: #bfb8ff;
    }
    .sale-table tr:nth-child(8) {
        background-color: #4dfb9a;
    }
</style>
<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-4">
                                <label class="label">Season</label>
                                <label class="select">
                                    <select class="form-control" ng-model="selection.season" ng-options="season.seasonValue as season.seasonText for season in seasons"></select>
                                    <i></i>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateHtml($event)" style="float: none;"><i class="fa fa-bar-chart-o"></i> Html Version</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel($event)" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Version</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<div ng-if="show" class="row" style="margin-top:15px;">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-table"></i></span>
                <h2>Margin Conclusion</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <fieldset style="padding-top:0px;">
                        <div class="row">
                            <div class="tilsoft-table">
                                <div class="tilsoft-table-body" style="margin-top: 0px">
                                    <table>
                                        <tbody>
                                            <tr style="padding-right:1em">
                                                <th style="background-color:#FF7599">Sale Manager</th>
                                                <th style="width:80px">Order<br /> in Cont<br /> with <br />cost<br /> Price</th>
                                                <th style="width:100px">FOB Cost<br /> Price <br />in USD</th>
                                                <th style="background-color:#FF7599; width:100px">FOB Sales<br /> amount<br /> in USD</th>
                                                <th style="background-color:#FF7599; width:70px">% FOB<br /> Sales</th>
                                                <th style="width:100px">DELTA<br /> IN USD</th>
                                                <th style="width:70px">%<br /> DELTA</th>
                                                <th style="background-color:#FF7599; width:100px">Delta after<br /> All</th>
                                                <th style="background-color:#ebf1de; width:70px">% Delta after<br /> All</th>
                                                <th style="background-color:darkorange; width:70px">% OF<br /> 100% <br />DELTA<br />AFTER<br /> All</th>
                                                <th style="width:80px">Commission<br /> in USD</th>
                                                <th style="width:80px">Damages<br /> (1,25% <br />FOB Cost)</th>
                                                <th style="width:80px">LC Cost</th>
                                                <th style="width:80px">Interest<br /> Cost &nbsp;</th>

                                                <th style="width:80px">Trans port Cost</th>
                                                <th style="width:80px">Inspec tion Cost</th>
                                                <th style="width:80px">Sample Cost</th>
                                            </tr>
                                            <tr style="background-color:lightyellow; padding-right:1em">
                                                <td style="text-align:right">Total</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'order40HCWithCostPrice' | currency : '' : 1}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'fobCostUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'fobAmountUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">100 %</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'deltaInUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{(salePerformance | sumFunc:'deltaInUSD') / (salePerformance | sumFunc:'fobCostUSD') * 100 | number:1}} %</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'deltaAfterAllInUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{(salePerformance | sumFunc:'deltaAfterAllInUSD') / (salePerformance | sumFunc:'fobCostUSD') * 100 | number:1}} %</td>
                                                <td style="text-align:right">100 %</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'commissionAmountUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'damagesCostInUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'lcCostAmount' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'interestAmount' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'transportationInUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'inspectionCostUSD' | currency : '$' : 0}}</td>
                                                <td style="text-align:right">{{salePerformance | sumFunc:'sampleCostUSD' | currency : '$' : 0}}</td>
                                            </tr>
                                            <tr ng-repeat="item in salePerformance | orderBy : '-netGrossMarginAfterCommissionPercent'" style="padding-right:1em">
                                                <td style="background-color:#FF7599">{{item.saleNM}}</td>
                                                <td style="text-align:right">{{item.order40HCWithCostPrice | currency:'':1}}</td>
                                                <td style="text-align:right">{{item.fobCostUSD | currency:'$':0}}</td>
                                                <td style="text-align:right; background-color:#FF7599">{{item.fobAmountUSD | currency:'$':0}}</td>
                                                <td style="text-align:right; background-color:#FF7599">{{item.fobAmountUSD / (salePerformance | sumFunc:'fobAmountUSD') * 100 | number : 1}} %</td>
                                                <td style="text-align:right">{{item.deltaInUSD | currency:'$':0}}</td>
                                                <td style="text-align:right">{{item.deltaPercent | number:1}} %</td>
                                                <td style="text-align:right; background-color:#FF7599">{{item.deltaAfterAllInUSD | currency:'$':0}}</td>
                                                <td style="text-align:right; background-color:#ebf1de">{{item.deltaAfterAllPercent | number:1}} %</td>
                                                <td style="text-align:right; background-color:darkorange">{{item.deltaAfterAllInUSD / (salePerformance | sumFunc:'deltaAfterAllInUSD') * 100  | number : 1}} %</td>

                                                <td style="text-align:right">{{item.commissionAmountUSD | currency:'$':0}}</td>
                                                <td style="text-align:right">{{item.damagesCostInUSD | currency:'$':0}}</td>
                                                <td style="text-align:right">{{item.lcCostAmount | currency:'$':0}}</td>
                                                <td style="text-align:right">{{item.interestAmount | currency:'$':0}}</td>

                                                <td style="text-align:right">{{item.transportationInUSD | currency:'$':0}}</td>
                                                <td style="text-align:right">{{item.inspectionCostUSD | currency:'$':0}}</td>
                                                <td style="text-align:right">{{item.sampleCostUSD | currency:'$':0}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</div>

<div  ng-if="data.customerData" class="row" style="margin-top: 15px;">
    <!-- show report for management level -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Margin Customer</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <fieldset style="padding-top: 0px;">
                        <div class="row">
                            <div class="tilsoft-table">
                                <div style="width: 100%; overflow: scroll; height: 600px;margin-top:0px;" class="tilsoft-table-body">
                                    <table style="width: 2720px;margin:0 10px;">
                                        <thead class="sale-table">
                                            <tr ng-repeat="item in data.saleData | orderBy:'-fobAmountUSD'" class="noHover">
                                                <th style="width:300px;background-color:#fff !important;border:none;"></th>
                                                <th style="width:100px;background-color:#fff !important;border:none;"></th>
                                                <th style="width:120px;background-color:#fff !important;border:none;"></th>
                                                <th style="width:130px;background-color:#fff !important;border:none;"></th>
                                                <th style="width:120px;text-align:left;text-transform:capitalize !important;">{{item.saleNM}}</th>
                                                <th style="width:100px;text-align:right">{{item.orderQnt40HC | number : 2}}</th>
                                                <th style="width:100px;text-align:right;">${{item.fobCostUSD | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right;">{{item.saleAmountEUR | currency:'&euro;':2}}</th>
                                                <th style="width:100px;text-align:right;">${{item.saleAmountUSD | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right;">{{item.saleAmountConvertToEUR | currency:'&euro;':2}}</th>
                                                <th style="width:100px;text-align:right;">{{item.totalTransportEUR | currency:'&euro;':2}}</th>
                                                <th style="width:100px;text-align:right;">${{item.fobAmountUSD | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right">{{(item.commissionPercentage != null ) ? item.commissionPercentage : 0 | number : 2}}</th>
                                                <th style="width:100px;text-align:right;">${{item.commissionAmountUSD | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right;">${{item.damagesCost | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right;">${{item.lcCostAmount | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right;">${{item.interestAmount | currency:'':2}}</th>
                                                <th style="width:120px;text-align:right;">${{item.inspectionCostUSD | currency:'':2}}</th>
                                                <th style="width:120px;text-align:right;">${{item.transportationInUSD | currency:'':2}}</th>
                                                <th style="width:120px;text-align:right;">${{item.sampleCostUSD | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right;">${{(item.netGrossMargin != null ) ? item.netGrossMargin : 0 | currency:'':2}}</th>
                                                <th style="width:100px;text-align:right">{{(item.netGrossMarginInPercentage != null ) ? item.netGrossMarginInPercentage : 0 | number : 2}}</th>
                                                <th style="width:100px;text-align:right">{{item.orderQnt40HC | number : 2}}</th>
                                                <th style="width:100px;text-align:right">{{item.shippedQnt40HC | number : 2}}</th>
                                                <th style="width:100px;text-align:right">{{(item.shippedContInPercentage != null ) ? item.shippedContInPercentage : 0 | number : 2}}%</th>
                                                <th style="width:100px;text-align:right">{{item.toBeShippedQnt40HC | number : 2}}</th>
                                                <td style="text-align:right;">{{(item.toBeShippedContInPercentage != null ) ? item.toBeShippedContInPercentage : 0 | number : 2}}%</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th style="font-weight: bold;width: 300px;background-color:rgba(234, 234, 58, 0.69);">Name Customer</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);"> VN-monitored by</th>
                                                <th style="font-weight: bold;width: 120px;background-color:rgba(234, 234, 58, 0.69);">NL-monitored by</th>
                                                <th style="font-weight: bold;width: 130px;background-color:rgba(234, 234, 58, 0.69);">Agented By</th>
                                                <th style="font-weight: bold;width: 120px;background-color:rgba(234, 234, 58, 0.69);">Sale Manager</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Order in Cont.</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Fob Cost price in USD</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">SALES Amount Euro</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">SALES Amount USD</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Sale amount converted to Euro</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Total Transport in Euro</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Fob Sales amount in USD</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Commission in %</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Commission in USD</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Damages(1,25% FOB Cost)</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">LC Cost</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Interest Cost</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Testing Cost</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Transport Cost</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Sample Cost</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">Delta after all</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(234, 234, 58, 0.69);">% Delta after all</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(7, 167, 12, 0.69)">Order in Cont.</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(7, 167, 12, 0.69)">Shipped in Cont</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(7, 167, 12, 0.69)">Shipped in Cont  %</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(7, 167, 12, 0.69)">To be shipped in Cont</th>
                                                <th style="font-weight: bold;background-color:rgba(7, 167, 12, 0.69)">To be shipped in Cont %</th>
                                            </tr>
                                            <tr style="background-color:#cee9ff">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><b>Total</b></td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.customerData,'orderQnt40HC') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.customerData,'fobCostUSD') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.customerData,'saleAmountEUR') | currency : '&euro;' : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.customerData,'saleAmountUSD') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.customerData,'saleAmountConvertToEUR') | currency : '&euro;' : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.customerData,'totalTransportEUR') | currency : '&euro;' : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.customerData,'fobAmountUSD') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getPercentage(method.getTotal(data.customerData,'commissionAmountUSD'), method.getTotal(data.customerData,'fobAmountUSD')) | number : 2}}%</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.customerData,'commissionAmountUSD') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.customerData,'damagesCost') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.customerData,'lcCostAmount') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.customerData,'interestAmount') | number : 2}}</td>
                                                <td style="text-align:right;">${{method.getTotal(data.customerData,'inspectionCostUSD') | number : 2}}</td>
                                                <td style="text-align:right;">${{method.getTotal(data.customerData,'transportationInUSD') | number : 2}}</td>
                                                <td style="text-align:right;">${{method.getTotal(data.customerData,'sampleCostUSD') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotalMargin() | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getPercentage(method.getTotalMargin(), method.getTotal(data.customerData,'fobCostUSD')) | number : 2}}%</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.customerData,'orderQnt40HC') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.customerData,'shippedQnt40HC') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getPercentage(method.getTotal(data.customerData,'shippedQnt40HC'), method.getTotal(data.customerData,'orderQnt40HC')) | number : 2}}%</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.customerData,'toBeShippedQnt40HC') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getPercentage(method.getTotal(data.customerData,'toBeShippedQnt40HC'), method.getTotal(data.customerData,'orderQnt40HC')) | number : 2}}%</td>
                                            </tr>
                                            <tr ng-repeat="item in data.customerData | orderBy:'-fobAmountUSD'">
                                                <td style="text-align:left;">{{item.clientNM}}</td>
                                                <td style="text-align:left;">{{item.saleVNNM}}</td>
                                                <td style="text-align:left;">{{item.sale2NM}}</td>
                                                <td style="text-align:left;">{{item.agentNM}}</td>
                                                <td style="text-align:left;">{{item.saleNM}}</td>
                                                <td style="text-align:right">{{item.orderQnt40HC | number : 2}}</td>
                                                <td style="text-align:right;">${{item.fobCostUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.saleAmountEUR | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.saleAmountUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.saleAmountConvertToEUR | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.totalTransportEUR | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.fobAmountUSD | currency:'':2}}</td>
                                                <td style="text-align:right">{{item.commissionPercentage | number : 2}}%</td>
                                                <td style="text-align:right;">${{item.commissionAmountUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.damagesCost | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.lcCostAmount | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.interestAmount | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.inspectionCostUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.transportationInUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.sampleCostUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">${{(item.netGrossMargin != null ) ? item.netGrossMargin : 0 | currency:'':2}}</td>
                                                <td style="text-align:right;">{{(item.netGrossMarginInPercentage != null ) ? item.netGrossMarginInPercentage : 0 | currency:'':2}}%</td>
                                                <td style="text-align:right">{{item.orderQnt40HC | number : 2}}</td>
                                                <td style="text-align:right">{{item.shippedQnt40HC | number : 2}}</td>
                                                <td style="text-align:right">{{item.shippedContInPercentage | number : 2}}%</td>
                                                <td style="text-align:right">{{item.toBeShippedQnt40HC | number : 2}}</td>
                                                <td style="text-align:right">{{item.toBeShippedContInPercentage | number : 2}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</div>

<div ng-if="data.supplierData" class="row" style="margin-top: 15px;">
    <!-- show report for management level -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Supplier</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <fieldset style="padding-top: 0px;">
                        <div class="row">
                            <div class="tilsoft-table">
                                <div style="width: 100%; overflow: scroll; height: auto;margin-top:0px;" class="tilsoft-table-body">
                                    <table style="width: 1030px; margin:0 10px;">
                                        <tbody>
                                            <tr>
                                                <th style="font-weight: bold;width: 150px;background-color:rgba(234, 234, 58, 0.69);">Supplier</th>
                                                <th style="font-weight: bold;width: 150px;background-color:rgba(234, 234, 58, 0.69);">Short Name</th>
                                                <th style="font-weight: bold;width: 120px;background-color:rgba(234, 234, 58, 0.69);">Order in Cont.</th>
                                                <th style="font-weight: bold;width: 120px;background-color:rgba(234, 234, 58, 0.69);">Fob Cost price in USD</th>
                                                <th style="font-weight: bold;width: 120px;background-color:rgba(234, 234, 58, 0.69);">Gross Margin after Commission</th>
                                                <th style="font-weight: bold;width: 120px;background-color:rgba(234, 234, 58, 0.69);">Gross Margin% after Commission</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(7, 167, 12, 0.69)">Shipped in Cont</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(7, 167, 12, 0.69)">Shipped in Cont  %</th>
                                                <th style="font-weight: bold;width: 100px;background-color:rgba(7, 167, 12, 0.69)">To be shipped in Cont</th>
                                                <th style="font-weight: bold;background-color:rgba(7, 167, 12, 0.69)">To be shipped in Cont %</th>
                                            </tr>
                                            <tr style="background-color:#cee9ff">
                                                <td colspan="2"><b>Total</b></td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.supplierData,'orderQnt40HC') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.supplierData,'fobCostUSD') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">${{method.getTotal(data.supplierData,'grossMarginAfterCommissionUSD') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getPercentage(method.getTotal(data.supplierData,'grossMarginAfterCommissionUSD'), method.getTotal(data.supplierData,'fobCostUSD')) | number : 2}}%</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.supplierData,'shippedQnt40HC') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getPercentage(method.getTotal(data.supplierData,'shippedQnt40HC'), method.getTotal(data.supplierData,'orderQnt40HC')) | number : 2}}%</td>
                                                <td style="font-weight:700;text-align:right">{{method.getTotal(data.supplierData,'toBeShippedQnt40HC') | number : 2}}</td>
                                                <td style="font-weight:700;text-align:right">{{method.getPercentage(method.getTotal(data.supplierData,'toBeShippedQnt40HC'), method.getTotal(data.supplierData,'orderQnt40HC')) | number : 2}}%</td>
                                            </tr>
                                            <tr ng-repeat="item in data.supplierData | orderBy:'-fobCostUSD'">
                                                <td style="text-align:left;">{{item.factoryUD}}</td>
                                                <td style="text-align:left;">{{item.factoryName}}</td>
                                                <td style="text-align:right">{{item.orderQnt40HC | number : 2}}</td>
                                                <td style="text-align:right;">${{item.fobCostUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">${{item.grossMarginAfterCommissionUSD | currency:'':2}}</td>
                                                <td style="text-align:right;">{{method.getPercentage(item.grossMarginAfterCommissionUSD,item.fobCostUSD) | number : 2}}%</td>
                                                <td style="text-align:right">{{item.shippedQnt40HC | number : 2}}</td>
                                                <td style="text-align:right;">{{method.getPercentage(item.shippedQnt40HC,item.orderQnt40HC) | number : 2}}%</td>
                                                <td style="text-align:right">{{item.toBeShippedQnt40HC | number : 2}}</td>
                                                <td style="text-align:right;">{{method.getPercentage(item.toBeShippedQnt40HC,item.orderQnt40HC) | number : 2}}%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/mieurofarpriceoverview/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/miEurofarPriceOverviewRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/miEurofarPriceOverviewRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
