@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    ViewBag.Title = "Search Client Permission";
    ViewBag.Module = "Client Permission";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-filter"></i>
                </span>
                <h2>Search Filter</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div class="smart-form">
                        <div class="row">

                            <section class="col col-lg-2">
                                <label class="label">
                                    <strong>Client Code</strong>
                                </label>
                                <label class="input">
                                    <input type="text" class="form-control search-filter" maxlength="255" ng-model="filters.ClientUD">
                                </label>
                            </section>
                            <section class="col col-lg-3">
                                <label class="label">
                                    <strong>Client Name</strong>
                                </label>
                                <label class="input">
                                    <input type="text" class="form-control search-filter" maxlength="255" ng-model="filters.ClientNM">
                                </label>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon">
                    <i class="fa fa-table"></i>
                </span>
                <h2>Search Result</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox"></div>
                <div class="widget-body">
                    <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1042px">
                                <div style="width: 100px"></div>
                                <div style="width: 50px">No</div>
                                <div style="width: 70px">Client Code</div>
                                <div style="width: 350px">Client Name</div>
                                @*<div style="width: 115px">CreatedBy</div>
                                <div style="width: 121px">CreatedDate</div>*@
                                <div style="width: 150px">UpdatedBy</div>
                                <div style="width: 150px">UpdatedDate</div>
                                <div>Remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1042px">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in data | orderBy: 'clientPermissionID':false">
                                            <td style="width: 99px">
                                                <a class="btn btn-primary btn-xs font-11" href="@Url.Action("Edit", "ClientPermissionMng")/{{item.clientPermissionID}}" title="Edit" target="_blank"><i class="fa fa-pencil"></i> Edit</a>                  
                                                <a class="btn btn-danger btn-xs font-11" href="#" title="Delete" ng-click="event.deleterow(item.clientPermissionID, $index)"><i class="fa fa-times"></i> Del</a>
                                                
                                            </td>
                                            <td style="width: 50px; text-align:center">
                                                {{item.clientPermissionID}}
                                            </td>
                                            <td style="width: 70px">
                                                {{item.clientUD}}
                                            </td>
                                            <td style="width: 350px">
                                                {{item.clientNM}}
                                            </td>
                                            @*<td style="width: 115px">
                                                {{item.createdNM}}
                                            </td>
                                            <td style="width: 121px">
                                                {{item.createdDate}}*@
                                            </td>
                                            <td style="width: 150px">
                                                <span ng-show="item.updatedBy != 0 && item.updatedBy != null">{{item.updatorNM}}</span>
                                            </td>
                                            <td style="width: 150px">
                                                <span ng-show="item.updatedBy != 0 && item.updatedBy != null">{{item.updatedDate}}</span>
                                            </td>
                                            <td>
                                                {{item.remark}}
                                            </td>                               
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <span>Found: <b>{{totalRows}}</b> record(s).</span>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction{
    <ul id="sparks">
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Search" ng-click="event.reloadpage()">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="sparks-info">
            <a href="javascript:void(0)" class="btn btn-default" title="Refresh" ng-click="event.reloadpage()">
                <i class="fa fa-refresh"></i>
            </a>
        </li>
        @*<li class="sparks-info">
            <a href="@Url.Action("Edit","ClientPermissionMng")/0" class="btn btn-default" title="New">
                <i class="fa fa-file-o"></i>
            </a>
        </li>*@
    </ul>
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/clientpermission/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID'
        }
    </script>
    <script type="text/javascript" src="~/Views/ClientPermissionMng/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/ClientPermissionMng/service.js?v=@guid"></script>
}