@{
    string season = Library.Helper.GetCurrentSeason();
    if (ViewData["season"] != null)
    {
        season = ViewData["season"].ToString();
    }
    string prevSeason = Library.Helper.GetPreviousSeason(season);
}

<div ng-controller="MiSaleConclusionRpt_GrowExpectedController">    
    <div class="row">
        <div class="col-sm-12" ng-show="!miSaleConclusionRpt.data">
            <h2 style="margin-bottom: 0px;">GROWTH</h2>
        </div>
        <div ng-show="miSaleConclusionRpt.data">
            @*GROWTH*@
            <div class="col-sm-12">
                <h2 style="margin-bottom: 0px;">GROWTH @season COMPARED TO @prevSeason (EXPECTED)</h2>
                <div class="tilsoft-table">
                    <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="font-weight: bold;width:30px">#</th>
                                    <th style="font-weight: bold;width:120px">COUNTRY</th>
                                    <th style="font-weight: bold;width:90px">GROWTH IN USD</th>
                                    <th style="font-weight: bold;width:70px">GROWTH IN %</th>
                                    <th style="font-weight: bold;width:450px">IMPORTANT CLIENTS</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="item in growthIncrease = (miSaleConclusionRpt.growData | filter : { isNegative : false })">
                                    <td style="text-align:right">{{$index+1}}</td>
                                    <td>{{item.clientCountryNM}}</td>
                                    <td style="text-align: right;" class="increase">{{item.growAmount | currency : '$' : 0}}</td>
                                    <td style="text-align: right;" class="increase">{{item.growPercent | number : 0}}%</td>
                                    <td style="text-align:left">
                                        <ul style="padding-left:15px">
                                            <li ng-repeat="cItem in item.clients |  orderBy :'clientNM'">{{cItem.clientUD}} - {{cItem.clientNM}}</li>
                                        </ul>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right; font-weight: bold;" class="increase"> TOTAL: {{growthIncrease | sumFunc : 'growAmount' | currency:'$':0}}</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr ng-repeat="item in growthDecrease = (miSaleConclusionRpt.growData | filter : { isNegative : true })">
                                    <td style="text-align:right">{{$index+1}}</td>
                                    <td>{{item.clientCountryNM}}</td>
                                    <td style="text-align: right;" class="decrease">{{item.growAmount | currency : '$' : 0}}</td>
                                    <td style="text-align: right;" class="decrease">{{item.growPercent | number : 0}}%</td>
                                    <td style="text-align:left">
                                        <ul style="padding-left:15px">
                                            <li ng-repeat="cItem in item.clients |  orderBy :'clientNM'">{{cItem.clientUD}} - {{cItem.clientNM}}</li>
                                        </ul>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: right; font-weight: bold;" class="decrease"> TOTAL: {{growthDecrease | sumFunc : 'growAmount' | currency:'$':0}}</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*TOP 10 CLIENT BY COUNTRY*@
            <div class="col-sm-12">
                <h2 style="margin-bottom: 0px;">TOP 10 CLIENTS BY COUNTRY (EXPECTED - @season)</h2>
                <div class="tilsoft-table">
                    <div style="width: 100%; overflow-y: hidden; height: auto;margin-top:0px" class="tilsoft-table-body">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="font-weight: bold;width:30px">#</th>
                                    <th style="font-weight: bold;width:350px">CLIENT</th>
                                    <th style="font-weight: bold;width:100px">SALE IN EURO</th>
                                    <th style="font-weight: bold;width:50px">%</th>
                                    <th></th>
                                </tr>
                            </tbody>
                            <tbody ng-repeat="country in dataFiltered=(miSaleConclusionRpt.top10ClientByCountry)">
                                <tr>
                                    <td colspan="4" style="font-weight: bold; background: #eef;">{{country.clientCountryNM}}</td>
                                </tr>
                                <tr ng-repeat="item in dataFilteredSub=(country.clients)">
                                    <td style="text-align:right">{{$index+1}}</td>
                                    <td>{{item.clientNM}}</td>
                                    <td style="text-align: right;">{{item.totalAmount | currency:'$':0}}</td>
                                    <td style="text-align: right;">{{item.totalAmount * 100 / (dataFilteredSub | sumFunc : 'totalAmount') | number :0}}%</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="font-weight: bold; text-align: right;">TOTAL {{country.clientCountryNM}}</td>
                                    <td style="font-weight: bold; text-align: right;">{{country.totalAmount | currency:'$':0}}</td>
                                    <td style="font-weight: bold; text-align: right;">{{country.totalAmount * 100 / (dataFiltered | sumFunc : 'totalAmount') | number : 0}}%</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" ng-show="!miSaleConclusionRpt.data">
            <i class="fa fa-spin fa-refresh"></i> LOADING ...
        </div>
    </div>
</div>

<script type="text/javascript">
    var miSaleConclusionRpt_GrowExpected_Context = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/misaleconclusion/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
        param: {
            season: '@season',
        }
    }
</script>

