@{
    string season = Library.Helper.GetCurrentSeason();
    if (ViewData["season"] != null)
    {
        season = ViewData["season"].ToString();
    }
    string prevSeason = Library.Helper.GetPreviousSeason(season);
}

<div ng-controller="MiSaleConclusionRpt_Top20ClientByDeltaController">    
    <div class="row">
        <div class="col col-lg-12">
            <h2 style="margin-bottom: 0px;">TOP 20 CLIENTS BASE ON DELTA 6 (P/I CONFIRMED - @season)</h2>
            <div id="miSaleConclusionRpt_DeltaDistribution_PieChart" ng-show="miSaleConclusionRpt.data"></div>
            <div class="col-sm-12" ng-show="!miSaleConclusionRpt.data">
                <i class="fa fa-spin fa-refresh"></i> LOADING ...
            </div>
        </div>

        <div class="col col-lg-12">
            <h2 style="margin-bottom: 0px;">TOP 10 CLIENTS BASE ON DELTA 6 (P/I CONFIRMED - @season)</h2>
            <div id="miSaleConclusionRpt_DeltaDistribution_StackBarChart" ng-show="miSaleConclusionRpt.data"></div>
            <div class="col-sm-12" ng-show="!miSaleConclusionRpt.data">
                <i class="fa fa-spin fa-refresh"></i> LOADING ...
            </div>
        </div>        
    </div>
</div>

<script type="text/javascript">
    var miSaleConclusionRpt_Top20ClientByDelta_Context = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/misaleconclusion/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
        param: {
            season: '@season',
        }
    }
</script>

