<!-- NEW WIDGET START -->
<style>
    span.label {
        color: inherit;
    }
</style>
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget">
        <header>
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filters</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <section>
                            <label class="label">Meeting Location</label>
                            <div class="inline-group meeting-location">
                                <label class="checkbox" ng-repeat="item in viewmodel.supportData.locations">
                                    <input name="checkbox-inline" type="checkbox" ng-model="item.isSelected" ng-change="event.locationSelect(item)">
                                    <i class="{{$parent.method.getLocationClass(item.meetingLocationID)}}"></i>{{item.meetingLocationNM}}
                                </label>
                            </div>
                        </section>
                        <section ng-show="viewmodel.supportData.locations[3].isSelected" class="col-lg-3">
                            <label class="label">Factory</label>
                            <label class="select">
                                <select id="cboFactoryFilter" class="select2" multiple>
                                    <option ng-repeat="factory in viewmodel.supportData.factories" value="{{factory.factoryID}}">{{factory.factoryUD}}</option>
                                </select>
                                <i></i>
                            </label>
                        </section>
                        <script>
                            runAllForms(); // dirty hack for select 2
                        </script>
                    </fieldset>
                    <footer>
                        <a href="javascript:void(0)" class="btn btn-default" style="float: left;" ng-click="event.applyFilter()">Apply Filter</a>
                        <a href="javascript:void(0)" class="btn btn-default" style="float: left;" ng-click="event.clearFilter()">Clear Filter</a>

                        <a href="#/event/edit/0" class="btn btn-success">Add Event</a>
                        <a href="#/event/visit/0" class="btn btn-primary">Add Person Visit VN</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="jarviswidget">
        <header>
            <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
            <h2>Calendar</h2>
            <div class="widget-toolbar">
                <!-- add: non-hidden - to disable auto hide -->
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                        <i class="fa fa-info-circle"></i> Color Info
                    </button>
                    <ul class="dropdown-menu js-status-update pull-right">
                        <li ng-repeat="item in viewmodel.supportData.locations">
                            <a href="javascript:void(0)">
                                <span class="label {{$parent.method.getLocationClass(item.meetingLocationID)}}" style="display: block;">
                                    {{item.meetingLocationNM}}
                                </span>
                            </a>                            
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div>
            <div class="widget-body no-padding" style="border-top: solid 1px #ccc;">
                <!-- content goes here -->
                <div class="widget-body-toolbar">
                    <div id="calendar-buttons">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.prev()"><i class="fa fa-chevron-left"></i></a>
                            <a href="javascript:void(0)" class="btn btn-default btn-xs" ng-click="event.next()"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div id="calendar"></div>
                <!-- end content -->
            </div>
        </div>
    </div>
</article>
<!-- WIDGET END -->