@{
    ViewBag.Title = "Export Shipment To Be Invoiced";
    ViewBag.Module = "Shipment To Be Invoiced";

    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var pageSize = System.Configuration.ConfigurationManager.AppSettings["DefaultPageSize"];
    var cookieID = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var backendReportUrl = @System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"];
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-sm-4">
                                <label class="label">Season</label>
                                <label class="input">
                                    <select class="form-control" ng-model="filters.season" ng-options="season.seasonValue as season.seasonText for season in listSeasons">
                                        <option value=""></option>
                                    </select>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary btn-xs" style="width: auto;float:left; margin-left:15px;" type="button" ng-click="event.report()" title="Export file to manage Invoice to be shipped">
                                <i class="fa fa-file-excel-o"></i> Export invoice to be shipped
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section FormAction{
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            serviceUrl: '@(serviceRoot)/api/shipmentToBeInvoicedRpt/',
            token: '@token',
            pageSize: '@pageSize',
            cookieID: '@cookieID',
            backendReportUrl: '@backendReportUrl',
        };
    </script>
    <script type="text/javascript" src="~/Angular/app/shipmentToBeInvoicedRpt/index.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/shipmentToBeInvoicedRpt/service.js?v=@guid"></script>
}