<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="ReportPlcProductsEntities" connectionString="metadata=res://*/ReportPlcProducts.csdl|res://*/ReportPlcProducts.ssdl|res://*/ReportPlcProducts.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-7N1D470;initial catalog=TILSOFT;persist security info=True;user id=sa;password=T^^^^66t;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DAL.ReportPlcProducts.Properties.Settings.ReportPlcProductsConnectionString"
      connectionString="Data Source=DESKTOP-7N1D470;Initial Catalog=TILSOFT;Persist Security Info=True;User ID=sa;Password=T^^^^66t"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>