@{
    ViewBag.Title = "Client Condition Checklist";
    ViewBag.Module = "Client Condition Checklist";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-search-filter" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Filters</h2>
            </header>

            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section class="col col-4">
                                <label class="label">Season</label>
                                <label class="select">
                                    <select class="form-control" ng-model="selection.season" ng-options="season.seasonValue as season.seasonText for season in seasons"></select>
                                    <i></i>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateHtml($event)" style="float: none;"><i class="fa fa-bar-chart-o"></i> Html Version</a>
                            <a href="javascript:void(0)" class="btn btn-primary" ng-click="event.generateExcel($event)" style="float: none;"><i class="fa fa-file-excel-o"></i> Excel Version</a>
                        </footer>
                        <fieldset ng-if="data" style="padding-top: 0px;">
                            <div class="row">
                                <div class="tilsoft-table">
                                    <div style="width: 100%; overflow: scroll; height: 500px;" class="tilsoft-table-body">
                                        <table style="width: 100%;">
                                            <tbody>
                                                <tr>
                                                    <th style="font-weight: bold;width: 80px">INVOICE NO</th>
                                                    <th style="font-weight: bold;width: 80px">INVOICE DATE</th>
                                                    <th style="font-weight: bold;width: 80px">P/I</th>
                                                    <th style="font-weight: bold;">CHANGED FIELD</th>
                                                    <th style="font-weight: bold;">P/I VALUE</th>
                                                    <th style="font-weight: bold;">INVOICE VALUE</th>
                                                </tr>
                                                <tr ng-repeat="item in data.checkLists">
                                                    <td style="text-align:center;">{{item.invoiceNo}}</td>
                                                    <td style="text-align:center;">{{item.invoiceDate}}</td>
                                                    <td style="text-align:center;">{{item.proformaInvoiceNo}}</td>
                                                    <td style="text-align:left;">{{item.changeField}}</td>
                                                    <td style="text-align:left;">{{item.saleOrderValue}}</td>
                                                    <td style="text-align:left;">{{item.eCommercialInvoiceValue}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

@section pagejs {
    <script src="~/Angular/app/jsonService.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script type="text/javascript">
        jsonService.serviceUrl = '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/clientcondition/';
        jsonService.token = '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]';
        var context = {
            backendReportUrl: '@System.Configuration.ConfigurationManager.AppSettings["BackendReportUrl"]'
        }
    </script>
    <script src="~/Angular/app/clientConditionRpt/service.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
    <script src="~/Angular/app/clientConditionRpt/index.js?c=@System.Guid.NewGuid().ToString().Replace("-", "")"></script>
}
