@Styles.Render("~/Views/PurchaseInvoiceMng/css/daterangepicker.css")
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-database"></i>
            </span>
            <h2>Search PurchaseOrder</h2>
        </header>
        <div>
            <div class="widget-body-toolbar">
                <a class="btn btn-warning btn-sm" href="#/"><i class="fa fa-times"></i> Cancel</a>
                <a class="btn btn-primary btn-sm" href="javascript:void(0)" ng-click="event.reload()"><i class="fa fa-search"></i> Search Order Items</a>
                <a class="btn btn-success btn-sm" href="#/" ng-click="event.ok()"><i class="fa fa-check"></i> OK</a>
            </div>
            <div class="widget-body">
                <div class="smart-form">
                    <div class="row">
                        <section class="col col-lg-12">
                            <div class="tilsoft-table-wrapper" avs-scroll grid-handler="gridHandler">
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-header" style="width: 1930px;">
                                        <div style="width: 80px;">
                                            <label class="checkbox">
                                                <input type="checkbox"
                                                       ng-model="isAllSelected"
                                                       ng-click="event.selectAll()">
                                                <i style="top:8px; left:17px"></i>
                                            </label>
                                        </div>
                                        <div style="width: 130px;" class="sorting" data-colname="purchaseOrderUD">PO Code</div>
                                        <div style="width: 150px;" class="sorting" data-colname="purchaseOrderDate">PO Date</div>
                                        <div style="width: 150px;" class="sorting" data-colname="receivingNoteDate">Receiving / Delivery Date</div>
                                        <div style="width: 150px;" class="sorting" data-colname="receivingNote">Receiving / Delivery Note</div>
                                        <div style="width: 120px;" class="sorting" data-colname="productionItemUD">Item Code</div>
                                        <div style="width: 300px;" class="sorting" data-colname="productionItemNM">Item Name</div>
                                        <div style="width: 80px;" class="sorting" data-colname="unitNM">Unit</div>
                                        <div style="width: 110px;" class="sorting" data-colname="orderQnt">Quantity</div>
                                        <div style="width: 120px;" class="sorting" data-colname="receivedQnt">Received / Delivery QNT</div>
                                        <div style="width: 120px;" class="sorting" data-colname="invoiceQnt">Invoice / Return QNT</div>
                                        <div style="width: 100px;" class="sorting" data-colname="remainQnt">Remain QNT</div>
                                        <div style="width: 140px;" class="sorting" data-colname="totalReceivedQnt">Total Received / Delivery Qnt</div>
                                        <div style="width: 100px;" class="sorting" data-colname="poPrice">Price</div>
                                        <div>Remark</div>
                                    </div>

                                    <div class="tilsoft-table-filter" style="width: 1930px">
                                        <div style="text-align: center; width: 80px; vertical-align:middle">
                                            <a href="javascript:void(0)" class="btn btn-{{isDefaultFilter?'default':'primary'}} btn-xs" title="Apply Filter" ng-click="event.reload()"><i class="fa fa-filter"></i></a>
                                            <a href="javascript:void(0)" class="btn btn-default btn-xs" title="Clear Filter" ng-click="event.clearFilter()"><i class="fa fa-ban"></i></a>
                                        </div>
                                        <div style="width: 130px; text-align: center"><input type="text" ng-model="filters.purchaseOrderUD" class="form-control search-filter" /></div>
                                        <div style="width: 150px; text-align: center; padding:0px">
                                            <div class="input-group" style="border:none">
                                                <input type="text" class="form-control search-filter" style="width:100%" avs-calendar ng-data-source="filters.purchaseOrderDate" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div style="width: 150px" class="demo">
                                            <input type="text" name="datefilter" value="" class="form-control search-filter" />
                                        </div>
                                        <div style="width: 150px; text-align: center"><input type="text" ng-model="filters.receivingNoteUD" class="form-control search-filter" /></div>
                                        <div style="width: 120px; text-align: center"><input type="text" ng-model="filters.productionItemUD" class="form-control search-filter" /></div>
                                        <div style="width: 300px; text-align: center"><input type="text" ng-model="filters.productionItemNM" class="form-control search-filter" /></div>
                                        <div style="width: 80px"></div>
                                        <div style="width: 110px"></div>
                                        <div style="width: 120px"></div>
                                        <div style="width: 120px"></div>
                                        <div style="width: 100px"></div>
                                        <div style="width: 140px"></div>
                                        <div style="width: 100px"></div>
                                        <div></div>
                                    </div>

                                    <div class="tilsoft-table-body" style="width: 1930px; margin-top: 95px;">
                                        <table>
                                            <tbody ng-repeat="item in searchResult">
                                                <tr ng-if="item.type == 1" style="background-color:lightgray">
                                                    <td style="width:79px;text-align:center;vertical-align:top">
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-model="item.isSelected">
                                                            <i style="top:0px; left:20px"></i>
                                                        </label>
                                                    </td>
                                                    <td style="text-align: center; width: 130px">{{item.purchaseOrderUD}}</td>
                                                    <td style="text-align: center; width: 150px">{{item.purchaseOrderDate}}</td>
                                                    <td style="text-align: left; width: 150px">{{item.receivingNoteDate}}</td>
                                                    <td style="text-align: center; width: 150px">{{item.receivingNoteUD}}</td>
                                                    <td style="text-align: left; width: 120px">{{item.productionItemUD}}</td>
                                                    <td style="text-align: left; width: 300px">{{item.productionItemNM}}</td>
                                                    <td style="text-align: center; width: 80px">{{item.unitNM}}</td>
                                                    <td style="text-align: right; width: 110px">{{item.orderQnt | number : 2}}</td>
                                                    <td style="text-align: right; width: 120px">{{item.receivedQNT | number : 2}}</td>
                                                    <td style="text-align: right; width: 120px">{{item.invoiceQNT | number : 2}}</td>
                                                    <td style="text-align: right; width: 100px">{{item.remainQNT | number : 2}}</td>
                                                    <td style="text-align: right; width: 140px">{{item.totalReceivedQnt | number : 2}}</td>
                                                    <td style="text-align: right; width: 100px">{{item.poPrice | number}}</td>
                                                    <td></td>
                                                </tr>
                                                <tr ng-if="item.type == 0">
                                                    <td style="width:79px;text-align:center;vertical-align:top">
                                                        <label class="checkbox">
                                                            <input type="checkbox" ng-model="item.isSelected">
                                                            <i style="top:0px; left:20px"></i>
                                                        </label>
                                                    </td>
                                                    <td style="text-align: center; width: 130px">{{item.purchaseOrderUD}}</td>
                                                    <td style="text-align: center; width: 150px">{{item.purchaseOrderDate}}</td>
                                                    <td style="text-align: left; width: 150px">{{item.receivingNoteDate}}</td>
                                                    <td style="text-align: center; width: 150px">{{item.receivingNoteUD}}</td>
                                                    <td style="text-align: left; width: 120px">{{item.productionItemUD}}</td>
                                                    <td style="text-align: left; width: 300px">{{item.productionItemNM}}</td>
                                                    <td style="text-align: center; width: 80px">{{item.unitNM}}</td>
                                                    <td style="text-align: right; width: 110px">{{item.orderQnt | number : 2}}</td>
                                                    <td style="text-align: right; width: 120px">{{item.receivedQNT | number : 2}}</td>
                                                    <td style="text-align: right; width: 120px">{{item.invoiceQNT | number : 2}}</td>
                                                    <td style="text-align: right; width: 100px">{{item.remainQNT | number : 2}}</td>
                                                    <td style="text-align: right; width: 140px">{{item.totalReceivedQnt | number : 2}}</td>
                                                    <td style="text-align: right; width: 100px">{{item.poPrice | number}}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>