@{
    var guid = Guid.NewGuid().ToString().Replace("-", "");
    var serviceRoot = System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"];
    var token = Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION];
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);

    ViewBag.Title = "Create new Specification Of Product";
    ViewBag.Module = "Specification Of Product";
}

<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        /*font-weight: normal;*/
        line-height: 18px;
        /*color: #555555;*/
        white-space: nowrap;
        font-size: 11px;
    }

    .modal-dialog {
        top: 100px !important
    }
</style>

<form class="row" name="editForm">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-general" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
            <header>
                <h2>Select item to create Specification Of Product</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">Factory</label>
                                    <label class="select2-container">
                                        <select class="select2" ng-model="factoryID" ng-options="factory.factoryID as factory.factoryUD for factory in factories">
                                            <option value=""></option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-8">
                                    <label class="label">Sample Code/Name</label>
                                    <label class="input">
                                        <input type="text" ng-model="data.articleDescription" placeholder="Provide at least 3 chars to search for the Sample" autocomplete="off" ng-keyup="quickSearchSample.event.searchBoxKeyUp()" id="txtSample" />
                                        <input type="hidden" ng-model="data.sampleProductID" name="sampleProductID" required />
                                        <i class="icon-append fa fa-search"></i>
                                    </label>
                                    <!--// BEGIN: Sample quick search dialog -->
                                    <div id="sample-popup" class="popup-container-2" style="width:100%; max-width:700px">
                                        <div style="float: right; margin-bottom: 8px;">
                                            <a ng-click="quickSearchSample.event.close($event, true)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-remove"></i> Close</a>
                                        </div>
                                        <div class="clear"></div>
                                        <div id="quickSearchSampleTable" class="tilsoft-table-wrapper">
                                            <div class="tilsoft-table">
                                                <div class="tilsoft-table-header" style="width: 360px;">
                                                    <div style="width: 70px;"></div>
                                                    <div style="width: 150px;">Sample UD</div>
                                                    <div>Sample NM</div>
                                                </div>
                                                <div class="tilsoft-table-body" style="width: 360px;">
                                                    <table>
                                                        <tr ng-repeat="item in quickSearchSample.data">
                                                            <td style="width: 70px; text-align: center;"><a ng-click="quickSearchSample.event.ok($event, item.sampleProductID)" class="btn btn-primary btn-xs" href="javascript:void(0);"><i class="fa fa-check"></i> Select</a></td>
                                                            <td style="width: 150px;">{{item.optionUD}}</td>
                                                            <td>{{item.optionNM}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--// END: Sample quick search dialog -->
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary" type="button" ng-click="event.goNext()">
                                Next
                            </button>
                            <button class="btn btn-default" type="button" ng-click="event.goBack()">
                                Cancel
                            </button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>


@section FormAction{
}

@section pagejs{
    <script type="text/javascript">
        var context = {
            token: '@token',
            serviceUrl: '@(serviceRoot)/api/SpecificationOfProductMng/',
            supportServiceUrl: '@(serviceRoot)/api/support/',
            backURL: '@Url.Action("Index", "SpecificationOfProductMng")',
            nextURL: '@Url.Action("Edit", "SpecificationOfProductMng")/0?'
        }
    </script>
    <script type="text/javascript" src="~/Views/SpecificationOfProductMng/init.js?v=@guid"></script>
    <script type="text/javascript" src="~/Angular/app/jsonService2.js?v=@guid"></script>
    <script type="text/javascript" src="~/Views/SpecificationOfProductMng/service.js?v=@guid"></script>

}
