@using Frontend.Helper;
@{
                /**/

                var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
                string currentSeason = Library.Helper.GetCurrentSeason();
                string nextSeason = Library.Helper.GetNextSeason(currentSeason);
                string prevSeason = Library.Helper.GetPreviousSeason(currentSeason);

                if (DateTime.Now.Month == 8)
                {
                    currentSeason = nextSeason;
                }
                nextSeason = Library.Helper.GetNextSeason(currentSeason);
                prevSeason = Library.Helper.GetPreviousSeason(currentSeason);
                Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
                int factoryID = userInfo.Data.FactoryID;
}


<div class="row" ng-controller="deltaChartController">
    <div class="col-md-12" id="widget-deltaChart-container" style="display:none">
        <br />

        <div class="well padding-10">
            <h2>DELTA CHART</h2>
            <div id="chartDetal" style="min-width: 310px; height: 500px; margin: 0 auto;"></div>
        </div>
    </div>

    <div class="col-md-12" id="widget-deltaChart-loading">
        <fieldset>
            <section class="col col-sm-5">
                <i class="fa fa-spin fa-refresh"></i> LOADING ...
            </section>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
var deltaChartContext = {
serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/dashboardmng/',
token: '@ViewBag.Token',
currentSeason: '@currentSeason',
prevSeason: '@prevSeason',
nextSeason: '@nextSeason',
factoryID: @factoryID
}
</script>
