@using Frontend.Helper;
@{
    var supportServiceRoot = (System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"]);
    string currentSeason = Library.Helper.GetCurrentSeason();
    string nextSeason = Library.Helper.GetNextSeason(currentSeason);
    string prevSeason = Library.Helper.GetPreviousSeason(currentSeason);

    if (DateTime.Now.Month == 8)
    {
        currentSeason = nextSeason;
    }
    nextSeason = Library.Helper.GetNextSeason(currentSeason);
    prevSeason = Library.Helper.GetPreviousSeason(currentSeason);
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)Session[Frontend.Customize.Common.ProjectDefinition.USER_INFO_SESSION];
    int factoryID = userInfo.Data.FactoryID;
}


<div class="row" ng-controller="factoryPerformanceController">
    <div class="col-md-12" id="widget-factoryPerformance-container" style="display:none">
        <br />

        <div class="well padding-10">
            <h2>SHIPPED CONTAINERS</h2>
            <div id="highchartAnnualShipped" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
            <br />
            <div class="tilsoft-table">
                <div class="tilsoft-table-body" style="margin-top: 0px; height: auto;">
                    <table style="width: 100%;">
                        <tr>
                            <th rowspan="2">
                                Factory
                                <br />
                                <div class="note" style="text-transform: none;">
                                    (click to view weekly report)
                                </div>
                            </th>
                            <th colspan="3">Shipped Container</th>
                            <th rowspan="2">Produced Container</th>
                        </tr>
                        <tr>
                            <th>Last Season</th>
                            <th>Current Season</th>
                            <th style="border-right: solid 1px #ddd;">%</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">{{factoryPerformance.shippedTotal.factoryUD}}</td>
                            <td style="text-align: right;">{{factoryPerformance.shippedTotal.totalShippedQnt40HCLastSeason | currency:'':2}}</td>
                            <td style="text-align: right;">{{factoryPerformance.shippedTotal.totalShippedQnt40HC | currency:'':2}}</td>
                            <td style="text-align: right;">{{(factoryPerformance.shippedTotal.totalShippedQnt40HCLastSeason ? (factoryPerformance.shippedTotal.totalShippedQnt40HC * 100 / factoryPerformance.shippedTotal.totalShippedQnt40HCLastSeason) : '') | currency:'':2}} %</td>
                            <td style="text-align: right;">{{shippedTotal.totalProducedQnt40HC | currency:'':2}}</td>
                        </tr>
                        <tr ng-repeat="item in factoryPerformance.data.annualShippedData">
                            <td style="text-align: center;"><a href="javascript:void(0)" title="Weekly report for shipped container: {{$parent.factoryPerformance.method.getFactoryInfo(item.factoryID).factoryUD}}" ng-click="$parent.factoryPerformance.event.generateWeeklyShipped(item.factoryID)">{{$parent.factoryPerformance.method.getFactoryInfo(item.factoryID).factoryUD}}</a></td>
                            <td style="text-align: right;">{{item.totalShippedQnt40HCLastSeason | currency:'':2}}</td>
                            <td style="text-align: right;">{{item.totalShippedQnt40HC | currency:'':2}}/{{item.totalShippCont | currency:'':2}}</td>
                            <td style="text-align: right;">{{(item.totalShippedQnt40HCLastSeason ? (item.totalShippedQnt40HC * 100 / item.totalShippedQnt40HCLastSeason) : '') | currency:'':2}} %</td>
                            <td style="text-align: right;">{{item.totalProducedQnt40HC | currency:'':2}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <br />

            <div id="highchartWeeklyShipped" style="min-width: 310px; height: 500px; margin: 0 auto; display: none;"></div>
            <br />
            <div id="highchartWeeklyShipped2nd" style="min-width: 310px; height: 500px; margin: 0 auto; display: none;"></div>
            <br />
            <div id="highchartWeeklyShipped3rd" style="min-width: 310px; height: 500px; margin: 0 auto; display: none;"></div>
            <br />
            <div class="tilsoft-table" id="datatableWeeklyShipped" style="display: none;">
                <div class="tilsoft-table-body" style="margin-top: 0px; height: auto;">
                    <table style="width: 3790px;">
                        <tr>
                            <th style="width: 150px;">&nbsp;</th>
                            <th ng-repeat="item in factoryPerformance.data.weekInfoData" style="text-align: center; width: 70px;">{{item.weekIndex}}</th>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Last Season</td>
                            <td style="text-align: right;" ng-repeat="item in factoryPerformance.data.weeklyShippedData" ng-if="item.factoryID == $parent.factoryPerformance.selection.factory.factoryID">{{item.totalShippedQnt40HCLastSeason | currency:'':2}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Current Season</td>
                            <td style="text-align: right;" ng-repeat="item in factoryPerformance.data.weeklyShippedData" ng-if="item.factoryID == $parent.factoryPerformance.selection.factory.factoryID">{{item.totalShippedQnt40HC | currency:'':2}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">%</td>
                            <td style="text-align: right;" ng-repeat="item in factoryPerformance.data.weeklyShippedData" ng-if="item.factoryID == $parent.factoryPerformance.selection.factory.factoryID">{{(item.totalShippedQnt40HCLastSeason ? item.totalShippedQnt40HC * 100 / item.totalShippedQnt40HCLastSeason : '') | currency:'':2}} %</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Produced Current Season</td>
                            <td style="text-align: right;" ng-repeat="item in factoryPerformance.data.weeklyShippedData" ng-if="item.factoryID == $parent.factoryPerformance.selection.factory.factoryID">{{item.totalProducedQnt40HC | currency:'':2}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <br />

        <style>
            .capacity-monitoring .tilsoft-table-header, .capacity-monitoring .tilsoft-table-filter, .capacity-monitoring .tilsoft-table-body {
                width: {{530 + 250 * factoryPerformance.capacityMonitoringHeaders.length}}px;
            }

                .capacity-monitoring .tilsoft-table-header > div {
                    height: 90px !important;
                    text-align: center !important;
                }

                .capacity-monitoring .tilsoft-table-filter > div {
                    height: 30px !important;
                    text-align: right !important;
                }

            .capacity-monitoring .tilsoft-table-body {
                margin-top: 120px !important;
            }

                .capacity-monitoring .tilsoft-table-header > div:nth-child(1),
                .capacity-monitoring .tilsoft-table-filter > div:nth-child(1),
                .capacity-monitoring .tilsoft-table-body table > tbody > tr > td:nth-child(1) {
                    width: 100px;
                    text-align: center;
                }

                .capacity-monitoring .tilsoft-table-header > div:nth-child(2),
                .capacity-monitoring .tilsoft-table-filter > div:nth-child(2),
                .capacity-monitoring .tilsoft-table-body table > tbody > tr > td:nth-child(2) {
                    width: 80px;
                    text-align: right;
                }

                .capacity-monitoring .tilsoft-table-header > div:nth-child(3),
                .capacity-monitoring .tilsoft-table-filter > div:nth-child(3),
                .capacity-monitoring .tilsoft-table-body table > tbody > tr > td:nth-child(3) {
                    width: 80px;
                    text-align: right;
                }

                .capacity-monitoring .tilsoft-table-header > div:nth-child(4),
                .capacity-monitoring .tilsoft-table-filter > div:nth-child(4),
                .capacity-monitoring .tilsoft-table-body table > tbody > tr > td:nth-child(4) {
                    width: 80px;
                    text-align: right;
                }

                .capacity-monitoring .tilsoft-table-header > div:nth-child(5),
                .capacity-monitoring .tilsoft-table-filter > div:nth-child(5),
                .capacity-monitoring .tilsoft-table-body table > tbody > tr > td:nth-child(5) {
                    width: 100px;
                    text-align: right;
                }

                .capacity-monitoring .tilsoft-table-header > div:nth-child(6),
                .capacity-monitoring .tilsoft-table-filter > div:nth-child(6),
                .capacity-monitoring .tilsoft-table-body table > tbody > tr > td:nth-child(6) {
                    width: 80px;
                    text-align: right;
                }
        </style>

        <div class="well padding-10">
            <h2>CAPACITY MONITORING</h2>
            <div class="no-padding">
                <div class="widget-body capacity-monitoring" style="padding-bottom: 0px;">
                    <div avs-scroll grid-handler="gridHandler" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="background: #eee;">
                                <div>Factory</div>
                                <div>Capacity<br />(1)</div>
                                <div>Order<br />(2)</div>
                                <div>Pre-Order<br />(3)</div>
                                <div>Pre-Produced<br />(4)</div>
                                <div>Delta<br />(5)</div>

                                <div class="no-padding" style="width: 250px;" ng-repeat="wItem in factoryPerformance.capacityMonitoringHeaders">
                                    <div class="no-padding" style="width: 100%; height: 30px; border-right: none; line-height: 30px;">{{wItem.weekIndex}}</div>
                                    <div class="no-padding" style="width: 100%; height: 30px; border-right: none; line-height: 30px;">{{wItem.weekStart}} - {{wItem.weekEnd}}</div>

                                    <div class="no-padding" style="width: 100%; height: 30px;">
                                        <div class="no-padding" style="width: 50px; text-align: center; height: 30px; line-height: 30px;">1</div>
                                        <div class="no-padding" style="width: 50px; text-align: center; height: 30px; line-height: 30px;">2</div>
                                        <div class="no-padding" style="width: 50px; text-align: center; height: 30px; line-height: 30px;">3</div>
                                        <div class="no-padding" style="width: 50px; text-align: center; height: 30px; line-height: 30px;">4</div>
                                        <div class="no-padding" style="text-align: center; height: 30px; line-height: 30px;">5</div>
                                    </div>
                                </div>

                                <div>&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-filter" style="background: #eee;">
                                <div>TOTAL</div>
                                <div>{{factoryPerformance.capacityMonitoringTotalRow.totalCapacity | number:2}}</div>
                                <div>{{factoryPerformance.capacityMonitoringTotalRow.totalOrder | number:2}}</div>
                                <div>{{factoryPerformance.capacityMonitoringTotalRow.totalPreOrder | number:2}}</div>
                                <div>{{factoryPerformance.capacityMonitoringTotalRow.totalPreProduced | number:2}}</div>
                                <div>{{factoryPerformance.capacityMonitoringTotalRow.totalDelta | number:2}}</div>
                                <div style="width: 50px; text-align: right; color: {{item.type === 5 ? (item.qnt < 0 ? '#ff0000' : '#0000ff') : '#000000'}};" ng-repeat="item in factoryPerformance.capacityMonitoringTotalRow.weeklyDetail">{{item.qnt | number:2}}</div>

                                <div>&nbsp;</div>
                            </div>
                            <div class="tilsoft-table-body">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="item in factoryPerformance.data.totalCapacityAndOrderDatas">
                                            <td>{{item.factoryUD}}</td>
                                            <td>{{item.totalCapacity | number:2}}</td>
                                            <td>{{item.totalOrderQnt | number:2}}</td>
                                            <td>{{item.totalPreOrderQnt | number:2}}</td>
                                            <td>{{item.totalPreProducedQnt | number:2}}</td>
                                            <td style="color: {{item.totalDeltaQnt < 0 ? '#ff0000':'#0000ff'}};">{{item.totalDeltaQnt | number:2}}</td>

                                            <td style="width: 50px; text-align: right; color: {{sItem.type === 5 ? (sItem.qnt < 0 ? '#ff0000' : '#0000ff') : '#000000'}};" ng-repeat="sItem in item.detail">{{sItem.qnt | number:2}}</td>

                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="well padding-10">
                <h2>PRODUCED CONTAINERS</h2>
                <div id="highchartAnnualProduced" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
                <br />
                <div class="tilsoft-table">
                    <div class="tilsoft-table-body" style="margin-top: 0px; height: auto;">
                        <table style="width: 100%;">
                            <tr>
                                <th rowspan="2">
                                    Factory
                                    <br />
                                    <div class="note" style="text-transform: none;">
                                        (click to view weekly report)
                                    </div>
                                </th>
                                <th colspan="2">Produced Container</th>
                                <th rowspan="2">%</th>
                            </tr>
                            <tr>
                                <th style="border-right: solid 1px #ddd;">Last Season</th>
                                <th>Current Season</th>
                            </tr>
                            <tr ng-repeat="item in factoryPerformance.data.annualProducedData">
                                <td style="text-align: center;"><a href="javascript:void(0)" title="Weekly report for shipped container: {{$parent.factoryPerformance.method.getFactoryInfo(item.factoryID).factoryUD}}" ng-click="$parent.factoryPerformance.event.generateWeeklyProduced(item.factoryID)">{{$parent.factoryPerformance.method.getFactoryInfo(item.factoryID).factoryUD}}</a></td>
                                <td style="text-align: right;">{{item.totalProducedQnt40HCLastSeason | currency:'':2}}</td>
                                <td style="text-align: right;">{{item.totalProducedQnt40HC | currency:'':2}}</td>
                                <td style="text-align: right;">{{(item.totalProducedQnt40HCLastSeason ? (item.totalProducedQnt40HC * 100 / item.totalProducedQnt40HCLastSeason) : '') | currency:'':2}} %</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <br />

                <div id="highchartWeeklyProduced" style="min-width: 310px; height: 500px; margin: 0 auto; display: none;"></div>
                <br />
                <div class="tilsoft-table" id="datatableWeeklyProduced" style="display: none;">
                    <div class="tilsoft-table-body" style="margin-top: 0px; height: auto;">
                        <table style="width: 3790px;">
                            <tr>
                                <th style="width: 150px;">&nbsp;</th>
                                <th ng-repeat="item in factoryPerformance.data.weekInfoData" style="text-align: center; width: 70px;">{{item.weekIndex}}</th>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Last Season</td>
                                <td style="text-align: right;" ng-repeat="item in factoryPerformance.data.weeklyProducedData" ng-if="item.factoryID == $parent.factoryPerformance.selection.factoryProduced.factoryID">{{item.totalProducedQnt40HCLastSeason | currency:'':2}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Current Season</td>
                                <td style="text-align: right;" ng-repeat="item in factoryPerformance.data.weeklyProducedData" ng-if="item.factoryID == $parent.factoryPerformance.selection.factoryProduced.factoryID">{{item.totalProducedQnt40HC | currency:'':2}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">%</td>
                                <td style="text-align: right;" ng-repeat="item in factoryPerformance.data.weeklyProducedData" ng-if="item.factoryID == $parent.factoryPerformance.selection.factoryProduced.factoryID">{{(item.totalProducedQnt40HCLastSeason ? item.totalProducedQnt40HC * 100 / item.totalProducedQnt40HCLastSeason : '') | currency:'':2}} %</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" id="widget-factoryPerformance-loading">
        <fieldset>
            <section class="col col-sm-5">
                <i class="fa fa-spin fa-refresh"></i> LOADING ...
            </section>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
        var factoryPerformanceContext = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/dashboardmng/',
        token: '@ViewBag.Token',
        currentSeason: '@currentSeason',
        prevSeason: '@prevSeason',
        nextSeason: '@nextSeason',
        factoryID: @factoryID
    }
</script>
