@{
    Frontend.APIDTO.APIUserInformation userInfo = (Frontend.APIDTO.APIUserInformation)ViewBag.CurrentLoginUserInfo;
    string currentSeason = Library.Helper.GetCurrentSeason();
}

<style>
    #widget-itemDetalNeedAttention-container tr.header-row td {
        height: 75px;
    }
</style>
<div class="col-sm-12" ng-controller="itemDetalNeedAttentionController">
    <div class="well" style="padding: 10px;">
        <h1 style="margin-top: 0px;">ITEM DELTA (DELTA 6) NEED ATTENTION (@currentSeason)</h1>
        <div class="avs-table-wrapper" avs-table grid-handler="itemDetalNeedAttention.gridHandler" id="widget-itemDetalNeedAttention-container" style="display:none">
            <div class="avs-table-header">
                <div class="avs-table-header-container">
                    <table>
                        <tr class="header-row">
                            <td style="width: 60px;">Image</td>
                            <td style="width: 400px;" class="sorting" data-colname="Description">Item</td>
                            <td style="width: 200px;" class="sorting" data-colname="ClientNM">Client</td>
                            <td style="width: 150px;" class="sorting" data-colname="OfferUD">Offer</td>
                            <td style="width: 100px;" class="sorting" data-colname="ProformaInvoiceNo">P/I</td>
                            <td style="width: 70px;" class="sorting" data-colname="PIStatus">P/I Status</td>
                            <td style="width: 60px;" class="sorting" data-colname="OrderQnt">Qnt</td>
                            <td style="width: 60px;" class="sorting" data-column="OrderQnt40HC">Qnt / 40HC</td>
                            <td style="width: 70px;" class="sorting_desc" data-colname="Delta5Percent">% Delta 6</td>
                            <td style="width: 70px;" class="sorting" data-colname="LDS">LDS</td>
                            <td style="width: 70px;" class="sorting" data-colname="SalePrice">Sale Price</td>
                            <td style="width: 60px;" class="sorting" data-colname="Currency">Curr</td>
                            <td style="width: 80px;" class="sorting" data-colname="FactoryUD">Factory</td>
                            <td style="width: 70px;" class="sorting" data-colname="PurchasingPriceUSD">Pur Price ($)</td>
                            <td style="width: 70px;" class="sorting" data-colname="CommissionUSD">Comm ($)</td>
                            <td style="width: 70px;" class="sorting" data-colname="InterestUSD">Interest ($)</td>
                            <td style="width: 70px;" class="sorting" data-colname="LCCostUSD">L/C ($)</td>
                            <td style="width: 70px;" class="sorting" data-colname="DamageCost">Damage ($)</td>
                            <td style="width: 70px;" class="sorting" data-colname="TransportationUSD">Transport ($)</td>
                        </tr>
                        <tr class="filter-row">
                            <td style="text-align: center;"><strong>{{itemDetalNeedAttention.searchParam.totalRows | number}}</strong></td>
                            <td><input type="text" ng-model="itemDetalNeedAttention.filters.Description" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)" /></td>
                            <td><input type="text" ng-model="itemDetalNeedAttention.filters.ClientNM" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)" /></td>
                            <td><input type="text" ng-model="itemDetalNeedAttention.filters.OfferUD" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)" /></td>
                            <td><input type="text" ng-model="itemDetalNeedAttention.filters.ProformaInvoiceNo" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)" /></td>
                            <td>
                                <select ng-model="itemDetalNeedAttention.filters.PIStatus" ng-options="item.value as item.text for item in itemDetalNeedAttention.PIStatusFilters" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="itemDetalNeedAttention.filters.OrderQnt" ng-options="item.value as item.text for item in itemDetalNeedAttention.OrderQntFilters" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="itemDetalNeedAttention.filters.OrderQnt40HC" ng-options="item.value as item.text for item in itemDetalNeedAttention.OrderQnt40HCFilters" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="itemDetalNeedAttention.filters.Delta5Percent" ng-options="item.value as item.text for item in itemDetalNeedAttention.Delta5PercentFilters" ng-keypress="itemDetalNeedAttention.event.triggerReload($event)">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="avs-table-body">
                <table>
                    <tr ng-repeat="item in itemDetalNeedAttention.data">
                        <td>
                            <a href="{{item.fileLocation}}" data-featherlight="image">
                                <img style="width: 95%" ng-src="{{item.thumbnailLocation}}" />
                            </a>
                        </td>
                        <td>
                            <strong>{{item.articleCode}}</strong>
                            <br />
                            {{item.description}}
                        </td>
                        <td>
                            <a target="_blank" href="@Url.Action("Edit", "Client")/{{item.clientID}}"><strong>{{item.clientUD}}</strong></a>
                            <br />
                            {{item.clientNM}}
                        </td>
                        <td style="text-align: center;">
                            <a target="_blank" href="@Url.Action("Edit", "OfferToClientMng")/{{item.offerID}}?clientID={{item.clientID}}&season={{item.season}}&currency={{item.currency}}">{{item.offerUD}}</a>
                        </td>
                        <td style="text-align: center;">{{item.proformaInvoiceNo}}</td>
                        <td style="text-align: center;">
                            <span ng-if="item.piStatus === -1">NOT AVAILABLE</span>
                            <span ng-if="item.piStatus === 0">PENDING</span>
                            <span ng-if="item.piStatus === 1">CONFIRMED</span>
                        </td>
                        <td style="text-align: right;">{{item.orderQnt | number}}</td>
                        <td style="text-align: right;">{{item.orderQnt40HC | number:2}}</td>
                        <td style="text-align: right; {{item.delta5Percent < 0 ? 'color: #ff0000;' : ''}}">{{item.delta5Percent | number:2}}%</td>
                        <td style="text-align: center;">{{item.lds}}</td>
                        <td style="text-align: right;">{{item.salePrice | currency:(item.currency === 'USD'? '$' : '&euro;'):2}}</td>
                        <td style="text-align: center;">{{item.currency}}</td>
                        <td style="text-align: center;">{{item.factoryUD}}</td>
                        <td style="text-align: right;">{{item.purchasingPriceUSD | currency:'$':2}}</td>
                        <td style="text-align: right;">{{item.commissionUSD | currency:'$':2}}</td>
                        <td style="text-align: right;">{{item.interestUSD | currency:'$':2}}</td>
                        <td style="text-align: right;">{{item.lcCostUSD | currency:'$':2}}</td>
                        <td style="text-align: right;">{{item.damagesCost | currency:'$':2}}</td>
                        <td style="text-align: right;">{{item.transportationUSD | currency:'$':2}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="smart-form" id="widget-itemDetalNeedAttention-loading">
            <fieldset>
                <section>
                    <i class="fa fa-spin fa-refresh"></i> LOADING ...
                </section>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">
    var itemDetalNeedAttentionContext = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/dashboardmng/',
        token: '@ViewBag.Token',
        currentSeason: '@currentSeason'
    }
</script>