<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="ModelNoFactoryController">
    <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <div>
            <div class="widget-body no-padding">
                <div class="padding-10">
                    <div>
                        @*sale performance base on PI Confirmed*@
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 id="salePerformanceHeader">LIST MODEL DON'T HAVE DEFAULT FACTORY</h1>
                                <div class="avs-table-wrapper" avs-table grid-handler="modelNoFactory.gridHandler" ng-show="modelNoFactory.data">
                                    <div class="avs-table-header">
                                        <div class="avs-table-header-container">
                                            <table>
                                                <tr class="header-row">
                                                    <th style="width: 200px">MODEL CODE</th>
                                                    <th style="width: 800px">MODEL NAME</th>
                                                </tr>
                                                <tr class="filter-row">
                                                    <th style="width: 200px"><input style="width:100%" type="text" ng-model="search.modelUD"></th>
                                                    <th style="width: 800px"><input style="width:100%" type="text" ng-model="search.modelNM"></th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="avs-table-body" style="margin-top: 0px">
                                        <table>
                                            <tbody>
                                                <tr ng-repeat="item in modelNoFactory.data | filter: search">
                                                    <td style="text-align: center">
                                                        @if (Frontend.Helper.AuthHelper.GetActionButtonStatus("ModelMng", Frontend.Helper.ActionEnum.Update, HttpContext.Current) != "disabled")
                                                        {
                                                            <a target="_blank" href="@Url.Action("Edit", "Model")/{{item.modelID}}">{{item.modelUD}}</a>
                                                        }
                                                        else
                                                        {
                                                            if (Frontend.Helper.AuthHelper.GetActionButtonStatus("ModelMng", Frontend.Helper.ActionEnum.Read, HttpContext.Current) != "disabled")
                                                            {
                                                                <a target="_blank" href="@Url.Action("View", "Model")/{{item.modelID}}">{{item.modelUD}}</a>
                                                            }
                                                            else
                                                            {
                                                                <di>{{item.modelUD}}</di>
                                                            }
                                                        }

                                                    </td>
                                                    <td>{{item.modelNM}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!modelNoFactory.data">
                        <i class="fa fa-spin fa-refresh"></i> LOADING ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<script type="text/javascript">
    var modelNoFactoryContext = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/model/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
    }
</script>