@{
    string season = Library.Helper.GetCurrentSeason();
    if (ViewData["season"] != null)
    {
        season = ViewData["season"].ToString();
    }
}
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-controller="SalePerformanceController" ng-show="isLoaded">
    <div class="jarviswidget well jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
        <div>
            <div class="widget-body no-padding">
                <div class="padding-10">
                    <div ng-show="salePerformance">
                        @*sale performance base on PI Confirmed*@
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 id="salePerformanceHeader">SALES PERFORMANCE @season (BASE ON PROFORMA INVOICE CONFIRMED)</h1>
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-body" style="margin-top: 0px">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="background-color:#FF7599">Sale Manager</th>
                                                    <th style="width:80px">P/I CONF<br /> CONT</th>
                                                    <th style="width:100px">Purchasing Cost in $</th>
                                                    <th style="background-color:#FF7599; width:100px">P/I CONF IN $</th>
                                                    <th style="background-color:#FF7599; width:70px">% OF<br /> 100% <br />P/I<br /> CONF</th>
                                                    <th style="width:100px">DELTA6<br /> IN $</th>
                                                    <th style="width:70px">%<br /> DELTA6</th>
                                                    <th style="width:80px">Commis sion<br /> in $</th>
                                                    <th style="width:80px">Dama ges<br /> (1,25% <br />Pur chase Cost)</th>
                                                    <th style="width:80px">LC Cost</th>
                                                    <th style="width:80px">Interest<br /> Cost &nbsp;</th>
                                                    <th style="width:80px">Trans port Cost</th>
                                                    <th style="width:80px">Bonus Cost</th>
                                                </tr>
                                                <tr style="background-color:lightyellow">
                                                    <td style="text-align:right">Total</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedContThisYear' | currency : '' : 1}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedPurchasingAmountThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedSaleAmountThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">100 %</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedDelta5AmountThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{(salePerformance | sumFunc:'piConfirmedDelta5AmountThisYear') / (salePerformance | sumFunc:'piConfirmedPurchasingAmountThisYear') * 100 | number:1}} %</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedCommissionAmountInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedDamagesCostInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedLCCostAmountInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedInterestAmountInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedTransportationInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piConfirmedBonusUSDThisYear' | currency : '$' : 0}}</td>
                                                </tr>
                                                <tr ng-repeat="item in salePerformance | orderBy : '-piConfirmedSaleAmountThisYear'">
                                                    <td style="background-color:#FF7599">{{item.saleUD}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedContThisYear | currency:'':1}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedPurchasingAmountThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right; background-color:#FF7599">{{item.piConfirmedSaleAmountThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right; background-color:#FF7599">{{item.piConfirmedSaleAmountThisYear / (salePerformance | sumFunc:'piConfirmedSaleAmountThisYear') * 100 | number : 1}} %</td>
                                                    <td style="text-align:right">{{item.piConfirmedDelta5AmountThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedDelta5PercentThisYear | number:1}} %</td>
                                                    <td style="text-align:right">{{item.piConfirmedCommissionAmountInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedDamagesCostInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedLCCostAmountInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedInterestAmountInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedTransportationInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piConfirmedBonusUSDThisYear | currency:'$':0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartSalePerformance"></div>
                            </div>
                        </div>

                        @*sale performance base on PI Total*@
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 id="salePerformanceHeader">SALES PERFORMANCE @season (BASE ON PROFORMA INVOICE)</h1>
                                <div class="tilsoft-table">
                                    <div class="tilsoft-table-body" style="margin-top: 0px">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th style="background-color:#FF7599">Sale Manager</th>
                                                    <th style="width:80px">P/I<br /> CONT</th>
                                                    <th style="width:100px">Purchasing Cost in $</th>
                                                    <th style="background-color:#FF7599; width:100px">P/I IN $</th>
                                                    <th style="background-color:#FF7599; width:70px">% OF<br /> 100% <br />P/I</th>
                                                    <th style="width:100px">DELTA6<br /> IN $</th>
                                                    <th style="width:70px">%<br /> DELTA6</th>
                                                    <th style="width:80px">Commis sion<br /> in $</th>
                                                    <th style="width:80px">Dama ges<br /> (1,25% <br />Pur chase Cost)</th>
                                                    <th style="width:80px">LC Cost</th>
                                                    <th style="width:80px">Interest<br /> Cost &nbsp;</th>
                                                    <th style="width:80px">Trans port Cost</th>
                                                    <th style="width:80px">Bonus Cost</th>
                                                </tr>
                                                <tr style="background-color:lightyellow">
                                                    <td style="text-align:right">Total</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piContThisYear' | currency : '' : 1}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piPurchasingAmountThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piSaleAmountThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">100 %</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piDelta5AmountThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{(salePerformance | sumFunc:'piDelta5AmountThisYear') / (salePerformance | sumFunc:'piPurchasingAmountThisYear') * 100 | number:1}} %</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piCommissionAmountInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piDamagesCostInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piLCCostAmountInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piInterestAmountInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piTransportationInUSDThisYear' | currency : '$' : 0}}</td>
                                                    <td style="text-align:right">{{salePerformance | sumFunc:'piBonusUSDThisYear' | currency : '$' : 0}}</td>
                                                </tr>
                                                <tr ng-repeat="item in salePerformance | orderBy : '-piSaleAmountThisYear'">
                                                    <td style="background-color:#FF7599">{{item.saleUD}}</td>
                                                    <td style="text-align:right">{{item.piContThisYear | currency:'':1}}</td>
                                                    <td style="text-align:right">{{item.piPurchasingAmountThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right; background-color:#FF7599">{{item.piSaleAmountThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right; background-color:#FF7599">{{item.piSaleAmountThisYear / (salePerformance | sumFunc:'piSaleAmountThisYear') * 100 | number : 1}} %</td>
                                                    <td style="text-align:right">{{item.piDelta5AmountThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piDelta5PercentThisYear | number:1}} %</td>
                                                    <td style="text-align:right">{{item.piCommissionAmountInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piDamagesCostInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piLCCostAmountInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piInterestAmountInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piTransportationInUSDThisYear | currency:'$':0}}</td>
                                                    <td style="text-align:right">{{item.piBonusUSDThisYear | currency:'$':0}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="chartSalePerformanceBaseOnPI"></div>
                            </div>
                        </div>

                    </div>
                    <div ng-show="!salePerformance">
                        <i class="fa fa-spin fa-refresh"></i> LOADING ...
                    </div>
                </div>                
            </div>
        </div>
    </div>
</article>

<script type="text/javascript">
    var salePerformanceContext = {
        serviceUrl: '@(System.Configuration.ConfigurationManager.AppSettings["BackendServiceUrl"])api/mieurofarpriceoverview/',
        token: '@Session[Frontend.Customize.Common.ProjectDefinition.TOKEN_SESSION]',
        param: {
            season: '@season',            
        }
    }
</script>