<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- MAIL ACCOUNT -->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPSSL" value="1" />
    <add key="SMTPEmailAddress" value="tilsoft.notification@gmail.com" />
    <add key="SMTPUsername" value="tilsoft.notification@gmail.com" />
    <add key="SMTPPassword" value="sQcuz12!Pxx@59" />
    <add key="SMTPPort" value="465" />
  </appSettings>
  <connectionStrings>
    <add name="TESTDBEntities" connectionString="metadata=res://*/DAL.Model1.csdl|res://*/DAL.Model1.ssdl|res://*/DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TESTDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>