<style>
    .smart-forms {
        padding-left: 0px !important;
    }
</style>
 <!---Attached files-->
<div class="row">
    <label>Attached files</label>
    <label class="input">
        <a href="javascript:void(0);" class="btn btn-primary btn-xs" style="margin:20px 0; width: 100px;line-height:20px; height: 25px; border-radius:2px" title="Upload" ng-click="event.addOtherFile()" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted"><i class="fa fa-plus"></i> Add file</a>
    </label>
</div>
<!---End Attached files-->
<div class="widget-bodys">
    <div class="tab-content">
        <div class="tab-pane active" id="tabCostDetail">
            <div class="row">
                <div class="smart-forms col-lg-12">
                    <div id="grdCost" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 500px;">
                                <div style="width:50px"></div>
                                <div style="width:350px" data-colname="itemNo">File Name</div>                                
                                <div data-colname="remark">Remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 500px;">
                                <table>
                                    <tbody ng-repeat="item in factorySaleQuotation.lstFactorySaleQuotationAttachedFile">
                                        <tr>
                                            <td style="text-align:center; vertical-align:middle; width:49px">
                                                <a ng-click="event.removeFile(item)" class="btn btn-danger btn-xs font-11" href="javascript:void(0);" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted"><i class=" fa fa-times"></i>Del</a>
                                            </td>

                                            <td style="width:350px;vertical-align:middle">
                                                <a ng-if="item.otherFileFriendlyName" title="View file" style="font-size: 11px;" ng-href="{{item.otherFileUrl}}" target="_blank">
                                                    {{item.otherFileFriendlyName}}
                                                </a>
                                            </td>

                                            <td style="text-align:left" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <input type="text" ng-model="item.remark" class="form-control" maxlength="50" />
                                            </td>
                                            <td style="text-align:left" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <span class="form-control">{{item.remark}}</span>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
