
<style>
    .totalborder {
        margin-top: 30px !important;
    }
</style>
<div class="jarviswidget-editbox productionitemdetail"></div>
<div class="widget-bodys">
    <div class="tab-content">
        <div class="tab-pane active" id="tabCostDetail">
            <div class="row">
                <div class="col col-lg-12">
                    <div id="grdCost" class="tilsoft-table-wrapper">
                        <div class="tilsoft-table">
                            <div class="tilsoft-table-header" style="width: 1450px;">
                                <div style="width:50px"></div>
                                <div style="width:300px" data-colname="itemNo">Item Name</div>
                                <div style="width:150px">Item No</div>
                                <div style="width:90px">Unit</div>
                                <div style="width:90px" data-colname="quantity">QNT</div>
                                <div style="width:100px" data-colname="unitPrice">Unit Price</div>
                                <div style="width:80px" data-colname="discount">Discount (%)</div>
                                <div style="width:80px" data-colname="tax Code">Tax Code</div>
                                <div style="width:150px" data-colname="total">Total</div>
                                <div style="width:250px" data-colname="warehouse">Warehouse</div>
                                <div class="sorting" data-colname="remark">Remark</div>
                            </div>
                            <div class="tilsoft-table-body" style="width: 1450px;">
                                <table>
                                    <tbody ng-repeat="item in factorySaleQuotation.lstFactorySaleQuotationDetail">
                                       
                                        <tr>
                                            <td style="text-align:center; width:49px">
                                                <a ng-click="event.removeProductItem(item)" class="btn btn-danger btn-xs font-11" href="javascript:void(0);" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted"><i class=" fa fa-times"></i>Del</a>
                                            </td>

                                            <td style="width:300px" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <label class="input">
                                                    <input type="text" name="product_{{item.factorySaleQuotationDetailID}}" class="form-control" avs-remote-auto-complete ng-request-param="ngRequestProductionItem" ng-init-param="item.productionItemNM" ng-model="item.productionItemNM" ng-item-value="ngItemProductionItem" ng-item-selected="event.select(ngItemProductionItem, item)" data-method="POST" data-format-function="formatData" required />
                                                </label>
                                                <em class="note note-error" ng-show="(item.productionItemNM == null || item.productionItemNM == '')"> (Required)</em>
                                            </td>
                                            <td style="width:300px" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <label class="input">
                                                    <span class="form-control">{{item.productionItemNM}}</span>
                                                </label>
                                            </td>

                                            <td style="width:150px">
                                                <label class="input">
                                                    <span class="form-control">{{item.productionItemUD}}</span>
                                                </label>
                                            </td>

                                            <td style="width:90px" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <label class="input">
                                                    <span class="form-control">{{item.unitNM}}</span>
                                                </label>
                                                <em class="note note-error" ng-show="(item.unitNM == null || item.unitNM == '')"> (Required)</em>
                                            </td>
                                            <td style="width:90px" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <label class="input">
                                                    <span class="form-control">{{item.unitNM}}</span>
                                                </label>
                                            </td>

                                            <td style="width:90px;text-align:center;" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <input maxlength="12" avs-number ng-data-source="item.quantity" class="form-control" ng-decimal="4" min="1" style="text-align:right" required />
                                                <em class="note note-error" ng-show="(item.quantity == null || item.quantity == '')"> (Required)</em>
                                            </td>
                                            <td style="width:90px;text-align:center;" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <span class="form-control" style="text-align:right">{{item.quantity | number : 4}}</span>
                                            </td>

                                            <td style="width:100px" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <input avs-number maxlength="12" ng-data-source="item.unitPrice" ng-decimal="2" class="form-control" style="text-align:right" min="1" required />
                                                <em class="note note-error" ng-show="(item.unitPrice == null || item.unitPrice == '')"> (Required)</em>
                                            </td> 
                                            <td style="width:100px" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <span class="form-control" style="text-align:right">{{item.unitPrice}}</span>
                                            </td>

                                            <td style="width:80px" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <input avs-number ng-model="item.discountPercent" class="form-control" min="0" max="100" style="text-align:right" />
                                            </td>
                                            <td style="width:80px" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <span class="form-control" style="text-align:right">{{item.discountPercent}}</span>
                                            </td>

                                            <td style="width:80px" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <label class="input">
                                                    <select name="season" class="form-control" ng-model="item.vatPercent" ng-options="taxItem.vatId as taxItem.vatPercent for taxItem in lstTaxCode" style="text-align:center">
                                                        <option value=""></option>
                                                    </select>
                                                </label>
                                            </td>
                                            <td style="width:80px" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <label class="input">
                                                    <span class="form-control" style="text-align:right">{{item.vatPercent}}</span>
                                                </label>
                                            </td>

                                            <td style="width:150px">
                                                <span class="form-control" @*avs-number ng-decimal="2"*@ style="text-align:right">{{event.calTotalByItem(item) | number : 2}}</span>
                                            </td>

                                            <td style="width:250px" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <select class="form-control select" ng-model="item.factoryWarehouseID" ng-options="wItem.factoryWarehouseID as wItem.factoryWarehouseNM for wItem in lstWarehouse">
                                                    <option value=""></option>
                                                </select>
                                            </td>
                                            <td style="width:250px" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <span class="form-control">{{item.factoryWarehouseNM}}</span>
                                            </td>

                                            <td style="text-align:left" ng-show="!factorySaleQuotation.isConfirmed && !factorySaleQuotation.isDeleted">
                                                <input type="text" ng-model="item.remark" class="form-control" maxlength="50" />
                                            </td>
                                            <td style="text-align:left" ng-show="factorySaleQuotation.isConfirmed || factorySaleQuotation.isDeleted">
                                                <span class="form-control">{{item.remark}}</span>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row totalborder" style="margin-left:20px">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 m-bottom-15"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 m-bottom-15 text-left">
        <label>Total Before Discount:</label>
    </div>
    <label class="col-xs-12 col-sm-1 col-md-1 col-lg-1 m-bottom-15 text-right">{{event.toTalPriceBeforeDiscount() | number : 2}}</label>
</div>
<div class="row" style="margin-left:20px">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 m-bottom-15"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 m-bottom-15 text-left">
        <label>Discount:</label>
    </div>
    <label class="col-xs-12 col-sm-1 col-md-1 col-lg-1 m-bottom-15 text-right">
        {{event.toTalPriceDiscount() | number : 2}}
    </label>
</div>
<div class="row" style="margin-left:20px">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 m-bottom-15"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 m-bottom-15 text-left">
        <label>Tax:</label>
    </div>
    <label class="col-xs-12 col-sm-1 col-md-1 col-lg-1 m-bottom-15 text-right">
        {{event.calTax() | number : 2}}
    </label>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 m-bottom-15"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 m-bottom-15" style="border-bottom:2px solid #ccc"></div>
</div>
<div class="row" style="margin-left:20px">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 m-bottom-15"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 m-bottom-15 text-left">
        <label>
            Total:
        </label>
    </div>
    <label class="col-xs-12 col-sm-1 col-md-1 col-lg-1 m-bottom-15 text-right">
        {{event.calTotalAmount() | number : 2}}
    </label>
</div>
